[2015-11-26 13:22] marcosnils commented on #1162
Please ask this in the mailing list.

[2015-11-26 13:22] #1162 closed

[2015-11-26 13:43] henry20100102 opened #1163 "redis.clients.jedis.exceptions.JedisException: Could not return the resource to the pool"
redis server is redis3.0.5,   jedis version is 2.7.2：

redis.clients.jedis.exceptions.JedisException: Could not return the resource to the pool
	at redis.clients.util.Pool.returnBrokenResourceObject(Pool.java:85)
	at redis.clients.jedis.JedisPool.returnBrokenResource(JedisPool.java:98)
	at redis.clients.jedis.JedisPool.returnResource(JedisPool.java:113)
	at redis.clients.jedis.JedisClusterConnecti

[2015-11-26 17:32] ryanguill opened #1164 "zrangeByScore doesn't take `zrangeByScore -inf 999`"
You cannot pass both a string and a number (or vice versa) into commands such as `zrangeByScore`

[2015-11-26 20:51] marcosnils commented on #1163
@henry20100102 please check https://github.com/xetorthio/jedis/search?q=%22not+currently+part+of+this+pool%22&type=Issues&utf8=%E2%9C%93 and reopen after investigating with further information to assist you. We can't do much with just a stacktrace, we need to understand how you're using jedis / jedispool in your app to give some useful feedback.

[2015-11-26 20:51] #1163 closed

[2015-11-27 07:02] pythoner02 opened #1165 "JedisCluster with password exception"
First, please forgive my English is poor.

I use redis3.0.5 and jedis2.7.2.
redis cluster mode with requirepass open.

Here are my code:
`JedisCluster jedisCluster = new JedisCluster(nodes);
jedisCluster.auth("bar");`

and it throws an exception :
`redis.clients.jedis.exceptions.JedisDataException: NOAUTH Authentication required.`

Please tell me how to use password with redis cluster.

Thank you!

[2015-11-27 07:40] ananth-3 commented on #1150
@marcosnils  Testing in progress. Facing socket timeouts in addition to this as we had set 500 ms for max wait time. Planning to increase the timeout to 1500 ms but have no idea on why this should be so high for a cache. Can you provide some idea on this too?

[2015-11-27 08:59] panchenko commented on #1150
@ananth-3 I afraid the only idea is that timeout depends on your hardware/network/workload. I think the default of 2 seconds is OK.

[2015-11-27 11:49] moonlightheng opened #1166 "Jedis Cluster JedisPool getResource throw exception :Software caused connection abort: socket write error"
that my whole steps
when I use JedisCluster
the JedisSlotBasedConnectionHandler.getConnection()  throw an exception which said that " JedisConnectionException: no reachable node in cluster"
so I debug the method invoke stack
1 jedis = pool.getResource();
2 internalPool.borrowObject();
3 validate = factory.validateObject(p); at line 492 in class GenericObjectPool
4 jedis.ping()
5 client.getStatusCo

[2015-11-28 20:27] marcosnils commented on #1166
@moonlightheng you're running `redis-cli -c` from the same machine where the Java code is running?.

[2015-11-28 20:29] marcosnils commented on #1165
@pythoner02 You can't because Redis cluster doesn't support it. Check https://groups.google.com/forum/#!searchin/redis-db/password/redis-db/Z8lMxTfDct8/fQY8slgbkYYJ for further info.

[2015-11-28 20:29] #1165 closed

[2015-11-30 06:46] Rogary commented on #1145
Thank you @marcosnils  I think i should validation key in my project.
[code]

[2015-11-30 11:52] jy02433001 opened #1167 "Redis3.0 Cluster with JedisCluster"
I am using redis3.0 cluster.
I can't find the way to set password to JedisCluster,so when i connect to redis,i return no auth error.

[2015-11-30 13:23] marcosnils commented on #1167
duplicate #1165

[2015-11-30 13:23] #1167 closed

[2015-11-30 15:20] serge-groshev opened #1168 "JedisCluster leaks connections"
When redis cluster gets problems (e.g., some nodes crashed and are being restarted), we get some exceptions like this:

redis.clients.jedis.exceptions.JedisException: Could not return the resource to the pool
        at redis.clients.util.Pool.returnBrokenResourceObject(Pool.java:100)
        at redis.clients.jedis.JedisPool.returnBrokenResource(JedisPool.java:112)
        at redis.clients.jedis.J

[2015-12-01 02:11] jy02433001 commented on #1167
Thank you for your answer

[2015-12-02 10:56] janssk1 opened #1169 "Can not invoke binary scripting commands from pipeline"
I'm using jedis 2.7.2

I have a script that needs a binary parameter. However, when i invoke the script in a pipeline, jedis does not allow me to pass binary parameters. (Transaction does not implement BinaryScriptingCommands)
If the script is invoked directly on Jedis,without a pipeline, binary parameters are accepted.

[2015-12-02 12:05] Songdantes opened #1170 "question about client connect redis cluster"
HI ALL
     I am a newer about redis cluster  ,I have a question about  the redirect to slot  .if I use  redis-cli   set a key  ，then it will  tell me  connect  to 10.39.18.41.
172.21.27.46:6379> set test222 test
-> Redirected to slot [15437] located at 10.39.18.41:6379
OK
Like that it looks like  more then once  IO request,i dont't  know  jedis  how to write to redis cluster.Is this the same as r

[2015-12-02 17:54] marcosnils commented on #1169
@janssk1 true. Seems like MultiKeyPipelinebase and PipelineBase don't implement BinaryScriptingCommands. Can you craft a PR so we can merge?

Marcos.

[2015-12-02 17:58] marcosnils commented on #1170
Hi @Songdantes please post this question to the Jedis group http://groups.google.com/group/jedis_redis. Github is primarily for code issues and design discussions.

[2015-12-02 17:58] #1170 closed

[2015-12-03 03:36] weisong-icarbonx opened #1171 "Type 'redis/clients/jedis/JedisPoolConfig' (current frame, stack[2]) is not assignable to 'org/apache/commons/pool2/impl/GenericObjectPoolConfig'"
<dependency>
            <groupId>redis.clients</groupId>
            <artifactId>jedis</artifactId>
            <version>2.7.3</version>
        </dependency>

        <dependency>
            <groupId>org.apache.commons</groupId>
            <artifactId>commons-pool2</artifactId>
            <version>2.3</version>
        </dependency>

Caused by: org.springframework.beans.factory.BeanCreationEx

[2015-12-03 21:08] marcosnils commented on #1169
We need to downmarge   downmerge 3a1b3a2 to 2.7 and 2.8 respectively.

[2015-12-04 02:11] marcosnils commented on #1169
@janssk1 #1174 should fix this issue. Once another collaborator approves we can go ahead and release 2.8.1

[2015-12-04 18:19] marcosnils commented on #1147
@panchenko wondering if you have any updates about this.

[2015-12-04 19:17] fggarcia opened #1175 "Incorrect lua script execution in slave cluster node"
Trying execute a lua script in a redis cluster version (3.0.5) with Jedis version (2.8.0).
Script tries to delete keys, so it must be executed only in redis master.

Generates the following error.

ERR Error running script (call to f_5760b0a4ffee43ea6c73312fc8215383de7fccfd): @user_script:1: @user_script: 1: -READONLY You can't write against a read only slave.

--------------------SCRIPT----------

[2015-12-04 19:20] marcosnils commented on #1175
@fggarcia if you execute the lua script directly from the redis-cli. Do you get the same error?. At I first glance seems to me it has nothing to do with Jedis but I might be wrong.

[2015-12-04 21:20] HeartSaVioR commented on #1175
@fggarcia Could you please share your code snippet?

[2015-12-06 17:33] minecrafter opened #1176 "PubSub state not reset when resource is returned to the pool"
Relevant code: https://github.com/minecrafter/RedisBungee/blob/919c2f53c3053ffe5d41badec225c3b0dd17d352/src/main/java/com/imaginarycode/minecraft/redisbungee/RedisBungee.java#L502

It seems that when the PubSub listener fails, its resource is successfully returned to the pool, but its PubSub state is not cleared. When other code takes this resource (expecting it to be a regular Redis client), this

[2015-12-07 14:30] marcosnils commented on #1176
@minecrafter the current Jedis implementation doesn't know / cares if your instance is in a pubsub. We delegate to the user the responsibility to subscribe / unsubscribe because we never know when someone would like to return the instance to the pool or just keep it to do something else.

So basically you have two alternatives

- Calling unsubscribe before returning the resource to the pool, this

[2015-12-07 14:30] #1176 closed

[2015-12-07 21:16] minecrafter commented on #1176
Got it. I will make it use a dedicated non-pooled Jedis instance instead.

[2015-12-08 05:44] marcosnils commented on #1171
@weisong-icarbonx do you have any updates about this?

Can we close?

[2015-12-08 05:44] #1169 closed

[2015-12-08 05:47] marcosnils commented on #1166
Closed due to inactivity

[2015-12-08 05:47] #1166 closed

[2015-12-08 05:52] marcosnils commented on #1164
? You can:

[code]

[2015-12-08 05:52] #1164 closed

[2015-12-08 05:58] marcosnils commented on #1160
No,

redis-trib is a command line tool that helps to manage / setup redis in many different ways. Jedis on the other hand is just a client with implements the specs proposed by redis.

redis-trib.rb is __NOT__ a redis client library, that's why it's important to understand why you don't have to mix the two things. Having said that, you can use redis-trib.rb to manage your cluster and still use Jed

[2015-12-08 05:58] #1160 closed

[2015-12-08 05:59] marcosnils commented on #1150
ping?

[2015-12-08 05:59] #1145 closed

[2015-12-14 23:05] HeartSaVioR opened #1179 "SetFromList in Jedis is not Serializable"
Similar issue from #419 and #1126.

I've received user's question on Apache Storm which is the serialization problem, and root cause is BinaryJedis$SetFromList.
Maybe we're having more data structures to use with serialization.

[2015-12-15 00:43] HeartSaVioR commented on #1179
Narrowing issue to just concentrate SetFromList for now.

[2015-12-15 00:51] HeartSaVioR commented on #1179
Adding Serializable to SetFromList is completely no problem, but we still need to be sure that implementation of the internal List should be serializable.
Jedis uses standard implementation of Java collection package so it would be safe to conclude it should be serializable, but note that List interface doesn't force implementation of List to be implement Serializable.

We may want to consider abo

[2015-12-15 03:45] wyc192273 opened #1180 "Jedis flushDB , have Exception : redis.clients.jedis.exceptions.JedisDataException: ERR No permission to execute this command"
when i use the jedis flushDB method, it have exception :

redis.clients.jedis.exceptions.JedisDataException: ERR No permission to execute this command
	at redis.clients.jedis.Protocol.processError(Protocol.java:117)
	at redis.clients.jedis.Protocol.process(Protocol.java:142)
	at redis.clients.jedis.Protocol.read(Protocol.java:196)
	at redis.clients.jedis.Connection.readProtocolWithCheckingBroken(C

[2015-12-15 12:08] #1180 closed

[2015-12-15 20:08] fggarcia commented on #1175
@HeartSaVioR

cachePricesDestination.exec(LuaCreatorScript.deleteKeysWithRegex(prefixCacheKey + "*"), prefixHashCacheKey)

object LuaCreatorScript {
  def deleteKeysWithRegex(regex: String): String =
    s"local keys_to_delete = redis.call('keys', '$regex') " +
      "for _,key in ipairs(keys_to_delete) do " +
        " redis.call('DEL', key) " +
      "end " +
  "return 0"
}

try{
      jedisClus

[2015-12-15 20:28] marcosnils commented on #1179
@HeartSaVioR agree. Can you craft a PR so we can include this?

[2015-12-16 16:50] HeartSaVioR commented on #1179
@marcosnils Sure, #1182 addresses it. :)

[2015-12-17 00:44] #1179 closed

[2015-12-17 00:50] yaxing opened #1183 "Response exception after discarded a transaction"
Sample code:

[code]

Such exception got thrown at the last line:

[code]

I see that `generateResponse` is not called in [`discard()`](https://github.com/xetorthio/jedis/blob/master/src/main/java/redis/clients/jedis/Transaction.java#L78-L84).

Is this expected? The confusing part is that it's the same exception where you forgot to call `exec()` or even the same when you forgot to sync a pipeline,

[2015-12-18 10:46] JinuSanthRose opened #1184 "Getting Exception in Jedis"
I am getting the following exceptions while accessing Jedis sometimes.
Exception 1:
java.lang.ClassCastException: java.lang.Long cannot be cast to [B
at redis.clients.jedis.Connection.getBinaryBulkReply(Connection.java:204)
at redis.clients.jedis.Connection.getBulkReply(Connection.java:193)
at redis.clients.jedis.Jedis.get(Jedis.java:89)
Exception 2:
redis.clients.jedis.exceptions.JedisDataExcepti

[2015-12-18 22:29] marcosnils commented on #1183
@yaxing thanks for reporting the issue. I'll check this out during the weekend.

Any suggestions about how you'd expect this to work as a Jedis user?

[2015-12-19 00:23] marcosnils commented on #1184
@JinuSanthRose this type of problem has been reported several times and it's usually because users don't read the documentation. Please look for error in the Jedis repo and mailing list and you'll find tons of information about how to diagnose / fix.

https://github.com/xetorthio/jedis/search?utf8=%E2%9C%93&q=%22cannot+be+cast+to%22+is%3Aclosed&type=Issues

[2015-12-19 00:23] #1184 closed

[2015-12-22 00:38] yaxing commented on #1183
@marcosnils thanks. What I think might work better would be a different type of exception for such cases. like TransactionDiscarded, PipelineClosed etc.

[2015-12-22 12:02] kak2 commented on #997
I have some changes to adapt this purpose at here: https://github.com/kak2/jedis. And I have used this on my own project. I have already pulled request at https://github.com/xetorthio/jedis/pull/1186
@Unbr8kbal  : Could you look and review my code? We can discussion about it more.

[2015-12-23 03:25] Armstrongya opened #1187 "When will JedisCluster support RPOPLPUSH command"
Hi all,
    I want to change my single Redis instance to Redis Cluster mode. But found that JedisCluster haven't implement RPOPLPUSH command. Is there any alternative methods ? I found a related issue in Jedis Google Group  which said RPOPLPUSH already implemented in 2014/9/26, but not merged. https://groups.google.com/forum/#!topic/jedis_redis/TauDZTDbang and https://github.com/xetorthio/jedis/pu

[2015-12-23 03:35] marcosnils commented on #1187
@Armstrongya 2.8 already supports that command:

https://github.com/xetorthio/jedis/blob/2.8/src/main/java/redis/clients/jedis/MultiKeyJedisClusterCommands.java#L25

[2015-12-23 03:35] #1187 closed

[2015-12-23 03:40] fige135 commented on #1161
@2hf I got the same problem with jedis version 2.7.3 and later.
when I change version to 2.5.2,it works fine.

[2015-12-23 04:19] marcosnils commented on #1183
I thought about this and I believe the best approach would be to change the type of the exception to `JedisException` instead of `JedisDataException` and to improve the logging message. The reason for this are:

1) Currently `JedisDataException` is used mainly when Redis returns an error about the operation. The pipeline/transaction validation we're doing it's something from the Jedis side, so it

[2015-12-23 11:24] Armstrongya commented on #1187
@marcosnils Thanks for you reply, Jedis 2.8 is released last month, I will try it. Thanks a lot

[2016-01-06 05:27] HeartSaVioR commented on #1183
@marcosnils
Sorry to be late.
I also think we shouldn't use JedisDataException which is not ERR from Redis side.
Could you address this? Thanks!

[2016-01-06 08:30] xujijun commented on #1112
Looks like we have to write one like this:

	@Autowired
	private JedisCluster jedisCluster;

	@Override
	public TreeSet<String> keys(String pattern){
		logger.debug("Start getting keys...");
		TreeSet<String> keys = new TreeSet<>();
		Map<String, JedisPool> clusterNodes = jedisCluster.getClusterNodes();
		for(String k : clusterNodes.keySet()){
			logger.debug("Getting keys from: {}", k);
			JedisP

[2016-01-06 08:32] xujijun commented on #1094
How about this way:

	@Autowired
	private JedisCluster jedisCluster;

	@Override
	public TreeSet<String> keys(String pattern){
		logger.debug("Start getting keys...");
		TreeSet<String> keys = new TreeSet<>();
		Map<String, JedisPool> clusterNodes = jedisCluster.getClusterNodes();
		for(String k : clusterNodes.keySet()){
			logger.debug("Getting keys from: {}", k);
			JedisPool jp = clusterNodes.g

[2016-01-07 01:38] marcosnils commented on #1183
I'm on vacation ATM I'll fix this once I get back next week.

sent from mobile
On Jan 6, 2016 2:27 AM, "Jungtaek Lim" <notifications@github.com> wrote:

[2016-01-08 08:23] ishare opened #1190 "SocketTimeoutException using jedis 2.7.2"
I use jedis 2.7.2, and call `pool.getResource();` to get jedis, and close after using it.
But I met SocketTimeoutException exception, happened about 0.5% possibility. There might not be network problem, because using other language driver didn't meet this exception.
Could you help me solve it?

The pool configurations as bellow.
TIME_OUT=6
[code]

[code]

[2016-01-11 17:54] cpeer opened #1191 "Version 2.8.0 doesn't include all changes"
Version 2.8.0 claims to include pull request #1115. Although the code was merged to master on Sep 23, it is not part of the release.

Pls recreate the release

[2016-01-11 18:04] marcosnils commented on #1191
@cpeer you're corretct. Seems like I forgot to downmerge that PR to 2.8. I just did it so It'll be available in 2.8.1

[2016-01-11 18:04] #1191 closed

[2016-01-11 18:05] cpeer commented on #1191
@marcosnils lovely, thx. When will 2.8.1 be available?

[2016-01-11 18:06] marcosnils commented on #1191
@cpeer most likely sometime this week.

[2016-01-12 02:11] lucas-opentown commented on #258
@igaidai4uk Though the issue has been closed for a long time, I encountered the same problem with the same caution, using JedisPool (SedisPool using scala). Could you share your specific code and how you fix it? We are bothered by the issue for months, it is like a ghost with random occurrences.

[2016-01-12 03:44] anuragladdha-fk opened #1193 "Missing documentation"
Greetings

I believe there was documentation for advanced usage section: Transactions, Pipelining, Publish/Subscribe, ShardedJedis, etc

Was this removed recently? If yes, why?

Thanks!
Anurag

[2016-01-12 04:35] marcosnils commented on #1193
WTF?. Seems like the page completely disappeared. I'll open a github issue to see what happened with it, I can't even see the page history.

Thanks for reporting!

[2016-01-12 04:48] marcosnils commented on #1193
Page restored some funny bot / user destroyed the page intentionally. Guess we'll have to switch to collaborators edit mode only. It's a shame :disappointed:

[2016-01-12 04:48] #1193 closed

[2016-01-12 04:57] anuragladdha-fk commented on #1193
Thanks Marcos!

On Tue, Jan 12, 2016 at 10:19 AM, Marcos Nils <notifications@github.com>
wrote:

[2016-01-12 07:28] angrilove commented on #97
I had this problem.

[2016-01-12 07:46] poojagarg opened #1194 "returns instances connected to old master in JedisSentinelPool.getResource()"
Using JedisSentinelPool, after failover, any borrowed instances connected to old master will return to pool. Calling getResource also returns instances that are connected to old master(which is now a slave), and hence throws: JedisDataException: READONLY You can't write against a read only slave.

How to handle this situation?

[2016-01-12 10:53] igaidai4uk commented on #258
@lucas-opentown in my case I had non thread safe code. I defined a variable outside the synchronized block as far as I remember.

[2016-01-15 11:38] #1168 closed

[2016-01-18 04:35] fanxiangchao opened #1195 "redis.clients.jedis.exceptions.JedisDataException: ERR syntax error"
redis.clients.jedis.JedisCluster#set(String key,String value,String nxxx,String expx,long time)

Such exception got thrown when set parameter "nxxx"  empty string, I need not this parameter.
redis.clients.jedis.exceptions.JedisDataException: ERR syntax error

[2016-01-18 20:49] Unbr8kbal commented on #997
@kak2 : Open source is greatly appreciated, and you've wrote more then me i haven't even started however, this requires a complete re-write to remove the thread blocking stuff, simple adding some timeout's won't be enough, I could only image not being the main contributor and not know anything about jedis, that a the way they handle connections to jedis pubsub will have to change, something like,

[2016-01-19 03:29] 20zinnm opened #1196 "JedisPool Cannot Get Resource"
I'm writing a Spigot Plugin, but for some weird reason I'm getting this error:
[code]
when using this code:
[code]
[code]
No errors until I try to create a resource. I've confirmed that I can connect via ```redis-cli```.

[2016-01-19 03:30] 20zinnm commented on #1196
Oh, also there's a NPE before that but I omitted that because it's not the root cause.

[2016-01-19 04:23] 20zinnm commented on #1196
!I was dumb and in the YAML put an integer in quotes. Not a Jedis issue, a dummy issue.

[2016-01-19 04:23] #1196 closed

[2016-01-20 00:17] yaxing opened #1197 "WATCH not handled correctly for transaction"
Sample code:

[code]

Exception thrown:
[code]

This shall be handled properly and tell user the transaction got discarded due to watched keys changed, instead of throwing a data exception telling that PIPELINE is not closed.

[2016-01-20 00:27] marcosnils commented on #1197
@yaxing this is a duplicate of #1183. The same condition is being triggered on both scenarios.

[2016-01-20 00:27] #1197 closed

[2016-01-20 05:27] varrix commented on #1190
[code]

Why twice? Also, the `timeout` is in milliseconds as far as I know. Try using `2000` which is 2 seconds. This is the default, if it is not long enough, increase it until working and within acceptable timeout range.

[2016-01-20 07:19] ishare commented on #1190
setMaxIdle twice is by mistake, but not matter because the latter would overwrite.
Thanks, I'll try increase timeout, mistake by `public Jedis(final String host, final int port, final int timeout)` http://stackoverflow.com/questions/14993644/configure-jedis-timeout

[2016-01-22 02:33] varrix opened #1198 "[jedis v2.7.3/commons-pool2 v2.4.1] JedisConnectionException: Could not get a resource from the pool"
Hi, I currently make use of `Jedis` within my team to use Redis as a message broker for cross-machine/network communication.

Here's info on the project's dependencies related to Jedis:

I use `JedisPool` with the following configuration:
[code]
I have a state dumper and config dumper that has helped me confirm that the above is in fact in memory and being used by the `JedisPool` (I do this via `J

[2016-01-25 14:17] codehehe commented on #1029
i have the same exception

[2016-01-27 05:07] rajasuba opened #1200 "Getting junk value like "OK" for redis get command"
Problem:

I am getting junk values like "OK" for redis get call.
This issue reproduces often over a particular period of time irrespective of the keys trying to obtain through get command.

I'm Using :

Redis version 2.8
Jedis client 2.5.1 to connect Redis

[2016-01-27 05:28] varrix commented on #1198
Resolved. Ended up being an `ip-tables` issue.

[2016-01-27 05:28] #1198 closed

[2016-01-27 11:25] wenxuanguan opened #1201 "redis.clients.jedis.exceptions.JedisConnectionException: no reachable node in cluster"
I have 3 nodes redis cluster, and I send command exist several times in the application, one of these requests throws  exception:
[code]
what confuse me most is **other requests before and after it get response from cluster**
I have check the redis log and found nothing

### env:
Jedis 2.5.1
redis 3.0.3

Thanks!

[2016-01-27 13:01] marcosnils commented on #1201
@wenxuanguan can you please try with latest jedis version 2.8.x?

[2016-01-27 13:03] marcosnils commented on #1200
@rajasuba are you sure you're not sharing your Jedis instance across threads?

In addition to that, I'd recommend if this is happening with latest Jedis 2.8.x version.

[2016-01-28 04:09] rajasuba commented on #1200
@marcosnils I am sure that i am not sharing my jedis instance across threads. And here is a sample snippet like how i am returning my instance to the pool after execution of each thread.

//Returning redis connection

JedisPool jpool = getPool(host, port, password, database);
if (jpool != null) {
     try {
          if (connection.isNotBroken())
               jpool.returnResource(connection);
el

[2016-01-28 04:12] marcosnils commented on #1200
@rajasuba try updating to latest Jedis version and use try-with-resources or `jedis.close()` instead of `returnXXX` methods.

[2016-01-28 04:16] rajasuba commented on #1200
@marcosnils :+1:  And between i am not aware of "try-with-resources". Can you help me to know about this?

[2016-01-28 04:20] marcosnils commented on #1200
@rajasuba https://github.com/xetorthio/jedis/wiki/Getting-started#using-jedis-in-a-multithreaded-environment

[2016-01-28 04:32] rajasuba commented on #1200
@marcosnils :+1:

[2016-01-28 16:10] nomr commented on #988
I add a function to get HostAndPort struct from JedisCluster to delete data from every node using scan and pipeline. And I should judge does this node is master.I think just return HostAndPort is better. Here is how I use these function now.MasterNode and SlaveNode maybe kind of redundancy.
`ExecutorService executorService = Executors.newCachedThreadPool();
JedisCluster jedisCluster = ((RedisStore

[2016-02-04 13:05] mp911de commented on #1165
Wanted to ping you that Redis Cluster works with authentication (using `requirepass` and `AUTH`). Using different passwords on the particular nodes might be an overkill but if the password is always the same, it's working quite nicely.

[2016-02-04 16:23] marcosnils commented on #1165
@mp911de I was aware that you can set a password individually to all Redis Cluster nodes, the thing is that all the official tools around like `redis-trib` or `create-cluster` don't support setting the password to do the administrative stuff. When we asked about this in the redis mailing list (link above) antirez replied that they didn't think of a proper password strategy for Redis Cluster and th

[2016-02-07 00:07] GotoFinal opened #1208 "New version of apache commons pool cause problems with class loader."
Due to this lines of code:
https://github.com/apache/commons-pool/blob/trunk/src/main/java/org/apache/commons/pool2/impl/BaseGenericObjectPool.java#L605-L606

Jedis may throw
`java.lang.ClassNotFoundException: org.apache.commons.pool2.impl.DefaultEvictionPolicy`
error when creating JedisPool in class with other class loader than thread, like when we have master app and addons for it (and this apac

[2016-02-07 01:02] marcosnils commented on #1208
@GotoFinal any ideas if this problem has been reported to commons pools also?. What's their opinion about this?

[2016-02-07 01:58] GotoFinal commented on #1208
@marcosnils
Commit with that change: https://github.com/apache/commons-pool/commit/3a3e763c90aa6bc04a0537b4480f9e005a45ba22
https://fisheye6.atlassian.com/changelog/commons?cs=1627022

But seems that they fixed it later again:
https://issues.apache.org/jira/browse/POOL-292
it is even visible here: (I don't know why I didn't saw this)
https://github.com/apache/commons-pool/blob/trunk/src/main/java/

[2016-02-07 02:01] marcosnils commented on #1208
@GotoFinal Jedis uses commons-pool2 2.3 which I believe includes this fix. Is this still an issue?

[2016-02-07 02:04] GotoFinal commented on #1208
@marcosnils No, fix was added in 2.4.1 as far as I see.

[2016-02-07 02:07] marcosnils commented on #1208
@GotoFinal you're correct. I guess we can upgrade commons-pool version then.

Thanks for pointing it out!. Would you mind crafting a PR?.

[2016-02-07 02:20] marcosnils commented on #1208
@varrix. You're using commons-pool2 2.4.x with Jedis correct?. Found any issues so far?

[2016-02-07 02:22] marcosnils commented on #1208
@yaojuncn @lboue thoughts?

[2016-02-07 02:23] GotoFinal commented on #1208
weird, travis test failed?, it runs just fine on my small app, but I don't have any special code here ;/

[2016-02-07 04:05] varrix commented on #1208
@marcosnils Currently running:
[code]

Have quelled any and all issues I've encountered so far. Although the farthest we use it right now is with the `JedisPool`. We don't make use of transactions, clusters, etc.

[2016-02-08 02:38] damiri-ts opened #1210 "SSL/TLS Support for JedisCluster"
I'm going to start working on SSL/TLS support for JedisCluster.

[2016-02-09 04:38] rajasuba commented on #1200
Does the above issue got fixed in any of recent Jedis updates ? If yes, is there any release notes regarding this jedis issue fix? Kindly help me.

[2016-02-09 04:45] marcosnils commented on #1200
@rajasuba. Are you still experiencing this error after the proposed fixes?

[2016-02-09 06:25] rajasuba commented on #1200
@marcosnils Just curious to know about how migrating to the latest Jedis version could fix this issue :)

[2016-02-09 06:33] marcosnils commented on #1200
@rajasuba. A lot has been improved from Jedis 2.5 to 2.8. Can you please at least try to see if the problem persista by upgrading the library and using Jedis.close() as mentioned before? This is the first time that I've seen this kind of issue. So I'm positive that the problem probably comes from your code.

It's hard to provide assistance with so little information and an irreproducible issue

[2016-02-09 06:45] rajasuba commented on #1200
@marcosnils Thank you so much for sharing your knowledge and experience with me. Sure, I'll upgrade Jedis to its latest version and try to see if the problem persists. :+1:

[2016-02-13 08:50] rajasuba opened #1212 "Jedis Connection Unavailable exception"
### What could be the reason for the following Jedis Connection Unavailable exception?

## Scenario:

Consider a server X with redis cache and A,B,C are the clients accessing data from X's redis cache. The Client C frequently gets "Jedis Connection Unavailable" exception.

### Client configurations to access X's redis cache:

1. redispool = poolname
2. maximum_active_connection = 8 [We had 8 initi

[2016-02-13 12:17] marcosnils commented on #1212
@rajasuba is client C the only one getting this exception?. If it does, I guess there should be a problem with that client specifically.

[2016-02-13 13:01] #1208 closed

[2016-02-14 23:29] esilverberg commented on #538
I can confirm that, if you stub the necessary classes, Jedis will run on Android.

[2016-02-14 23:39] marcosnils commented on #538
@esilverberg is there a chance you can share your code so others might use Jedis on Android as well?

[2016-02-15 04:00] esilverberg commented on #538
Strangely, while I am able to get Jedis running in my (real) Android application, when I attempt to get it working in a simple demo app I was going to upload to Github per your request, it fails every time with the note:

[code]

This is because we are building a 'core library':

[code]

That's ok, we can get around that limitation by [amending our gradle file in this way](https://code.google.com/

[2016-02-15 11:17] snecker opened #1213 "silently unsubscriberr"
When i use Jedis pub/sub, it will work for a short time,then the subscription will dies silently after 5min
,and no exception throw,the java process is still alive

[code]

CustomizeJedisPubSub.java
[code]

and in server reids-cli,run
[code]

after 5min,run publish again ,the console will not print any message

jedis client version:2.8.0
redis sever vesion: 3.0.1

[2016-02-15 16:28] marcosnils commented on #1213
@snecker do you have a `timeout` configured on redis side?

[2016-02-16 01:48] snecker commented on #1213
@marcosnils, i've checked that config in redis.conf

[2016-02-16 01:52] marcosnils commented on #1213
@snecker maybe something is killing the connection without you realizing. Can you check after 5 mins if Jedis is still connected to your redis server using `client list`? http://redis.io/commands/client-list

[2016-02-16 06:37] snecker commented on #1213
@marcosnils

i didnt change anything,it seems ok now,and  the subscribed connection is still connected after 5mins

i'll check that tomorrow,it seems strange

[2016-02-16 06:37] #1213 closed

[2016-02-16 08:58] tuutep01 opened #1214 "JedisCluster.psubscribe() calling wrong subscribe command instead of psubscribe"
JedisCluster.psubscribe() should call connection.psubscribe() instead of connection.subscribe().

This is just one character fix so I didn't want to create a pull request.

[2016-02-16 09:01] varrix commented on #1212
Please make sure that if the client's are on different machines they are whitelisted in the host (`iptables` etc).

[2016-02-16 09:02] varrix commented on #1190
Any update?

[2016-02-16 09:17] jecber commented on #943
thanks. it helped me right now

[2016-02-16 11:49] marcosnils commented on #1214
@tuutep01 nice catch!. Please Go ahead and craft a PR.

[2016-02-16 14:16] rajasuba commented on #1212
@marcosnils The other clients(A,B) do not face this issue. The server X (whose get/set call in redis is more than client C) gets this exception in very meager amount whereas client C (performs only get) faces this exception often.

[2016-02-16 14:17] rajasuba commented on #1212
@varrix The client's are different servers and they run on different machine.

[2016-02-16 14:36] marcosnils commented on #1212
@rajasuba have you consider that it's maybe a problem related to client C machine?. Can you try running C on a different machine to see if that improves the situation?

[2016-02-16 15:03] tuutep01 commented on #1214
#1218 crafted.

[2016-02-16 22:02] PatrickSauts opened #1219 "Jedis should use SLF4J instead of Java logging"
Java Logging in not the industry standard anymore. User should be able to use the logging implementation he wants in order not to end up with several logging configuration files to maintain.

SLF4J provide a facade to the most commons logging formats: log4j, java logging and LogBack.

It also improve performances by having string build when needed
Example:
**java logging**
[code]
will always build

[2016-02-16 22:08] marcosnils commented on #1219
@PatrickSauts we try to keep Jedis as plain as possible regarding external dependencies. If you check the code you'll realize that Jedis doesn't have any logging at all, and we decided that we'll try to keep logging as minimal as possible as pretty much everything can be debugged from the redis logs / monitor commands.

If you check the code you'll realize that there's no logging at all, so unless

[2016-02-16 22:33] PatrickSauts commented on #1219
Thank you for your answer.

Still the strings are built. This could be improved. But I guess that's minor.

[2016-02-16 22:46] yaxing opened #1220 "Make JedisPubSub Observable?"
https://github.com/xetorthio/jedis/blob/master/src/main/java/redis/clients/jedis/JedisPubSub.java

Have we considered making JedisPubSub an Observable?

[code]

This way it'd be more flexible to react on messages by adding Observer instances to JedisPubSub instance and do:

[code]

[2016-02-17 05:46] rajasuba commented on #1212
@marcosnils The Client C which is a server runs on different machines and they face this problem.

[2016-02-17 18:15] #1201 closed

[2016-02-17 18:20] marcosnils commented on #1200
@rajasuba did you notice any improvements?

[2016-02-17 18:21] #1195 closed

[2016-02-17 18:22] #1194 closed

[2016-02-17 18:23] #1171 closed

[2016-02-18 09:28] krestor commented on #932
windows版本下的2.6的版本出现相同的错误，配置了client-output-buffer-limit 为不限制，不好使！好其他招没

[2016-02-18 09:36] lisisong opened #1222 "Different between shardedJedis and JedisCluster?"
Now which is the best?

[2016-02-18 15:46] marcosnils commented on #1222
Use JedisCluster / RedisCluster if you want to distribute your operations against nodes. It's the formal spec proposed by redis http://redis.io/topics/cluster-tutorial

[2016-02-18 15:46] #1222 closed

[2016-02-18 15:46] marcosnils commented on #932
@krestor ?

[2016-02-19 15:23] srdoshi commented on #918
@deepakpol Hey Deepak were you able to solve the : java.lang.ClassCastException ? We are also using multithreading and getting these exceptions . We are using JedisPool

[2016-02-21 15:00] HeartSaVioR commented on #1214
Closed via #1218

[2016-02-21 15:00] #1214 closed

[2016-02-22 02:01] lisisong commented on #1222
Thank you

[2016-02-23 03:17] damiri-ts commented on #1210
@marcosnils @HeartSaVioR I've been studying the Jedis code and I'm thinking it would make sense that the JedisClusterConnectionHandler would somehow need to know how to create SSL/TLS enabled connections but I'm debating the best way to maintain the configuration.

Does it make more sense to:
* Add parameters for enabling and configuring SSL/TLS to the HostAndPort object?
* Add parameters for enab

[2016-02-23 22:44] PatrickSauts commented on #1219
Actually JedisSentinelPool uses
protected Logger log = Logger.getLogger(getClass().getName());
That's why I was talking about logging.

By the way I'm writing a JedisElasticachePool to use Elasticache Redis.
The difference with a regular redis master slave configuration is that Amazon prevent from writing to a slave an they have implemented a way to promote a new master. it's based on https://gith

[2016-02-23 23:37] marcosnils commented on #1219
@PatrickSauts standard redis master / slave also prevents writing to slaves by default. It can be configured however with the slave-read-only configuration parameter.

Regarding adding ElastiCache failover mechanism I'd check if it's possible to do it as a separate library instead of bundling it into Jedis directly. The main reasons for this are:

- Why try to keep jedis as close to the redis spec

[2016-02-24 00:14] HeartSaVioR commented on #1219
@PatrickSauts
Adding a dependency is what we try to avoid since Jedis claims itself as a lightweight library.

Jedis itself barely leaves log message, so I think you can just add jul-to-slf4j as your dependency and choose underlying logging framework to non jdk14.
http://www.slf4j.org/legacy.html#jul-to-slf4j

Please give it a try and share the result. Thanks!

[2016-02-24 00:54] PatrickSauts commented on #1219
Thank you !

@HeartSaVioR Just once again the strings are always built.

@marcosnils If you have a third party library for that kind of things I'll gladly give them the code.

[2016-02-24 00:59] HeartSaVioR commented on #1219
@PatrickSauts
I'm sorry but I know how logging frameworks work. I'm also a user to slf4j with logback / log4j2.
I'm saying that logging at Jedis is minimized so it shouldn't affect the performance.

[2016-02-24 01:04] HeartSaVioR commented on #1219
@PatrickSauts
If we agree to add slf4j as a dependency, then what underlying logging framework should we choose?
If we choose one as a underlying framework, users should exclude selected framework if users already use slf4j and want to depend on other underlying framework.
If we don't choose underlying framework, and if users don't add underlying framework as a dependency, slf4j doesn't work prope

[2016-02-24 01:11] PatrickSauts commented on #1219
@HeartSaVioR
since SLF4J 1.6

If no binding is found on the class path, then SLF4J will default to a no-operation implementation.

so if no binding no logging.

[2016-02-24 01:16] HeartSaVioR commented on #1219
@PatrickSauts
No, no logging is not we want.
Scenario, users don't use slf4j and add Jedis as a dependency then it stopped logging whole log in process.

[2016-02-24 01:20] PatrickSauts commented on #1219
@HeartSaVioR
I understand.

Jedis would perform better it's a pitty.
Some documentation could help.
SLF4J is the most popular logging framework nowadays. One who uses Redis must know about SLF4J.
But that's probably just me who think like that.

[2016-02-24 01:27] HeartSaVioR commented on #1219
@PatrickSauts
Please say that thing to Java.
I believe Java should address logging when releasing language at the first time.
And I also think SLF4J is nearly de facto, but it's not for putting someone down.

Btw, Redis is not related on SLF4J, it's just a C language server. ;)

[2016-02-24 01:30] marcosnils commented on #1219
We currently have __almost no logging at all__ in Jedis. So how could it perform better?

[2016-02-24 01:32] PatrickSauts commented on #1219
@marcosnils my bad I had JedisSentinelPool in mind. Not all the classes are like this one.

[2016-02-25 11:55] sncap commented on #943
Thanks a lot. I also made the same mistake.... wow..

[2016-02-26 07:38] mp911de opened #1225 "HSCAN, SSCAN and ZSCAN not available on BinaryCluster"
### Expected behavior

`HSCAN`, `SSCAN` and `ZSCAN` should be available on `BinaryCluster`

### Actual behavior

`HSCAN`, `SSCAN` and `ZSCAN` are only available with `String` signatures which breaks the key (and also the slot hash calculation) if keys are binary (`byte[]`).

We noticed the difference in signatures while testing the jedis Cluster integration in [Spring Data Redis](https://github.co

[2016-02-26 16:13] rafadalosto opened #1226 "zrevrank dont return the score of element"
### Expected behavior

In the docs, are described that the zrevrank returns the position and score of elemento:
* Return the rank (or index) or member in the sorted set at key, with scores being ordered from
* high to low.

But, the method returns a Long that represents the position of element

### Actual behavior

An away to return a tuple with position and score.

### Steps to reproduce:

Call t

[2016-02-26 17:12] #1226 closed

[2016-02-26 19:04] marcosnils commented on #1225
@mp911de thanks for noticing. I've already submitted a PR that fixes, can you PTAL?

[2016-02-28 15:19] #1225 closed

[2016-02-29 01:38] moonandstar08 opened #1228 "spring-data-redis 315 brach"
Hi,
   Server months ago, i can see there was a spring-data-redis 315 brach, but now i cannot find. who can tell me which brach spring-data-redis 315 becomes to ?

[2016-02-29 02:05] moonandstar08 commented on #1228
Hi,
  I want to use the multi and pipeline in the redis cluster, but from the code i only see the method but no implements, when these features i can uses?
 Thanks!

[2016-02-29 02:35] marcosnils commented on #1228
@moonandstar08 please read https://github.com/xetorthio/jedis/issues/990

Regarding spring-data-redis, that's a total separate project from pivotal, it uses Jedis but we don't maintain it.

[2016-02-29 02:35] #1228 closed

[2016-02-29 06:02] moonandstar08 commented on #1228
Do you mean in the spring-data-redis it don't support the multi and pipeline?

[2016-03-01 00:58] roblg opened #1229 "JedisClusterConnectionHandler.initializeSlotsCache can result in two entries for a single redis instance"
### Expected behavior

It seems like `JedisCluster` should always have exactly one `Jedis` instance per redis server. It should compute its lists of nodes from `cluster slots` (or `cluster nodes` -- I forget which one is recommended now), and it shouldn't add the start nodes, since they should already be in the list anyway.

(i.e., I think the behavior would be correct if these lines were removed

[2016-03-01 05:12] marcosnils commented on #1229
@roblg thanks for reporting this issue. I see the situation you're facing and I totally agree that it's something that we need solve from the Jedis perspective.

I think I don't understand the approach you're suggesting to pass a host for a load-balancer pool for Jedis to do service discovery. What do you mean by a load-balancer pool?, how is Jedis supposed to query the nodes from this load-balana

[2016-03-01 15:49] zackypick commented on #848
Just had a similar issue and setting the test on borrow to true did the trick. I have a hunch that's what  gauravparmar85 meant when he wrote "Thanks all for your help. Modifying the pool config fixed this issue" and vanished forever LOL :)

**poolConfig.setTestOnBorrow(true);**

[2016-03-02 19:02] dvirsky opened #1232 "Poposal - lua script helper"
Hi. I've written a little wrapper for running lua scripts with Jedis. I wrote it as an external library because I needed it immediately, but if this direction suits you, I'd be glad to adapt it to Jedis itself and make a proper PR of it.

See https://github.com/RedisLabs/luascript

If it gets integrated inside Jedis, the API could  be even nicer than what I did. Let me know if you want this.

Than

[2016-03-02 22:37] marcosnils commented on #1232
@dvirsky I really like this approach and I believe it would be something super valuable to Jedis. I'm in favor of evaluating the alternative to include it.

@HeartSaVioR @xetorthio? WDYT

[2016-03-02 22:42] dvirsky commented on #1232
@marcosnils thanks! I'm thinking that if you add this to jedis, the API will be, instead of LuaScript s = LuaScript.fromResource("lua/simple.lua", "redis://localhost:6379");` - just `LuaScript s = myJedis.loadScript("lua/simple.lua);`

[2016-03-02 22:43] marcosnils commented on #1232
@dvirsky even better. We'd have to think about how we plug it to other Jedis strategies like ShardedJedis and JedisCluster.

[2016-03-09 06:52] jj009 opened #1234 "RedisSentinel"
### Expected behavior

Write here what you're expecting ...

### Actual behavior

Write here what happens instead ...

### Steps to reproduce:

Please create a reproducible case of your problem. Make sure
that case repeats consistently and it's not random
1.
2.
3.

### Redis / Jedis Configuration

#### Jedis version:

#### Redis version:

#### Java version:

[2016-03-09 06:54] xiaolongyuan commented on #1234
fuck

[2016-03-09 06:54] jj009 opened #1235 "where is the RedisSentinel"
i have src,but i don't know version.there is "RedisSentinel.getInstance()"
but it can't find the class of  RedisSentinel

[2016-03-09 06:56] marcosnils commented on #1234
?

[2016-03-09 06:57] #1234 closed

[2016-03-09 07:02] marcosnils commented on #1235
There's no class RedisSentinel.

[2016-03-09 07:02] #1235 closed

[2016-03-09 07:03] marcosnils commented on #1235
Please search through the issues and mailing list before opening already answered questions: https://github.com/xetorthio/jedis/issues/725

[2016-03-10 21:51] roblg opened #1236 "`JedisConnectionException: no reachable node in cluster` error when all objects in pool are in use"
### Expected behavior

My primary use case for redis cluster at the moment is as an in-memory cache. Ideally, if redis wasn't available, or if the jedis pool was too busy, we'd just fail immediately and fall back to reading data from our persistent data store.

In particular, I'm running with:

[code]

My hope was that in this configuration, if my java app was already using all of its connections,

[2016-03-10 22:29] marcosnils commented on #1236
@roblg good catch.

Seems like the solution would be to change the Pool.java `getResource` method (https://github.com/xetorthio/jedis/blob/master/src/main/java/redis/clients/util/Pool.java#L50)  to return a `JedisException` as the `returnResourceObject`.

I'll make the change and submit a PR.

Thanks for pointing it out!.

[2016-03-10 22:57] #1236 closed

[2016-03-11 06:44] roblg opened #1238 "JedisCluster uses `maxRedirects` retries when cluster master is down"
This is sort of related to #1236 that I filed earlier today, and might be related to #1120.

We had a machine that is running one of our redis cluster masters go down hard today, and while it was down we saw some interesting behavior from the jedis pool. We got a lot of errors like this:

[code]

It looks like `redis.clients.jedis.Connection.connect()` is wrapping the `java.net.ConnectException` f

[2016-03-11 17:36] marcosnils commented on #1238
@roblg. If you want to fail immediately you can set the JedisCluster retries to 0 and in that case JedisCluster won't try to contact other nodes upon failure. I'm in mobile now I'll explain the rationale for this functionality later

[2016-03-11 18:31] roblg commented on #1238
@marcosnils Thanks for the response. Yeah, I originally considered lowering retries to 0, but I think I actually do want retries for "MOVED" responses, so that we can add/remove nodes from the cluster and pick up those changes. I think maybe ideally there would be two kinds of retries -- error retries and redirect retries, but they seem to be the same right now.

In all honesty, it would probably

[2016-03-11 21:52] s-boyle commented on #566
Here is how I solved it....

Broken code:
j.del("mystring")

Working code:
val stringArray = Array[String]("mystring")
j.del(stringArray:_*)

I believe that the _* turns the array into a varargs format

[2016-03-11 22:39] roblg commented on #1238
Hmm... it also looks like if there's a ConnectException when trying to connect to a particular node, the request will be retried, but is retried with `tryRandomNode=true`, so the follow-up request is unlikely to land on a node that has the data. It'll get a MOVED response, and be forced to try again. Am I reading that right?

[2016-03-14 14:53] PriyankaRanjan opened #1241 "jedis connection breaks during failover"
### Expected behavior
i have increased the jedis conneciton timeout so expect the jedis apis to wait and keep retrying till the failover completes ...

### Actual behavior

jedis APIs are timing out without waiting. how to make jedis APIs to keep retrying internally till the failover finishes?

[2016-03-14 15:31] PriyankaRanjan commented on #83
Does Jedis provides this auto reconnecting / auto retry feature? if yes then how can i configure it?

[2016-03-14 18:14] marcosnils commented on #83
@PriyankaRanjan no, because otherwise Jedis would have to queue all pending operations and retry them in a different thread until the server comes back online (or similar). Jedis returns a `JedisConnectionException` whenever the server is down or something happened in the communication. It's up to the user to decide how / when to retry the operation. You can re-use the same Jedis instance as it'll

[2016-03-17 04:58] xsjie opened #1242 "redis cluster require password，how to auth password when use JedisCluster API"
### Expected behavior

jedisCluster should provride auth(String password) method

### Actual behavior

jedisCluster can not auth password

### Steps to reproduce:

1、redis cluster set requrepass
2、user JedisCluster don't know how to auth password ! have not auth() method provrided?

### Redis / Jedis Configuration

#### 3.0.0

#### 3.0.7

#### jdk 1.7

[2016-03-17 05:01] marcosnils commented on #1242
dupe https://github.com/xetorthio/jedis/issues/1165

[2016-03-17 05:01] #1242 closed

[2016-03-18 11:31] sock-puppet-2 opened #1243 "2.8.0 JedisCluster cluster send puts and get to the correct master node ?"
I have read this  http://redis.io/topics/cluster-spec

[code]

hows is this relate to   redis.clients.jedis.JedisCluster  ?
will  JedisCluster cluster send puts and get to the correct master node ?

also

will JedisCluster auto discover and connect all the other Redis Master nodes in the cluster ?
even if I just set the IP of just 1 Master node  ?

Thanks.

[2016-03-18 11:33] marcosnils commented on #1243
JedisCluster does exactly this

Yes.

yes

[2016-03-18 11:33] #1243 closed

[2016-03-18 14:05] sock-puppet-2 opened #1244 "2.8.0 JedisCluster GenericObjectPoolConfig for performance."
How should I configure JedisCluster client for best performance.

I have 1 instance of JedisCluster shared between a fixed number of threads,

The threads are performing set and get operations.

How to configure JedisCluster, using GenericObjectPoolConfig
to maximize the throughput of operations.

Thanks

[2016-03-18 14:06] marcosnils commented on #1244
Post this in the Jedis mailing list please. Github is used for code / design issues.

[2016-03-18 14:06] #1244 closed

[2016-03-22 07:35] samklr commented on #1089
+1

[2016-03-24 08:58] yin-bp opened #1245 "redis.clients.jedis.exceptions.JedisMovedDataException: MOVED"
jedis to operate a redis shared cluster：

[code]

when run test code，some exception is received：

[code]

#### Jedis version:build from master after v2.8.1
use default cluster config

#### Redis version:3.0.7

#### Java version:1.8

[2016-03-24 09:23] HeartSaVioR commented on #1245
You should use JedisCluster for Redis Cluster, not SharedJedis(Pool).

[2016-03-24 09:23] #1245 closed

[2016-03-24 09:27] yin-bp commented on #1245
cluster nodes
[code]
I have used JedisCluster for Redis Cluster ,and that's ok:
[code]
Thanks.but Why can not use SharedJedis.

[2016-03-24 09:34] HeartSaVioR commented on #1245
ShardedJedis was introduced before Redis Cluster.
You can refer the introduction to ShardedJedis here: https://github.com/xetorthio/jedis/wiki/AdvancedUsage#shardedjedis

[2016-03-24 14:04] HeartSaVioR commented on #1238
@roblg
Yes, right. That implementation was port of https://github.com/antirez/redis-rb-cluster.
When we receive JedisConnectionException, we can't determine that Redis instance is down, or just in case of timeout. (We may could distinguish but let's abstract for now.)
If issue is former, reconnecting same instance is meaningless since Redis Cluster would try to failover and that information is not

[2016-03-24 14:20] HeartSaVioR commented on #1238
Hmm... I think the logic is up to how fast Redis Cluster completes failover.

If Redis Cluster cannot complete failover fast enough, there's likely to just half of max retry count recurrences of connecting random node -> failed node and finally throw JedisConnectionException anyway.

[2016-03-24 15:17] mp911de commented on #1219
How about introducing a logging factory? I fell myself over logging with [mp911de/logstash-gelf](https://github.com/mp911de/logstash-gelf). The logger tries to write a log event using Redis and the logging code causes a recursion :/

See https://github.com/netty/netty/blob/4.1/common/src/main/java/io/netty/util/internal/logging/InternalLoggerFactory.java#L51

This approach allows to declare slf4j,

[2016-03-24 18:48] CodingFabian opened #1246 "Support issuing Latency commands"
Currently it is not possible to issue latency commands using jedis. You need to write your own client to issue custom commands.
There are a couple of latency commands (latency history, latency latest) that could be executed. ideally automatically guarded against the redis version (2.8.13 +)

[2016-03-25 00:02] HeartSaVioR commented on #1219
@mp911de
While InternalLoggerFactory can help us to add logging framework dependencies as 'provided', I don't think Jedis needs logger framework as dependency at all. Please refer comment from @marcosnils.

[2016-03-25 01:15] marcosnils commented on #1246
@CodingFabian good catch. As you seem to need these commands, what do you think about crafting a PR so Jedis can include this functionality?

[2016-03-25 01:41] marcosnils commented on #1238
@HeartSaVioR I believe this shouldn't be much trouble because even though Jedis mighr return MaxRedirects very soon depending on how much time RedisCluster completes its failover. Whenever the Jedis user tries to issue any command using the same JedisCluster instance, Jedis will try to reconnect again and try to dispatch the command to the appropriate node.

In this scenario, Jedis users can catch

[2016-03-25 08:49] HeartSaVioR commented on #1238
@marcosnils
Yes, agreed. It's just who is responsible to do retry.
If we want to reduce max retry count to fail fast, retry count should be more than 2 (random node -> moved).

[2016-03-25 09:29] mp911de commented on #1219
The great advantage would be to be able to replace a particular logger to disable logging at all. That would be my use case. There's a difference between almost no logging and no logging at all.

[2016-03-25 09:54] CodingFabian commented on #1246
Sure, I am just a bit lost where this should go:
JedisCommands, MultiKeyCommands, AdvancedJedisCommands, ScriptingCommands, BasicCommands, ClusterCommands, SentinelCommands ?

[2016-03-25 11:53] Spikhalskiy commented on #988
Looks like Jedis going in completely different direction from this task, even that minimal ClusterNodeInformation was deleted from current version. Using pipelining and scans in cluster mode became not easier, but more painful in 2.8.0 Any progress on this scope?

[2016-03-26 00:32] marcosnils commented on #1246
@CodingFabian I'd start adding it in the BasicCommands interface and move from there.

[2016-03-26 00:37] marcosnils commented on #1089
Seems right to implement. Anyone willing to craft a PR?

[2016-03-27 05:25] HeartSaVioR commented on #988
@Spikhalskiy
ClusterNodeInformation represents the output of `CLUSTER NODES`, and @antirez announced output of `CLUSTER NODES` will be changed from Redis 3.2.

https://twitter.com/antirez/status/691993742606274560
https://www.reddit.com/r/redis/comments/42kxjq/community_help_needed_redis_cluster_32/

Jedis doesn't have any strategies (different versioning, maven profile, and so on) when Redis brea

[2016-03-28 08:14] chuanqi opened #1247 "ERR wrong number of arguments for 'spop' command"
### Expected behavior
I hope get the three records from the collection. and delete the three.

 ex:
`Set<String> removes=jedis.spop("test:set",3);`

``redis.clients.jedis.exceptions.JedisDataException: ERR wrong number of arguments for 'spop' command

	at redis.clients.jedis.Protocol.processError(Protocol.java:117)
	at redis.clients.jedis.Protocol.process(Protocol.java:151)
	at redis.clients.jedis

[2016-03-28 15:45] marcosnils commented on #1247
@chuanqi can you please provide a complete example?

Tried to reproduce this using your example but it worked as expected. It's also tested here in the Jedis test suite:
https://github.com/xetorthio/jedis/blob/master/src/test/java/redis/clients/jedis/tests/commands/SetCommandsTest.java#L135-L167

[2016-03-29 12:16] minazali commented on #1144
I'm facing similar problem -
[debug] - application - java.lang.Long cannot be cast to [B

In Connection.java
public Long getIntegerReply() {
        this.flush();
        --this.pipelinedCommands;
        return (Long)Protocol.read(this.inputStream); // Throws ClassCastException
}

Sometime Protocol.read(this.inputStream) returns byte[], And hence throws ClassCastException.

[2016-03-30 02:03] chuanqi commented on #1247
Thanks @marcosnils .
I get it from [redis](https://github.com/MSOpenTech/redis/issues/433)
The count argument will be available in a later version and is not available in 2.6, 2.8, 3.0

[2016-03-30 02:16] #1247 closed

[2016-04-01 18:43] Spikhalskiy opened #1248 "Jedis cluster info rediscovering queueing on high load"
Jedis queues cluster rediscovering using lock currently. It could cause unpredictable latencies in calls to Jedis + useless increased load to redis nodes. We got 5-6 seconds with soTimeout 5ms and huge amount of threads stucked in rediscovering and acquiring lock.

### Expected behavior

If we have thousands requests to JedisCluster and we got MOVED from Redis Cluster on 500 of them in a very shor

[2016-04-03 22:25] marcosnils commented on #1232
@HeartSaVioR ping?

[2016-04-03 22:37] marcosnils commented on #1248
@Spikhalskiy nice finding. Would you like to craft a PR with the solution you proposed?. I believe it's the right way to proceed.

[2016-04-03 22:43] Spikhalskiy commented on #1248
@marcosnils Yes, if you think proposal looks fine, I would prepare PR.

[2016-04-03 22:54] marcosnils commented on #1248
@Spikhalskiy what do you think if we just skip discovering instead of locking if it's already happening?. I believe that it's better than to lock and wait until it finishes even though it shouldn't take a lot of time.

This way we can respond to MOVED queries even though discovery happening.

[code]

[2016-04-03 23:04] Spikhalskiy commented on #1248
@marcosnils Yep, it should be fine, especially because we will acquire read lock in any case on next attempt to access redis node after getting MOVED on previous attempt. + I want to make currentRediscoverProcessType int type and write "discovering type" in this var, because #discoverClusterSlots in progress shouldn't cancel discoverClusterNodesAndSlots. Will submit initial PR shortly.

[2016-04-04 01:13] HeartSaVioR commented on #1232
@dvirsky @marcosnils
Sorry to late participating. It would be nice to have it.
I found some places to comment, but it can be addressed while reviewing pull request.
@dvirsky Could you craft a pull request? Thanks!

[2016-04-04 11:11] Spikhalskiy commented on #1248
First item from proposal implemented to fix problem asap. Second item about don't rediscover at all on single MOVED could be done as a separate PR.

[2016-04-04 15:08] marcosnils commented on #1248
@Spikhalskiy I don't believe this makes too much sense. The Redis Cluster spec states that when a MOVED occurs a complete cluster rediscovery must be held because it's very unlikely for a node to move just one slot to a different server.

Slots are usually moved for two reasons mainly.

1. You want to add new nodes to your cluster which requires resharding

2. Some node when down and you need to m

[2016-04-04 15:12] Spikhalskiy commented on #1248
Ok, especially if it's recommended behavior by spec, let's leave it as it's implemented now. Thanks!

[2016-04-04 15:12] #1248 closed

[2016-04-04 15:14] dvirsky commented on #1232
Sure thing! thanks

[2016-04-05 23:00] Spikhalskiy opened #1250 "Creating JedisCluster with only one incorrect node could fail"
We create JedisCluster with one incorrect and other nodes of real RedisCluster

### Expected behavior

We discover cluster

### Actual behavior

We could check incorrect node first and stop discovering after that because we just throw an exception

### Steps to reproduce:

Provide ordered set of two HastAndPort to JedisCluster with incorrect node first and correct second

#### Jedis version:

2.8.

[2016-04-05 23:47] #1250 closed

[2016-04-06 00:38] Spikhalskiy opened #1252 "Snowball effect with reconnecting to poor performing node"
We have a problem with JedisPool that aggravates perf issues of redis nodes when this issue only start to appear.

What we have:
- Short timeouts. Like 3ms.
- Significantly loaded redis that sometimes starts to respond slowly with number of connections like... 40000 per node.

If redis is starting to stuck for 4ms, instead of each one read, we start to do
- read
- after timeout and marking Jedis a

[2016-04-06 02:55] linxiaofan commented on #943
thanks for helpful info!

[2016-04-06 19:55] srirama-rayaprolu commented on #1010
Hi HeartSaVioR,

In case of server is dead/rebooted while executing this command, whether time out will happen or not? At present the my application thread got stuck'ed on the SOCKET read call and not returning. How to over come this.

Thanks in adavance.

Srirama.

[2016-04-06 20:01] marcosnils commented on #1010
@srirama-rayaprolu if the server dies or get's rebooted `Jedis` should throw a connection exception as it will probably get a RST TCP. Can you provide a consistent scenario to reproduce this?

[2016-04-06 20:19] srirama-rayaprolu commented on #1010
@marcosnils Thanks for the reply

I am checking redundancy for my application and configured Redis sentinels. I am doing hard reboot (init 6) and checking whether my application connects to other Redis instance or not.

I checked the TCP dump and there is no RST signal received. As no RST signal and no time out set for client socket, the socket is not getting closed and no exception is coming.

Le

[2016-04-08 08:02] srirama-rayaprolu commented on #1010
There is a work around available for this.

Thanks for the API setting TCP KEEP ALIVE option enabled on the socket.
Changed the default KEEP ALIVE time at the OS level and after that able to receive the connection exception and reconnecting to other REDIS server.

The default time out value for TCP KEEP ALIVE in LINUX is 2 hours. There is no option available in JAVA API for setting this value per

[2016-04-11 08:55] starmarine opened #1254 "About pexpireAt,Is this a bug"
### Expected behavior

redisTemplate.expireAt(key, new Date(System.currentTimeMillis() + 5 * 60 * 1000));
expected the key to expire after 5 minutes

### Actual behavior

My key is not expire

### Steps to reproduce:

In the redis.clients.jedis.BinaryJedisCluster.java
I've noticed that in the method pexpire(final byte[] key, final long milliseconds),it invoke the connection.pexpire(key, millisecon

[2016-04-11 15:23] marcosnils commented on #1254
@starmarine this works as expected. Check out how we test it here: https://github.com/xetorthio/jedis/blob/master/src/test/java/redis/clients/jedis/tests/commands/AllKindOfValuesCommandsTest.java#L505-L516

[2016-04-11 15:23] #1254 closed

[2016-04-11 15:28] marcosnils commented on #1254
You need to make sure that the key exists before running `pexpireAt`. You can verify which timeout was set with the `pttl` command after calling pexpireAt.

[2016-04-12 08:59] Annapoornar opened #1255 "Getting redis.clients.jedis.exceptions.JedisMovedDataException: MOVED 8985 172.17.1.193:3002"
I am using JedisPool to get the resource . The JedisPoolConfig is created as below.

	JedisPoolConfig poolConfig = new JedisPoolConfig();
		poolConfig.setMinIdle(1);
		poolConfig.setMaxIdle(5);
		poolConfig.setMaxTotal(5);
		poolConfig.setMaxWaitMillis(30000);
		return new JedisPool(172.17.0.93, 4001, 30000);

When set method is invoked on the Jedis instance (pool.getResource), its throwing the be

[2016-04-12 09:00] Annapoornar commented on #1255
Its a cluster setup. Please help. Thanks in advance

[2016-04-13 11:01] Spikhalskiy commented on #1255
You need to work with JedisCluster object, not pure JedisPool.

[2016-04-13 14:57] Annapoornar commented on #1255
Thanks. It worked with jediscluster

Regards
Annapoorna

On Apr 13, 2016 4:31 PM, "Dmitry Spikhalskiy" <notifications@github.com>
wrote:

object, not pure JedisPool.

[2016-04-17 06:42] nitinbhatia-dev commented on #1150
Hi,

Any updates on this issue.
We are redis version 3.0.1 and jedis client 2.7.2
We are facing the exact issue.  Keep on getting this on a daily basis

redis.clients.jedis.exceptions.JedisConnectionException: Could not get a resource from the poolredis.clients.jedis.exceptions.JedisConnectionException: java.net.SocketTimeoutException: connect timed outCaused by: redis.clients.jedis.exceptions.Jed

[2016-04-18 07:02] TimothyZhang023 opened #1257 "Really confusing lua interface in Cluster"
I found interface  public Object eval(final String script, final String key) in JedisCluster really confusing.

Code is like below
`
public Object eval(final String script, final String key) {
    return new JedisClusterCommand<Object>(connectionHandler, maxRedirections) {
      @Override
      public Object execute(Jedis connection) {
        return connection.eval(script);
      }
    }.run(key)

[2016-04-18 09:11] christophstrobl opened #1258 "BinaryJedisCluster.psubscribe calls subscribe instead of psubscribe."
[BinaryJedisCluster.java#L1601](https://github.com/xetorthio/jedis/blob/b79d068c70a1f617f71b3eea0696aa196da9fc91/src/main/java/redis/clients/jedis/BinaryJedisCluster.java#L1601) calls _subscribe_ instead of _**p**subscribe_.

please see spring-projects/spring-session#478.

[2016-04-18 09:35] HeartSaVioR commented on #1258
@christophstrobl Thanks for noticing! I think we should have some tests around it...

[2016-04-18 12:40] HeartSaVioR commented on #1258
I think #829 is still valid.

[2016-04-18 16:19] #1258 closed

[2016-04-18 16:20] marcosnils commented on #1258
@christophstrobl thx for reporting. It has been fixed from 2.8 onwards.

[2016-04-18 16:22] marcosnils commented on #1258
@HeartSaVioR I'm still not sure about #829. I believe this should have been spotted by reviewing the corresponding PR.

The thing is that JedisCluster was a huge PR and difficult to review as it introduced a lot of command. I believe I prefer to fix this kind of bugs every now and then instead of writing a whole bunch of duplicated test cases just for the different strategies.

In any case, it's j

[2016-04-18 21:54] HeartSaVioR commented on #1258
@marcosnils
IMO it is really hard to find this kind of issues while reviewing without some kind of tests since we normally introduce several methods at once.

Why I treat #829 as seriously is due to its first discover. If I remember that correctly, we call `del` instead of `get` when users call `get`. We just made a mistake which can be made easily but in point of users' view it's a terrible accid

[2016-04-18 21:58] marcosnils commented on #1258
@HeartSaVioR if we find a nice way of implement testing then I'm ok with it. As you said, I'd like to avoid repetitive and boiler plate tests.

[2016-04-18 21:59] HeartSaVioR commented on #1258
@marcosnils Yes sure. We have hundreds of commands, so I really don't want to make hundreds * kinds of instance test methods. :)

[2016-04-18 23:17] marcosnils commented on #1257
@zts1993 to do what you want you have the `eval(final String script, final int keyCount, final String... params)` method in JedisCluster where you can send both keys and args to the script.

As you said, the reason for the ` eval(final String script, final String key)` method is so we know which cluster node to dispatch the command to. If we do what you propose then there's no way to execute a lua

[2016-04-18 23:55] JAlexoid opened #1259 "Pipelined operations Timeout on second use of pipelined on the same connection"
### Expected behavior

Expecting unlimited number of calls to pipelined without socket excetpions

### Actual behavior

Second time a pipeline is created on the same connection, the second result of a incrBy causes a timeout exception

java.lang.RuntimeException: java.lang.RuntimeException: redis.clients.jedis.exceptions.JedisConnectionException: java.net.SocketTimeoutException: Read timed out
	at

[2016-04-18 23:59] JAlexoid commented on #1259
Does another exception :
redis.clients.jedis.exceptions.JedisConnectionException: Unexpected end of stream.
	at redis.clients.util.RedisInputStream.ensureFill(RedisInputStream.java:198)
	at redis.clients.util.RedisInputStream.readByte(RedisInputStream.java:40)
	at redis.clients.jedis.Protocol.process(Protocol.java:141)
	at redis.clients.jedis.Protocol.read(Protocol.java:205)
	at redis.clients.jedi

[2016-04-19 02:53] HeartSaVioR commented on #829
I'm trying to experiment for automating sanity test for delegating.
https://gist.github.com/HeartSaVioR/ab364f4742d93cd6c98dee7ae20487c0

This experiment catches some missed spots:

- missed parameters `params`
[code]
[code]

In order to let SanityTest checks properly, I suggest Pipeline / Sharded / Cluster could just delegate the request to Client or Jedis with same method / same parameters.
Call

[2016-04-19 03:03] HeartSaVioR commented on #829
While experimenting this, I'm curious that what if we learn from #749 (it uses reflection for opposite way) and replace too-long-and-duplicated methods with proxy or cglib.

We would like to use cglib while possible since it can make proxy with class (not only interface), and it uses bytecode generation which supposed to not hurt performance too much.

[2016-04-19 15:49] PriyankaRanjan opened #1260 "auto start of shards"
### Expected behavior

I am using Redis Enterprise cluster. I have three nodes and 4 shards where 2 shards are running on node1 and 2 shards are running on node2 , no shard is running on node3. Node 1 is master. when node1 goes down the node2 becomes master but the shards of Node1 dont failover to Node2 or Node 3. I do not understand why the shard failover is not happening automatically. I have fo

[2016-04-19 19:56] marcosnils commented on #1260
Jedis doesn't perform failover. RLEC should take care of fail over, and Jedis should continue working as expected.

[2016-04-19 19:56] #1260 closed

[2016-04-20 00:58] HeartSaVioR commented on #1259
When JedisConnection is raised, it indicates that Jedis instance is invalid now, so you should discard that instance and recreate or re-borrow instance. There's no except for Pipeline.

Thanks for creating an issue, but not an issue. Closing.

[2016-04-20 00:58] #1259 closed

[2016-04-20 00:59] #1255 closed

[2016-04-20 01:04] HeartSaVioR commented on #1241
Connection timeout is used for one trial of connecting (just as Java Socket option), and Jedis doesn't support connection retry.

If you construct H/A with Redis Sentinel, you can use JedisSentinelPool so pool can borrow appropriate instance for current master, and keep retrying from your application logic.

[2016-04-20 01:04] #1241 closed

[2016-04-20 01:05] HeartSaVioR commented on #1229
Closed by #1240

[2016-04-20 01:05] #1229 closed

[2016-04-20 01:09] HeartSaVioR commented on #1200
This is normally occurred when using flawed connection (you may indicate that cause it throws JedisConnectionException). You're encouraged to discard flawed connection and recreate the connection.

This issue is idle for two months, closing.

[2016-04-20 01:09] #1200 closed

[2016-04-20 01:25] JAlexoid commented on #1259
So... That means that using a pipeline once invalidates the whole instance? Nice to know.
FYI: Switching to non-pipelined operations works 100% of the time.

[2016-04-20 01:34] HeartSaVioR commented on #1259
No, when only your pipeline throws JedisConnectionException. :)

[2016-04-20 01:36] JAlexoid commented on #1259
That's the bug - it always throws JedisConnectionException when you create a second Pipeline after syncing the first one.

[2016-04-20 01:38] HeartSaVioR commented on #1259
Didn't you receive the exception when you sync the first Pipeline? If not please reopen this issue so I can take a look.

[2016-04-20 11:02] amitguptagwl commented on #1029
I was also getting the same issue when I was using embedded redis. This [thread](https://github.com/kstyrc/embedded-redis/issues/31) has useful information.

[2016-04-20 13:44] pranabpaul opened #1262 "Hashmap in Jedis"
How to handle hashmap in jedis with following structure:

###HashMap&lt;String,List&lt;RoleDetailsDTO&gt;&gt; ###

[2016-04-20 14:26] HeartSaVioR opened #1263 "Resolve ambiguity between single argument and varargs by replacing varargs to Collection<>"
Relevant issue: #566

Due to ambiguity issue Scala users should use workaround like...
[code]

In order to avoid this issue, as I stated from #566, we should define two methods as...

del(String key);
del(String firstKey, String secondKey, String... remainKeys);

which I really don't like it.

Spring Data Redis uses Collection<> to avoid ambiguity. Some of the method definitions are...

https://gi

[2016-04-20 14:33] HeartSaVioR opened #1264 "conversion of score from double to byte array should consider both "-inf" and "+inf""
Below logic is what Jedis converts scores typed double to byte arrays.

[code]

I think this kind of conversion is bad cause giving "-inf" "-inf" as score range is still valid.
Conversion of score should check both Double.NEGATIVE_INFINITY and Double.POSITIVE_INFINITY for each score, not handling by context.

[2016-04-21 05:53] #1262 closed

[2016-04-21 05:54] marcosnils commented on #1262
Please ask in mailing list

[2016-04-22 08:20] cxshun commented on #943
It helps, Thanks a lot

[2016-04-24 21:23] jamespedwards42 commented on #1238
@HeartSaVioR @marcosnils

I've created a Redis Cluster client, [Jedipus](https://github.com/jamespedwards42/jedipus), that might help address this issue as well as a couple of others.  For this issue it uses separate numRetries / maxRetries for JedisConnectionException's.

#805: Users can execute Jedis/Pipeline Consumer and Function lambdas against a redis cluster so all pipelining and transaction

[2016-04-25 08:52] Annapoornar opened #1267 "Getting JedisClusterException CLUSTERDOWN The cluster is down"
Hi,

We have redis cluster setup, 3 master-3 slaves .

We are storing/getting the data to/from the cache. The processing for happening overnight. In the logs I see below exception while get/set is happening for around 30 secs. later it started working fine. If it was a network issue during that time, it should have thrown JedisConnectionException.

! redis.clients.jedis.exceptions.JedisClusterExce

[2016-04-25 15:08] marcosnils commented on #1267
Please put your cluster logs into debug check your redis logs and provide more info about the incident. We provide feedback with only a stacktrace. Also please inform Jedis and Redis versions.

[2016-04-25 15:08] #1267 closed

[2016-04-25 15:44] Spikhalskiy commented on #1252
Final version which is working in our prod and do it fine: https://github.com/Spikhalskiy/jedis/releases/tag/PP-2

It's just master with merged related pull requests.
Issue could be closed after merging PRs to upstream.

[2016-04-25 15:46] marcosnils commented on #1252
#1249 #1251 #1253 #1256

@Spikhalskiy amazing contribution. I've had a rough weeks lately. As soon as I have some time I promise to look at those changes.

[2016-04-26 02:54] xingzhougmu opened #1268 "Does Jedis support Azure Redis Cluster"
### Expected behavior

Microsoft Azure supports Redis Cluster. But it seems there is no support for this in Jedis at this moment.

I used ShardJedis, but get intermittent redis.clients.jedis.exceptions.JedisMovedDataException: MOVED.
**Example Usage:**
/* In this line, replace <name> with your cache name: */
	    JedisShardInfo shardInfo = new JedisShardInfo("testpremium.redis.cache.windows.net",

[2016-04-26 03:00] marcosnils commented on #1268
ShardedJedis is not intended to be used with Redis Cluster. You need to use `JedisCluster` instead.

[2016-04-26 03:14] xingzhougmu commented on #1268
But how to use JedisCluster for Azure Cache?
What I have is a redis DNS name and access key, we don't have host IP and port for each shard.

[2016-04-26 03:30] xingzhougmu commented on #1268
Actually this is my question.
https://github.com/xetorthio/jedis/issues/1242

Looks like JedisCluster does not support password auth. Any plan to add this in the future?

[2016-04-26 04:12] marcosnils commented on #1268
@xingzhougmu even though clustering password strategy hasn't been defined in the redis cluster spec seems like users need it quite a lot. I'll try to see if It's straightforward to implement so it doesn't represent a roadblock to Jedis users.

[2016-04-26 05:14] marcosnils commented on #1268
@xingzhougmu just implemented it in #1269

[2016-04-26 05:26] xingzhougmu commented on #1268
@marcosnils thanks for the information. Besides the password strategy, not sure if the JedisCluster can work with Azure Redis Cluster by feeding the DNS name. For example: rediscluster.redis.cache.windows.net.
Right now, I can only see the JedisCluster clinet is initilated with a ServerNode hashset.

Thanks,
Xing

[2016-04-26 05:28] marcosnils commented on #1268
@xingzhougmu it should. If you connect to he redis-instance listening on that DNS and you issue a `cluster slots` what do you get in the response?

That's the mechanism that Jedis uses to automatically discover cluster nodes.

[2016-04-26 05:58] xingzhougmu commented on #1268
@marcosnils I use redis-cli to test, and the resoponse is as below.
**PS C:\Program Files\Redis>** .\redis-cli.exe -h testpremium.redis.cache.windows.net -p 6379 -a CxDZ1/oUEBoE86iQQaGwMtEmJ5K08V4vHuL3iCga/Pk=
**testpremium.redis.cache.windows.net:6379>** cluster slots
1) 1) (integer) 8192
   2) (integer) 16383
   3) 1) "100.76.6.3"
      2) (integer) 10226
   4) 1) "100.76.2.15"
      2) (integer

[2016-04-26 06:04] marcosnils commented on #1268
@xingzhougmu in that case current Jedis version should work correctly if you can connect to the server without a password.

Take into account that Jedis **needs** to be able to connect to the ip's that you see in the `cluster slots` outputs, so the machine that is running your Java code should be able to connect to the Redis instances in those ip's.

[2016-04-26 06:09] xingzhougmu commented on #1268
@marcosnils No. If I connect without password key, the "cluster slots" commands will fail.

PS C:\Program Files\Redis> .\redis-cli.exe -h testpremium.redis.cache.windows.net -p 6379
testpremium.redis.cache.windows.net:6379> cluster slots
(**error) NOAUTH Authentication required.**
testpremium.redis.cache.windows.net:6379>

[2016-04-26 06:11] marcosnils commented on #1268
@xingzhougmu what I was saying is that you need to disable authentication in your Redis cluster because JedisCluster still doesn't have support for auth. I've included in #1269 as I said before.

If you disable password, it should work.

[2016-04-26 06:14] xingzhougmu commented on #1268
@marcosnils okay. Got you now! I will wait for the next release as Microsoft does not allow me to disable authentication in Azure Redis Cluster.

Really appreciate your help.

[2016-04-26 06:15] HeartSaVioR commented on #1268
About inconsistency IPs between `cluster slots` and `cluster nodes` should be corrected with setting up announce IP via Redis side.
https://github.com/antirez/redis/issues/2527

It's planned to be introduced on Redis 3.2.

[2016-04-26 06:19] marcosnils commented on #1268
@xingzhougmu if you need to play around with it you can merge my PR manually until it gets release (it might take some time)

[2016-04-26 06:24] xingzhougmu commented on #1268
@marcosnils sure. I will take a try from my side, and report back how it works for me.
where can I pull your PR?

[2016-04-26 06:26] marcosnils commented on #1268
@xingzhougmu you can use this branch https://github.com/xetorthio/jedis/tree/cluster_password, and run `mvn package -DskipTests` from the project root.

[2016-04-26 06:31] marcosnils commented on #1268
It will probably fail because of javadocs. Try instead: `mvn package -DskipTests -Dmaven.javadoc.skip=true`

[2016-04-26 07:44] xingzhougmu commented on #1268
@marcosnils compile result.

Tests run: 473, Failures: 1, Errors: 426, Skipped: 0

[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time: 04:07 min
[INFO] Finished at: 2016-04-26T15:39:39+08:00
[INFO] Final Memory: 27M/441M
[INFO] ------------------------

[2016-04-26 17:32] marcosnils commented on #1268
@xingzhougmu use the command I've sent you before to skip tests.

[2016-04-27 02:32] castroflavio opened #1270 "REDIS CLUSTERING under failure"
I'm trying to run YCSB using JEDIS CLUSTER to benchmark redis under failure. But when a failure happens, the system goes to a failed state, and I think jedis is trowing an exception:

redis.clients.jedis.exceptions.JedisClusterMaxRedirectionsException: Too many Cluster redirections?
        at redis.clients.jedis.JedisClusterCommand.runWithRetries(JedisClusterCommand.java:97)
        at redis.clie

[2016-04-27 03:05] xingzhougmu commented on #1268
@marcosnils did you mean this command line "  mvn package -DskipTests -Dmaven.javadoc.skip=true "?
It failed as well.

[2016-04-27 03:07] marcosnils commented on #1268
Can you paste the error please?

[2016-04-27 03:09] xingzhougmu commented on #1268
@marcosnils looks like I got the same error message for both.

**mvn package -DskipTests -Dmaven.javadoc.skip=true **
Tests run: 473, Failures: 1, Errors: 426, Skipped: 0

[INFO] ------------------------------------------------------------------------
 [INFO] BUILD FAILURE
 [INFO] ------------------------------------------------------------------------
 [INFO] Total time: 04:07 min
 [INFO] Finishe

[2016-04-27 03:23] marcosnils commented on #1268
@xingzhougmu seems like tests are running anyway. Can you try with the flag -Dmaven.test.skip=true ?

[2016-04-27 03:38] marcosnils commented on #1270
@castroflavio it's normal that Jedis throws that exception because it's very probable that when while cluster is recovering several operations fail. Jedis doesn't wait for the cluster to recover it just performs the necessary redirects y fails in case it reaches a max configured value.

JedisCluster should process requests normally after cluster recovers.

[2016-04-27 09:29] xingzhougmu commented on #1268
@marcosnils yes, by skip the tests I can compile successfully.
Could you please provide an example on how to use it?

You can test with my test redis account.
DNS name: testpremium.redis.cache.windows.net
Non-SSL Port: 6379
Password: CxDZ1/oUEBoE86iQQaGwMtEmJ5K08V4vHuL3iCga/Pk=

Cheers,
Xing

[2016-04-27 11:31] Alexniver commented on #1161
yes, 2.7.2 get same problem. change to 2.5.2 fix

[2016-04-27 11:36] marcosnils commented on #1268
Here's an example about how to initialize JedisCluster with a password https://github.com/xetorthio/jedis/blob/cluster_password/src/test/java/redis/clients/jedis/tests/JedisClusterTest.java#L132

[2016-04-27 15:24] id-ilych commented on #1264
https://github.com/xetorthio/jedis/pull/1271

[2016-04-28 17:06] ultracap commented on #1268
Does Jedis also support Azure Redis Cluster with SSL connection?

[2016-04-29 03:49] dgomesbr opened #1272 "Expand Pipeline interface with methods for fire'n'forget pattern"
Discussion started at: https://gist.github.com/dgomesbr/5dc3e2d5bb4fcc90f82cb94fe6fd6561
### Expected behavior

While on pipeline mode we have to periodically sync() because Jedis creates `response<Future<T>>` and when sync happens it's just those futures getting called back. When we're trying to bulk load millions or even billions of keys into Redis the throughtput approach would be:
1. Open a Pi

[2016-04-29 21:15] castroflavio commented on #1270
Yeah. I understand that may be a desired behavior.

But still these errors crash my simulation.

Is there anything I could do to make it to fail silently?

[2016-04-29 21:21] marcosnils commented on #1270
@castroflavio

can't you catch and discard the exceptions from your side?. From the design POV it's ok for Jedis to throw an exception in this cases.

[2016-04-29 21:41] castroflavio commented on #1270
Nice. Thanks. That makes sense. I made a dirty adaptation in the ycsb. I think it expects the client to return an error in this case.

So I'll just catch the exception as you said.

Do you have any example of that? (I don't have a IDE right now.)

[2016-04-29 21:46] marcosnils commented on #1270
[code]

[2016-04-30 15:37] #1270 closed

[2016-05-02 07:29] dvirsky commented on #1232
Just updating - I've been busy preparing for RedisConf. I'll probably get back to this after I return from the conference. Will any of you attend BTW?

[2016-05-02 18:26] marcosnils commented on #1232
@dvirsky np, we're waiting wait for your PR anxiously.

Regarding RedisConf we'd really like to attend but @xetorthio and me are in Argentina and @HeartSaVioR in South Korea which makes it really hard for us to be there :cry:

[2016-05-02 19:03] dvirsky commented on #1232
too bad :) do keep an eye out for the announcements, cool things coming!

[2016-05-03 00:58] marcosnils commented on #1264
Plz check #1273

[2016-05-03 11:56] yogeshbelur opened #1274 "JedisClusterMaxRedirectionsException when redis cluster in amazon cloud"
### Expected behavior

Should return the values set for the keys.

### Actual behavior

throwing following exception

redis.clients.jedis.exceptions.JedisClusterMaxRedirectionsException: Too many Cluster redirections?
	at redis.clients.jedis.JedisClusterCommand.runWithRetries(JedisClusterCommand.java:97)
	at redis.clients.jedis.JedisClusterCommand.runWithRetries(JedisClusterCommand.java:131)
	at r

[2016-05-04 15:54] marcosnils commented on #1268
@xingzhougmu I totally forgout about this. What's the status?

[2016-05-05 01:23] zts1993 commented on #989
i wrote a NodesHelper may be can help
`
package com.wangyin.rediscluster.experimental;

import java.util.Map;
import java.util.concurrent.ConcurrentHashMap;
import java.util.concurrent.ExecutorService;
import java.util.concurrent.Executors;
import java.util.concurrent.TimeUnit;

/**
 * R2m Client component
 * Created by Timothy Zhang on 16-4-7.
 */
public abstract class NodesHelper<T> {

    priva

[2016-05-05 01:24] marcosnils commented on #989
@zts1993 thx!.

[2016-05-06 02:00] marcosnils commented on #1274
Checl https://github.com/xetorthio/jedis/issues/1268

[2016-05-06 02:00] #1274 closed

[2016-05-06 05:41] yogeshbelur commented on #1268
@marcosnils I still didn't get how to resolve this. #1274

cluster-announce-ip - is supported in latest version?
If so can u tell me how to use?

https://github.com/antirez/redis/issues/2527

[2016-05-06 06:15] jamespedwards42 commented on #1268
@yogeshbelur I don't see 'cluster-announce-ip' in the [3.2 branch conf] (https://github.com/antirez/redis/tree/3.2/redis.conf) of Redis but maybe he will merge it from [unstable](https://github.com/antirez/redis/blob/unstable/redis.conf#L838) before it is released within the next week before redis conference.

You can reference this docker file [jamespedwards42/alpine-redis-testing:unstable](https

[2016-05-09 10:24] Paul1Q84 opened #1277 "ShardedJedisPool check bug"
I found some proplem in ShardedJedisPool when using testWhileIdle,Some Jedis instance in ShardedJedis are never used and connected,but when test it will call validateObject and when idle time more than MinEvictableIdleTimeMillis it will destroyObject,this two place can make some never used Jedis create socket and connected it.some suggest below. is it right?

[code]

#### Jedis version:
2.7.2
####

[2016-05-09 12:13] marcosnils commented on #1277
**tl; dr**

This is a normal situation that appears in any pool / configuration environment, I don't like adding a `used` logic as it brings some other scenarios that are not considered in the standard usage.

Recommendations:

- Tune the pool parameters to suit your needs (in this case increase the `MinEvictableIdleTimeMillis`)
- Use a better hash key / alg so your shards are accessed evenly

@Pa

[2016-05-09 12:13] #1277 closed

[2016-05-10 05:08] Paul1Q84 commented on #1277
I just prevent a never used and connected Jedis to call quit function,because the quit function will create new socket and connected in the detroy function. You will detroy it so why you want to create and connected it?

Sorry my english is so so.

[2016-05-10 16:40] marcosnils commented on #1277
@Paul1Q84 it is rare that an  instance is never used before the MinEvictableIdleTimeMillis hits. If that is the case I'd recommend either increasing the MinEvictableIdleTimeMillis time or re-evaluating your sharding keys

[2016-05-11 09:18] Anisotrop opened #1279 "JedisPubSub doesn't support ping/pong exchanges"
### Expected behavior

When having a pubsub subscribed to a channel it is useful to have the connection also exchange ping/pong messages. A discussion can be seen in the redis [repository](https://github.com/antirez/redis/issues/420). It would be expected that pong responses are not rejected with "Unknown message type: " exception.

### Actual behavior

An exception is thrown:
[code]

### Steps to

[2016-05-11 10:18] Anisotrop commented on #1279
Adding the [PR](https://github.com/xetorthio/jedis/pull/1280)

[2016-05-12 14:03] Anisotrop commented on #1279
@marcosnils I have added the new [PR](https://github.com/xetorthio/jedis/pull/1281) for master branch. Nevertheless it would be useful to have it backported to older branches since we currently use 2.7 (upgrading to 2.8) and there seem to be some breaking changes between those versions and 3.x. I am trying to prepare pull requests for these branches, is this ok with you ?

[2016-05-12 14:34] Anisotrop commented on #1279
Adding also [PR for 2.8](https://github.com/xetorthio/jedis/pull/1282) and [PR for 2.9](https://github.com/xetorthio/jedis/pull/1283)

[2016-05-13 14:39] fabiopedrosa opened #1284 "Jedis doesn't support the BITFIELD command"
This is a very useful command that has not yet made its way into jedis. Could someone add it please?

[2016-05-13 15:50] marcosnils commented on #1284
@fabiopedrosa what about crafting a PR to add this command into Jedis?

[2016-05-14 15:09] aozhuozu opened #1285 "How to solve the long connection time with jedis"
### Expected behavior

**How to solve the long connection time with jedis**

### Actual behavior
1.Redis cluster  is installed in the centons7 OS of my virtual box , but the program is runned in my local Window10 OS
2.The connection time of program request is very long every time
3.No exception throw out

### Redis / Jedis Configuration
cluster.hostAndPort=192.168.31.160:7000;192.168.31.160:7001;1

[2016-05-15 13:39] #1264 closed

[2016-05-15 14:18] #1285 closed

[2016-05-15 18:22] PunKeel commented on #1029
Same here, using `JedisSentinelPool` and Jedis 2.8.1
[code]

[2016-05-17 03:26] hzengzhi commented on #932
it didn't work for me.
here is the config.

client-output-buffer-limit normal 0 0 0
client-output-buffer-limit slave  0 0 0
client-output-buffer-limit pubsub 0 0 0

[2016-05-17 04:01] qw2283345 opened #1286 "hgetAll return hashMap muddled"
what to return data by order

[2016-05-17 04:30] HeartSaVioR commented on #932
You should check that there's a chance for Redis closes the connection.

[2016-05-17 10:46] marcosnils commented on #1286
Since when hashes preserve order?

[2016-05-17 10:46] #1286 closed

[2016-05-17 14:56] jesicacornejo commented on #1190
Any solution?

[2016-05-18 08:23] imsandy commented on #1165
I Rewrite the source code.

[2016-05-18 09:14] qw2283345 commented on #1286
redis's original command—hgetAll would return ordered data,  but jedis returned a unordered hashMap, I hope that jedis hgetAll command would return an ordered map. I think it's very necessary. My English is poor, please don't mind. Thx.

    @SuppressWarnings("unchecked")
    public Map<String, String> build(Object data) {
      final List<byte[]> flatHash = (List<byte[]>) data;
      final Map<St

[2016-05-18 09:21] HeartSaVioR commented on #1286
@qw2283345
Do you have any pointers or clues that hgetall returns pairs ordered? Because hash is naturally unordered, and by definition, making result unordered once again also doesn't hurt.

[2016-05-18 13:28] marcosnils commented on #1165
?

[2016-05-18 18:16] marcosnils commented on #1286
I've searched through the redis documentation and it doesn't say anything about hashes being ordered by any criteria at all. By nature, hashes as a data structure doesn't have an order. @qw2283345 if you want to have an ordered hash you'll have to wrap it around a SortedSet or something.

[2016-05-19 03:56] qw2283345 commented on #1286
yep, thanks for your answer @marcosnils @HeartSaVioR . Using a SortedSet or others can order the data. But I am wondering if we can make the data ordered BEFORE I retrieve them.

[2016-05-19 04:07] marcosnils commented on #1286
@qw2283345 there's no "native" way of getting ordered results. However you have two ways of doing this before retrieving the results if this is a MUST.

1 - Subclass Jedis and override the `hgetall method`
2 - You can do it yourself by using the client directly as follows:

[code]

[2016-05-19 04:14] qw2283345 commented on #1286
thanks a lot, it helped! @marcosnils love you

[2016-05-19 08:52] gauthamgshet opened #1288 "JedisSentinelPool unable to detect the Redis master"
### Expected behavior

JedisSentinelPool has to detect an available Redis master

### Actual behavior

I am using the JedisSentinelPool for testing the Redis failover mechanism. Ideally I should receive the active master when I use the following code:

JedisSentinelPool pool = new JedisSentinelPool(MASTER_NAME, sentinels);
Jedis jedis = pool.getResource();

However I receive the following exceptio

[2016-05-20 01:02] charpty commented on #943
It works fine for me, thanks

[2016-05-20 02:59] ishare commented on #1190
@varrix is right, increase the timeout would be fine, `timeout is in milliseconds` at this point.

[2016-05-20 02:59] ishare commented on #1190
@varrix is right, increase the timeout would be fine, timeout is in milliseconds at this point.

[2016-05-20 02:59] #1190 closed

[2016-05-22 02:49] marcosnils commented on #1288
@HeartSaVioR ?

[2016-05-22 09:25] charpty opened #1289 "Support password authentication in the redis cluster configurations"
### Expected behavior

 support to set password in JedisCluster

### Actual behavior

not support(jedis 2.81)

### Steps to reproduce:

[code]

or I use in Spring-data-redis
[code]

### Redis / Jedis Configuration
redis cluster
127.0.0.1:6379> cluster info
cluster_state:ok
cluster_slots_assigned:16384
cluster_slots_ok:16384
cluster_slots_pfail:0
cluster_slots_fail:0
cluster_known_nodes:6
cluster_s

[2016-05-22 09:30] charpty opened #1290 "Support password authentication in redis Cluster configurations"
### Expected behavior

Supports password authentication in redis cluster mode

### Actual behavior

not support(jedis 2.81)

### Steps to reproduce:

`
		Set<HostAndPort> jedisClusterNodes = new HashSet<HostAndPort>();
		jedisClusterNodes.add(new HostAndPort("47.xx.7.10", 6379));
		jedisClusterNodes.add(new HostAndPort("47.xx.7.10", 6380));
		jedisClusterNodes.add(new HostAndPort("47.xx.7.10", 638

[2016-05-22 09:32] charpty commented on #1290
https://github.com/xetorthio/jedis/issues/1289

[2016-05-22 09:33] #1290 closed

[2016-05-22 09:45] charpty commented on #1289
Does anyone know something about this?
thanks

[2016-05-22 10:39] charpty commented on #1289
I found a opened PR here: https://github.com/xetorthio/jedis/pull/1269

[2016-05-22 14:06] lavinahum opened #1291 "Jedis client version to use for JDK 1.6, ibm webpshere runtime"
### Expected behavior
IBM Websphere 7 java code using jedis client in order to set and get cached values

### Actual behavior
Garbage Collector is working non stop!

### Redis / Jedis Configuration
Default JedisPool values
Using ibm com.ibm.ws.jpa.jar instead of commons-pool-1.6.jar

### Questions
What is the lowest version to use in order to avoid performence issues as this?
Or
What are the preff

[2016-05-22 15:03] marcosnils commented on #1289
There's a opened PR already

[2016-05-22 15:03] #1289 closed

[2016-05-22 15:04] HeartSaVioR commented on #1291
Hi @lavinahum,
We surely recommend users to update Jedis as latest release. Latest release is 2.8.1, and 2.1.0 is released at May, 2012, 4 years ago. We also no longer use commons-pool 1.6, we use 2.x now.

[2016-05-22 15:33] lavinahum commented on #1291
Thanks for the reply!

Since i must use JDK 1.6,  should'nt be a problem using jedis 2.8.1?

I tried using the 2.6.x version with commons-pool 2.4.2, but catched a NoClassDefError runtime exception of
"org.apache.common.pool.impl.GenericObjectPool".
 is that class still in indirect use?

[2016-05-22 15:42] sandeepd-bsb opened #1292 "Executing `mget` with `JedisCluster` using jedis 2.8.1 gives compilation error."
So, I am testing out the redis cluster with jedis 2.8.1. I am trying to do an `mget` test on my `JedisCluster` object. However, my code fails to compile.

Here's what I see when I try to compile my code:

   `[javac]   symbol:   method mget(String[])
    [javac]   location: variable cluster of type JedisCluster`

Other methods like `get` and `set` work just fine.

#### Jedis version:
2.8.1 / 2.8.0

[2016-05-22 15:44] marcosnils commented on #1292
@sandeepd-bsb how are you calling `mget`?

[2016-05-22 15:48] sandeepd-bsb commented on #1292
Hi @marcosnils, I am calling `mget` on my `JedisCluster` object.
`List<String> values = cluster.mget(keys.toArray(new String[keys.size()]));`. Does this help?

[2016-05-22 15:57] marcosnils commented on #1292
@sandeepd-bsb this works for me in 2.8
[code]

[2016-05-22 16:46] sandeepd-bsb commented on #1292
@marcosnils hmm, feels weird. I guess there might be something wrong with my jedis jar. Earlier I was using a different constructor for instantiating my `JedisCluster` object - one that takes a `Set` of `HostAndPort`. Now, I changed it to just `HostAndPort` and it gives me this:
`RedisClusterTest.java:28: error: incompatible types: HostAndPort cannot be converted to Set<HostAndPort>
    [javac]

[2016-05-22 17:04] sandeepd-bsb commented on #1292
@marcosnils hmm, feels weird. I guess there's something wrong with my jedis jar (btw I am using it from this link: http://mvnrepository.com/artifact/redis.clients/jedis/2.8.1). Earlier, I was using a different constructor for instantiating my `JedisCluster` object - one that takes a `Set` of `HostAndPort`. I now changed it to `JedisCluster cluster = new JedisCluster(new HostAndPort(host, port))` a

[2016-05-22 19:00] marcosnils commented on #1292
@sandeepd-bsb that constructor is available in 2.8.1. Check your project configuration as it should work

[2016-05-23 06:09] HeartSaVioR commented on #1291
No we're still building Jedis with JDK 1.6. We plan to bump the JDK version to 7 starting at 3.0.0.

Maybe other place still use commons-pool 1.x and it's hidden from commons-pool 2.x what Jedis provides. Please check your dependency tree and see what libraries/frameworks depend on commons-pool.

[2016-05-23 08:38] sandeepd-bsb commented on #1292
@marcosnils Issue was with my project config. Sorry for bothering you guys! fixed now.

[2016-05-23 08:38] #1292 closed

[2016-05-23 08:58] Anisotrop commented on #1279
marcosnils @HeartSaVioR  Thanks for merging, I think the issue can be closed. Are you waiting for the release of commons pool 2.4.3 that fixes the issue related to:  https://github.com/xetorthio/jedis/pull/1158 before releasing 2.8.2 ? Do you have any other release planned in the near future ?

[2016-05-23 08:58] #1279 closed

[2016-05-23 09:06] HeartSaVioR commented on #1279
Oh my I actually forgot [POOL-303](https://issues.apache.org/jira/browse/POOL-303).
Seems like it's resolved, so while I'd like to take a look to see further work on #1158, I also would like to wait for releasing Commons Pool 2.4.3 before releasing any minor/major versions.
@marcosnils What do you think?

[2016-05-23 12:18] marcosnils commented on #1279
@HeartSaVioR definitely. Let's wait on 2.4.3 before releasing!.

[2016-05-23 13:52] sandeepd-bsb opened #1293 "Multi get operations on redis cluster where hash tags can't work"
So, I guess this one's been around for some time. Redis cluster doesn't support multi-key ops... while hash tags are suitable and work perfectly for most of the use cases, it doesn't work with our specific problem. I can assure a certain key belongs to a particular hash slot using the `{}` but while querying multiple keys, I cannot assure they will belong to the same one.

So firstly my question i

[2016-05-23 13:56] marcosnils commented on #1293
Dupe of https://github.com/xetorthio/jedis/issues/990

[2016-05-23 13:56] #1293 closed

[2016-05-23 14:17] sandeepd-bsb commented on #1293
@marcosnils thanks for pointing to a more generic discussion that was quite informative. However, is there any conclusion on providing support for such multi-key ops? On the other hand, is it advisable to use `JedisClusterConnectionHandler` to get the list of nodes and perform ops on them individually and aggregate ourselves?

[2016-05-23 14:21] marcosnils commented on #1293
Nope. We still haven't decided how to implement this. Usually clients are handling it on their side.

you can safely use jc.getClusterNodes() https://github.com/xetorthio/jedis/blob/master/src/main/java/redis/clients/jedis/BinaryJedisCluster.java#L61-L63

[2016-05-23 14:23] sandeepd-bsb commented on #1293
Great, thanks @marcosnils !

[2016-05-23 14:30] marcosnils commented on #1293
@sandeepd-bsb you're welcome to leave your opinion in the discussion thread.

[2016-05-24 11:03] WENPIN1 commented on #995
The real problem is that JedisCluster method close() will close the whole JedisCluster  connection instead of return the connection to the cluster pool.

[2016-05-24 17:42] PunKeel commented on #1029
^- Fixed, `timeout` (redis config) was improperly setup.

[2016-05-25 01:23] jongsuny commented on #995
I have the same problem.
My solution is set timeout as higher value,like 600.
or just set as 0.// keep alive connection.
This should be fixed by jedis client,though,I think.

[2016-05-25 03:50] marcosnils commented on #995
what specifically?

[2016-05-25 03:51] marcosnils commented on #995
JedisCluster doesn't work as Jedis or JedisPool because it handles a pool a connection internally. Basically you shouldn't call `close` unless you just want to gracefully close all connections to youre redis instances.

[2016-05-25 03:56] DongAaron opened #1294 "Pool not open at assertOpen(BaseGenericObjectPool.java:662)"
Hi,
My application use Zset as a delay queue implementation.
I catch the exception:
java.lang.IllegalStateException: Pool not open at assertOpen(BaseGenericObjectPool.java:662)
        at org.apache.commons.pool2.impl.GenericObjectPool.borrowObject(GenericObjectPool.java:412)
        at org.apache.commons.pool2.impl.GenericObjectPool.borrowObject(GenericObjectPool.java:363)
        at redis.client

[2016-05-25 04:00] marcosnils commented on #1294
@DongAaron how are you using `JedisPool`?.

[2016-05-25 04:01] marcosnils commented on #1294
Have you checked https://github.com/xetorthio/jedis/issues/1159?

[2016-05-25 04:14] DongAaron commented on #1294
@marcosnils
I used JedisPoll the following:
@Component
public class RedisUtil {

	private static final Logger LOG = LoggerFactory.getLogger(RedisUtil.class);

	@Autowired
	private JedisPool jedisPool;

    private Jedis getJedis() {
        try {
            if (jedisPool != null) {
                Jedis resource = jedisPool.getResource();
                return resource;
            }
        } c

[2016-05-25 04:16] marcosnils commented on #1294
@DongAaron clearly someone is trying to retrieve stuff from the pool after `destroyPool` has been closed. I'd suggest debugging the code to see where that might be happening.

[2016-05-25 05:25] marcosnils commented on #1294
I'll close this issue for now. Please reopen if you have more info or a way to reproduce it.

[2016-05-25 05:25] #1294 closed

[2016-05-25 08:19] mp911de commented on #1263
This question kept me busy for a while. I identified about 50 methods which accept varargs and are candidates for some sort of Collection API interface (e.g. `Iterable<T>`). Varargs is syntax sugar as the compiler creates the bytecode for an array. Using the Collection API requires the user to create always a `Set` or a `List` if the method accepts only a Collection interface. Working in parallel,

[2016-05-25 11:51] lekko1988 opened #1295 "About AUTH problem in latest Redis version 3.2"
### Expected behavior
bar

### Actual behavior
ERROR MSG:

Write here what happens instead ...
My code as bellow:
		Set<HostAndPort> jedisClusterNodes = new HashSet<HostAndPort>();
		jedisClusterNodes.add(new HostAndPort("120.55.91.36", 7001));
		JedisCluster jc = new JedisCluster(jedisClusterNodes);
		jc.auth("****");
		jc.set("foo", "bar");
		String value = jc.get("foo");
		System.out.println(jc

[2016-05-25 12:46] jongsuny commented on #995
`@Override
  public Jedis getConnection() {
    // In antirez's redis-rb-cluster implementation,
    // getRandomConnection always return valid connection (able to
    // ping-pong)
    // or exception if all connections are invalid

    List<JedisPool> pools = getShuffledNodesPool();

    for (JedisPool pool : pools) {
      Jedis jedis = null;
      try {
        jedis = pool.getResource();

[2016-05-25 15:29] zouyx commented on #1120
@wenxuanguan
hello, i think this issue is the same to yours ,may help you #1238

[2016-05-26 02:25] marcosnils commented on #1295
This is waiting  for #1269

[2016-05-26 02:25] #1295 closed

[2016-05-26 02:31] marcosnils commented on #1263
@mp911de basically drop support for varargs in replace of `Iterable` for consistent interfaces. I believe this is a nice proposal and I'd totally like to standardize interfaces for 3.0.

This will also have the benefits of the problems @HeartSaVioR arose when using Scala.

[2016-05-26 02:51] HeartSaVioR commented on #1263
Yeah @mp911de thanks for sharing detailed analysis!
I also don't think we should maintain both varargs and Collection, and seems like we're good to drop varargs.
One question: what do you think about Collection<> vs Iterable<>? Just like to check since SDR uses Collection<> while you're addressing Iterable<>.

@marcosnils Thanks for following up. :)

[2016-05-26 09:52] mp911de commented on #1263
`Iterable` is the lowest possible interface from the Collections API. From a user perspective, it is very convenient invoking methods accepting `Iterable`. Some libraries provide collection-like types implementing `Iterable` but not `Collection`.

I see it also in prospect of the Java 8 Stream-API. A `Stream` does not implement `Iterable` because it allows traversing only once yet it gives users a

[2016-05-26 11:21] gauthamgshet commented on #1288
Team,

There is no issue here. I was passing the server name along with port number for MASTER_NAME. Instead I need to pass "mymaster" keyword from the sentinel.conf.

Thanks for your help!!

Regards,
Gautham

[2016-05-26 11:21] #1288 closed

[2016-05-27 10:40] xlw010aya opened #1296 "why my data set to redis miss by jedis?"
### Expected behavior

I set 1000000 lines data to my redis client by jedis. Absolutely, there are 1000000 in redis.

### Actual behavior
Finally, the number in redis is about 9500000.
In fact, if I set 30000 lines data It's ok.
My simple code process:

while(hasdata){
    i++;
    pipeline.set(key,value);
    if(i%10000==0){
    pipeline.sync();
    }
}
pipeline.sync();
jedis.disconnect();

### S

[2016-05-27 11:57] #1296 closed

[2016-05-29 14:38] smadasu commented on #1284
@marcosnils I am working on a PR to add this command. I will submit it soon.

[2016-05-31 15:20] TimLovellSmith commented on #1165
@marcosnils @mp911de @pythoner02 May I suggest opening this issue again? Azure redis supports cluster but always requires password authentication, even with cluster.

[2016-05-31 15:34] marcosnils commented on #1165
@TimLovellSmith this has been submitted as a PR here: https://github.com/xetorthio/jedis/pull/1269

[2016-05-31 15:50] #1268 closed

[2016-05-31 23:40] HeartSaVioR commented on #1279
@marcosnils FYI: I left a mail to request new release for Commons Pool 2.4.3.

[2016-06-01 01:04] marcosnils commented on #1279
@HeartSaVioR you're da man!

[2016-06-01 11:19] lavinahum opened #1298 "Removing X objects from redis server with jedis client using the same prefix key as pattern"
Hello!

What is the best practice of deleting\removing many object\values from the redis server using jedis client?

I have a fix prefix for my keys, is there a pattern usage for del command?

Thanks in advance,
Lavi

#### Jedis version:
2.6.3

#### Redis version:
3.0.6

#### Java version:
1.6

[2016-06-01 20:57] marcosnils commented on #1298
Please address this to the mailing list http://groups.google.com/group/jedis_redis

[2016-06-01 20:57] #1298 closed

[2016-06-03 10:23] pejip commented on #1219
Hi,

I have following log that are output by redis
Jun 03, 2016 10:17:09 AM redis.clients.jedis.JedisSentinelPool initSentinels
INFO: Trying to find master from available Sentinels...
Jun 03, 2016 10:17:09 AM redis.clients.jedis.JedisSentinelPool initSentinels
INFO: Redis master running at xxx.xxx.xxx.xxx:6379, starting Sentinel listeners...
Jun 03, 2016 10:17:09 AM redis.clients.jedis.JedisSentin

[2016-06-03 10:33] marcosnils commented on #1219
Mailing list please

[2016-06-03 10:33] #1219 closed

[2016-06-08 22:28] marcosnils opened #1315 "ModuleTest make redis crash in some platforms and travis."
Tests are not passing in CI

More info here: https://github.com/xetorthio/jedis/pull/1297#issuecomment-224745290

[2016-06-08 22:30] marcosnils commented on #1315
@HeartSaVioR seems like ModuleTest was breaking the build as you discovered. I'll omit those tests in travis for the moment until we investigate. I'll try to reproduce the issue in my local env maybe changing the alloc library or something.

[2016-06-08 22:30] marcosnils commented on #1315
https://travis-ci.org/xetorthio/jedis/jobs/136287842

[2016-06-09 01:51] smadasu opened #1316 "Not extend Junit Assert classes in Tests."
### Expected behavior

Asserts from Junit must be used statically
### Actual behavior

All the tests extend from Assert but do not override anything. This leads to tight coupling and fragile code. Moreover Jedis resources are not closed properly in tests, which could have been the reason for recent Travis failures. But for these changes I will create a new issue.
### Steps to reproduce:

This is a

[2016-06-09 16:42] PriyankaRanjan opened #1317 "Regarding JedisPool timeout"
Hi Experts
We are using jedis 2.8.1 If i understand correctly the Jedispool connection object should wait for "timeout" period before throwing  JedisConnection exception . Is my understanding correct? if yes then what is your recommendation for choosing the right timeout value.

Thanks in advance.

[2016-06-09 23:40] jamesinc commented on #1150
+1 we are experiencing this issue too.

[2016-06-14 07:54] fengyapeng opened #1318 "i want use the 'set' command like this "set(final byte[] key, final byte[] value, final byte[] expx, final int time)""
### Expected behavior

I want use reids  "set" command like this:
`set(final byte[] key, final byte[] value,  final byte[] expx, final int time)`
### Actual behavior

but only have this

[code]
### Steps to reproduce:
### Redis / Jedis Configuration

normal
#### Jedis version:

2.8.1
#### Redis version:

3.0
#### Java version:

 1.8

[2016-06-14 12:06] marcosnils commented on #1318
Does this work for you? https://github.com/xetorthio/jedis/blob/2.8/src/main/java/redis/clients/jedis/BinaryJedis.java#L523

BTW: In Jedis master we've changed the way several commands receive there parameters. That's why you might find some methods that are missing.

[2016-06-14 12:34] marcosnils commented on #1317
Please redirect this issue to the mailing list: http://groups.google.com/group/jedis_redis

[2016-06-14 12:34] #1317 closed

[2016-06-15 12:58] merishav commented on #906
See if your redis is running in protected mode, disable the protected mode

[2016-06-17 08:14] WangXijue commented on #882
@marcosnils @henry20100102 @jijojose1691
Because the "finally" was executed before "catch", and the resource had been return to pool in "finally" block.

[2016-06-18 00:28] PunKeel commented on #1051
:+1: wondering in order to implement optimistic locking :-)

[2016-06-18 03:29] jamespedwards42 opened #1320 "Module Test Issue"
Regarding [Omit ModuleTest to avoid redis crashing](https://github.com/xetorthio/jedis/commit/f525c63c109db9b49ac3733715be7774cb3eb329)

I've been having the same issue with tests failing following my module test.  I just removed MODULE UNLOAD and everything works again.... I don't think anything is wrong with your module test either, just module unload corrupting the Redis server.

Posting here t

[2016-06-18 04:56] jamespedwards42 commented on #1320
Closing in favor of #1315

[2016-06-18 04:56] #1320 closed

[2016-06-18 04:57] jamespedwards42 commented on #1315
I've been having the same issue with tests failing following my module test. I just removed MODULE UNLOAD and everything works again.... I don't think anything is wrong with your module test either, just module unload corrupting the Redis server.

Posting here to try to help with getting closer to the root cause and I figure you guys will be more likely to capture the attention of antirez with thi

[2016-06-18 04:59] HeartSaVioR commented on #1315
Recently one contributor of Redis submitted related fix and antirez merged it. Maybe we can experiment resurrection of module test and see latest unstable branch doesn't have this issue.

[2016-06-18 05:04] jamespedwards42 commented on #1315
@HeartSaVioR I checked with a build against the redis unstable branch [as of today](https://hub.docker.com/r/jamespedwards42/alpine-redis-testing/builds/bkr9f5qm7jlwlcojiadxf/), but still seeing the same issue.

[2016-06-19 16:06] marcosnils commented on #1315
I can't reproduce the problem in my machine. Not sure what the issue might
be.

@jamespedwards42 are you running in Mac?

sent from mobile
On Jun 18, 2016 2:04 AM, "James Edwards" <notifications@github.com> wrote:

[2016-06-19 18:39] jamespedwards42 commented on #1315
@marcosnils Yes, I am running Mac, but I'm using docker for mac and therefore my Redis instances are running in Alpine linux, so it appears to be a linux issue, considering it is failing on travis as well.

[2016-06-20 13:00] laxmi-narayan-nitdgp opened #1321 "jedis.close() is not closing connection"
### Expected behavior

Write here what you're expecting ...

### After using jedis.close() I was expecting jedis connection object to be null.

Write here what happens instead ...
It was available and i was able to connect to redis-server again with same connection object.
### Steps to reproduce:
Below code can be used to reproduce steps :-

 Jedis jedis = new Jedis("localhost");

       System.ou

[2016-06-21 03:14] marcosnils commented on #1315
@jamespedwards42 I could reproduce with docker. Awesome!.

[2016-06-21 03:26] marcosnils commented on #1315
@jamespedwards42 false alarm I mapping ports propertly :angry:

[2016-06-21 03:33] marcosnils commented on #1315
@jamespedwards42 willing to run some steps to help me reproduce?

[2016-06-21 04:02] marcosnils commented on #1315
Fixed by: a911ff6cc87fa430dac4cbe0017633796907b839

Thx everyone for your support.

[2016-06-21 04:02] #1315 closed

[2016-06-22 03:31] marcosnils commented on #1321
`close` closes the connection when using jedis in single instance mode. The thing is that if object is re-used, it will establish a new connection redis. This is how it works, you can use the `isConnected` method to check if a specified Jedis instance is connected to the server.

[2016-06-22 03:31] #1321 closed

[2016-06-23 21:07] janssk1 opened #1322 "Jedis socket settings causing issues under load ?"
While under load, we have noticed that some jedis connections raise unexpected exceptions such as 'classcastexception' and 'numberformatexception' while running redis operations. These error can occur if multiple threads acces the same Jedis instance, but this is not the case for us.

The scenario we have seen is that some connections (we use a pool of connections) raise a timeout to an operation

[2016-06-24 01:09] pjebs opened #1323 "Scalability of Channels (Pub/Sub)"
I'm building a real-time text based chat program where people can chat with ONLY 1 other person.
Each person can chat with 1 other person, but the aim is they can chat with Many people at once. (i.e. MANY one to one chats with different people). The aim is to have it scaleable, not necessarily to snapchat's level, but enough for 1 City.

I'm just wondering what is more scaleable:

* Having 1 chann

[2016-06-24 01:12] HeartSaVioR commented on #1323
Please leave a question / discussion to `Redis` google group.

[2016-06-24 01:12] #1323 closed

[2016-06-24 09:44] terry19850829 opened #1324 "Tomcat thread leak,because I use jedis blpop,timeout not work"
### Expected behavior

use tomcat shutdown.bat gracefully shutdown my webapp which use spring-data-redis and jedis client

### Actual behavior

all threads in spring TheadPoolTaskExecutor use blpop() block forever,tomcat can not shutdown.

### Steps to reproduce:

Please create a reproducible case of your problem. Make sure
that case repeats consistently and it's not random
1. boot daemon thread w

[2016-06-24 09:48] terry19850829 commented on #1324
When I use lpop,it just work fine.

[2016-06-24 10:48] idans-ybrantdigital-com opened #1325 "Scan support for JedisClient using tagging"
Though it makes sense why key scanning is not supported for jedis cluster client
Support for key scanning with tagging should work as depicted here :

http://www.paluch.biz/blog/162-iterate-over-all-keys-in-a-redis-cluster.html

Any chance it might find it's way to the JedisCluster implementation ?

10x

[2016-06-24 16:44] marcosnils commented on #1325
@idans-ybrantdigital-com patches are always welcome :)

[2016-06-24 23:40] duobliu1 opened #1326 "Make Jedis 2.9 available in public maven repository."
### Expected behavior

I would like to get jedis 2.9 from public maven repository to get authentication feature.

### Actual behavior

Write here what happens instead ...

### Steps to reproduce:

Please create a reproducible case of your problem. Make sure
that case repeats consistently and it's not random
1.
2.
3.

### Redis / Jedis Configuration

#### Jedis version:

#### Redis version:

#### J

[2016-06-24 23:43] marcosnils commented on #1326
We do have some pending issues/prs before releasing 2.9. We'll release whenever it's finished.

[2016-06-24 23:43] #1326 closed

[2016-06-25 01:43] PunKeel commented on #790
+1 on this one, even if I know it's hard to implement properly ... :/

[2016-06-25 13:08] mp911de commented on #1325
@idans-ybrantdigital-com Maybe you want to take a look [here](https://github.com/mp911de/lettuce/blob/master/src/main/java/com/lambdaworks/redis/cluster/ClusterScanSupport.java) and port it to jedis? Would be a nice addition.

[2016-06-25 23:15] sheinbergon commented on #1325
@marcosnils  , I created a minimal implementation support only TAG-prefix based scanning , it can be found in the pull request mentioned  #1327  . I interfered as little as possible with the Jedis existing code and made this exetnsion blend as naturally as possible with the rest of your code.

I tested it and found it to be working as expected :)  Looking forward for your feedback/rejects

@mp911d

[2016-06-25 23:19] sheinbergon commented on #1325
BTW , I made all of the fixes on top of 2.8 as I believe this is considered a rather minor fix . If you'd like me to apply it on some other branch , let me know

[2016-06-26 00:02] biagionicp commented on #1284
With the BITFIELD command you can essentially create an array of n-byte integers, where n is a constant.  Is there a Jedis command in the works that would retrieve that array as an integer array/list?

[2016-06-27 01:13] HeartSaVioR commented on #1325
@sheinbergon Hi, all of patch should be against master since all changes must be reflected to master.
Having cluster-wise command is nice, especially if it gets rid of interface difference between Jedis and JedisCluster.
I'll have a look when I get some time. Thanks!

[2016-06-28 00:45] marcosnils commented on #1324
@terry19850829 makes sense because blpop blocks?. The only thing I can recommend now is to make your thread doing `blpop` timeout (http://redis.io/commands/BLPOP) so you can free your resources before shutting down the server.

[2016-06-28 01:28] terry19850829 commented on #1324
@marcosnils  I do has timeout setting.But it's not work when I use tomcat shutdown.sh to stop tomcat.It just block forever.

Here is some snippet code in jedis source code:

     public List<byte[]> blpop(byte[]... args) {
	checkIsInMulti();
	client.blpop(args);
	client.setTimeoutInfinite(); // infinite???
	try {
	    return client.getBinaryMultiBulkReply();
	} finally {
	    client.rollbackTimeou

[2016-06-28 01:35] marcosnils commented on #1324
Not really. Socket read timeout is being set to infinite because Redis will return a response after the specified timeout.

You can check this example to see how it works

[code]

Q: Are you closing your pool before shutting down tomcat?. That way you make sure that new requests can't make new blpop calls.

[2016-06-28 01:40] terry19850829 commented on #1324
@marcosnils I use spring-data-redis manage my jedispool,So I've not closed jedispool manually.My threads which use brpop() method is submitted to spring ThreadPoolTaskExecutor.And I set the pool use shutdownNow method when bean destroying.

Q: problem by spring-data-redis???

[2016-06-28 01:46] terry19850829 commented on #1324
@marcosnils Here is some snippet code with **JedisConnectionFactory implements InitializingBean, DisposableBean, RedisConnectionFactory**

     public void destroy() {
		if (usePool && pool != null) {
			try {
				pool.destroy();
			} catch (Exception ex) {
				log.warn("Cannot properly close Jedis pool", ex);
			}
			pool = null;
		}
	}

[2016-06-28 01:51] terry19850829 commented on #1324
@marcosnils  when I use Rpop() method insteadOf Brpop(),Tomcat shutdown.sh just work fine.

[2016-06-28 01:56] marcosnils commented on #1324
@terry19850829 makes sense that `rpop` works fine because it **doesn't** block` while `brpop` does. Can you show me how you're using brpop please?

[2016-06-28 02:29] terry19850829 commented on #1324
@marcosnils  here is my code structure:

I has a daemon thread which submit thread to threadpool to do real business work:

      class ReceiveMsgDBThread {
      ...
      ...
      protected void run() throws Exception {
		try {
			ThreadPoolTaskExecutor executor = AppCtxUtil.getExec("receivemsgdb");
			if (executor != null) {
				executor.execute(new ReceiveMsgToCallHistory(queueName));
			}

[2016-06-28 02:52] marcosnils commented on #1324
@terry19850829 can you verify that after shutdown has been initiated the ThreadPoolExecutor is not running any more tasks?. Because you're setting a timeout to the `blpop` command so after 1 second, the response should return and the thread should finish correctly.

I'm thinking that what might be happening is that while waiting 1 second in the `blpop` the ThreadPoolExecutor just runs a new thread

[2016-06-28 03:04] terry19850829 commented on #1324
@marcosnils  I think it's true.But when you use a theadPoolExecutor and when the shutdown method is initialted,there is always some threads running.The threadPoolExecutor can set **waitForTasksToCompleteOnShutdown=true** and wait threads to finish.But that still not work for this situation.

[2016-06-28 03:18] marcosnils commented on #1324
@terry19850829 try to check what I described in my last comment. Add some prints and make sure that the threadPoolExecutor is not running any more tasks after the shutdown has initiated

[2016-06-28 03:28] terry19850829 commented on #1324
@marcosnils OK.Thanks a lot.I'll try.

[2016-06-28 05:52] terry19850829 commented on #1324
@marcosnils  I have resolve this problem.My fault! The blpop() timeout unit is **second**,I just set it to 1000!!!! I have thought the timeunit is milliseconds.  Thanks a lot ,again.

[2016-06-28 05:52] #1324 closed

[2016-06-28 11:05] hao5ang commented on #333
Same problem with spring-data-redis.
My reaon is open RedisTemplate transaction support, but forget add @Transactional annocation on the util.

[2016-06-28 11:44] chengjiafeng opened #1328 "jedis 3.0.0-SNAPSHOT have a bug?"
I meet a problem where jedis gets data very slowly when server is running a period of time.
Is that because jedis version?

### Redis / Jedis Configuration
static {
    GenericObjectPoolConfig poolConfig = new GenericObjectPoolConfig();
    poolConfig.setMaxWaitMillis(3000);
    poolConfig.setMinIdle(5);
    poolConfig.setMaxIdle(200);
    poolConfig.setMaxTotal(1000);

    Integer timeout = 2000;

[2016-06-28 14:45] marcosnils commented on #1328
There's no Jedis 3.0.1 version. We can't do  a lot with this, please provide more info like thread dumps or code to reproduce the error you're seeing

[2016-06-28 14:45] #1328 closed

[2016-06-29 08:01] chengjiafeng commented on #1328
I am very sorry . Jedis version is not 3.0.1 but 3.0.0-SNAPSHOT. I just  do a little package about jedis.auth() .
![image](https://cloud.githubusercontent.com/assets/6769754/16444772/5244c598-3e12-11e6-899e-c6af283772b1.png)

The above is some information about  jedis geting data  slowly

[2016-06-29 08:16] chengjiafeng commented on #1328
![image](https://cloud.githubusercontent.com/assets/6769754/16444883/db668f8c-3e12-11e6-90ad-ed4eb43680d0.png)

![image](https://cloud.githubusercontent.com/assets/6769754/16444915/01c2f5f8-3e13-11e6-96b6-824823036336.png)

![image](https://cloud.githubusercontent.com/assets/6769754/16444945/1efa3a32-3e13-11e6-871d-97a792fba01c.png)

![image](https://cloud.githubusercontent.com/assets/6769754/1644

[2016-06-29 14:02] HeartSaVioR commented on #1328
You just removed auth which is not a solution. If you believe there're connection leak, attaching jmx and see pool metric helps us.

[2016-06-29 17:11] marcosnils commented on #1328
Or you're not returning resources to the pool correctly.

[2016-06-30 00:00] marcosnils commented on #1284
@biagionicp https://github.com/xetorthio/jedis/pull/1297

[2016-06-30 03:13] chengjiafeng commented on #1328
JedisCluster.set ----->
![image](https://cloud.githubusercontent.com/assets/6769754/16475701/38004c9c-3eb3-11e6-874f-ede841614d12.png)

jedisCluster will release connection, so I do not need manager connection??

[2016-06-30 09:20] werdex opened #1329 "JedisSentinelPool: 'ERR max number of clients reached' kills MasterListener"
The issue is similar to https://github.com/xetorthio/jedis/issues/1036
However it can happen in JedisSentinelPool.MasterListener.

Exception in thread "MasterListener-redismaster-[mysecrethost.com:26379]" redis.clients.jedis.exceptions.JedisDataException: ERR max number of clients reached
    at redis.clients.jedis.Protocol.processError(Protocol.java:117)
    at redis.clients.jedis.Protocol.proces

[2016-07-01 02:48] andyzty opened #1330 "JedisConnectionException: Could not get a resource from the pool"
I use spring-data-redis but it have a problem

`<dependency>
			<groupId>redis.clients</groupId>
			<artifactId>jedis</artifactId>
			<version>2.7.3</version>
		</dependency>
		<dependency>
			<groupId>org.springframework.data</groupId>
			<artifactId>spring-data-redis</artifactId>
			<version>1.6.4.RELEASE</version>
		</dependency>`

`Cannot get Jedis connection; nested exception is redis.clients

[2016-07-01 03:18] marcosnils commented on #1330
@andyzty how are you using the JedisPool?

[2016-07-01 04:02] AaronFeng2014 commented on #1029
why? and i also have this problem, and I dont know why

[2016-07-01 04:04] marcosnils commented on #1029
@AaronFeng2014 do you have an example to reproduce your issue?

[2016-07-01 04:05] marcosnils commented on #1029
@AaronFeng2014 this issue is way too old, please open a new one specifying as much info as possible to reproduce the issue.

[2016-07-01 04:05] #1029 closed

[2016-07-01 04:06] AaronFeng2014 commented on #1029
@marcosnils maybe, ihave too many data in redis?

[2016-07-01 09:40] soulsoul commented on #1165
i'm using redis 3.2.1 Cluster on server-side .now for security, we must set password for all
redis's  client connections. (set masterauth and requirepass in the cluster config files).  as we know,
the redis official cluster created by ruby script named "ruby-trib.rb" . but, it does not work well so
we should modify the rubygem file to add the cluster password. then the script can create cluster
su

[2016-07-01 10:53] chinmaym7430 commented on #918
I am getting this exception when I am trying to scan a large number of keys in Redis. The problem starts when the number of keys exceeds 10k. I am using Spring Data Redis 1.7.2 and Jedis 2.8.1. I have set use-Pool to be true. Please, can someone help me solve this problem?

[2016-07-01 11:16] marcosnils commented on #918
@mp911de is this a spring-data-redis issue?

[2016-07-01 11:17] marcosnils commented on #1165
@soulsoul jedis 2.9 and master (3.0) support password authentication in cluster. Releases are not ready yet but you can easily build jar from sources.

[2016-07-01 11:44] mp911de commented on #918
Not quite sure. Spring Data Redis uses pooling (not necessarily for older versions) to server a dedicated connection for each thread. I'd need a reproducible test case. some self-contained application class should do the job, see https://gist.github.com/mp911de/73d4b95b04a66eae084395beb25bd499 for a template.

[2016-07-01 11:55] Pavnii commented on #932
It did not work for me too. Any other solutions anyone could find?

[2016-07-01 11:55] marcosnils commented on #918
@chinmaym7430 can you provide reproducible steps to get the error?
i.e:

1 - Start redis with X conf and Load redis with 20k keys
2 - Execute this code configured this way with spring-data-redis
3 - See it blow.

Otherwise it's a bit difficult to guess what might be happening.

[2016-07-01 11:57] marcosnils commented on #932
@Pavnii do you have a reproducible test case?

[2016-07-02 13:38] smadasu opened #1332 "Fix resource leaks and warnings in Junit tests"
### Expected behavior

The Redis connections opened in unit tests should be closed properly. There are also lot of warnings in code which can be cleaned up easily
### Actual behavior

The resources are not closed properly and may cause problems in running unit tests. Unnecessary suppresswarnings etc can be cleaned up
### Steps to reproduce:

This is code enhancement
### Redis / Jedis Configuration

[2016-07-02 13:49] smadasu commented on #1332
@marcosnils , I cannot use try with resources for java7. Why is Jedis still using 1.6 version of java?

[2016-07-02 14:02] HeartSaVioR commented on #1332
We discussed about version but seems like we forgot to change.
@marcosnils @xetorthio I guess we already discussed this - using at least JDK 7. Right?

[2016-07-02 14:33] smadasu commented on #1332
Here is part of pom.xml

		<plugins>
			<plugin>
				<groupId>org.apache.maven.plugins</groupId>
				<artifactId>maven-compiler-plugin</artifactId>
				<version>3.1</version>
				<configuration>
					<source>**1.6**</source>
					<target>**1.6**</target>
				</configuration>
			</plugin>

This uses 1.6

[2016-07-02 14:36] smadasu commented on #1332
@marcosnils @HeartSaVioR Do you think it's OK if I change as part of this pull request?

[2016-07-02 14:54] HeartSaVioR commented on #1332
Sorry I think it should be handled as another commit/issue/pull request for history.

[2016-07-02 15:03] smadasu commented on #1332
OK. I can create another PR for upgrading to 1.7. How likely is that PR merged into master? Because only   then I can fix this issue.

[2016-07-02 15:06] smadasu opened #1333 "Upgrade the JDK versin to 1.7"
### Expected behavior

Jedis should run using JDK1.7

### Actual behavior

It still uses 1.6 accroding to pom.xml below
``
                 <plugins>
			<plugin>
				<groupId>org.apache.maven.plugins</groupId>
				<artifactId>maven-compiler-plugin</artifactId>
				<version>3.1</version>
				<configuration>
					<source>1.6</source>
					<target>1.6</target>
				</configuration>
			</plugin>
``
###

[2016-07-03 08:55] deepakpol commented on #918
Update on the issue - I did find what seemed to be causing the issue in my case - The framework that I was using to manage pool by default used [ForkJoinPool](https://docs.oracle.com/javase/8/docs/api/java/util/concurrent/ForkJoinPool.html) which employs work-stealing. I changed it to use fixed thread pool which resolved the issue.

@srdoshi @marcosnils @chinmaym7430 apologies for delays in respon

[2016-07-03 16:17] Pavnii commented on #932
@marcosnils Am using single redisTemplate to save mulitple domain objects,is this giving the exception?
public class UserRepository{

And config file:

[2016-07-04 00:13] marcosnils commented on #918
@deepakpol thx for coming back to upload the issue.

[2016-07-04 00:15] marcosnils commented on #1333
Fixed by #1334

[2016-07-04 00:15] #1333 closed

[2016-07-04 00:16] marcosnils commented on #1332
fixed by #1334 for master branch.

[2016-07-04 00:18] HeartSaVioR commented on #1332
Using JDK7 is just a requirement for him to use try-with-finally, and he doesn't submit pull request regarding this. @smadasu Is this correct?

[2016-07-04 00:19] smadasu commented on #1332
That is correct

[2016-07-04 00:19] HeartSaVioR commented on #1332
OK. I reopen this.

[2016-07-04 00:19] smadasu commented on #1332
Thanks

[2016-07-04 01:08] marcosnils commented on #1332
Oh, sorry I thought you meant change the jdk support only in master. Well, Oracle added an extended support for the jdk 6 until the end of 2018 so I wouldn't recommend to drop support in before that time.
http://www.oracle.com/technetwork/java/eol-135779.html

[2016-07-04 02:37] HeartSaVioR commented on #1332
Well I think we can't change JDK version even in future if we're concerning Oracle paid support. :)
For public update, even public update for **JDK 7** was end at last year (April 2015).

[2016-07-04 20:56] sheinbergon commented on #1246
@marcosnils  what's the status of this feature request ? Has this been implemented yet ?

[2016-07-04 20:59] marcosnils commented on #1246
@sheinbergon there's no open PR, so no. @CodingFabian ping?

[2016-07-04 21:00] CodingFabian commented on #1246
Nope, havent done anything so far.

[2016-07-04 21:00] sheinbergon commented on #1329
I will try and inspect this

@werdex can you please elaborate on the exact steps to reproduce ?

[2016-07-04 21:03] sheinbergon commented on #1246
@marcosnils feel free to assign this to me . I will work on it in the upcoming weeks :+1:

[2016-07-04 21:04] marcosnils commented on #1246
@sheinbergon no need to assign, maybe @CodingFabian wanted/needed to implement it?. @CodingFabian ?

[2016-07-05 02:20] 51opensrc opened #1337 "JedisClusterInfoCache why not use ConcurrentHashMap instead of lock"
### Expected behavior

Why not use ConcurrentHashMap instead of Lock. When concurrency is high, performance is down quickly.

### Actual behavior

Why not use ConcurrentHashMap instead of Lock. When concurrency is high, performance is down quickly.

### Steps to reproduce:

Please create a reproducible case of your problem. Make sure
that case repeats consistently and it's not random
1.  no
2.  no

[2016-07-05 02:34] marcosnils commented on #1337
Because ConcurrentHashMap only locks for writing whether JedisClusterInfoCache needs to lock for both reading and writing depending on the operation.

[2016-07-05 02:34] HeartSaVioR commented on #1337
We update bunch of elements on map rather than updating one. In that case thread-safe is not achieved only use of ConcurrentHashMap.
Please raise your opinion with valid analysis. If you have fix for that it would be great.
Closing this.

[2016-07-05 02:34] #1337 closed

[2016-07-05 09:21] WENPIN1 commented on #1166
How will we disable the 'jedis.ping()' in JedisSlotBasedConnectionHandler.getConnection()?

Most of connection pools tend to have an option to set 'seconds to trust a healthy connection' in order to eliminate the connection test during ''seconds to trust" ...

[2016-07-05 09:42] werdex commented on #1329
Hi,
You can try to reproduce using the following simple scenario
1) start sentinel node locally
2) create 5 pools using this sentinel node
3) stop the sentinel
4) MasterListener will try to reconnect
5) set maxclient=3 in the sentinel config, start sentinel
6) once MasterListener reconnects it will get 'max client' error and thread exit

[2016-07-05 09:49] sheinbergon commented on #1329
@werdex  Just to be sure I got it right , by 5 pools you mean 5 instances of JedisSentinelPool connecting to the same master definition , right ?

[2016-07-05 09:52] werdex commented on #1329
Yes, 5 instances of JedisSentinelPool which connects to the same sentinel instance.Each pool will create its own MasterListener to this node.

[2016-07-06 04:42] chinmaym7430 commented on #918
Sorry for the delayed response. Here are the steps to reproduce the error:

1. Set up the spring configuration as denoted below:
`	<bean id="jedisConnFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory"
			p:hostName="" p:port="6379" p:usePool="true" />

	<bean
    id="stringRedisSerializer"
    class="org.springframework.data.redis.serializer.StringRedisSerializ

[2016-07-06 05:21] chinmaym7430 opened #1338 "Hscan in Redis with 1,000,000 records is taking longer than usual"
I am trying to scan a key space having about a million keys by using pattern scan. I am using Jedis 2.8.1 and spring-data-redis 1.7.2 . The amount of time it takes to scan the entire key set thousand times is about 5 minutes. The same thing takes about 10s when done on MySQL. I think I might be doing something wrong since Redis is supposed to be faster than SQL-based databases.

Here are the steps

[2016-07-06 05:53] mp911de commented on #1338
How does performance change if you adjust the batch size? You're using a size of `100` that results in 10.000 network calls.

[2016-07-06 06:31] chinmaym7430 commented on #1338
@mp911de : Thanks for the suggestion. I tried changing the COUNT option.
Here are the results:

- COUNT(100) : Time taken is 5m 15s

- COUNT(10000): Time taken is 4m 17s

- COUNT(50): Time taken is 7m 1s.

Still, the performance is not good. What should I do next?

[2016-07-06 11:05] sheinbergon commented on #1338
@chinmaym7430  Just to make sure and without delving into the details , you are aware that SCAN is not efficient as  SQL RDBMS index scan by design , right ?

Match patterns are applied against each scanned result output after they've been emitted . This means that first the database emits everything in its current iteration and then applies the match pattern  on top of it

Do all of iterations of

[2016-07-06 11:45] chinmaym7430 commented on #1338
@sheinbergon After debugging the code, I found out the scan itself is very fast. The actual time is being taken in the part where I iterate through the Cursor and store the results.
[code]
Simply running the scan option didn't take any time. The methods `cursorMap.hasNext()` and `cursorMap.next.getKey()` are time consuming.
Can you suggest a faster method to retrieve the keys from the Cursor that

[2016-07-06 11:50] sheinbergon commented on #1338
@chinmaym7430 This has to do with system design :) can you shed some more light one what is you are trying to achieve in the big picture

[2016-07-06 11:53] mp911de commented on #1338
The very first call to `Cursor.hasNext` invokes the `SCAN` command. Calling `.scan(…)` just creates a cursor. Spring Data Redis performs on each `.next()` call a conversion from `byte[]` to `String`.

I vote also for reproducing that case with `redis-cli` and then pure Jedis usage to narrow down the source where time is spent.

[2016-07-06 12:07] chinmaym7430 commented on #1338
@sheinbergon Ok, I'll try to explain the big picture in a simple way.
I have a HashMap 'Map1'. Each row in the map has a key-value pair. The key is composed of four strings and the value is an object containing a number of attributes(strings).
The key is actually composed of attributes through which a user can search the database. When a user provides the search criteria, I concat them and this co

[2016-07-06 12:09] chinmaym7430 commented on #1338
@mp911de Thanks for the update. So I am back to square one :(

[2016-07-06 12:12] sheinbergon commented on #1338
@mp911de  yes that sounds right . sorry for missing out on that , my experience with spring-data-redis is very minimal

[2016-07-06 12:14] sheinbergon commented on #1338
@chinmaym7430  you can do a minimal experiment with redis-cli and loop via bash scripts as suggested earlier. If you lack the knowledge , I can help you with that

[2016-07-06 12:17] chinmaym7430 commented on #1338
@sheinbergon Yeah sure. It would be great if you could help me.

[2016-07-06 13:31] sheinbergon commented on #1338
@chinmaym7430  will take me a day or two , but I'll get back to you

[2016-07-06 15:47] marcosnils commented on #918
@mp911de I'm not familiarized with spring-data-redis, would you mind checking if this happens to you too?

[2016-07-06 16:42] idans-ybrantdigital-com commented on #1325
Done by @sheinbergon  , merged by @HeartSaVioR  , will be released in 2.9

Closing

[2016-07-06 16:42] #1325 closed

[2016-07-06 21:28] sheinbergon commented on #1338
@chinmaym7430  There you go

Bash code to generate a hash with a million entries ( takes just under a minute to complete , thanks to bash streaming capabilites :

[code]

Bash code to scan entire hash for a 3 letter suffix pattern ( you used suffix pattern in your description :
[code]

COUNT=100 : 19  seconds , 3729 iterations
COUNT=1000 : 3  seconds , 375 iterations
COUNT=10000 : 1  seconds , 38

[2016-07-06 21:35] sheinbergon commented on #1338
@chinmaym7430 What is the expected match count ? meaning - how many entries  are you expecting to match from a hashset of 1M entries ?

Also , please run the when both the redis and application server reside on the same machine

[2016-07-06 22:49] sheinbergon commented on #1329
@werdex  Created new PR , it's up to maintainers now

[2016-07-06 23:13] sheinbergon opened #1340 "Feature proposal : Integrate a more advanced logging framework"
Though I understand the considerations of keeping Jedis lean & mean and the overall aim of not binding to specific logging frameworks in 3rd party libraries in the likes of Jedis, I find the JUL interface to be rather crude / obsolete .

Plus , it pales in comparison to other logging solutions performance wise :

http://blog.takipi.com/the-logging-olympics-a-race-between-todays-top-5-logging-frame

[2016-07-07 09:08] mp911de commented on #918
That's a bug inside of Spring Data Redis related to connection synchronization. I created [DATAREDIS-531](https://jira.spring.io/browse/DATAREDIS-531) to track the issue. I think this ticket can be closed.

[2016-07-07 09:13] sheinbergon commented on #1330
@andyzty  Did you mange to resolve it ?

[2016-07-07 09:13] varelasavela opened #1341 "subscribe command doesn't work as expected"
### Expected behavior
1. When I am trying to do this :

[code]

The implementation of jedisCluster is to pick random node and subscribe only to that node. So if  the key is located on that node, it will work, but if it is located on other node , it will not work.

I tried to do the following:

[code]

I got this error after few seconds of working well:
redis.clients.jedis.exceptions.JedisException

[2016-07-07 09:20] sheinbergon commented on #1322
@janssk1

Are you implementing your own pool or using Jedis pre-built ones ?
By connection timeout you mean some form of jedis exception  or socket timeout ?
How are you closing the connection ? How are you re-instantiating a new one ?
Can you provide means of reproducing ?

I myself have  been using Jedis object pools in a highly concurrent environment ( doznes of servers , each sending 1000 of r

[2016-07-07 10:05] chinmaym7430 commented on #1338
I am expecting that
On Jul 7, 2016 3:05 AM, "Idan Sheinberg" <notifications@github.com> wrote:

[2016-07-07 10:07] chinmaym7430 commented on #1338
On Jul 7, 2016 3:35 PM, "Chinmay Mukhopadhyay" <chinmay7430@gmail.com>
wrote:

match count ? meaning - how many entries are you expecting to match from a
hashset of 1M entries ?

on the same machine

<https://github.com/xetorthio/jedis/issues/1338#issuecomment-230914435>, or
mute the thread
<https://github.com/notifications/unsubscribe/ARenrfxAvRuBWnmAbHYAxjXq7byu8Okfks5qTB-mgaJpZM4JFwu4>
.

[2016-07-07 10:11] chinmaym7430 commented on #1338
Please ignore the previous two comments. I will get back to in a couple of days.

[2016-07-07 12:09] AnatolyTikhonov commented on #1341
I encountered the same problem also for psubscribe.
Any suggestions how to solve it?

[2016-07-07 13:39] NimrodTicotzner commented on #1341
Critical issue for me as well

[2016-07-07 16:45] marcosnils commented on #1341
@varelasavela according to redis cluster spec clients can subscribe to any node and RedisCluster should forward notifications across the cluster

http://redis.io/topics/cluster-spec#publishsubscribe.

have you tried if this works outside Jedis?

[2016-07-07 17:05] marcosnils commented on #1330
Closed due to inactivity.

[2016-07-07 17:05] marcosnils commented on #918
It's already closed :D. Thx @mp911de

[2016-07-08 01:23] varelasavela commented on #1341
@marcosnils yes, I tried. Pub/sub works as described iin the spec in redis-cli and Jedis as well, but psubscribe works different. In redis-cli you should subscribe in each node to the pattern in order to catch the event. When I tried to do the same in Jedis, I got the event but after few seconds got exception which I copied to the body of my question

[2016-07-08 02:42] xetorthio commented on #1340
Never discussed before. I wonder what other big java projects are using...

[2016-07-08 02:43] marcosnils commented on #1340
It has been discussed indeed. https://github.com/xetorthio/jedis/issues/1219

[2016-07-08 02:44] HeartSaVioR commented on #1340
Yeah discussed before. Note that we're only using log to JedisSentinelPool.

[2016-07-08 02:49] xetorthio commented on #1341
It seems like `psubscribe` should work as `subscribe` in a cluster. I guess we should ask @antirez

[2016-07-08 02:57] marcosnils commented on #1341
@xetorthio @varelasavela says he has problems with `subscribe` as well.

[2016-07-08 03:01] marcosnils commented on #1341
@varelasavela this works for me

[code]

Is there a way to consistently the error you're getting?

[2016-07-08 03:27] marcosnils commented on #1341
@varelasavela BTW psubscribe also works.

[2016-07-08 10:40] varelasavela commented on #1341
@marcosnils
yes, do the following:

[code]

now, go to redis-cli
find some key to being redirect to port 30002 or other master
lets assume it "key1", run setex key1 5 5.
After 5 sec I catch the event only if key1 located on 30001.

[2016-07-08 12:04] xetorthio opened #1344 "Support IPv6"
@mp911de said:

Redis reports its host-and-port strings with `1.2.3.4:6379`
and similar for IPv6 `affe:affe:affe::1234:6379` which leaves some ambiguity to the naive reader of the string
affects `CLUSTER NODES`, `ASK` and `MOVED` redirections. Just wanted letting you know ppl starting to use Redis with IPv6-bound addresses, maybe you want to check your code for possible issues

[2016-07-08 12:18] durgeshsuthar1992 opened #1345 "Passing database in JedisSentinelPool Constructor"
Passing database index as 1 in JedisSentinelPool constructor is not working.
Then I checked the code and saw  `this.database = 0;` in the constructor.

I don't understand why there is a parameter in the constructor when it will always be set to 0.

Can anyone please suggest a way we can have the pool with a different database?

I am aware of selecting database after getting resource but then we ne

[2016-07-08 14:00] xetorthio opened #1346 "Improve clusterSlots response"
### Expected behavior

Maybe `List<SlotAssignment>` where `SlotAssignment` is:
[code]

And `Node` is:
[code]
### Actual behavior

[code]

[2016-07-08 14:02] xetorthio opened #1347 "Do cluster slot renewal in a background thread"
Instead of doing it as soon as a `MOVED` was received from redis.

[2016-07-08 16:00] sheinbergon commented on #1340
@HeartSaVioR  @marcosnils  I've gone over #1219 thoroughly , the arguments there indeed make sense ( and not surprising at all ) .

If I were to implement an internal logger factory as @mp911de mentioned (and portrayed here  https://github.com/netty/netty/blob/4.1/common/src/main/java/io/netty/util/internal/logging/InternalLoggerFactory.java#L51 )   but make it a bit smartter ( like support placeh

[2016-07-09 11:16] deepakpol commented on #1338
@chinmaym7430 the time you mention is substantial, have you ran some checks through `redis-cli` to ensure your deployment/infrastructure, redis config is not causing the latency? A good source of factors that affect and tools to verify - http://redis.io/topics/latency

[2016-07-09 11:45] marcosnils commented on #1346
Dupe of https://github.com/xetorthio/jedis/issues/988. Let's continue on that thread.

[2016-07-09 11:45] #1346 closed

[2016-07-09 11:50] marcosnils commented on #1340
@sheinbergon @HeartSaVioR I do agree that as Jedis / Redis is becoming more complex (with cluster and modules) it'd be nice to add logging in order to print some debug information when needed. @sheinbergon if dependency graph is kept small and adding logging doesn't require too much effort, I believe that we can include it and use it when needed.

[2016-07-09 12:07] xetorthio commented on #1346
Not sure if it is the same. The other issue is about nodes and this one
about slots.

On Sat, Jul 9, 2016, 08:45 Marcos Nils <notifications@github.com> wrote:

[2016-07-09 12:22] marcosnils commented on #1346
The conversion in the thread also suggests adding slots info. I've just updated the issue title so it's more representative

[2016-07-09 14:17] sheinbergon commented on #1340
@marcosnils  that's great . Let's leave this issue open , I'll work on it as soon as I clear some other stuff from the table

[2016-07-09 16:04] sheinbergon commented on #1338
@deepakpol  I've provide @chinmaym7430  with the means of testing hscan performance locally via redis-cli , waiting for his response,findings

[2016-07-11 06:15] chinmaym7430 commented on #1338
Sorry for the delayed response. As you guys suggested, I tested the performance locally via redis-cli. **The results:**
To scan the 1 million records, redis takes 0.96s when the count is set to 1000000.
Now as per my requirement, I have to scan the db 273 times and hence the total time amounts to around 4 and a half minutes.
@sheinbergon You are absolutely correct. For a complete scan, it doesn't

[2016-07-11 06:42] mp911de commented on #1338
Reducing network roundtrips is in general a good idea. Have you tried to adjust your batch size to a value you end up with 28 instead of 273 times?

[2016-07-11 06:51] sheinbergon commented on #1338
@chinmaym7430  please refer to https://github.com/xetorthio/jedis/issues/1338#issuecomment-230912584 ( I've put a lot of effort into it ) . doing more than 3500 iterations took me 19 seconds ( for COUNT=100). it makes NO SENSE that for you it takes 4 and a half minutes to cover the same hash.

By 'scan it iteratively '  you mean run 300 different full scan cycles or are you forced to use a small v

[2016-07-11 07:04] chinmaym7430 commented on #1338
I have to perform  300 full scans. I don't have to use a small count value. In you comment you mentioned that you did one complete scan of the hash and it took you one second. That is exactly what i did. One entire scan takes just one second as you mentioned.  But I have to do the full scan cycle 300 times.  That is what the requirement is.

[2016-07-11 07:16] deepakpol commented on #1338
@chinmaym7430 so do you repeat the scan 273 times (for some application requirement)? couldn't get the context on why it has to be repeated and how can the number 273 be fixed?

[2016-07-11 07:24] sheinbergon commented on #1338
@chinmaym7430  im with @deepakpol - I don't understand it either. Anyways -  running  a complete scan cycle ( exhusting a new cursor )  300 times should be compared to running 300 Index scans in an RDBMs  , yet you compared it to a single query back in the original issue. Maybe there's something we are missing here....

[2016-07-11 07:36] chinmaym7430 commented on #1338
@deepakpol The scan has to be repeated based on an application requirement. The number 273 isn't fixed. It;s just an example. The data setup I'm testing with now has 273 patterns. So I have to repeat the scan 273 times. This number can vary based on the application requirement.
Something like this:

[code]
In my current example, the number of patterns in 273. And the hscan() query has to be called

[2016-07-11 09:19] deepakpol commented on #1338
@chinmaym7430 @sheinbergon assuming when the query performance was compared with SQL it was also for executing match for all patterns...otherwise it indeed seems misplaced
I see a few possible options to go next step in terms of performance based on your current approach -
1. Try and see if 273 patterns can be combined to form one or fewer patterns. This would reduce the over the network calls and

[2016-07-11 11:28] marcosnils commented on #1347
Hmm I'm wondering if this makes sense.

The only scenario where I believe this could be useful is if you have little traffic to the cache or a specific node and the background renewal happens before the user gets a MOVED response. I still believe this scenario is pretty rare and I don't really see the benefit of doing this.

IMHO slot migration (because of failures or new node additions) shouldn't

[2016-07-11 11:47] marcosnils commented on #1344
Let's continue discussion here: https://github.com/xetorthio/jedis/pull/1342

[2016-07-11 11:47] #1344 closed

[2016-07-11 12:00] sheinbergon commented on #1338
NoSQL K/V Engines are not the best use-case/data-model-choice when it comes to range/pattern scanning. Even solutions like Cassandra/Couchbase/MongoDB that support secondary indices don't perform as well , sometimes require a very specific arrangement of data and/or require multiple queries run against the datasource.

Also note that combining fuzzy queries ( globing/wild card ) with multiple valu

[2016-07-11 15:04] marcosnils commented on #1345
Which version are you using?

https://github.com/xetorthio/jedis/blob/master/src/main/java/redis/clients/jedis/JedisSentinelPool.java#L91

[2016-07-11 18:29] xetorthio commented on #1347
I think you got it wrong. It doesn't need to happen in background before a
MOVED to make sense. The whole idea is not to wait for the cache to catch
up when there is a MOVED, there is no need. We already know where to go,
why penalizing the command?
The idea is to continue and serve the command, and just update the cache in
the background. This also avoid unnecessary locks on the cache.
So it not

[2016-07-11 18:32] marcosnils commented on #1347
Ok, I got it wrong then. This is something similar to what I thought about :smile:

[2016-07-11 23:27] HeartSaVioR commented on #1347
Please correct me if I'm wrong, but then slot will be shared variable between user threads and background thread. If we don't set a lock, while background thread reconstructs slots all operations can be probably failing. We should make operations waiting anyway while slot is reconstructing.

[2016-07-11 23:32] marcosnils commented on #1347
@HeartSaVioR how so?. Threads that don't see the change will still get the `MOVED` response while new threads will go to the correct node. The background thread can only process one slot update at a time.

[2016-07-11 23:39] HeartSaVioR commented on #1347
We are "moving" the slot information, which means we "delete" the slot, and "add" the slot. It can't be atomic, and it means there's race condition between main thread and background thread.

But I like the idea @xetorthio said. Main thread doesn't need to wait for cache to be updated. If we handle the case what I'm saying properly, I'm OK to change.

[2016-07-11 23:41] HeartSaVioR commented on #1347
Yeah, I think I did a mistake again. Slots are stored to a concurrent hashmap. I'm OK with this. Great idea.

[2016-07-11 23:41] marcosnils commented on #1347
I was about to say this :D

[2016-07-11 23:52] xetorthio commented on #1347
Also current implementation cleans all slots before filling them. We could avoid doing that. Just update the slots without doing the cleanup. This way we'll be making a better use of the `ConcurrentHashMap`

[2016-07-11 23:56] xetorthio commented on #1347
We could use a [`SingleThreadExecutor`](https://docs.oracle.com/javase/7/docs/api/java/util/concurrent/Executors.html#newSingleThreadExecutor(java.util.concurrent.ThreadFactory)) to make sure there in a single background thread and if it crashes for whatever reason, it will be re-launched.
The only thing missing is a signaling mechanism to tell the thread to "wake up" and renew slots when a `MOVED

[2016-07-12 07:17] chinmaym7430 commented on #1338
Hey everyone, thanks for all the help. I finally changed the implementation logic, I realized that I could somehow reduce the number of complete scans. So after some thinking, my code now relies on just getting the values based on particular key search. Searching with patterns in no longer necessary.
And as far as complete scan is concerned, the performance is much better than RDBMs(as expected).

[2016-07-12 13:51] #1338 closed

[2016-07-13 04:11] HeartSaVioR commented on #1347
AFAIK, we can just create a new task which contains slot information from MOVED response to that ExecutorService whenever we found MOVED, and background thread runs every new task.

[2016-07-13 12:16] xetorthio commented on #1347
Ok. That means we never ask for slots again, right?

On Wed, Jul 13, 2016, 01:11 Jungtaek Lim <notifications@github.com> wrote:

[2016-07-13 12:26] marcosnils commented on #1347
@HeartSaVioR but won't tasks queue if we do this?. The idea is that there can one be one task in the queue, it wouldn't make sense to queue slot renewal tasks.

[2016-07-13 12:30] xetorthio commented on #1347
I'm not sure I understood you comment @marcosnils

[2016-07-13 12:31] marcosnils commented on #1347
@HeartSaVioR suggest adding a new tasks to the ExecutorService each time a MOVED response is returned. The SingleThreadExecutor will execute one task at a time but every time you add a task the task will be queued for later execution. What I'm saying is that there shouldn't be any queuing in this process, only one task can be processed at a time and that's it.

[2016-07-13 12:41] xetorthio commented on #1347
But how your suggestion works? Imagine you get a MOVED at the same time from 2 different jedis instances. Both need to do something. What do they do? With what @HeartSaVioR suggest, both queue them in the executor. And eventually the background thread will refresh the cache.

What will your suggestion do?

[2016-07-13 14:23] HeartSaVioR commented on #1347
@xetorthio @marcosnils
I'd like to clarify once more. There're two different strategy of updating slot information when we get MOVED.

1. update one slot which is based on MOVED response
Then I'd like to see how much time a thread is waiting for concurrent map to write. If it's fairly tiny we even don't need to make slot update fire and forget. Just update it.

2. update whole slots (say updating

[2016-07-13 19:05] xetorthio commented on #1347
I think that updating only one slot has it's benefits, but it could be also
bad. This depends on the scenario and what exactly happens is the cluster.
I guess that a MOVED shouldn't be something that happens very frequently,
so updating all slots when it happens sounds pretty good.

Now this doesn't need to be too strict. Because if cache is not up to date,
everything still works, only that we'll

[2016-07-13 20:30] mp911de commented on #1347
IMHO updating slot-wise on each `MOVED` redirection isn't necessarily efficient. lettuce follows the concept of having multiple strategies

1. Regular refresh(polling in time intervals)
2. Adaptive refresh

The adaptive topology refresh listens to persistent disconnects, `MOVED` and `ASK` redirections (configurable). If the cluster connection runs into a `-MOVED` error, then this is the signal to

[2016-07-14 12:29] xetorthio commented on #1347
Thanks for your input @mp911de
Checking the ruby and nodejs client, they both do what we where thinking at the beginning of this thread. They handle the `MOVED` and serve the command, and then trigger the refresh. There is no regular refresh.
Now one thing that I like about ioredis, is that it does 2 things when it gets a `MOVED`. It changes the slot and then triggers the refresh (async of course)

[2016-07-15 02:24] soulsoul commented on #1165
@marcosnils   thank you！

[2016-07-16 20:39] sheinbergon commented on #1345
@durgeshsuthar1992  I've successfully used jedis sentinel with different database indices and it works. Could you share your code and version ?

[2016-07-16 21:16] idans-ybrantdigital-com commented on #1329
@werdex  Though the fix is simple , I want to work on a proper test case and integrate your steps on how to reproduce the issue into it. In progress

[2016-07-16 21:19] sheinbergon commented on #1329
@werdex Though the fix is simple , I want to work on a proper test case and integrate your steps on how to reproduce the issue into it. In progress

[2016-07-16 21:22] sheinbergon commented on #1212
@rajasuba how did this end up. Was this issue resolved ?

[2016-07-16 21:27] sheinbergon commented on #1150
@jamesinc @ananth-3 @nitinbhatia-dev how was this issue handled ? Do you still encounter this issue. I've used jedis under mass scale  ( thousands of ops/second per  server , several  servers ) on a production environment and have encountered no such issues . I can help with general design debugging to help better understand the scenario which causes this issue.

[2016-07-16 21:39] sheinbergon commented on #1246
@CodingFabian  I'm guessing you'd like to support LATENCY LATEST , LATENCY HISTORY and LATENCY RESET , right ? Is there anything I missed ?

@CodingFabian

[2016-07-16 21:48] marcosnils commented on #1212
I'll close due to inactivity

[2016-07-16 21:48] #1212 closed

[2016-07-17 09:26] werdex commented on #1329
Thanks.

[2016-07-18 10:59] marcosnils commented on #1341
@varelasavela  I don't understand why `setex` should trigger a `onMessage` ? The only operation that you'll get is a `publish <channel> <message>` y any of the cluster nodes.

Can you please describe the `exactly` steps to reproduce the issue?. Even though I used your snippet I still get notifications when I publish keys in any node.

[2016-07-18 11:25] durgeshsuthar1992 commented on #1345
I am using version 2.2.0.
I changed it to 2.8.1 and it is working fine now.

Thanks

[2016-07-18 11:25] #1345 closed

[2016-07-18 11:28] varelasavela commented on #1341
@marcosnils I will explain.
We are talking about notify-keyspace-events feature of Redis. When the key is expired, Redis is sending event to channel "__keyevent@0__:expired". But as I understand, this event is published only in specific node where the key is located.
To reproduce it do exactly that I described in previous comment. You don't need to publish event, just run setex on specific key and

[2016-07-18 11:55] marcosnils commented on #1341
@varelasavela got it. I missed the part where you were talking about keyspace notifications.

This has been reported as a `redis` issue as well. I'm waiting for @antirez or someone from redis to reply here: https://github.com/antirez/redis/issues/3022 so we know how this should be addressed

[2016-07-18 12:45] srirama-rayaprolu commented on #1259
Am checking the connection status (open/closed) and then firing the pipe line command then also throwing the Timeout exception.
How can I identify the connection is valid for "Pipelined operations"? any dummy operations for pipeline?

[2016-07-18 13:33] sheinbergon commented on #1329
@marcosnils  OK , I see I can write a test that changes the max clients  in one of the sentinels to 1 via CONFIG SET , create another pool , notice the error , then set the client again , watch the issue resolve itself and change back the maxclients to the original value

I'll get  on it in the next couple of days

[2016-07-18 13:34] sheinbergon commented on #1246
@CodingFabian @marcosnils  ?

[2016-07-18 13:38] marcosnils commented on #1246
@sheinbergon go ahead and implement it @CodingFabian timed out.

[2016-07-18 14:07] CodingFabian commented on #1246
I actually had a weekend.
yes. LATENCY LATEST and LATENCY HISTORY is what we wanted.

[2016-07-18 21:00] mcandre opened #1349 "README: Update recommended jedis version"
Now that jedis has released version 2.8.1, please update the README to reflect this.

[2016-07-18 21:02] marcosnils commented on #1349
Done, thx for reporting.

[2016-07-18 21:02] #1349 closed

[2016-07-18 21:03] mcandre opened #1350 "README: Link to javadoc"
Please provide a link to the Jedis javadocs in the README, so that it's easier for newbies to navigate the Jedis API.

[2016-07-18 21:28] marcosnils commented on #1350
Added to https://github.com/xetorthio/jedis/blob/master/README.md#how-do-i-use-it section.

[2016-07-18 21:28] #1350 closed

[2016-07-19 01:55] xetorthio commented on #1259
Not sure I understand your question. Mind giving an example of what you are trying to do?
@JAlexoid Can you please confirm if you always get a `JedisConnectionException` even if the first pipeline worked fine and no exception was thrown?

[2016-07-19 06:47] srirama-rayaprolu commented on #1259
In my app, creating pipe line from JEDIS Connection, after that executing the commands. This is working fine.

However my app need to support re-connectivity. Hence, restarting the REDIS server without restarting the application. In this scenario, before opening the pipe line, am checking the connection status, if it is not connected, am connecting again. After that, executed one sample set (key)

[2016-07-19 09:53] chinmaym7430 opened #1351 "Redis is taking about 4GB of RAM on startup"
So my Redis db has two major hashmaps. One of them contains around 1,000,000 records and the other contains 6,000,000 records. The size of the dump.rdb file is 2.395 GB.
As soon as I start the redis-server, the RAM usage by redis peaks to 4GB and remains in that state. Since my computer has 8GB RAM installed, I am not being able to insert any more records in the redis db. Every time I do that, I g

[2016-07-19 10:46] HeartSaVioR commented on #1351
Please use Redis user group instead.

[2016-07-19 10:46] #1351 closed

[2016-07-19 12:29] xetorthio commented on #1259
So if I understand correctly you are opening a connection to redis, restart
redis and then try to use that connection? You first run a set command to
make sure connection is healthy and then open a pipeline and send commands?
Did I get it right?

On Tue, Jul 19, 2016, 03:47 srirama-rayaprolu <notifications@github.com>
wrote:

[2016-07-19 13:29] marcosnils commented on #1329
@sheinbergon we're about to release 2.8.2 and 2.9.0 and we'd like this issue to be included. Is there something I can help you with so we can get it in?. Thx!.

[2016-07-19 14:24] sheinbergon commented on #1329
@marcosnils the fix is easy , but if you want to include the test case , it'll take a few more days.
What's your ETA ?

[2016-07-19 14:29] marcosnils commented on #1329
We'd like to release before the weekend. Do you think you can make it?. I can help you out if you can't.

[2016-07-19 16:14] smagellan opened #1352 "throw specialized exception for NOSCRIPT answer"
### Expected behavior

Jedis should throw specialized exception(e.g. JedisNoscriptDataException) if evalsha answers with NOSCRIPT ('NOSCRIPT No matching script. Please use EVAL.').
Caller should retry with eval in this case

### Actual behavior
Generic JedisDataException is thrown. So the only way to catch NOSCRIPT at the client side is to use
[code]
I suppose best way to improve it is to modify r

[2016-07-20 06:12] srirama-rayaprolu commented on #1259
Yes correct. The following code excerpt I used, for fetching the pipe line from Jedis. My class is extending the Jedis class.
[code]

[2016-07-20 15:19] HeartSaVioR commented on #1352
Closed by #1353

[2016-07-20 15:19] #1352 closed

[2016-07-20 15:23] DonMcNamara commented on #1326
@marcosnils  Any update on publishing 2.9?

[2016-07-20 15:25] marcosnils commented on #1326
Yes, it will definitely happen this week. We're just waiting for a small issue to come in.

[2016-07-20 15:25] DonMcNamara commented on #1326
Thanks!!

[2016-07-20 15:45] xetorthio commented on #1259
Ok. I'll try to reproduce what you're reporting and check if there is an
error and where it is. I'll report back on this issue.

On Wed, Jul 20, 2016 at 3:12 AM srirama-rayaprolu <notifications@github.com>
wrote:

[2016-07-21 11:58] srirama-rayaprolu commented on #1259
@xetorthio: Thanks for the reply.

On further debugging, it was identified, in my re-connectivity logic, need to reset pipelinedCommands to zero on Jedis Connection object . Otherwise this problem is coming.

It could be, in my app, some places the pipelinedCommands counter was increased and waiting for response. In between the connection got lost and the counter was not reset to zero as part of r

[2016-07-21 13:34] sheinbergon commented on #1329
Sorry , I've been a bit busy during the last couple of days . Maybe release this as part of the next minor ? I havn't gotten round to fixing it but will do so over the  weekend

[2016-07-21 16:52] xetorthio commented on #1259
Yes. What you described could definitely be the problem. When you
disconnect the counter should be set to 0.

On Thu, Jul 21, 2016, 08:58 srirama-rayaprolu <notifications@github.com>
wrote:

[2016-07-22 17:58] camdenorrb opened #1355 "Can't compile from source, whilst following Wiki."
Mvn package results - https://pastebin.com/i6FHRm9G

This was a clean clone from the repo, not sure how I should go about this issue.

[2016-07-22 18:00] camdenorrb commented on #1355
Solved, used "mvn package -DskipTests" this should be added to the Wiki.

[2016-07-22 18:00] #1355 closed

[2016-07-22 18:01] marcosnils commented on #1355
@camdenorrb wiki is open, you can go ahead and add the change :D

[2016-07-24 19:27] sheinbergon commented on #1329
@marcosnils  waiting for your referrence/ideas in #1354  on how to tackle the test case

[2016-07-25 06:41] pyloque commented on #470
mock-jedis doest not support zset operation, so it's mostly useless!

[2016-07-25 06:42] pyloque commented on #470
I was waiting zset support for year, there's nothing happended with mock-redis

[2016-07-25 09:05] wenerme opened #1356 "Force interupt jedis.blpop"
This is no way to stop/cancel block command like `blpop` if jedis is borrowed from pool.

[code]

Even I cancel the future the thread is still running.

I have to use the reflection to get the real client, then close the stream to cancel the blocking command.

[2016-07-25 14:15] javadev commented on #882
+

[2016-07-25 15:28] marcosnils commented on #1356
@wenerme Jedis interfaces doesn't match Futures yet as they weren't designed with async in mind. How do you propose to change it to allow operations to be cancelled?

[2016-07-25 15:46] marcosnils commented on #470
@pyloque that's why it's better to test against a real redis service ;)

[2016-07-25 16:09] marcosnils commented on #1329
@sheinbergon I'll give it a look this week.

[2016-07-26 07:06] pyloque commented on #470
python has mockredis, very easy to use, why java can't !

[2016-07-26 07:17] smagellan commented on #470
@pyloque, did you try https://github.com/mockito/mockito ?

[2016-07-26 15:11] Flawd opened #1358 "ERR Protocol error: expected '$', got ' '"
Getting this error. Why? How fix? I simply execute the code one time, second time, all works fine, third time (just an example) it gives this error. after that the connection is broken.

This is line 38:  connection.getJedis().hset(key, field, object.toString());
object is i.e. an integer
[code]

[2016-07-26 15:17] xetorthio commented on #1358
Are you sharing a Jedis instance through different threads or something
like that?

On Tue, Jul 26, 2016 at 12:11 PM Flawd <notifications@github.com> wrote:

[2016-07-26 16:30] wenerme commented on #1356
There is no graceful way to achieve this, here is my idea

* Track blocking
* When need to force cancel blocking
  * Broken connection by closing socket
  * Close jedis to recycle the broken connect

[code]

Maybe jedis should expose a method like `interrupt` to do this, also should give a way to check blocking.

[2016-07-26 16:37] mcandre opened #1359 "Undocumented timeout units"
I can't quickly identify which unit of time Jedis measures `int timeout` in. The documentation doesn't appear to clarify.

Are Jedis timeouts understood to be milliseconds (ms)? In any case, please update the javadocs to clear this up.

[2016-07-26 16:45] marcosnils commented on #1359
@mcandre Jedis is just a library around redis commands. So the command parameters **should** match the same unit the redis commands are. If you find a specific error please report it or as Jedis is an OS project, we encourge you to submit a PR to fix or clarify any documentation.

[2016-07-26 16:45] #1359 closed

[2016-07-26 17:07] wenerme opened #1360 "When JedisFactory timeout, the jedis.close() will throw a NPE"
JedisFactory

[code]

Connection

[code]

NPE will swallow the real SocketTimeoutException.

[2016-07-26 17:09] marcosnils commented on #1360
@wenerme nice catch. Is there a chance you can craft a PR with a test to fix this?

[2016-07-26 20:46] mcandre commented on #1359
Please don't leave time unit information unspecified, it's a frequent cause of bugs.

[2016-07-26 21:10] marcosnils commented on #1359
@mcandre I still don't know which `timeout` parameter you're referring to. Can you submit a PR with th proper javadoc to fix this?

[2016-07-26 22:20] Flawd commented on #1358
bless you you lead me the right way
thank you
you are very generous

i didnt read the manual, only a bad tutorial

the actual error resulted from me chaining an async jedis void into another async void. after that I encountered another error: [B can not be cast to java.lang.Long error, because I always used the same `Jedis j = pool.getResource();`

...

[2016-07-26 22:20] #1358 closed

[2016-07-26 22:22] marcosnils commented on #1358
:+1:

[2016-07-27 02:19] Herseus commented on #473
Thanks @HeartSaVioR !

[2016-07-27 19:29] toniclecb opened #1362 "connected_clients increases and clients don't disconnect from the server"
### Expected behavior

I am hoping the server disconnect from the clients already closed.

### Actual behavior

This is my server:
Clients
connected_clients:1447 (and increasing)
...
[code]

### Steps to reproduce:
My code is:
[code]

### Redis / Jedis Configuration
I changed timeout to 120, but the behaviour continues.
#### Jedis version:
2.8.1
#### Redis version:
redis_version:3.0.5

I have trie

[2016-07-27 20:42] j-pingus commented on #932
On my side I had some similar issue with a complete different cause.

I select database 1 in my code on my JedisConnection and the REDIS is running in a VM.

However when I select 0 the exception warns me about setting configuration like this:

CONFIG SET protected-mode no

or setup an authentication

When I do set the config it solves the issue for both database 0 and 1.

Hope this will help.

[2016-07-27 20:50] marcosnils commented on #1362
@toniclecb timeout has nothing to do here. I believe the problem is elsewhere, I've just tried your code and code I never got more than 2 clients connected.

[code]

Can you please submit a reproducible test case?

[2016-07-27 20:53] marcosnils commented on #1362
I also tried a multi-threaded example and clients never go above 8 which is the default value used by commons-pool

[code]

[2016-07-28 13:26] toniclecb commented on #1362
Hi, @marcosnils,

I also tried your multi-thread example and you are right, clients never go above 8!

I put a print after `Jedis jed = pool.getResource()` and it is printed only 19300 times.
And an error is throwed:
[code]
But it's ok, I am not with this problem in production.

I will investigate a little more my code and send feedback later.

[2016-07-28 13:32] #1362 closed

[2016-07-28 13:33] marcosnils commented on #1362
Please open a different issue with more info if you find anything.

[2016-07-29 08:22] PinZhang commented on #1150
+1 we are experiencing this issue too.

[2016-07-29 10:26] marcosnils commented on #1150
I'm closing this as it's super outdated and it doesn't provide any help at all.

[2016-07-29 10:26] #1150 closed

[2016-07-29 19:41] mcandre commented on #1359
I respect that jedis is a pass-through API, but time units are a famously critical yet ambiguous detail. I'm referring to the undocumented unit of time used by the `timeout` parameter in several [rj]edis commands. For example:

http://javadox.com/redis.clients/jedis/2.2.0/redis/clients/jedis/Jedis.html#blpop(int, java.lang.String...)

In fact, the Redis documentation says that timeouts are in unit

[2016-07-29 19:51] marcosnils commented on #1359
@mcandre those javadocs are extremely outdated, these are the official and latest ones:

http://xetorthio.github.io/jedis/redis/clients/jedis/Jedis.html#blpop-int-java.lang.String...-

On the other hand, in that link that you sent that specific function **IS** documented in jedis and it clearly states that the blocking timeout is in seconds

I'm aware that some other commands are not documented ac

[2016-07-31 12:51] darionyaphet opened #1363 "Running Redis commands in Jedis"
### Expected behavior

Running redis command in jedis . such as input a string "get key" or "set key val" and I don't want to split command into tokens .

### Actual behavior

I'm not sure is there any way to support this one ?

### Steps to reproduce:

Please create a reproducible case of your problem. Make sure
that case repeats consistently and it's not random
1.
2.
3.

### Redis / Jedis Config

[2016-08-01 13:45] marcosnils commented on #1363
You can't do this as of today. The closest that you can do is the Protocol.sendCommand function (https://github.com/xetorthio/jedis/blob/master/src/main/java/redis/clients/jedis/Protocol.java#L83) but that still requires that you specify a Protocol parameter.

[2016-08-01 13:45] #1363 closed

[2016-08-02 03:06] darouwan commented on #885
@ganesh239  I meet the same problem, do you mind to share your solution?

[2016-08-02 03:08] marcosnils commented on #885
@darouwan this is usually because you're leaking jedis instances that you're not returning properly. Check everywhere in your code where you're using the pool to return your Jedis instances.

[2016-08-02 03:27] darouwan commented on #885
@marcosnils  But actually I am using JedisCluster.  It seems no resource returning method like
`JedisFactory.jedisPool.returnResource(jedis);` based on this https://groups.google.com/forum/#!topic/jedis_redis/Fx0in4E2ATI

[2016-08-05 06:07] backkoms commented on #1171
Is that fixed?

i met it again

[2016-08-07 01:06] lijunyong opened #1364 "jdeis method incyBy is an Atomic operation?"

[2016-08-07 02:51] marcosnils commented on #1364
@lijunyong Jedis instances shouldn't be shared across threads, so yes. It's an atomic opereation.

[2016-08-07 02:51] #1364 closed

[2016-08-07 06:02] mkante commented on #1161
After reading the source code I figured it out. You must change your URI to:
`
redis.url= redis://{ip_address}:{port}/{database}
ex:
redis://localhost:6379/0
`

[2016-08-07 06:06] lijunyong commented on #1364
@marcosnils I have a redis id generator,take redis system time and incy key. when jedis was in distributed system, produce repeated id.

[2016-08-07 22:20] marcosnils commented on #1364
@lijunyong please post this issue in the Jedis mailing list here: http://groups.google.com/group/jedis_redis and try to provide an example that reproduces the problem

[2016-08-08 02:41] lijunyong commented on #1364
@marcosnils I send the post need to audit,the source code[https://github.com/lijunyong/redis-id-generator](url)

[2016-08-09 09:30] Bam4d commented on #397
I am having this issue using the latest jedis. under the same conditions  as the original poster above.

my code is using the Optimistic Lock pattern in the jedis docs: http://redis.io/topics/transactions
[code]

Why was this issue closed? Is there a solution to this problem?

[2016-08-09 10:37] xetorthio commented on #397
Make sure the connections sync any pipeline before returning them to the pool.
Most probably this is because your jedis instances has a dirty state.

[2016-08-09 10:47] Bam4d commented on #397
We're not using any pipelines in our code.

There are a few other places where garbage is being returned for some reason.

I see logs like this (all from diffferent parts of the codebase):
[code]

[code]

We recently made a change where we try to use the same jedis resource if we have two nested `Jedis j = jedis.getResource()` calls.

I imagine it might be that the resources like these could be in

[2016-08-09 15:29] Bam4d commented on #397
Upon further debugging...

Even though we are not using piplined anywhere in our code there are places where
jedis.transaction.pipelinedResponses is not empty, and at this point we are also not in a transaction.

Is this normal?

(Also want to add here that this is a very concurrent system, are there any particular patterns we should follow to avoid issues like this?)

[2016-08-09 17:22] xetorthio commented on #397
The common mistake is to share jedis between threads. This will definitely
throw exceptions like the one you mention.
A Jedis instance is not thread safe. This is why JedisPool exists.

On Tue, Aug 9, 2016 at 12:29 PM Chris Bamford <notifications@github.com>
wrote:

[2016-08-10 09:34] Bam4d commented on #397
Hi, I think i found the issue I was having and it was descibed as you said above..

[code]

The lambda above was using the resource after it was released and probably assigned to another thread.

Removed that and i don't see class cast exceptions anymore, so hopefully OK now..

Thanks for your help :)

Are there any plans to make a thread-safe version of jedis in the future?

[2016-08-10 09:44] marcosnils commented on #397
Probably after migrating to NIO / Netty. We're slowly moving forward on this side but it will probably take some time.

[2016-08-10 12:45] justein commented on #1029
I have meet the same problem,can anyone help?

[2016-08-10 14:44] amitguptagwl commented on #1029
Try this

@Bean
        public JedisPool jedisPool() {
            JedisPoolConfig poolConfig = new JedisPoolConfig();
            poolConfig.setMaxTotal(threadPoolSize);
            poolConfig.setTestOnBorrow(true);
            poolConfig.setTestOnReturn(true);
            return new JedisPool(poolConfig, host, port, timeout);
        }

[2016-08-11 03:38] javaxiaoz opened #1365 "redis.clients.jedis.exceptions.JedisConnectionException: java.net.ConnectException: Connection refused"
i use this jar only .m2/repository/redis/clients/jedis/2.8.1/jedis-2.8.1.jar
my jdk java version "1.7.0_75"
and my code
public class Test {
	public static void main(String[] args) {
		Jedis jedis=new Jedis("127.0.0.1", 6379);
		jedis.set("hi", "hello world");
		String greeting = jedis.get("hi");
		System.out.println(greeting);
	}
}
and the err
Exception in thread "main" redis.clients.jedis.excepti

[2016-08-11 04:28] javaxiaoz commented on #1365
anyone help me.my god..

[2016-08-11 07:14] bestree commented on #1365
Have you started the redis server using port 6379 in the same machine? The exception indicates that the server is not in service.

[2016-08-11 09:18] javaxiaoz commented on #1365
Jedis jedis=new Jedis("127.0.0.1", 6379);
I think this is meaning that i have started the redis server with port 6379?

[2016-08-11 09:18] javaxiaoz commented on #1365
@bestree

[2016-08-11 09:24] jiacheo commented on #1365
Jedis is a client impl, not server.

[2016-08-11 09:25] jiacheo commented on #1365
set up your own server like:

[2016-08-11 10:03] javaxiaoz commented on #1365
@bestree you are right,i didnt install redis right!!! now i have solved it.thank you,lol

[2016-08-11 10:05] javaxiaoz commented on #1365
install redis before use jedis.my god,why no one told me...

[2016-08-11 10:06] javaxiaoz commented on #1365
thank you again.for help me .mr bestree and mr jiacheo.

[2016-08-11 10:06] #1365 closed

[2016-08-11 15:00] srirama-rayaprolu commented on #1259
@xetorthio: Now I am facing different issue different issue while using evalsha. (I know it is not related to pipelined). My code is as below,

[code]

I am getting the following error, what could be the mistake I am making, pls. guide me.

[code]

[2016-08-11 17:23] xetorthio commented on #1259
This error is redis telling you that there is no script in redis with the
sha you're passing. You either need to use EVAL and send the script every
time you want to execute it, or do a SCRIPT LOAD previously to get the SHA
and then be able to run it, with EVALSHA, and avoid sending the script
every time.

On Thu, Aug 11, 2016 at 12:00 PM srirama-rayaprolu <notifications@github.com>
wrote:

[2016-08-12 03:21] AI-PaaS opened #1366 "Expect the redlock implemention"
### Expected behavior

Is there any plan for redlock implemention?

### Actual behavior

Write here what happens instead ...

### Steps to reproduce:

Please create a reproducible case of your problem. Make sure
that case repeats consistently and it's not random
1.
2.
3.

### Redis / Jedis Configuration

#### Jedis version:

#### Redis version:

#### Java version:

[2016-08-12 03:27] marcosnils commented on #1366
Jedis is just a redis driver, this wont be implemented here

[2016-08-12 03:27] #1366 closed

[2016-08-12 15:46] tonyghita opened #1367 "Loopback host address ('localhost','127.0.0.1', etc.) resolves to network IP"
### Expected behavior

I have my Jedis client configured to connect to `localhost`.
I expect the connection to be made to the localhost via loopback.
### Actual behavior

As of the changes in https://github.com/xetorthio/jedis/pull/1342, when specifying a `localhost` address, it now resolves to my machine's network ip address.

This makes it impossible to connect to a `redis-sentinel` on localhost

[2016-08-13 02:40] jamesone commented on #848
I just restarted my server which was using `jedis`, that fixed it for me.

[2016-08-18 07:03] imran1609 commented on #1150
@marcosnils
hi marcosnils ,
I am using jedis 2.9.0 version and when i am using these two method i am getting error(unsafe and unchecked operation).
jedis.close();
JedisPoolConfig jedisPoolConfig = 	new JedisPoolConfig();
			jedisPoolConfig.setMaxTotal(100);

[2016-08-18 12:53] mp911de opened #1369 "Jedis should provide pre-release binaries/snapshots"
Jedis is a widely used client for Redis. Each release comes with a number of changes that are only available with own/custom snapshots build or by awaiting the final release.

It's not possible for users to run tests against development/pre-release binaries because these are not available.

Please provide at least snapshot builds (in [Sonatype's OSS Snapshot repo](https://oss.sonatype.org/content/

[2016-08-18 16:21] HeartSaVioR commented on #1369
Since I'm involved in Apache project, I like release candidate in release process.
One thing I'm wondering is that does Jedis really have early adopters or steady contributors who can check for new release candidate more thoughtfully than our unit tests.

Back to the recent issue and talking about that a bit, in my perspective this issue was occurred because we modified unit tests which checks ret

[2016-08-18 17:09] mp911de commented on #1369
Providing snapshots/release candidates creates options although it may lack a broad adoption. You can tell users to switch to a SNAPSHOT to test a particular case (without the need to rebuild the driver yourself). Release cycles with snapshot/release candidate(s)/GA release are beneficial for short feedback cycles and discovering issues early, yet it does not cure all pains (because people are on

[2016-08-18 23:02] HeartSaVioR commented on #1369
@mp911de
I'm OK to build SNAPSHOT (nightly, or every commit by Travis CI) for all active version lines.
This should be automated and we don't need to take much time to care.

I'd be much appreciated if you provide a patch for that since I don't want to spent time to dig (explore?).

Having RCs in release process is different as you said. It can't be automated since it's more alike process, so it r

[2016-08-18 23:29] HeartSaVioR commented on #1291
I guess it can be closed.

[2016-08-18 23:29] #1291 closed

[2016-08-18 23:31] HeartSaVioR commented on #1284
It's resolved from #1297

[2016-08-18 23:31] #1284 closed

[2016-08-18 23:47] marcosnils commented on #1369
@mp911de @HeartSaVioR

I do also believe that it should be amazing to have nightly builds or RC's. We need the invervention of @xetorthio as he's the only one allowed to publish to Sonatype.

[2016-08-18 23:48] marcosnils opened #1370 "Tests don't pass in OSX"
Module tests don't pass in OSX. It would be amazing if some caritative soul could help to diagnose

@HeartSaVioR :wink: ??

[2016-08-19 09:28] imran1609 commented on #560
This is my RedisImpl class and on load test it is giving error
package com.onmobile.omega.shorturl.utils;

import java.util.Set;

import org.apache.log4j.Logger;

import redis.clients.jedis.Jedis;
import redis.clients.jedis.JedisPool;
import redis.clients.jedis.JedisPoolConfig;
import redis.clients.jedis.exceptions.JedisException;

public class RedisImpl {

	private static  JedisPool jedispool;
	p

[2016-08-19 10:25] imran1609 commented on #210
I have this configuration.
jedisPoolConfig = new JedisPoolConfig();
jedisPoolConfig.setMaxTotal(100);
jedispool = new JedisPool(jedisPoolConfig,REDIS_HOST,REDIS_PORT));
jedis = jedispool.getResource();
Can somebody help how do i improve the performance

[2016-08-19 17:47] oak-tree opened #1371 "latest release 2.8.1 vs 2.9 ?"
github 2.8.1
https://mvnrepository.com/artifact/redis.clients/jedis 2.9

what is the right production version to use?

[2016-08-19 17:49] marcosnils commented on #1371
2.9 is prod ready. We just haven't had time to do the release notes :P

[2016-08-19 17:49] #1371 closed

[2016-08-22 08:45] wwwzys opened #1372 "Spring data redis can not use the Jedis (> version 2.1.0)"
### Expected behavior

I want to archive "Spring data redis" with Jedis. but it will be failure when using the Jedis version (> 2.1.0)

### Actual behavior
when use version 2.2.0

when use latest version 2.8.1

	at org.springframework.beans.factory.support.AbstractAutowireCapableBeanFactory.instantiateBean(AbstractAutowireCapableBeanFactory.java:1105)
	at org.springframework.beans.factory.support.

[2016-08-22 12:11] sheinbergon commented on #1150
@imran1609 please provide a full code snippet/excerpt and the full exception stacktrace you're encountering

[2016-08-22 14:42] marcosnils commented on #1372
Plz open this issue to the spring-data project https://jira.spring.io/browse/DATAREDIS/?selectedTab=com.atlassian.jira.jira-projects-plugin:summary-panel

[2016-08-22 14:42] #1372 closed

[2016-08-23 01:59] wongswoon commented on #241
@xetorthio what's the time dose asyncJedis RELESE ?
https://github.com/xetorthio/jedis-netty-exploration,the demo does not work

[2016-08-23 02:23] sd4324530 opened #1373 "JedisPool getResource consumes too much time"
### Expected behavior

Write here what you're expecting ...

### Actual behavior

Write here what happens instead ...

when many thread (less than the pool config "MinIdle") run this code "Jedis jedis = pool.getResource()"
then it sometimes consumes too much time.
JedisPoolConfig's MaxWaitMillis does not work.

### Steps to reproduce:

Please create a reproducible case of your problem. Make sure
t

[2016-08-23 02:25] sd4324530 commented on #1373
2016-08-23 10:05:11.762 [pool-1-thread-3] DEBUG c.h.platform.kredis.agent.commond.RedisCommand - numActive:1
2016-08-23 10:05:11.762 [pool-1-thread-3] DEBUG c.h.platform.kredis.agent.commond.RedisCommand - numIdle:19
2016-08-23 10:05:11.762 [pool-1-thread-3] DEBUG c.h.platform.kredis.agent.commond.RedisCommand - numWaiters:0
2016-08-23 10:05:13.956 [pool-1-thread-3] DEBUG c.h.platform.kredis.agent

[2016-08-23 02:26] sd4324530 commented on #1373
long getResourceStart = System.currentTimeMillis();
        try (Jedis jedis = jedisPool.getResource()) {
            long getResourceTime = System.currentTimeMillis() - getResourceStart;
            log.debug("获取jedis连接耗时:{}ms", getResourceTime);

[2016-08-23 02:27] sd4324530 commented on #1373
int numActive = jedisPool.getNumActive();
        int numIdle = jedisPool.getNumIdle();
        int numWaiters = jedisPool.getNumWaiters();
        log.debug("numActive:{}", numActive);
        log.debug("numIdle:{}", numIdle);
        log.debug("numWaiters:{}", numWaiters);
        long getResourceStart = System.currentTimeMillis();
        try (Jedis jedis = jedisPool.getResource()) {

[2016-08-23 02:28] marcosnils commented on #1373
@sd4324530
have you read this?

https://commons.apache.org/proper/commons-pool/apidocs/org/apache/commons/pool2/impl/BaseGenericObjectPool.html#setMaxWaitMillis-long-

in order for setMaxWaitMillis to work setBlockWhenExhausted should be set to true as well.

[2016-08-23 02:36] sd4324530 commented on #1373
but blockWhenExhausted's default value is true

[2016-08-23 02:45] marcosnils commented on #1373
@sd4324530 it works as expected

Check this example

[code]

[2016-08-23 02:45] #1373 closed

[2016-08-23 03:13] wwwzys commented on #1372
@marcosnils  thx very much.

[2016-08-23 05:59] sd4324530 commented on #1373
Jedis jedis = pool.getResource()
Is this method thread safe?

[2016-08-23 06:05] marcosnils commented on #1373
Yes

[2016-08-25 02:27] WonMe opened #1374 "JedisCluster can't get a resource"
### Expected behavior

I create a JedisCluster instance,it's ok ,but when i try to use it to get a key from redis server,it throw a exception ：
redis.clients.jedis.exceptions.JedisConnectionException: Could not get a resource from the pool
	at redis.clients.util.Pool.getResource(Pool.java:53)
	at redis.clients.jedis.JedisPool.getResource(JedisPool.java:226)
	at redis.clients.jedis.JedisSlotBasedCo

[2016-08-25 02:36] marcosnils commented on #1374
@WonMe as the issue template states, can you please provide a reproducible case (snippet preferably) so we can help out?. According to the stacktrace seems like your java app can't connect to the redis instance. Are you sure you're specifying all the connection parameters correctly?

[2016-08-25 02:52] marcosnils commented on #1374
@WonMe check https://github.com/antirez/redis/issues/2527

[2016-08-25 02:52] #1374 closed

[2016-08-25 08:37] lavinahum commented on #1291
thanks!

2016-08-19 2:29 GMT+03:00 Jungtaek Lim <notifications@github.com>:

[2016-08-25 14:23] ansonliao opened #1375 "How to know the redis server is master or slave?"
Hi,
I am a new Jedis and Redis user, and I would like to know, I have two redis IP addresses (for example, 192.168.10.10, 192.168.10.11), one of master, and another is slave, but I no idea how to know which redis server IP address is master or slave by Jedis programming, could you kindly provide some known Jedis method to check the redis's server role?

Many thanks.

### Redis / Jedis Configuratio

[2016-08-25 17:38] marcosnils commented on #1375
@ansonliao can u please address this concern to the mailing list? Github is for issues and design discussions mainly

[2016-08-25 17:38] #1375 closed

[2016-08-26 08:25] TimothyZhang023 opened #1376 "Maybe serious bug in JedisCluster.subscribe"
I got ERR only (P)SUBSCRIBE / (P)UNSUBSCRIBE / QUIT allowed in this context when using subscribe.

As we all known a connection with CLIENT_PUBSUB flag cannot process with other command like get,set ,etc..... (server.c:2448)
Usually , we get connection subscribe and then unsub it.

When we use subscribe in JedisCluster we call runWithAnyNode .

[code]

we release connection (return pool or desert

[2016-08-27 02:20] songcan commented on #1029
I have meet the same problem ,who can help me?

[2016-08-28 20:54] xtechgamer735 opened #1377 "Jedis Exception"
Hello! I am trying to connect to redis in my application but I am getting a Could not get a resource from the pool jedis exception. This is the line causing the issue `Jedis jedis = read.getResource();` and read is declared as `private JedisPool read;`

Of course, the pool gets configured as:

JedisPoolConfig jedisPoolConfig = new JedisPoolConfig();
	        jedisPoolConfig.setMaxWaitMillis(1000);

[2016-08-30 03:47] chao1301 commented on #1161
<bean id = "jedisPool" class="redis.clients.jedis.JedisPool">
      <constructor-arg index="0" ref="jedisPoolConfig"/>
      <constructor-arg index="1" value="${redis.ip}" type="java.lang.String"**/>
      <constructor-arg index="2" value="${redis.port}" type="int"/>
      <constructor-arg index="3" value="${redis.timeout}" type="int"/>

    </bean>

[2016-08-31 06:53] zts1993 commented on #1376
@marcosnils  please review this~

[2016-08-31 10:23] marcosnils commented on #1376
@zts1993 nice finding. IMHO this should be handled in the `resetState` method of `BinaryJedis` https://github.com/xetorthio/jedis/blob/master/src/main/java/redis/clients/jedis/BinaryJedis.java#L1821 basically unsubscribe before returning the connection to the pool as it makes no sense for other client to use that.

@HeartSaVioR ?

[2016-08-31 10:30] HeartSaVioR commented on #1376
@marcosnils
Would just clearing buffer of inputstream and outputstream be safe? I'm not sure, since we're reusing socket. Still the safest way is discarding that instance.