[2014-12-10 15:22] nachivpn opened #812 "Why isn't there a thread safe jedis client implemented?"
Is there a specific reason for not supporting thread safe jedis clients? Would this be considered if I were to draft a pull request?

[2014-12-11 09:14] qingchen191 opened #816 "When a timeoutexception occurs,I get the wrong values."
When I do get option , the value has read into the buffer, and then It's timeout.
It throws a timeout Exception, then ,the next get option come, because the connection is also the old one before the timeout exception, so I have the value got by the first get option.
because of this , my project has some problems for two times.
I think it's a bug, and I have fix this in my project.
When the excepti

[2014-12-11 09:26] nayak03051985 opened #817 "Exception with JedisSlotBasedConnectionHandler"
Hi. I am using splunk to run the query get data and push the data to redis. I have 5 redis cluster instance. I have used threading to run 4 splunk queries. Created a redis class for pfadd. I am recieving below exception:

inserted Unique:IMAP:{resmail-ch2-429v.sys.comcast.net}:2014-12-10 17Exception in thread "pool-1-thread-4" redis.clients.jedis.exceptions.JedisConnectionException: no reachable n

[2014-12-11 11:29] marcosnils opened #818 "Implement CLIENT KILL filters"
I'm opening the issue for tracking. I'll try to do it today.
http://redis.io/commands/client-kill

[2014-12-11 13:32] #812 closed, assigned to nobody

[2014-12-11 13:54] #808 closed, assigned to nobody

[2014-12-11 19:25] nykolaslima opened #820 "There is no way to select database in ShardedJedis"
There is no way to select database with `ShardedJedis`?
[code]

[2014-12-14 12:23] #745 closed, assigned to nobody

[2014-12-16 07:53] Spectrumleeee opened #823 "How to get the status[FAIL/OK] of node by using JedisCluster"
Hello,
    i want to write a program to display the used-memory of each node in my Redis Cluster by using JedisCluster, even though i can use JedisCluster.getClusterNodes() to get all the nodes in my cluster, but i can't get the status[FAIL/OK] of these nodes, To test these nodes status, i can only use
try{
   Jedis jedis = JedisPool.getResource();
   //OK;
}catch{
//FAIL
}
but, i think it's not a

[2014-12-17 03:29] HeartSaVioR opened #824 "Proper naming to interfaces"
From #607, I've changed interfaces name but reverted for initiating discussion about it.

MultiKeyBinaryRedisPipeline -> MultiKeyBinaryCommandsPipeline

There're lots of inconsistent interface names because of not having prefix / postfix rules or conventions.

I've mentioned earlier about it by https://groups.google.com/d/msg/jedis_redis/r1axS6Lckfg/npldlkX2-i4J .
But it didn't get any opinions, a

[2014-12-17 05:59] EdwardLee03 opened #825 "JedisShardInfo cannot set both the name and weight"
Hi, JedisShardInfo cannot set both the name and weight, because now I need to them.
Can add the following constructor method that includes name and weight parameters:

    public JedisShardInfo(String host, int port, String name, int weight, int timeout)

[2014-12-18 06:57] #811 closed, assigned to nobody

[2014-12-18 12:20] #817 closed, assigned to nobody

[2014-12-19 02:50] #823 closed, assigned to nobody

[2014-12-19 19:39] allanwax opened #827 "Possible bug: flipped arguments in JedisCluster.zrevrangeByScore"
max, min are flipped to min, max in call to connection.

public Set<String> zrevrangeByScore(final String key, final String max, final String min) {
    return new JedisClusterCommand<Set<String>>(connectionHandler, timeout, maxRedirections) {
        @Override
        public Set<String> execute(Jedis connection) {
        return connection.zrevrangeByScore(key, min, max);
        }
    }.run(key)

[2014-12-22 00:39] #827 closed, assigned to nobody

[2014-12-22 04:26] HeartSaVioR opened #829 "Expand functional unit tests to Pipeline, Sharded, Cluster, etc."
We're doing functional tests from only normal Jedis.
Actually other cases call Jedis methods so we assume it wouldn't be a problem.
But since we're human, we can have some mistakes to call methods something else, and it could be serious problem while we don't know about it.
(For example, user calls get, but our code calls delete.)

So we may apply Jedis functional tests to all kind of things, thou

[2014-12-22 20:05] allanwax opened #830 "Improvement: ReadOnlySlave"
https://www.dropbox.com/s/nnei6kz9dudoz3l/ReadOnlySlave.java?dl=0

Here's a first cut at providing functionality to send reads to the slaves and keep the masters open for write.  It falls back to reading from the cluster normally if there is a problem.  It refreshes the master slave configuration periodically in case there are failovers, etc.  It _is_ possible to not fetch values if keys have move

[2014-12-31 20:51] psydell opened #831 "Pipelined "configGet" command throws ClassCastException"
Pipelined "configGet" command throws ClassCastException when getting the command result after execution:

java.lang.ClassCastException: java.util.ArrayList cannot be cast to [B
	at redis.clients.jedis.BuilderFactory$5.build(BuilderFactory.java:49)
	at redis.clients.jedis.BuilderFactory$5.build(BuilderFactory.java:47)
	at redis.clients.jedis.Response.get(Response.java:31)

Test code:

JedisPool jed

[2015-01-01 03:34] #831 closed

[2015-01-01 03:47] HeartSaVioR commented on #820
@nykolaslima Hello, any update on it?

[2015-01-02 03:49] marcosnils commented on #333
@trasa @dhananjaypatkar any updates about this?. Have you tried your code making the necessary modifications?

[2015-01-02 03:59] trasa commented on #333
Yes, I updated and used the new closeable pattern without problems.

On Thu, Jan 1, 2015 at 7:49 PM, Marcos Nils <notifications@github.com>
wrote:

[2015-01-02 12:49] #333 closed

[2015-01-02 14:36] nykolaslima commented on #820
Hi @HeartSaVioR. I'm sorry, I've been busy this days. I'll implement it this weekend and send you a PR.

[2015-01-05 15:25] EdwardLee03 opened #837 "Sharded.getAllShardInfo() returns 160*shards info list not returns the original shards list"
Sharded.getAllShardInfo() has a bug that returns **160*shards** info list, each shard info has 160 same copies. This method should return the original shards list.

Please see the following code from *Sharded.java*:
[code]
The fixed code:
[code]

[2015-01-05 23:39] HeartSaVioR commented on #699
Fixed by https://github.com/xetorthio/jedis/pull/668
Sorry @allanwax, unless Redis doesn't decide its IP, we should decide based on context.

[2015-01-05 23:39] #699 closed

[2015-01-06 00:09] allanwax commented on #699
(y)

[2015-01-06 12:43] HeartSaVioR commented on #837
@EdwardLee03
Thanks for finding!
Btw, seems like we don't need to change getAllShardInfo()'s return. How do you think about?

[2015-01-06 15:23] EdwardLee03 commented on #837
I writes a [Jedis-x](https://github.com/EdwardLee03/jedis-x) framework, that is an extension of Jedis. It was primarily built to detect and remove the failed node automatically, also add the failed node that back to normal automatically.

Now, I use the return value this method to judge whether the `PooledObject<ShardedJedis>` is valid, and find this issue. Current, I use `Map<JedisShardInfo, Stri

[2015-01-07 03:12] airpingu opened #840 "[Question] Is Jedis backward compatible when upgrading the version?"
Hi Jedis Developers,

This is just a question about the compatibility of Jedis (I'll close the issue by myself when the question is clarified). I'm attempting to upgrade Jedis from 2.4.2 to 2.6.2 to support Cluster. I'd like to make sure all my previous functions are still working as expected, including JedisPool and JedisSentinelPool related APIs.

In addition to the practical test, I'd like to u

[2015-01-07 04:21] marcosnils commented on #840
Gene,

Jedis versions follow the semver (http://semver.org/) convention. You will find the answer to your question by reading how semver works.

To quickly response your question, you won't have any problem if you upgrade from Jedis 2.4.x to 2.6.x as MINOR or PATCH changes don't break backward compatibility.

[2015-01-07 04:38] airpingu commented on #840
Awesome! Good to learn the semver convention. Thank you for the response.

Closing the issue.

[2015-01-07 04:38] #840 closed

[2015-01-07 09:08] EdwardLee03 commented on #837
@HeartSaVioR
The UT is pass.
Great job! :+1:  Thanks for your advice!

[2015-01-07 09:21] EdwardLee03 commented on #837
@HeartSaVioR
I don't know in which scenarios using this method? And the return value of this method has some ambiguity.

[2015-01-07 09:54] #820 closed

[2015-01-07 12:13] nykolaslima commented on #824
As a really new contributor, I think it would be nice to refactor the packages. If the project was structured in a more "logic" way, it would be easier to understand.

Having proper packages that represent not only the major domains(`redis.clients.jedis`, `redis.clients.jedis.exception`, `redis.clients.jedis.util`) but also the subdomains(`connection`, `data structure`, etc.) makes the understandi

[2015-01-07 12:24] nykolaslima commented on #818
@marcosnils what do you mean by `filters`?

The target of this issue is to implement the `client-kill` command?

[2015-01-07 15:27] marcosnils commented on #818
@nykolaslima currently Jedis only allows to issue a `client kill` by sending the client id. Not so long ago Redis also included a new way to kill clients by sending different filters which are documented here: http://redis.io/commands/client-kill.

The purpose of this issue is to change Jedis so filters can be used.

[2015-01-07 15:39] nykolaslima commented on #818
I got you. I'll try to implement it.

[2015-01-07 16:02] nykolaslima commented on #724
I think we can close this with #842

[2015-01-07 16:02] nykolaslima commented on #724
@HeartSaVioR I think we can close this with #842

[2015-01-07 16:07] marcosnils commented on #724
@nykolaslima we can close once #842 is labeled as "ready to merge"

[2015-01-07 16:30] nykolaslima commented on #704
@marcosnils  @HeartSaVioR since it's not a Jedis bug, can we close it?

[2015-01-07 16:31] marcosnils commented on #704
@nykolaslima we better ask the @djhalaninext if he has any updates about this issue. In case he doesn't come back, then we can close it.

[2015-01-07 16:34] nykolaslima commented on #690
@HeartSaVioR @marcosnils since #607 was merged, can we close this issue?

[2015-01-07 16:35] djhalaninext commented on #704
Its not a Jedis bug. Thanks for all the help.

[2015-01-07 16:35] #704 closed

[2015-01-07 16:35] #690 closed

[2015-01-07 16:36] nykolaslima commented on #684
Those connection timeout problems doesn't looks like Jedis problem, so can we close it? @marcosnils @HeartSaVioR

[2015-01-07 16:39] nykolaslima commented on #643
@teresayan any update on this?

[2015-01-07 16:40] marcosnils commented on #684
@Nitesh7. Do you have any updates about this?

[2015-01-08 00:09] HeartSaVioR commented on #837
@EdwardLee03 Actually I don't know, too.
@xetorthio @marcosnils Do you know about that method, especially method's intention?

[2015-01-08 07:18] feidaodalian opened #844 "Could not get a resource from the pool"
Hi ,Ihave a question,my jedis 2.6.2and redis is 2.6.4,Sometimes I use jedisPool,,Exception appear " redis.clients.jedis.exceptions.JedisConnectionException: Could not get a resource from the pool
......................................
Caused by: java.util.NoSuchElementException: Unable to validate object
        at org.apache.commons.pool2.impl.GenericObjectPool.borrowObject(GenericObjectPool.java

[2015-01-08 13:08] #825 closed

[2015-01-08 13:54] HeartSaVioR opened #845 "After introducing quicklist (recent Redis unstable), Jedis unit test is failing"
- What change makes unit test failing?

quicklist, proposed from https://github.com/antirez/redis/pull/2143, merged by https://github.com/antirez/redis/commit/05ba119fbb9b0e05b7cca83bee8b01041e8877f2

- Build output (short ver.)

[code]

Seems like we can just change expected value and everything would be okay.

[2015-01-08 13:56] HeartSaVioR commented on #845
We can also remove that test, or just compare it with *list.
@xetorthio @marcosnils Which one is proper way for you?

[2015-01-08 15:18] EdwardLee03 commented on #825
Thanks @nykolaslima, great job! :+1:

[2015-01-08 15:19] nykolaslima commented on #825
@EdwardLee03 no problem. Thank you for reporting :rocket:

[2015-01-08 15:22] marcosnils commented on #844
@feidaodalian, have you checked this?

https://github.com/xetorthio/jedis/issues/661

[2015-01-08 15:45] marcosnils commented on #845
@HeartSaVioR as Jedis tests should always be run against unstable Redis branch I guess we can change the assertion value to `quicklist` and we should be ok.

[2015-01-08 22:47] nykolaslima commented on #845
@marcosnils already fixed it in #846. Can we close this?

[2015-01-08 23:14] HeartSaVioR commented on #845
@marcosnils Thanks for following up!

[2015-01-08 23:14] #845 closed

[2015-01-09 00:43] allanwax opened #847 "Possible resource leak in disconnect()"
In `Connection`

[code]

If either `inputStream` or `outputStream` fails during close, the socket is never closed.  Sockets are one of the few things that if they are not closed the kernel will keep them 'open' and deny reuse of the resource.

Better would be separate `try ... catch` clauses which will eventually get to closing the socket.

[2015-01-09 01:29] allanwax commented on #847
Something like this.  apologies, I just quickly scrathed this out.

[code]

[2015-01-09 01:34] allanwax commented on #847
This is also one of those rare times when a finalizer to close the socket would be useful.

[2015-01-09 08:57] gauravparmar85 opened #848 "redis.clients.jedis.exceptions.JedisConnectionException: java.net.SocketException: Broken pipe"
Hi I am using Jedis 2.4.2 and i am getting this exception almost every time I make a call.
I am initializing jedis pool as
JedisPool jedisPool = new JedisPool(config, uri.getHost(), uri.getPort(), 10000);

and trying to get keys using

public Set<String> keySet(String pattern) {
		boolean valid = true;
		Jedis jedis = jedisPool.getResource();
		try {
			auth(jedis);
			return jedis.keys(defaultKey

[2015-01-12 02:01] JunLuo opened #849 "Undefined method setMaxActive of class JedisPoolConfig"
HI there,
  I have used Jedis 2.2.0 for about half a year and recently change the version to 2.6.2.  But eclipse tells me the method setMaxActive of JedisPoolConfig cannot be resolved, Can anybody tell me the way to fix it? Is it ok to use SetMaxTotal to instead? Thanks.

[2015-01-12 03:02] bennesher opened #850 "NullPointerException initializing JedisPool with URI with no path"
When constructing a JedisPool using the URI constructor, if you supply a minimalist basic URI without path, such as `localhost:6379`, the result is an NPE in the `JedisURIHelper`:

[code]

[2015-01-12 03:05] bennesher commented on #850
To be clear, I know that the simple workaround is to instead pass `localhost:6379/` as the URI.  However, the slash should not be required.

[2015-01-12 03:35] HeartSaVioR commented on #850
@bennesher Thanks for finding!
If you don't mind, could you craft a patch and post a pull request?

[2015-01-12 03:54] HeartSaVioR commented on #849
@JunLuo
Seems like it's removed from Apache Commons Pool 2.0.
You can apply it by setMaxTotal() and setMaxIdle(), cause max total - max idle would be max active. :)
Hope this helps.

[2015-01-12 03:54] #849 closed

[2015-01-12 16:33] marcosnils opened #851 "Eval tests inconsistent"
I came across this tests here https://github.com/xetorthio/jedis/blob/master/src/test/java/redis/clients/jedis/tests/commands/ScriptingCommandsTest.java#L178-L196 and I don't understand what they're actually testing.

The tests names say that they're supposed to handle null values but I don't see any null handling or possible null return. Am I missing something.

@HeartSaVioR, do you have any clue

[2015-01-12 22:44] HeartSaVioR commented on #851
@marcosnils
I also don't know about it, so I dug logs and found its origin commit.

It was introduced from 9d538a0 and revised once from 5973663 .

@xetorthio Could you describe 9d538a0?

[2015-01-12 22:48] HeartSaVioR commented on #851
@marcosnils @xetorthio Seems like I got it.
In 9d538a0, key1 and key2 doesn't exist so lua script returns two null values.
Maybe @mardambey misunderstood @xetorthio's intention and change it to just return value.

So we can be safe with reverting methods to 9d538a0.

[2015-01-13 00:30] #851 closed

[2015-01-13 00:35] HeartSaVioR commented on #851
Fixed via 220cba575afac4d935977d2bda986c1378fa5c72

[2015-01-13 00:58] HeartSaVioR commented on #847
At first, thanks for finding it!
It should ensure that it will try to close socket. You're right.

Btw, We can't rely on Java's finalizer, you know already.
We can add ShutdownHook, but it doesn't work with kill -9, and hey, Jedis is just a driver for Redis, not framework or sth.
We provide Closeable already (it means users can close it at shutdown phase), and it should be enough.

[2015-01-13 06:44] airpingu opened #853 "Why JedisCluster provides select()?"
Hope to clarify the usage of ```select()``` on JedisCluster. According to http://redis.io/topics/cluster-spec which mentioned:

```Redis Cluster does not support multiple databases like the stand alone version of Redis, there is just database 0, and SELECT is not allowed.```

But why JedisCluster provides ```select()```? Please see https://github.com/xetorthio/jedis/blob/master/src/main/java/redis

[2015-01-13 07:06] HeartSaVioR commented on #853
It will be removed, please refer to https://github.com/xetorthio/jedis/pull/671 for more details.

[2015-01-13 08:03] airpingu commented on #853
Thanks @HeartSaVioR

One more follow-up question which might be more related to Redis: since Redis/Jedis cluster doesn't attempt to support multiple databases. Does it mean a set of Redis nodes in a cluster can only serve to manage one feature? It sounds a kind of bit waste to me because all the CPU/memory resources only work for one application.

How to make the maximum usage of a cluster on mult

[2015-01-13 08:20] airpingu commented on #853
Yeap, I post the question on https://github.com/antirez/redis/issues/2280 as well.

[2015-01-13 08:41] HeartSaVioR commented on #853
@airpingu
Hey, Redis only uses single thread for processing commands by each instance, which means you can't use multi-core powers whether you use multi-DBs in one instance or not.

Other way you can use your machine efficiently is, you can construct crossed masters-slaves which means one node serves one master and multiple slaves (or just one slave) that slaves are replicated to other nodes.

[2015-01-13 17:11] allanwax commented on #847
Having Closeable does not mean it will be closed so I don't think it is enough just to have it.  The shutdown hook is usefull but only at the normal/TERM exit of the program.  kill -KILL makes all of this meaningless.  So a finalizer is usefull in the case where someone just throws away the object.

You are correct that the Finalizer may never be called, but in normal use instances will eventually

[2015-01-13 17:17] allanwax commented on #847
[code]

[2015-01-13 19:31] nykolaslima commented on #850
@bennesher actually if you use `redis://localhost:6379` it should work.

I think we are having problem when user does not pass the `redis` part. I'll fix it.

[2015-01-13 19:34] nykolaslima commented on #850
@HeartSaVioR should we support URIs without `scheme`?

[2015-01-13 19:37] marcosnils commented on #850
@nykolaslima we shouldn't. We need to throw an InvalidUrlException or something if the scheme is not supplied.

[2015-01-13 20:01] teresayanaxs commented on #643
We haven't focused much on the effort afterwards, but the problem goes away after a while.  We did take the suggestions, thanks @HeartSaVioR , though not sure if it is the one that fix the problem.

[2015-01-13 20:05] teresayan commented on #643
We haven't focused much on the effort afterwards, but the problem goes away after a while. We did take the suggestions, thanks @HeartSaVioR , though not sure if it is the one that fix the problem.

[2015-01-13 20:07] nykolaslima commented on #643
Since we got no more issues about it, probably @HeartSaVioR suggestions solved the problem.

I think we can close this. What do you think @teresayan @HeartSaVioR @marcosnils?

[2015-01-13 20:23] nykolaslima commented on #848
@gauravparmar85 I think this problem was fixed by https://github.com/xetorthio/jedis/issues/636

Can you upgrade to version 2.5.1 and test again?

[2015-01-13 20:37] nykolaslima commented on #816
I don't think that Jedis need to close the connection if any error occurs. Users should catch `JedisConnectionException` and close the connection.

Having this in mind I think we can close this issue, what do you think @HeartSaVioR?

It has been opened since 11, Dec 2014.

[2015-01-13 22:18] #799 closed

[2015-01-13 22:59] #723 closed

[2015-01-14 04:13] HeartSaVioR commented on #816
@nykolaslima Agreed!
@qingchen191 Please reopen this issue if you think it's not resolved now. Closing.

[2015-01-14 04:13] #816 closed

[2015-01-14 04:18] HeartSaVioR commented on #848
@nykolaslima Unfortunately, it seems to not related to issue/PR you stated. It was ArrayIndexOutOfRangeException.
@gauravparmar85
Do you have any timeout configuration from Redis? Seems like Redis suddenly disconnected.
Could you share your Pool Config?
We can validate Jedis instance before getting it from pool, by GenericObjectPoolConfig.setTestOnBorrow(true);

[2015-01-14 04:21] HeartSaVioR commented on #853
@airpingu Could I close this issue? Seems like I've answered root issue and follow-up question. :D

[2015-01-14 04:24] HeartSaVioR commented on #643
@nykolaslima Yes, and @teresayan doesn't want to follow up much.

[2015-01-14 04:24] #643 closed

[2015-01-14 10:34] airpingu commented on #853
Sure! Appreciate your help!

[2015-01-14 10:34] #853 closed

[2015-01-14 12:50] gauravparmar85 commented on #848
@HeartSaVioR Actually the scenario is, I have this job configured using spring cron and it runs once in 24 hours to create some report from the data that i keep in redis DB. I works fine for the first time when i create the JedisPool but starts failing after that.
JedisPool jedisPool = new JedisPool(config, uri.getHost(), uri.getPort(), 10000);
in the above initialization config is : config = new

[2015-01-14 22:37] #850 closed

[2015-01-15 12:52] sutanudalui opened #855 "Pooled connections not closing socket on destroy()"
Hello,
I am using JedisPool for pooled connections. We use blocking pop calls on Redis, and have a general method to close the socket connection.

When we were not using JedisPool, we were simply doing disconnect() and interrupting the blocking thread. However, this pattern does not seem to be working when using JedisPool. It seems the underlying socket connections are not being closed while calli

[2015-01-15 12:56] sutanudalui commented on #855
FYIP - We are using Java 7 try-with-resources while using a connection, and not explicitly closing it. Using Jedis 2.6.1

[2015-01-15 13:42] marcosnils commented on #855
@sutanudalui can you share the code when you make a try-with-resources to get a connection from the pool?

Thanks!.

[2015-01-15 14:41] DivineTraube opened #856 "Stackoverflow in MultiResponseBuilder"
Hi,

if one performs many operations (a few thousand) in a multi over a pipeline, the recursive nature of the response processing in Jedis will always cause a Stackoverflow.

Code to reproduce this in Jedis 2.6.2 :
[code]

Stacktrace:
[code]

[2015-01-15 15:48] marcosnils commented on #856
@DivineTraube as you may already know this is a common issue when dealing with recursive calls in java as the thread stack size has a small default value (1024k).

The example above makes 50k recursive calls without allocating any variables inside the stack and also throws a a StackOverFlow error.

[code]

If you're planning to make a lot of pipeline calls I'd recommend to increase the thread stac

[2015-01-15 22:42] Gillingham commented on #844
The default JedisPool size is really small, that should be mentioned in the docs. There is #739 open currently.

I was running into the same issue where randomly during a lot of writes to redis I would get the same error message, I solved this by increasing the pool max size via JedisPoolConfig setMaxTotal()

[2015-01-15 23:36] psydell opened #857 "Unsupported INFO with Section in Pipeline"
Jedis.java has 2 methods for INFO command:
public String info();
public String info(final String section);

but Pipeline.java has just one:
public Response<String> info();

[2015-01-16 06:14] sutanudalui commented on #855
@marcosnils
Basically we are using Redis as a blocking queue. As a result some connections from the pool are always waiting on a Redis blocking pop. Well, ideally we should not use a pooled resource for blocking operation and that is an alternate design approach that can be taken.

However, I would expect whenever the resource connection is destroyed/closed, any blocking operation should be notifi

[2015-01-16 09:20] kennethjor opened #858 "NullPointerException in smembers()"
Today I've noticed quite a few of these exceptions being logged on our servers:

[code]

I have tried to reproduce it locally, but was unable to. However, it seems this could be fixed by adding a null check just before `return new HashSet<String>(members);` in `smembers()`:

[code]

This was noticed in version 2.6.5 on Jedis running against Redis 2.8.4.

[2015-01-16 13:44] marcosnils commented on #857
@psydell good catch. Do you mind crafting a PR to include that functionalty?.

Thanks!.

[2015-01-16 14:40] HeartSaVioR commented on #858
Thanks for finding missed spot!
Could you craft a pull request if you don't mind? Thanks in advance!

[2015-01-16 14:58] marcosnils commented on #858
@HeartSaVioR @kennethjor I'm wondering why `getMultiBulkReply` would return null and not an empty list. Any clues about that?

[2015-01-16 15:11] marcosnils commented on #858
@kennethjor I'm wondering if maybe you can catch the NPE in your application and print the smembers key value. Also it would help if you could paste the whole stack so we can track the source of the problem.

[2015-01-16 15:28] HeartSaVioR commented on #858
@marcosnils @kennethjor
I'm also wondering what situation causes getMultiBulkReply() to return null.
Anyway if there's a probability for members to be null, returning null is proper way instead of throwing NPE.

[2015-01-16 16:32] HeartSaVioR commented on #856
@DivineTraube
Thanks for reporting. I'll investigate on it.
@marcosnils
Maybe we have to find a way to take care of dependency without cross reference, which makes recursion. Please share any ideas or approaches anytime when you'll have.

[2015-01-16 18:10] kennethjor commented on #858
@HeartSaVioR @marcosnils I could craft a pull request. What should it return in this case? Null or an empty Set?

That's the entire stack trace. Everything below that is within my application and wouldn't really shed any light on it.

This only happens when the server is under high load, so it might be an issue with Redis itself? I wasn't able to reproduce it unfortunately, so I don't know what da

[2015-01-16 18:14] marcosnils commented on #858
@kennethjor, do you see any errors in the redis logs? Maybe that can give
us a clue if something is not working properly.
El 16/01/2015 18:10, "Kenneth Jorgensen" <notifications@github.com>
escribió:

[2015-01-16 23:29] HeartSaVioR commented on #856
Maybe I got fixed it by #860.

I can't remove cross reference cause we cannot know what response.get() is called first.
(It can be "exec"'s response, or "request in multi"'s response.)
Instead, I changed Response.build() to prevent recursion by checking build is in progress.

[2015-01-19 09:38] gauravparmar85 commented on #848
Thanks all for your help. Modifying the pool config fixed this issue.

[2015-01-19 09:38] #848 closed

[2015-01-19 12:26] #857 closed

[2015-01-19 16:55] psydell commented on #857
Thank you

On Mon, Jan 19, 2015 at 4:26 AM, Marcos Nils <notifications@github.com>
wrote:

[2015-01-21 05:33] Pratap6 opened #862 "redis.clients.jedis.exceptions.JedisConnectionException: Could not get a resource from the pool"
Iam checking Redis Read and Write with Concurrent Users at A time(Multi-threading).it is working fine upto 380 Users and then it throws above Exception.

Any help greatly appreciated.

Thanks.

[2015-01-21 05:34] Pratap6 opened #863 "Exception in thread "Thread-1798" redis.clients.jedis.exceptions.JedisConnectionException: java.net.SocketException: Software caused connection abort: recv failed"
Iam checking Redis Read and Write with Concurrent Users at A time(Multi-threading).it is working fine upto 380 Users and then it throws above Exception.

Any help greatly appreciated.

Thanks.

[2015-01-21 07:56] auhig opened #864 "Class BinaryShardedJedis does not have method "public String set(final byte[] key, final byte[] value, final byte[] nxxx, final byte[] expx, final long time)""
As you see, could not find the method, is there a reason for this?

[2015-01-21 20:52] marcosnils commented on #864
@auhig we probably missed it. Do you mind crafting a PR to fix it?

[2015-01-21 22:23] HeartSaVioR commented on #863
@Pratap6
Hello.
Could you share your snippet which part is using Jedis?
I've not seen that message and haven't reported.

If you use JedisPool (and you should in a multithreaded env.) could you configure GenericObjectPoolConfig to test before borrow?

[2015-01-21 22:24] HeartSaVioR commented on #862
We can try resolving #863 to resolve #862.

[2015-01-21 22:24] #862 closed

[2015-01-21 22:25] HeartSaVioR commented on #863
@Pratap6 Please describe Jedis version, Redis version, single/multi threaded also.

[2015-01-22 06:44] kennethjor commented on #858
@marcosnils Sorry no I don't have a log from Redis at hand.

[2015-01-23 06:47] Pratap6 commented on #863
@HeartSaVioR My versions are jedis 2.6.2 and redis-2.8.7 and commons-pool2-2.3.jar,

I'm attaching the class files for Reading, Writing and Jedis Connection SingleTon Classes.

Any help to resolve this issue.

Thanks in advance.
![myapprediswritecilent](https://cloud.githubusercontent.com/assets/10598012/5870715/d9ac5cfa-a2f8-11e4-8ddd-79359cb3bef9.JPG)

---------------------------------
Reading F

[2015-01-23 07:04] HeartSaVioR commented on #863
@Pratap6 Could you please attach your source code into Gist if you don't mind?

[2015-01-23 07:24] luyee commented on #847
Unfortunately , It happend

[2015-01-23 10:06] Spectrumleeee opened #866 "JedisCluster or ShardedJedis can't select databases"
I still can't understand why Redis Cluster just offer databases 0, when user execute get/set command, all the keys will be dispatched to the specified node after calculate its slot hash, so i think i can provide a database parameter to use the specified database in the specified database just implements it by using jedis.select(database) before the jedisCluster return the jedis and execute command

[2015-01-23 11:01] marcosnils commented on #866
@Spectrumleeee regarding to Redis Cluster database support you should ask your question in the official redis group. Jedis is just a driver for redis and the same way as Redis Cluster doesn't support database selection, Jedis doesn't also.

Regarding to database selection in ShardedJedis, we've already discussed it here: https://github.com/xetorthio/jedis/pull/835. Can you provide mode details abo

[2015-01-23 15:44] allanwax commented on #855
See https://github.com/xetorthio/jedis/issues/847 as well

[2015-01-23 16:12] nykolaslima commented on #866
@Spectrumleeee Actually with `ShardedJedis` you can select the database, see this PR https://github.com/xetorthio/jedis/pull/835

You can use `URI` to define the host and the database or you can create one `JedisShardInfo` and call the `setDb(int)` method.

This feature is labeled starting from version 2.6. @marcosnils did you guys already release it?

[2015-01-25 02:10] HeartSaVioR commented on #866
@nykolaslima
2.6.3 has one unmerged PR to wait for review.

Regarding decision of #835's version, seems like I made a mistake.
If we strictly apply semantic version, it should be 2.7.0 cause it doesn't resolve any bugs.
But we sometimes ignore semantic versioning because of releasing feature faster, so I don't want to revert it.

Btw, actually we're busy now to prepare Jedis 3.0.0.
If you're inter

[2015-01-26 00:33] Spectrumleeee commented on #866
OK, thanks all, close it

[2015-01-26 00:33] #866 closed

[2015-01-26 08:02] yairogen opened #867 "Jcache support"
Please add support for jcache intercae with jedis binding.

[2015-01-26 09:13] HeartSaVioR commented on #867
I skimmed JSR107 spec just now (cause I didn't know Jcache).

"Note that it is a personal opinion", but I think it's better to not support it.
We always focus to make Jedis simpler, and therefore Jedis didn't serialize or deserialize object.
We deligates serde to Spring Data Redis now, so someday Spring Data Redis will support Jcache if it doesn't.

But I want to hear other voices, so let's keep o

[2015-01-26 10:46] igreenfield commented on #867
I think it will be great to have this interface.

[2015-01-26 10:47] Pratap6 commented on #863
@HeartSaVioR, As per your request, I have shared my source code into Gist, could you please verify and help me to resolve this issue.
Thanks in advance.

[2015-01-26 10:51] HeartSaVioR commented on #863
@Pratap6 Please leave your gist link.

[2015-01-26 10:52] Pratap6 commented on #863
@HeartSaVioR Please find my source code link below:

https://gist.github.com/Pratap6/a7c2903eeb3f8757ec51

[2015-01-26 14:24] #864 closed

[2015-01-26 16:14] marcosnils commented on #863
@Pratap6 I've just run your Writer and Reader code in my computer and I didn't get any errors.

I've tested it with latest Jedis code (master branch) and with latest Redis (unstable branch) code.

Can you give it a try with that setup so we can start narrowing down the problem?

[2015-01-27 04:19] HeartSaVioR commented on #863
@Pratap6
I skimmed your gist codes but cannot find any issue.
One different environment would be commons-pool2-2.3.jar. Could you change your project's commons pool with 2.0 and try again?

[2015-01-27 04:55] Pratap6 commented on #863
@marcosnils Thank you for quick response, If you increase concurrent users in Writer class (300+)users and Reader Class(400+) users,then at that time I'm getting those 2 errors.

Writer Class:
---------------
public class MyAppRedisWriteCilent {
	public static void main(String[] args) {
//Increase ConCurrent Users here --- 300+ users above
		for (int i = 0; i <300; i++) {
			Runnable thread = null

[2015-01-27 06:04] Pratap6 commented on #863
@marcosnils As per your suggestion I've tested with new setup having latest Redis-2.8.19 stable version and Jedis-2.6.2. I got those 2 problem's again.

At Writer Class, I have tested with 400+users I got the below error:
------------------------------------------------------------------------------------------
redis.clients.jedis.exceptions.JedisConnectionException: java.net.SocketException: Soft

[2015-01-27 06:09] Pratap6 commented on #863
@HeartSaVioR

As per your suggestion, I have changed that pool into commons-pool2-2.0.jar and tested again. I got the same error.

[2015-01-27 07:15] yamucd commented on #649
hi giridharkannan,
I too have a similar issue when i conduct a fail-over test .I have master & slave configuration setup.I conducted a fail-over test in which i make the master redis go down forcefully & monitor the switch (the slave gets promoted to master) but the issue is that my java based web application is not able to reconnect to the new master.

The following exception is observed in the a

[2015-01-27 08:08] kennethjor commented on #858
I'm happy to do a pull request for this, if you can tell me whether in this event an empty set or null should be returned.

[2015-01-27 08:58] yamucd commented on #649
also observed

[#|2015-01-27T14:27:40.934+0530|SEVERE|glassfish3.1.2|com.gsm.Queue(com.gsm.nsca.Alerter$IncidentFlusher)|_ThreadID=54;_ThreadName=Thread-2;|Failed to flush incidentcom.gsm.nsca.IncidentRecord@1c89a54
java.lang.RuntimeException: com.mongodb.MongoInternalException: DBObject of size 146490322 is over Max BSON size 16777216
        at com.gsm.nsca.IncidentRecord.flush(IncidentRecord.ja

[2015-01-27 09:21] yairogen commented on #867
@HeartSaVioR we can take a staged approach here. Even wrapping Jedis with the JCache Cache interface is a big advantage for projects that want to code against JCache API and switch cache providers easily.
Many providers already support JCache such as: hazelcast, infinispan and others.

[2015-01-27 10:06] HeartSaVioR commented on #867
@xetorthio @marcosnils What do you think about supporting JCache?

[2015-01-27 11:21] marcosnils commented on #858
@kennethjor I'd return an empty Array because if null is returned it's probable that we break our user's code.

@HeartSaVioR what do you think?

[2015-01-27 11:31] marcosnils commented on #863
@Pratap6 how do you exactly run your test?, do you run both Writer and Reader at the same time or one after the other?. I've just increased the values to 400 for the Writer and 420 for the Reader and I didn't get any errors at all.

The way I'm testing is running first the WriterClient and then the Reader. I've also used latest redis stable version and Jedis master branch.

[2015-01-27 11:37] marcosnils commented on #863
@Pratap6 can you try increasing the pool MaxTotal to 5000 in JedisConnectionManager, try again and share your results please?

Also which Java version and OS are you performing your tests on?

[2015-01-27 11:58] Pratap6 commented on #863
@marcosnils
Thanks for your quick reply,
I'm testing One after the other. As per your suggestion I have increased pool MaxTotal to 5000 and tested again, Same errors are coming.
Java Version: 1.7.0_65
OS:  Ubuntu 14.04 LTS
![writerclasserror](https://cloud.githubusercontent.com/assets/10598012/5918033/c99d7354-a649-11e4-80d8-9d68caf29f19.PNG)
![readerclass error](https://cloud.githubusercontent.co

[2015-01-27 12:17] marcosnils commented on #863
@Pratap6 do you have some custom configuration set in your sysctl.conf file?. Are you using the default redis.conf in your server?

"recv failed" usually happens when someone (either the OS or Redis) closes the connection to the Java client.

[2015-01-27 12:46] Pratap6 commented on #863
@marcosnils
Yes I'm using default redis.conf in my server, I haven't made any custom configuration in sysctl.conf file. Could you please help me what are the required changes needed in sysctl.conf file.
And how to resolve this issue -- recv failed error

Please suggest me on this.

Thanks.

[2015-01-27 14:18] marcosnils commented on #863
@Pratap6 I'll give it a look later today and let u know if I can find something.  @HeartSaVioR do you have any ideas what may be happening?, have you tried running the code in your computer?

[2015-01-27 14:21] HeartSaVioR commented on #863
@marcosnils No, I'll give it a try.

[2015-01-27 14:26] HeartSaVioR commented on #858
@marcosnils I'm OK with returning empty set.
Btw, I'm still curious what parameters cause null response.

[2015-01-28 15:01] HeartSaVioR commented on #863
@marcosnils I ran Writer and Reader at same time, and receive some error messages.
(Also modified code to always print stack trace)
[code]

JedisFactory returns false without any messages if it cannot validate object so I can't follow up.
I'll try to modify JedisFactory to print stack trace if it throws and try again.

@Pratap6
Could you please check Redis log and paste it if Redis wrote error log

[2015-01-28 23:34] HeartSaVioR commented on #863
@marcosnils
I found that there're some 'connection reset' in validating object.
But I have no idea about causing socket to broken.

@Pratap6
Btw, your ReadClient requests a lot of objects from pool, worst scenario is 380 * 2500 = 950000.
Jedis should create sockets too fast, and Redis should handle your 950000 requests and relevant 950000 * N PINGs (testOnBorrow and testOnReturn, and testWhileIdle

[2015-01-29 07:39] kennethjor commented on #858
@HeartSaVioR @marcosnils Unfortunately this was a random error we saw on our system, so I don't have the logs at hand.

I wanted to dig into this a little further to see why `smembers(String)` might return null.

First of all [`BuilderFactory.STRING_LIST.build` has a direct check in there to passthru null values](https://github.com/xetorthio/jedis/blob/ffbca78f348b0ccd6aab8c42c7f39e2bac18775d/src/

[2015-01-29 08:13] HeartSaVioR commented on #858
@kennethjor @marcosnils
I'm sorry, but I found that null reply in array reply should be handled with "null".

http://redis.io/topics/protocol#array-reply

[code]

Unless Redis replies "null reply" to smembers, there should be no chance to return null from two spots as @kennethjor memtioned.
(First spot is for null reply, second spot will throw JedisException before returning null.)

Anyway, as Red

[2015-01-29 08:30] kennethjor commented on #858
@HeartSaVioR Personally I think responding with null makes a lot more sense. Empty lists and sets may be convenient, but do not really add anything when `null` is the true nature of the reply. Let me know and I'll update the pull request accordingly.

[2015-01-29 10:15] Pratap6 commented on #863
@HeartSaVioR
I haven't find any errors in my Redis log file. please find my redis.log file
![redislog](https://cloud.githubusercontent.com/assets/10598012/5955857/571e0980-a7cd-11e4-96ff-30eef7302ebb.PNG).

[2015-01-29 10:28] HeartSaVioR commented on #863
@Pratap6 Could you please disable THP and try again?

[2015-01-29 11:50] Pratap6 commented on #863
@HeartSaVioR

Hi,I tried with below command to disable THP in my Environment.
$ echo never > /sys/kernel/mm/transparent_hugepage/enabled

After that I have tested Redis Write and Read one after another, again same errors are coming.

Thanks,

same errors are

[2015-01-29 14:30] marcosnils commented on #863
@HeartSaVioR If you run Write first and then Read, do you get the same errors @Pratap6 is getting?

Best!.

[2015-01-29 14:42] HeartSaVioR commented on #863
@marcosnils
I didn't get 'Software caused connection abort: recv failed'. I got another errors, which can be seen easily.
(broken pipe, connection reset, etc.)

[2015-01-29 15:43] HeartSaVioR commented on #863
@Pratap6
Please refer http://unix.stackexchange.com/a/99172 for disabling THP completely.

[2015-01-29 17:39] Pratap6 commented on #863
@HeartSaVioR

Thanks for the quick reply, As per above link I have disabled THP completely in my Environment.
And then Rebooted my machine and started my Redis server.
After that I tested Redis Write with 400 users, I got same error after disabled THP.

(2) Got exception during getting jedis connection. Could not get a resource from the pool Called from info.redis.test.MyAppRedisWriter.run
Got Jed

[2015-01-29 20:31] marcosnils commented on #863
@Pratap6 can you change the redis loglevel to "debug" and check if something pops out?

[2015-01-29 22:10] HeartSaVioR commented on #863
@Pratap6
Could you increase /proc/sys/net/core/somaxconn to higher value, 1024 or 32768?
Somaxconn is described by https://computing.llnl.gov/linux/slurm/high_throughput.html
and you can change it, refer http://serverfault.com/a/271386 for help.

[2015-01-30 06:41] Pratap6 commented on #863
@HeartSaVioR

As you suggested, I made changes in /proc/sys/net/core/somaxconn file ,but Redis Write is working upto 400 users only(when I check with 500 users, It is not working. I got same errors as mentioned above)
And Redis Read(I run with 420+ users) takes lots of time after 120 users(but still program is running).
Is there any Ubuntu environment changes are needed,please suggest me.

Thanks

[2015-01-30 06:54] Pratap6 commented on #863
@marcosnils
As you suggested, I have Run the Redis in Debug mode, I haven't find any issue in Redis Logger file.
I found this one in log file:
[2571] 30 Jan 12:19:13.103 - Reading from client: Connection reset by peer
[2571] 30 Jan 12:19:13.103 - Reading from client: Connection reset by peer

Is this Issue?

Thanks in advance.

[2015-01-30 07:26] HeartSaVioR commented on #863
@Pratap6
1. Did you reboot to take effect?
2. Connection reset by peer : I don't know about Network deeply, but this SO answer can help you.
http://stackoverflow.com/a/1434506
3. Try poolConfig.setMaxIdle() to 2000, and see it helps. (Invalidated socket will be removed by "test on borrow" and "test while idle")

Btw, I'm wondering what scenario needs initiating a hundred thousand threads (400 * 25

[2015-02-03 14:33] nykolaslima commented on #858
Hello guys, I'm late on this, I'm sorry.

But looking into the PR, looks a lot verbose to handle null in many places and it may cause future problems if we forget about it.

I still didn't understand why `getMultiBulkReply()` would return null. If this occurs when Redis had some problem, it wouldn't be nice if we check null in `getMultiBulkReply()` and throw a proper Jedis Exception for it?

This

[2015-02-03 14:47] HeartSaVioR commented on #858
@nykolaslima
If you read Redis protocol specification deeply, you can find out Redis defines "null bulk string" or "null array", "null value" in array, and force to treat it to null.

http://redis.io/topics/protocol

I addressed null array earlier, and here's another part of Redis protocol spec, null bulk string.

[code]

Therefore, returning null from getMultiBulkReply() is just a Redis protocol

[2015-02-03 15:42] nykolaslima commented on #858
I understand your point @HeartSaVioR. So the PR looks good to me. I searched and didn't find any missing spot. :+1:

[2015-02-03 17:04] #858 closed

[2015-02-04 08:59] myc0058 opened #876 "jedis.keys() return type is not compatible jedis.mget() param type"
Set<String> keys = jedis.keys(RedisStrings.MakePostKey(userNo));

String[] arrayKey = keys.toArray(new String[keys.size()]); <---------- i dont want this code line

List<String> valueList = jedis.mget(arrayKey);

[2015-02-04 15:46] marcosnils commented on #876
@myc0058 what do you propose?. All jedis commands that return lists / sets, etc return either `List` or `Set`, so I don't see why we need to make these to interfaces necessarily compatible.

[2015-02-04 17:11] DivineTraube commented on #856
Great, merging this would be highly appreciated

[2015-02-04 22:19] #856 closed

[2015-02-04 22:37] marcosnils commented on #856
Merged to master, 2.7 and 2.6

[2015-02-05 01:44] nykolaslima opened #877 "Being able to use #set with only expire time"
We currently have the method: `String set(String key, String value, String nxxx, String expx, long time)`

But if we want to only pass the `ex` or `px` timeout parameter, we are not able to because `nx` or `xx` parameter is required.

I'm thinking in two possible solutions:
1. create a new set method, with this signature: `String set(String key, String value, String expx, long time)`
2. accept nul

[2015-02-05 02:11] HeartSaVioR commented on #877
I have another approach.
There're too many optional parameters, so we may have to change our approach and use new Param class like ZParam instead of method overriding.

[2015-02-05 11:43] xetorthio commented on #877
Overloading would be backwards compatible, right?

On 23:11, Wed, Feb 4, 2015 Jungtaek Lim <notifications@github.com> wrote:

[2015-02-05 13:55] nykolaslima commented on #877
@xetorthio overloading will be backwards compatible but it's not maintainable. Imagine that we will have big method with all optional parameters or many methods with all possible combinations.

I suggest us to create a `Param` class, where users can build the optional parameters:
[code]

For the SET command, we could have a SetParams:
[code]

This way we could call `set` method like this:
`jedis.s

[2015-02-05 14:14] HeartSaVioR commented on #877
Yes, I'm aiming it for 3.0.0, fit for breaking change.

[2015-02-05 14:22] HeartSaVioR commented on #876
Maybe this issue is duplicated.

We already discussed about supporting vargs vs Iterable (or maybe List) to parameters.
Two things are having pros and cons, and I don't remember precisely but we decided to stick current way.

Btw, we can discuss to break current rule because we're preparing major release.

[2015-02-05 14:59] xetorthio commented on #877
Ok, although overloads are very convenient too.I don't know if I would have
a strict rule about this.

On Thu Feb 05 2015 at 11:14:55 AM Jungtaek Lim <notifications@github.com>
wrote:

[2015-02-05 15:54] nykolaslima commented on #877
@xetorthio so what approach should we use?
1. overloads
2. `Params` class

@HeartSaVioR @marcosnils

[2015-02-05 15:55] xetorthio commented on #877
I think both... but we need some rules to decide when to use each approach.

On Thu Feb 05 2015 at 12:54:02 PM Nykolas Laurentino de Lima <
notifications@github.com> wrote:

[2015-02-05 16:02] nykolaslima commented on #877
IMHO, we should keep `Params` class for every optional parameters.

We could use overload when command got just one optional parameter, but doing this, if the command evolve in Redis and get more optional parameters it will be more difficult to update Jedis, because we will need to add other method or change the method signature to support it.

Using the `Params` class approach, we could have the

[2015-02-05 16:16] xetorthio commented on #877
I understand the problem I just don't think that in order to do ```SET foo
bar EX 10``` I should do:
[code]
Instead of:
[code]

There is a 3rd option that just came to my head, which is adding a single
overload for every command that admits optional params with a vararg of
strings. So basically the above command could be declared like this:
[code]

This last one avoids all Param classes. We could

[2015-02-05 16:30] nykolaslima commented on #877
We can create the `*Command*Params` class using the fluent builder pattern, so we avoid this setters and it could be a little easier:
 `jedis.set("foo", "bar", new SetParams().ex(10));`

I also thought it would be nice to receive a `varargs`, but the optional parameters are not always `key/value` pairs. For example, SET command could receive a `NX` or `XX` param, that isn't `key/value` param.
In t

[2015-02-05 22:33] HeartSaVioR commented on #877
Using vargs can only work when we pass params to Redis directly, not caring what is key and what is value, and what is optional keyword.
It's no problem with simple commands, but it's too hard to use with complex commands including optional keywords.

Giving users to freedom is great, but it's not good anymore when it's near raw things, means users should know sequence of parameters, what keywords

[2015-02-05 22:44] nykolaslima commented on #877
As discussed with @xetorthio, I believe that we all agree with `Params` class approach.

I'll implement it for this case and open a PR for you guys review. Thanks!

[2015-02-06 01:26] myc0058 commented on #876
my opinion is

jedis.keys() and jedis.mget() function is Jedis's functions.

Between the jedis's functions return type and param type should be match.

i want to make a overloading function

List<String> jedis.mget(List<String> keys) {
String[] arrayKey = keys.toArray(new String[keys.size()]);
return jedis.mget(arrayKey);
}

this is just about jedis's kindness.

[2015-02-06 12:20] Zitrax commented on #696
The main page say that "Jedis is fully compatible with redis 2.8.5." so is this only a build issue ? If so are there pre built jars somewhere ?

[2015-02-06 14:19] marcosnils commented on #876
@myc0058 you're not proposing something generic that will solve then problem when dealing with arrays vs lists vs varargs. I don't see how we can we benefit of applying this solutions to all the other commands. Overloading the function is also something that you can do in your own project; you don't neet Jedis to provide that.

[2015-02-06 14:19] nykolaslima commented on #696
@Zitrax `make start` command starts the Redis servers needed to run the tests.
Probably, the Redis installed on your machine is not the latest unstable version of Redis, that's why your `make start` is getting errors.

I think you can't install the latest unstable version of Redis from `brew install`. You need to checkout the Redis repo(https://github.com/antirez/redis) and build it manually.

[2015-02-06 18:12] nicolas-cajelli opened #879 "Jedis.get randomly returns null"
Hello, i've been trying to find a cause to this issue for a couple of days, and i don't have any clue.

I have this code:
[code]

Sometimes it returns the ownerId, but sometimes (i haven't been able to found any pattern), it throws the exception. In those cases, if i go to the server and execute the output of the log, i get the real value.

I've tried to fix it by reading through a pipeline, like

[2015-02-07 04:22] HeartSaVioR commented on #876
Since it doesn't introduce method chaining, it is something trivial issue for us.

We're struggling to maintain SO MANY DUPLICATED methods which are just overloading methods due to support of various params.
Personally I really wish to get rid of these, and concentrate on thinking core things.

Marcos said this earlier, which I strongly agreed.

[code]

So sorry about it, we can reject anything if

[2015-02-07 19:21] marcosnils commented on #879
@nicolas-cajelli is there a chance you can setup a small environment so we can all reproduce the error?. The code you provided is ok so I guess it has something to do with the key itself or some external agent (such as network, sentinel configuration, etc).

Also if I understood correctly, you mentioned that you're also issuing some other queries and those are working correctly. Is there something

[2015-02-08 17:00] eivantsov opened #880 "cluster-node-timeout 50"
*** FATAL CONFIG FILE ERROR ***
Reading the configuration file, at line 3

Bad directive or wrong number of arguments

This is what I get when running make package. Redis version is 2.8.5. redis-server command does not return anything suspicious. Ubuntu 14.04

[2015-02-08 18:01] marcosnils commented on #880
@eivantsov Jedis is fully compatible with Redis version 2.8.5 However, in order for Jedis tests to pass you need to have the __latest__ redis (unstable) version installed. You need to clone the redis repo (https://github.com/antirez/redis) and `make && make install`.

Please let us know if you have some other issues.

[2015-02-08 18:02] #880 closed

[2015-02-09 00:42] #876 closed

[2015-02-09 00:44] myc0058 commented on #876
thank you for answer

[2015-02-09 06:33] eivantsov commented on #880
Thank you. That worked :)

[2015-02-09 07:27] mechine opened #881 "jedis excetion with redis-cluster binding multi ip addresses"
1.firstly, i try to comment the bind setting in the redis.conf
2. then i build the cluster with  ./redis-trib.rb create 127.0.0.1:6379  127.0.0.1:6380 127.0.0.1:6381
3.then i use JedisCluster to visit my cluster with such Exception:
java.lang.reflect.InvocationTargetException
at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodA

[2015-02-09 09:08] #837 closed

[2015-02-09 10:57] EdwardLee03 commented on #359
If Jedis operation happens Exception, it must be calling returnBrokenResource() on the broken resource, that the broken resouce will be destroyed.

[2015-02-09 11:03] yairogen commented on #867
Any updates?

[2015-02-09 13:11] Pratap6 commented on #863
@HeartSaVioR

It seems something related to Heap. I have installed Redis in 32 GB RAM machine and now that issue is not occurring. Please suggest ideal H/W requirement for Redis and also help us to get location of configuration files where VM and Heap memory for Redis can be updated.

[2015-02-09 13:23] nykolaslima commented on #867
Hi guys,

As we've discussed in Slack, if we want to Jedis 3.0 to support plugins, I think that support JCache should be a plugin and should not be in core.

I agree that we need JCache support, but we follow the plugin approach I think it should be a plugin. If we don't follow the plugin approach, I think it should be in core.
We need to define if we will follow the plugin approach or not @HeartS

[2015-02-09 14:13] jijojose1691 opened #882 "Cant connect to Redis using Jedis after JedisConnectionException."
Hi,
In my application(code given below), one thread will always push the data to the Redis using Jedis with help of Jedispool. The real problem is it will not reconnect automatically to the server after any network outreach, . It throws JedisConnectionException if my server is down. In the try-catch block, I handle this using returnBrokenResource() .But I got another exception while using retrunbr

[2015-02-09 14:14] HeartSaVioR commented on #867
We didn't even decide we really need to support JCache.
And I'm still thinking it's better to delegate "serde" to other libraries that uses Jedis.

And hazelcast should support JCache since JCache spec co-author is the CEO of Hazelcast.

[2015-02-09 14:39] yairogen commented on #867
Can you please explain the relation to Hazelcast in this discussion? Maybe I'm missing something?
Having said that why not add as a plugin? I think that would work great (as long as the end result would be - use JCache API and underneath go to Redis).

[2015-02-09 15:21] HeartSaVioR commented on #867
I'm just explaining that there's no surprise for hazelcast to support JCache, which doesn't mean JCache is great enough to support ASAP.

I discussed about supporting JCache with @xetorthio just now, and decide it's not Jedis core feature.
We're trying to make Jedis simple and simple, so you can use Jedis as a base layer for your project.
You can maintain your own class or project supporting JCach

[2015-02-09 15:32] HeartSaVioR commented on #824
@nykolaslima
I already talked re-structure, about 1 years ago.
https://groups.google.com/d/msg/jedis_redis/r1axS6Lckfg/Ylur-RRXiQoJ
Seems like preparing major release is a chance to go on? :)

[2015-02-09 15:39] nykolaslima commented on #824
Yes! Let's do it for the next 3.0.

[2015-02-10 00:20] HeartSaVioR commented on #881
@mechine
Thanks for reporting.
Can you elaborate it by specifying Redis version / Jedis version, and pasting full stack trace?

[2015-02-10 00:38] HeartSaVioR opened #883 "Break down Jedis to several submodules (in current Repo)"
Recently we're talking about drop supporting features at 3.0.0 because of simplification.

We can define the 'core' to Jedis (with JedisPool), and remains could be 'subproject'.
(I mean subproject to Maven's submodule, for example, https://github.com/apache/storm)

For example, you can see JedisCluster consists of Jedis, and it does work with no modification to Jedis itself.
(Sorry but one thing,

[2015-02-10 06:28] jamespedwards42 opened #884 "ZREM* WITHSCORES Feature Request"
ZRANGE* calls for jedis already support the WITHSCORES feature. Are there any plans to also add it for ZREM calls?

[2015-02-10 07:31] yairogen commented on #867
Are you suggesting I open the feature request to support JCache within Spring Data Redis? Or do say they already support that?

[2015-02-10 08:23] HeartSaVioR commented on #867
@yairogen
I'm sorry but I don't know that Spring Data Redis supports JCache now.
So I suggest you to open new issue from Spring Issue System.
https://jira.spring.io/browse/DATAREDIS

[2015-02-10 08:49] nykolaslima commented on #884
We want to be fully compatible with latest Redis version, so the answer is:
yes, we need to support it.

Would you like to implement it and open a pull request?

Thank you for reporting!
On ter, 10 de fev de 2015 at 04:29 James Edwards <notifications@github.com>
wrote:

[2015-02-10 08:52] yairogen commented on #867
Done.
https://jira.spring.io/browse/DATAREDIS-373
Would appreciate your votes on this.

[2015-02-10 10:44] ganesh239 opened #885 "JedisPool "Could not return the resource to the pool" exception"
Getting "Could not return the resource to the pool" Exception while calling JedisPool.returnResource()

Can i know when it will happen ?

JedisPoolConfig poolConfig = new JedisPoolConfig();
        poolConfig.setMaxTotal(400);
        poolConfig.setMaxIdle(400);
        poolConfig.setTestOnBorrow(true);
        poolConfig.setLifo(false);

        jedisPool = new JedisPool(poolConfig, "localhost",

[2015-02-10 10:52] igreenfield commented on #867
Done

From: Yair Ogen [mailto:notifications@github.com]
Sent: Tuesday, February 10, 2015 10:52 AM
To: xetorthio/jedis
Cc: Izek Greenfield (igreenfi)
Subject: Re: [jedis] Jcache support (#867)

Done.
https://jira.spring.io/browse/DATAREDIS-373
Would appreciate your votes on this.

—
Reply to this email directly or view it on GitHub<https://github.com/xetorthio/jedis/issues/867#issuecomment-73664263

[2015-02-10 11:38] nykolaslima commented on #867
Voted! @yairogen thank you for reporting it.

Can we close this issue?

[2015-02-10 11:39] nykolaslima commented on #885
@ganesh239 can you show us the error stacktrace?

[2015-02-10 12:10] yairogen commented on #867
sure. thanks for your support

[2015-02-10 13:18] HeartSaVioR commented on #867
OK, for now I'm closing this issue. Thanks everyone.

[2015-02-10 13:18] #867 closed

[2015-02-10 13:20] nykolaslima commented on #883
Totally agree with that.

We need to define what is gonna be the core, but I think it should be everything supported by Redis. I don't know if we will have much advantages breaking `jedis-cluster` and `jedis-sentinel` to sub-projects.
I agree that we must have sub-modules but not for this cases.

[2015-02-10 14:51] HeartSaVioR commented on #883
Please note that for maintaining from a few developers with a long time, Jedis has to adopt only 'communication between Redis'.
That's one of reasons why we're planning to drop supporting ShardedJedis at 3.0.0.

Based on my perspective about Jedis, I understand that you don't agree with breaking down features to submodule.

Thanks for your opinion!

[2015-02-10 14:58] HeartSaVioR commented on #883
Maybe I misunderstood you.
The point is 'separation of concern'.
You don't have to concern Jedis / JedisPool class when modifying JedisCluster. So does JedisSentinelPool.
Based on that we can run unit tests for each feature.
Maybe restructuring could achieve similar things. It would be amazing, too.

[2015-02-10 15:31] nykolaslima commented on #883
I understand you. I just wondering, this separation in sub-modules would make the development/testing/releasing much more harder?

My concern is about if the trade offs worth.

[2015-02-10 23:01] marcosnils commented on #881
@mechine are you still having this issue?

Can you please issue a `cluster info` and `cluster nodes` in your master redis cluster nodes and post the results here?.
I've just made a test and it works without problem for me.

[2015-02-10 23:24] marcosnils commented on #882
@jijojose1691 I don't see that you're getting an error when trying to return the broken resource into the pool. From the stack that you provided I can't see that `jedis returnBrokenResource Exception**********` is actually appearing
Are you entirely sure that you're getting an exception when trying to return the broken resource?

[2015-02-10 23:34] marcosnils commented on #863
@Pratap6 are you refering to the JVM Heap?. I'm totally confused when you're asking for Redis hardware specs when Jedis is coded in Java. Can you please give some more arguments why you believe it's the `Heap` and what exactly do you mean by `Heap`?

[2015-02-10 23:36] marcosnils commented on #359
@idyedov @joeyzhu0422 you should never use a Jedis instance in a multi-threaded environment. That's why JedisPool exists. Have you checked out the part of the wiki that mentions it? (https://github.com/xetorthio/jedis/wiki/Getting-started#using-jedis-in-a-multithreaded-environment)

Are you still getting this error in a non-multithread env?

[2015-02-11 00:15] HeartSaVioR commented on #883
My first thought is "Is it really better to add dependency (I mean Netty) which is only for AsyncJedis?"
My answer is not, "No, we would be better to separate project or submodules"

Maybe without AsyncJedis it's better not to break down submodules.
So I'm fine to not changing JedisCluster and JedisSentinel, but AsyncJedis has to.

ps. We can relocate Netty so that users can use their Netty, but I

[2015-02-11 00:16] HeartSaVioR commented on #883
Related to #824
In addition to #824's title, seems like it's time to discuss package structure.

[2015-02-11 05:17] jijojose1691 commented on #882
Hi ,
I am extremely sorry to provide the stack trace. When Redis server is down, I got below exception:

INFO : com.mySample.TestJedis - Got jedis conncetion exception
redis.clients.jedis.exceptions.JedisConnectionException: java.net.ConnectException: Connection refused: connect
	at redis.clients.jedis.Connection.connect(Connection.java:142)
	at redis.clients.jedis.BinaryClient.connect(BinaryClien

[2015-02-11 07:37] marcosnils commented on #882
@jijojose1691 I've found a problem in your example. The `TestJedis` class is always using the same instance of Jedis as it's being retrieved in the class constructor. That's why you're receiving exceptions when trying to return the broken resource because that Jedis instance was already returned before.

You need put the following line ` this.jedis = JedisFactory.getInstance().getJedisPool().getRe

[2015-02-12 00:54] nykolaslima commented on #883
@HeartSaVioR I agree with you.

I'll try to draft something and give you a feed.
Next week we have holidays in Brazil(Carnival), after that I'll post my opinions here.

[2015-02-12 01:00] HeartSaVioR commented on #883
@nykolaslima OK, we also have holidays in South Korea (Korean New Year) so I may be offline, too. :)

[2015-02-12 02:40] Pratap6 commented on #863
@HeartSaVioR
@marcosnils , Sorry for the confusion. It's regarding to JVM Heap only. I exported my project as a executable jar file and tested above scenario. here I was succeeded upto 700 concurrent users there is no pool exception. After that when I increase the users I'm getting Pool Exception...

My current scenario is, If A user send a request to Web service, then we get response as list of k

[2015-02-12 03:23] marcosnils commented on #863
@Pratap6 and how did you come to the conclusion that the problem was the JVM heap?. Increasing the RAM of the underlying system doesn't modify the JVM heap automatically. Did you manually tune up the Xmx and Xms parameters into your program to increase the amount of users?

Regarding to optimizations for your current problem (if you only have one redis server) I believe that by using sharding and

[2015-02-12 04:29] jijojose1691 commented on #882
@marcosnils Thanks Macros. Its working now.

[2015-02-12 04:29] #882 closed

[2015-02-12 08:08] jamespedwards42 commented on #884
Sorry for the false issue.  I sat down to work on this and realized I misread the documentation, zrem* calls only support returning the number of members removed..

[2015-02-12 08:08] #884 closed

[2015-02-12 10:48] nykolaslima commented on #884
No problem. Thank you!
On Thu, Feb 12, 2015 at 6:08 AM James Edwards <notifications@github.com>
wrote:

[2015-02-12 14:11] Librael commented on #241
Do you have any planing date/month for 3.0.0 ?
Release 3.0.0 will support async feature for sure or is it not completely decided yet?
If yes - it will be a Future result or Callback registration or both?
Thank you!

[2015-02-12 14:14] nykolaslima commented on #241
We will support async feature for sure.
We're still studying future vs callback.

I believe we still don't have a schedule date, we want to do it as fast as
possible.
On Thu, Feb 12, 2015 at 12:11 PM Librael <notifications@github.com> wrote:

[2015-02-13 18:29] sdeleuze commented on #241
Rather than just Async, a Stream based API like MongoDB or CouchBase are developing would be even more powerful. See http://blog.couchbase.com/why-couchbase-chose-rxjava-new-java-sdk for more details ...

[2015-02-14 05:54] HeartSaVioR commented on #241
@sdeleuze
Hello!
Actually I don't have any experiences on stream for Java.
(I know map / filter / reduce cause I'm Python programmer, and studied Scala a bit. ;) )
Since Jedis 3.0.0 should support JDK 7, it would be some kind of pain to implement custom Future (like CompletableFuture) and support it.

Could you give a hand to show some implementations? Thanks in advance!

[2015-02-16 14:27] christophstrobl opened #887 "JedisCluster should also expose BinaryJedisCommands."
It would be great to have `JedisCluster` expose `BinaryJedisCommands` in addition to `JedisCommands`.

[2015-02-16 14:53] marcosnils commented on #887
@christophstrobl PR is already being reviewed here: https://github.com/xetorthio/jedis/pull/671. Once we finishing reviewing we'll merge into Jedis.

[2015-02-16 14:53] #887 closed

[2015-02-17 02:25] HeartSaVioR commented on #241
@sdeleuze
I've just take a look at RxJava and it's amazing!
I can see the benefit of supporting 'stream', but since Redis has various operations and its return types are different, so I'm wondering how can I create stream based on Redis response.
One more question, when there're some ERRs inside of stream, we can't use traditional approach - throwing JedisDataException because it would stop whole

[2015-02-17 09:20] sdeleuze commented on #241
@HeartSaVioR Glad you like it. In term of API, some possible use cases for streams (`Observable`) are:
 - Return `Observable<?>` where you return `List<?>` in your current API.
 - Use it for Publish/Subscribe

You can see an example of converting Netty data pipeline to RxJava [here](https://github.com/sdeleuze/rxweb/blob/master/src/main/java/rxweb/engine/server/netty/NettyServerCodecHandlerAdapter

[2015-02-18 17:25] taer commented on #830
We also have a need to be able to query a slave for load splitting, and it's tolerant of stale data. I added a readonly command to BinaryClient which solved our problem, and pushed that to the Jedis class. I have code similar to @allanwax to get master/slave/slot information. Our use case is actually connecting directly to a redis-cluster slave node via loopback and plain JedisPool, then ensuring

[2015-02-18 18:15] taer commented on #830
Here is the initial pass at adding readonly: 6020bdb6af57848c1985f1aeb0c0494bef9d3810
I could submit a pull request for this

[2015-02-18 21:53] allanwax commented on #883
I think there is an advantage, now, that Redis can build without additional tools on a standard *nix box.  If by module you mean that maven is now required then I'd say no.  If you merely want to break the structure up into logical components then that's fine.  Being able to wget, make, make install on any system is an advantage.

[2015-02-23 14:32] sdeleuze commented on #241
Exposing just a [Reactive Streams](http://www.reactive-streams.org/) based API, like Mongo is currently doing, could also make sense.

[2015-02-25 02:43] ivansanchezvera commented on #241
@HeartSaVioR  is looking at an interesting direction, RxJava is great, couchbase client is using it and performance is great.
Is easy to use but I thing its kinda tricky to implement.
RxJava is really reactive and saves you the hustle to deal with futures yourself.

[2015-02-25 14:50] HeartSaVioR commented on #241
@ivansanchezvera
Yes. Actually I feel very tricky to implement with RxJava because most of commands returns single value, and there're many kinds of return types.
But I also agree that callback could be hell, and Java Future (under Java 8) is not fully async, so I'll give it a try.

[2015-02-25 18:50] addonis1990 commented on #885
Do you destroy the pool when you shutdown the app ?

[2015-02-25 20:00] marcosnils commented on #885
@ganesh239 do you still have this problem?

[2015-02-25 21:16] best241 opened #894 "Problems with jedis connections. Closing connections"
Hi! I'm running a quite big server where are about 400-500 clients connected into.
The problem is that jedis connections are crashing.
We have exceptions like: java.net.SocketException: Broken pipe, redis.clients.jedis.exceptions.JedisConnectionException: java.net.SocketException: Broken pipe
and long can't be parsed to String.
It's really strange. At first we thought that our system(freebsd) is g

[2015-02-26 05:24] ganesh239 commented on #885
Problem got resolved, i have a resource leak while using jedispool.
Sorry for no response.

[2015-02-26 05:24] #885 closed

[2015-02-26 06:25] qiansj commented on #885
@ganesh239 when the resource leak happen in your code?

[2015-02-26 06:35] ganesh239 commented on #885
resource leak happened in my code not in the library,

i was getting a jedis handler from the jedispool, which is leaked.
As i shared the jedispool among multiple threads, the jedis handler i made it as global variable.

When multiple threads are getting resource at same time using global jedis handler variable, the resource is leaking.

[2015-02-26 07:55] qiansj commented on #885
@ganesh239 tks.
My exception is "Returned object not currently part of this pool", occurred with exception "Could not return the resource to the pool", have you occurred this problem?

[2015-02-26 08:51] benkris1 commented on #885
@marcosnils  I have occurred the problem too!
com.zcloud.sun.cache.jedis.RedisException: UnShardingRedisProxy zrevrange(key,start,stop) exception, key is :push.agent.slaver1-push.msg.group.queue, start is : 0, stop is : 0
	at com.zcloud.sun.cache.jedis.UnShardingRedisProxy.zrevrange(UnShardingRedisProxy.java:1512)
	at com.zcloud.sun.cache.jedis.RedisCache.zPop(RedisCache.java:208)
	at com.zcloud.v

[2015-02-26 09:07] benkris1 opened #895 "JedisPool "Could not return the resource to the pool" exception"
Getting "Could not return the resource to the pool" Exception while calling JedisPool.returnResource()

this.pool = new JedisPool(poolConfig, ip, port);// in constructor

 public Set<String> zrevrange(String key, long start, long stop) throws RedisException {
        Set<String> result = null;
        try {
            if (key == null) return result;
            Jedis jedis = pool.getResource();

[2015-02-26 09:11] HeartSaVioR commented on #895
You're returning Jedis object twice when there's a Exception occurs on it, which one is using returnBrokenResource(), and other one is using returnResource().

If you use JDK7 or higher, you can avoid mistake by try-with-resources, or you can simply jedis.close() on finally statement.

See https://github.com/xetorthio/jedis/wiki/Getting-started#using-jedis-in-a-multithreaded-environment for more d

[2015-02-26 09:11] #895 closed

[2015-02-26 09:19] HeartSaVioR commented on #895
@qiansj Could you please check you're having issue with same reason? Thanks!

[2015-02-26 09:33] benkris1 commented on #895
@HeartSaVioR  Thank you!

[2015-02-27 02:39] mechine commented on #881
@HeartSaVioR  @marcosnils
Thanks for answering.
Sorry for being  late.
I think i have found the reason by using "cluster nodes":
when i create the cluster by:
./redis-trib.rb create 160.165.0.5:6379 160.165.0.5:6380 160.165.0.5:6381
i can visit the cluster using jedis,while when create the cluster by:
./redis-trib.rb  create 127.0.0.1:6379 127.0.0.1:6380 127.0.0.1:6381
then the cluster is unvisita

[2015-02-27 02:39] #881 closed

[2015-02-27 12:49] franklinjohnv-flipkart commented on #790
Hi Allan/Heart,
                       After going through thread, I'm having some confusions. Can you please explain the same?
a) Traditional Redis - Master and Slaves monitored by a sentinel. JedisSentinelPool gives the current master to the client code, and can be used to set/get values. Does Sentinels provide info about slaves, and can we make use of the same info to load balance GET requests

[2015-02-27 17:34] allanwax commented on #790
I will leave this to @Heart to respond.  I think he knows more about this than I.

[2015-02-28 12:19] addonis1990 commented on #885
@ganesh239  Would you mind if you share with us the code that caused the leak and how did you fix it ? I am having a connection too but haven't been able to solve so far.

[2015-02-28 12:29] ianjoneill opened #896 "RENAME functionality has changed in Redis Unstable"
The test ```renameOldAndNewAreTheSame()``` in ```AllKindOfValuesCommandsTest``` fails following antirez/redis#2392. Renaming a key to itself is now essentially a noop.

[2015-02-28 13:15] HeartSaVioR commented on #790
a) JedisSentinelPool doesn't care about slaves, cause Redis Sentinel doesn't take care of slave odown / failover.
b) AFAIK there's no automated slot reassignment in Redis Cluster. Only master/slave failover supported.

[2015-02-28 14:04] #896 closed

[2015-02-28 19:18] franklinjohnv-flipkart commented on #790
Thanks Allan and Heart..

[2015-03-03 02:37] cpusoft opened #901 "does JedisCluster support set(byte[] key, byte[] value)?"
does jediscluster support byte[] , such as binaryclient supports set(final byte[] key, final byte[] value) ?
so,it  can use jediscluster to save Custom object which is serializable .

thx alot

[2015-03-03 03:48] HeartSaVioR commented on #901
It's on reviewing #671

[2015-03-05 02:42] jessicasco commented on #418
same question,  is there any progress on this issue?  or is there another way out ?

[2015-03-05 03:00] nykolaslima commented on #418
You can select the database after getting the resource:

[code]

[2015-03-05 04:06] HeartSaVioR commented on #418
Currently you can provide password to JedisPool's constructor.
So this issue is no longer valid. Closing.

[2015-03-05 04:06] #418 closed

[2015-03-05 13:43] marcosnils commented on #894
Hi @best241 are you still having issues with this?

[2015-03-05 13:44] #879 closed

[2015-03-05 13:45] marcosnils commented on #879
Closing due to inactivity. Please comment if reopenning is needed.

[2015-03-05 13:47] marcosnils commented on #863
hi @Pratap6 any updates about this?

[2015-03-05 15:09] best241 commented on #894
I updated yesterday and so far there weren't any problems with this, but it may still change...

[2015-03-05 21:02] marcosnils commented on #894
@best241 what have you updated?. Jedis version or your code?

[2015-03-05 21:10] best241 commented on #894
@marcosnils Yes, I have updated jedis version to the newest.

[2015-03-05 21:11] marcosnils commented on #894
Amazing. I'm closing the issue for the moment. If you're still experiencing problems please comment so we can re-open

[2015-03-05 21:11] #894 closed

[2015-03-06 06:41] welyss opened #906 "Caused by: java.net.SocketException: Connection reset by peer: socket write error"
when write 50w data(something like:a hashmap includes 50w row) to redis server,it works.
but when i write 55w data to redis server,this exception has been throwed.
at first,i think it's caused by timeout,but i set maxtimewait from 1000*1000 to -1, it also doesn't work.
then i think there is not enough memery,but i change env to my local, my local mem is 8g,and redisconf's [maxmemory] is default no

[2015-03-06 13:01] nesalc opened #907 "I need performance"
I am using sorted sets and +500,000 results from zrangebyscore is not uncommon.

The current implementation in Protocol with an ArrayList and adding all these results is just to slow.

Any thoughts about doing this with maybe an iterator or allowing me to specify my own / override the default processMultiBulkReply in Protocol.

I was trying override classes/methods and end up with my own processMu

[2015-03-06 17:29] msavy commented on #241
I broadly agree with @sdeleuze in that Futures are, unfortunately, largely useless in applications where non-blocking is required as well as asynchronicity. For instance, on a platform such as Vert.x, one cannot block the thread under any circumstances, and polling is drastically suboptimal, so callbacks (with the library itself using async techniques to avoid blocking) is required.

Of course the

[2015-03-06 22:34] ShahBinoy opened #908 "Interface RedisPipeline is missing eval and evalsha methods"
Been trying to abstract my client code and discovered that eval and evalsha are not a part of Interface RedisPipeline.

They are introduced only in PipelineBase, this breaks the the interface contract.

Thanks

[2015-03-06 22:52] mpaoletta opened #909 "Jedis returning wrong values after long command execution"
We're having a severe app/driver bug on our heavily concurrent app.

This is a single redis installation with over 4M keys. In order to reproduce the problem, we execute a long running command from redis-cli, like a KEYS * or a DEBUG SLEEP (this is just to reproduce the problem), our client code (Jedis based) starts to throw errors, first socket read timeouts, which are expected and then it throws

[2015-03-06 23:06] mpaoletta commented on #909
I closed the original redis issue because it seems it is not related to redis but to Jedis (about to upload a simple case to reproduce it)

[2015-03-06 23:07] nykolaslima commented on #909
It would be nice if you could provide us a small test case about this problem.

I know that `Jedis` isn't thread safe, but you said that you are using one for each akka actor.

I'll try to take a look at it.

[2015-03-06 23:12] mpaoletta commented on #909
We reproduced the issue just with GET commands on a single redis instance. About to upload sample test code that reproduces the issue.

[2015-03-06 23:15] nykolaslima commented on #909
Ok, thank you. I'll wait for this.

[2015-03-06 23:17] mpaoletta commented on #909
This is simple groovy code that reproduces the issue:

package main.groovy

import redis.clients.jedis.*

import java.util.concurrent.*

static main(args) {

    def THREADS = 5

    def jedisPool = new redis.clients.jedis.JedisPool(new redis.clients.jedis.JedisPoolConfig(maxTotal:10), 'localhost')

// This populates the DB
    j = jedisPool.resource
    100000.times { j.set("foo:$it", "bar$it") }

[2015-03-06 23:21] mpaoletta commented on #909
Sorry about the groovy code, but it is the fastest thing a coworker could whip to reproduce the problem. Also, I don't know if it helps, but the jedis instances that fail have a broken instance var set to true.
Is there a pattern for handling errors?

[2015-03-06 23:23] nykolaslima commented on #909
When you got some error with the `Jedis` instance you need to use `returnBrokenResource` instead of `returnResource`.

Could you please try again with this fix?

[2015-03-06 23:32] mpaoletta commented on #909
Thanks a lot! that was it! Where is this in the docs?

[2015-03-06 23:37] nykolaslima commented on #909
I believe there is nothing documented about `JedisPool`. Did you any documentation about it?

But anyway I believe we should thrown a expressive exception when the `Jedis` instance is broken. This way we avoid awkward situations like that.

What do you think about throwing this exception @HeartSaVioR @marcosnils @xetorthio?

[2015-03-07 00:17] HeartSaVioR commented on #909
About Exception, handling JedisConnectionException would be enough since IOException transforms to JedisConnectionException.

About documentation, sure, here it is.

https://github.com/xetorthio/jedis/wiki/Getting-started#using-jedis-in-a-multithreaded-environment

Since Jedis implements Closeable, we're fine to call Jedis.close() from finally statement or just use try-with-resource.
If it was bor

[2015-03-07 00:22] HeartSaVioR commented on #908
It's on BinaryScriptingCommandsPipeline and ScriptingCommandsPipeline.

[2015-03-07 00:23] nykolaslima commented on #909
@HeartSaVioR I see your point. But as we are a API consumed by many developers it would be nice to create a "defensive programming" in this case. We know that users could close it in a wrong way (not using Closeable or using the wrong method), so it would be nice to try to avoid it.

Maybe instead of throwing a exception if the `Jedis` instance is invalid, we could remove the `returnBrokenResource

[2015-03-07 02:07] mpaoletta commented on #909
I ran into the problem using just a Jedis instance (no pool). Since my code is single threaded (using actors), I thought that I didn't need to use a pool. Even now, I can reproduce the issue without a pool (just try the sample code without ), so it doesn't seem right to require to solve it at the pool level. Since Jedis already handles reconnection well, why doesn't it reconnect whenever it enters

[2015-03-07 02:56] marcosnils commented on #909
We should definitely start by improving the wiki as it doesn't say anywhere that within an exception users need to use `returnBrokenResource` method.

Regarding @mpaoletta comments Jedis shouldn't retrieve wrong values even in broken state as that's a very terrible thing. I'll make some quick tests and hopefully we can altogether come with the optimal solution

[2015-03-07 05:09] HeartSaVioR commented on #909
Maybe I don't have enough experiences about Socket Programming.
But we're handling "Stream", how can we assume Stream is OK (without having partial response) if connection is broken or timeout has been occurred during reading response?

Could anyone explain me how we can be fine to use timed-out socket's InputStream?

Btw, reconnect strategy stated by @mpaoletta seems to be good.
We can reconnect

[2015-03-07 05:20] HeartSaVioR commented on #909
I'd like to add some opinions about your issue, with another issue you posted to Redis repo.

1. Redis core is single threaded, so sending "key *" will stop whole Redis world before completing.
You shouldn't do that thing from production environment. That's why "scan" comes into play.
2. Please increase read timeout from Jedis/JedisPool long enough when you run long commands occasionally. Actually

[2015-03-07 05:31] qiansj commented on #895
@HeartSaVioR redis operation, command must with key or value parameter, e.g: set a 123,
if the command has only "set " without any parameter, it occured error. THen, in my java code, release jedis resource occured error "Could not return the resource to the pool",
but it has "finally" code block, so, it also contains another error “Could not return the resource to the current  pool” , just for ref

[2015-03-07 05:35] HeartSaVioR commented on #909
@nykolaslima
Yes, it could be one way of resolving issue, and I like defensive programming too. :)

Btw, I'm afraid that Jedis users are already familiar with returnResponse / returnBrokenResponse. Removing returnBrokenResopnse will break backward compatibility.

And I don't know it's better to let JedisPool asks Jedis for its state.
Current Jedis.close() could be better cause Jedis knows itself's

[2015-03-07 05:44] HeartSaVioR commented on #909
Updated wiki page : https://github.com/xetorthio/jedis/wiki/Getting-started

Btw, we need to rewrite wiki pages since we don't need to explain replication from Getting-started.
We need to explain Transaction, Pipeline, JedisCluster from Getting-started instead.

[2015-03-07 06:08] ShahBinoy commented on #908
I forgot to mention I am using Jedis version 2.6.2

While I see that they are declared in the two interfaces you mentioned, but the below hierarchy which is in use right now and is recommended, does not have any

(sorry, I dont know the ideal way to insert code snippets from the github repo)

abstract class PipelineBase extends Queable implements BinaryRedisPipeline, RedisPipeline {
}

I wanted to

[2015-03-07 06:21] HeartSaVioR commented on #908
Regarding code snippet, you can use ` * 3 to write block, or use gist.

Back to the issue, eval* method accepts multiple keys, which ShardedJedis doesn't support.
That's why MultiKeyPipelineBase (not PipelineBase) implement these interfaces.

Due to limitation of Redis Cluster, JedisCluster could introduce new interfaces which doesn't be shared with current interfaces.
(Please see #687 for more de

[2015-03-07 06:38] ShahBinoy commented on #908
Thanks for the explanation. It does make sense now.
Seems like Jedis 3.x would be a major change. Is the Jedis 3.x going to coincide with release of Redis 3.x ?

[2015-03-07 06:58] HeartSaVioR commented on #908
We don't planned it yet (but working on), so maybe later than Redis 3.0.

[2015-03-07 13:06] nykolaslima commented on #909
@HeartSaVioR Actually I believe that having returnResoure and returnBrokenResource is unnecessary. It's too easy to make a mistake and don't use the `returnBrokenResponse` when needed.

IMO, users should not know that when resource is broken, something different has to been done. I believe that it should be the framework responsability to decide when call `returnBrokenResource`.
As I said, I would

[2015-03-07 18:51] marcosnils commented on #909
I also think like @nykolaslima. We already support `Closable` which simplifies error handling as it automatically returns the resource accordingly. Maybe for 3.0 a good strategy would be to just remove the `returnResource` and `returnBrokenResource` out of JedisPool. We can also start by deprecating these last two mehods en 2.x.

Regarding reconnections Jedis already supports a very basic reconnec

[2015-03-07 19:35] marcosnils commented on #908
@ShahBinoy please don't forget to close the issue.

[2015-03-07 20:14] marcosnils commented on #907
@nesalc which are the numbers you're getting?. Can you confirm that the performance issues that you're seeing are because ArrayList construction and not response parsing?

It'd be great if we could see some code samples and numbers to start evaluating improvements.

Thanks!

[2015-03-07 23:16] mpaoletta commented on #909
Just a few comments:

We don't usually use the DEBUG SLEEP and KEYS commands on production, they were our last resort trying to reproduce the issue, we were stressing the app for 3 hours without it breaking a sweat. The fact remains that stop-the-world events on Redis, either because of long transactions or other things can make Jedis return wrong values. I understand that there is already a solut

[2015-03-08 00:23] nykolaslima commented on #909
We cannot assume that everybody will use try-with-resources.
People that uses CDI will use @Produces and @Disposes for example.

In my opinion we should do two things:
1. Simplify the way uses close the resource. We dont need two methods. We
can have just one returnResource with the broken logic in it.
2. We should not allow operations from a broken Jedis instance. If Jedis
instance is broken, any

[2015-03-08 00:56] ShahBinoy commented on #908
Thanks

[2015-03-08 00:56] #908 closed

[2015-03-08 01:18] marcosnils commented on #909
@nykolaslima @mpaoletta when I mentioned that Jedis supports `Closable` I was trying to clarify the fact that we already have a `close` method in the `Jedis` instance which basically does the proper cleanup for every cause (with or without pool). Knowing this my opinion is that we can just get rid of `returnXXXResource` in `JedisPool`. Of course the change breaks backward compatibility but we can

[2015-03-08 01:23] HeartSaVioR commented on #907
First of all, I also think we need to make sure what exactly is slowing down.
Jedis creates ArrayList with response size, so it doesn't have memory reallocation issue.
I don't know how big is your field in sorted set - helps to determine full response / ArrayList size - so letting us know may help to reproduce.

Btw, providing Iterator could make another issue.
Users can read response partially, a

[2015-03-08 01:24] HeartSaVioR commented on #907
Btw, what version of Jedis do you use?

[2015-03-08 01:44] marcosnils commented on #907
Some additional information:

I've made a very simple test in my computer by populating an ArrayList with 1M elements and it only took 10ms to do it. I guess that unless you need extreme performance it sounds like the array population might not be the issue.

Just in case here's the code I did to run the test:

[code]

[2015-03-08 01:46] HeartSaVioR commented on #909
@marcosnils
At least JedisPool should provide at least one method regarding returning object to Pool, cause Jedis.close() uses it. We may try hiding these with package private.

Btw, maybe we could get rid of broken state instead of keeping it.
When Jedis detects IOException internally, just disconnects quietly (with consuming all Exception) and throw JedisConnectionException.
Thanks to basic reco

[2015-03-08 02:25] nykolaslima commented on #909
@HeartSaVioR I don't think if I understand you. We are already throwing exception but the problem is that `Jedis` instance remains in a invalid state.

I believe we all agree about deprecating `returnBrokenResource`. But we need to find a solution to invalid `Jedis` instances.

[2015-03-08 03:12] HeartSaVioR commented on #909
I mean why we leave Jedis instance to invalid state though we can restore state by disconnecting.
Jedis has a basic reconnection logic, connect if it doesn't connected, and we can use it then.

@xetorthio @marcosnils @nykolaslima
I'll make a change if we agree that my idea makes sense.

[2015-03-08 05:00] nykolaslima commented on #909
I agree with that Heart! +1
On Sun, Mar 8, 2015 at 12:12 AM Jungtaek Lim <notifications@github.com>
wrote:

[2015-03-08 05:14] HeartSaVioR commented on #909
Found another hurdle. ;(

Connection layer would be easy, as I stated earlier.
Next issue hides in Jedis layer. We also need to reset state before reusing.
It can be easily resolved by catching JedisConnectionException and call resetState(), but we should add handling codes to most of methods!

Another chance of applying command pattern though it's not good at memory consumption and performance?

[2015-03-08 05:34] HeartSaVioR commented on #909
Actually we need to add codes which checks precondition to most of methods when we decide to throw Exception if Jedis is broken.

[2015-03-08 09:42] marcosnils commented on #909
@HeartSaVioR you're correct. By removing `returnXXXResource` method I was referring to making them protected so users won't be able to access them at all and we can still call them from Jedis `close` method.

@nykolaslima what do you think about this?, I've tried to explained it in my previous comments but maybe I haven't transmitted the correct idea.

Regarding reconnections what about overriding

[2015-03-08 12:38] nesalc commented on #907
Okey let me explain how I see it.
First I like Jedis because it it simple, it just works.
Second yes I need performance, building search services with should be able thousands of requests per second, every ms counts.

1) Performance speed
What you guys actually do is add to ArrayList, then build a LinkedHashSet from the list.
Some quick code, which I believe is a better "simulation" than the examp

[2015-03-08 14:26] nykolaslima commented on #909
@marcosnils I still don't understand why we are wanting to keep the `returnBrokenResource`.
We can find out if the `Jedis` instance is broken or not using the `broken` attribute. Because of this, IMO, we can just have the `returnResource` and it will handle the both cases:

[code]

I believe we could have the `returnBrokenResource` as a private method, just to make the code cleaner. But I think we

[2015-03-08 15:37] HeartSaVioR commented on #907
Just focusing to performance, maybe issue is not properly defined at all.
As you stated, performance issue seems to be about manipulating Set, not List.
Then there seems to be no problem at processMultiBulkReply.

With knowing that Redis shouldn't give duplicated elements with zrevrangeByScore, we can skip converting List to Set and return List itself. Would be efficient but not intuitive.
I didn'

[2015-03-08 15:59] HeartSaVioR commented on #909
@marcosnils
Unfortunately Jedis doesn't extend Connection, but has a Client which extends Connection. (has-a relation)
It's on different layer. ;(

@nykolaslima
I think it's better not for JedisPool to know Jedis deeply, especially its state.
And Jedis.close() can be used widely, whether it's from Pool or not.
So I think Jedis.close() is better than JedisPool.returnResource().

If we agree that, h

[2015-03-08 18:45] marcosnils commented on #909
@nykolaslima I'm becoming dizzy here. I've never said that we should keep the `returnBrokenResouce` method. Please re-read my last comment, I said that we should make those two methods package protected (as heart said) and then only use `jedis.close()` for resource cleanup.

@HeartSaVioR  I see what you're saying. Another idea that I have is that we can  pass a reference of the `BinaryJedis` to th

[2015-03-08 19:10] nykolaslima commented on #909
@marcosnils I'm sorry, I understood it wrong. Now I understand what you are saying. So we all agree that we should make `returnXxxResource` methods `package protected`.

I'm not sure if we need to reset the state if something goes wrong with `Jedis` instance. IMO, it would be better to just discard this instance, as `returnBrokenResource` do.

[2015-03-08 19:41] marcosnils commented on #909
@nykolaslima what if you're not using JedisPool and you have a simple program that deals with just one redis instance?. In that case if you get an exception then you need to re-instantiate Jedis to continue working.

Nowadays we're just flagging the connection as broken and we only use that for resource cleanup. As @HeartSaVioR said, I like the idea  about removing broken state at all and allowing

[2015-03-08 23:06] HeartSaVioR commented on #909
Hmm, command pattern or cross reference. Both things are not really good though. ;(
Actually I was thinking about removing Jedis state (watch, multi, pipeline) but it is not easy thing, too.

This issue is no longer simple, so let's resolve this issue to iterative way.
A. Modify JedisPool.returnXXXResource() to package private so that only Jedis.close() can see.
B. Add precondition to all operatio

[2015-03-09 02:57] nykolaslima commented on #909
I agree with you Heart.

Let's do it by parts and open a new issue to discuss it!

[2015-03-09 06:55] marcosnils commented on #909
I've opened two PR's to fix the `returnxxxResource` usage. I'm closing this issue and I will open another one to decide what to do about the Jedis connection broken state.

[2015-03-09 06:56] marcosnils opened #914 "Improve Jedis reconnection strategy"
As discussed in #909 we need to find a better way to handle reconnection strategy so we can reuse the same Jedis instance if JedisConnectionException occurred.

[2015-03-09 07:08] #909 closed

[2015-03-09 07:29] marcosnils commented on #907
@nesalc as @HeartSaVioR said LinkedHashSet is created in `Jedis` class. Extending `Jedis` and changing overriding `zrangebyscore` to avoid the creation of the HashSet still doesn't meet your performance expectations?.

[2015-03-09 07:31] nesalc commented on #907
@marcosnils yes that is a solution to speed, thanks.
But I need to figure out if I can live with this huge memory usage or I need to find another path.

[2015-03-09 07:59] marcosnils commented on #907
@nesalc I really find amusing the amount of processing you're expecting to save with this modifications. We try to keep Jedis as simple as possible but we're open to get any feedback about different ways to improve it.

We'll definitely discuss performance optimizations per your recommendations and if we come up with a nice solution we'll let you know so we can get continuous feedback.

[2015-03-09 09:39] kennethjor opened #915 "Thread safety explanation in Readme"
Not an issue as such. I just experienced issues with the Jedis library in my multi-threaded environment. Eventually I found the notice about the based `Jedis` class not being thread-safe on the wiki. Perhaps it would be worth adding this to the main readme file so any newcomer to the library is immediately made aware that they should be doing connection pooling in a multi-threaded environment.

[2015-03-09 09:48] marcosnils commented on #915
@kennethjor totally agree. We're a small team maintaining this library and sometimes we forget that documentation for our users is as important as the code. Contributions are welcome though, so if you feel like supporting other users even by submitting a PR which improves the README we'll be more than grateful.

Thanks!.

[2015-03-09 10:29] HeartSaVioR commented on #907
@nesalc Oh, I got the another issue, JedisPool doesn't allow subclass of Jedis.
I'll find a way to do it.

[2015-03-09 13:57] nykolaslima commented on #909
Great @marcosnils :tada:

[2015-03-09 14:27] mayankdang opened #916 ""Error : java.lang.Long cannot be cast to [B" when trying evalsha command with Pipeline"
I know there are several "similar" issues, but none of the errors reported earlier (#663, for example) is the same as the one I am getting.
Versions: Jedis 2.6.2
Maven dependency :

[code]

Redis Versions: Tested with both current unstable branch (3.1.999) and official release 2.8.13.

Code :

[code]

where getJedis and returnJedis are simple methods that call `getResourse()` and `returnResource()

[2015-03-09 14:35] mayankdang commented on #916
Also, this has nothing to do with multi threading, as I have read in some previous issues, since this is a single get servlet call, that gets a resource from the pool, makes an evalsha call via pipeline, and returns the resource from the pool.
Moreover, the call succeeds (the value gets appended to the value of the key in the hash specified), but I get this error, which doesn't come up during the

[2015-03-09 22:38] HeartSaVioR commented on #916
It's known bug and already fixed by #607.
But it requires change of method signature, so with semver we're planning to apply fix to 3.0.0.

@xetorthio @marcosnils @nykolaslima
Maybe we should release 3.0.0 earlier cause it fixes some method signature issues which shows strange behavior.

[2015-03-09 22:39] HeartSaVioR commented on #916
@mayankdang You're encouraged to use eval without Pipeline. Sorry for inconvenience. ;(

[2015-03-09 23:53] nykolaslima commented on #916
huum...I'm not sure about it. Because if we release the 3.0.0, after it we will change the entire structure and will need to name it 4.0.

Since it's a bug fix, shouldn't be better to apply it to 2.7 even knowing it will change the method signature?
I believe it's better than let a known bug opened.

[2015-03-10 00:32] HeartSaVioR commented on #916
@nykolaslima
We will try our best to apply any breaking changes before releasing 3.0.0. So don't worry about 4.0 yet.

Btw, keeping compatibility between minor releases is very important.
I don't like such libraries which often break compatibility so I need to rewrite code when I update the library because of bugfix.

But it's important to let users know we're not recommended to use these methods

[2015-03-10 01:40] nykolaslima commented on #916
But will we release 3.0.0 before other changes?

[2015-03-10 05:04] HeartSaVioR commented on #916
@nykolaslima
We're having issues or PRs with 3.0.0 milestone.
We will check milestone again when we feel it's time to release.

[2015-03-10 15:27] deepakpol commented on #72
Hi,

I am getting into this issue while using Jedis with spring data redis integration. I am setting the configuration to use pool, testOnBorrow as well as testOnReturn true.

I am using Jedis pool, and have verified that spring ensures the resources are returned to the pool, by calling returnResource() and returnBrokenResource in case of exceptions. Still facing this issue. I have a heavily multi

[2015-03-10 22:06] HeartSaVioR commented on #72
@deepakpol Could you please post an new issue? Please describe Jedis version and Spring data redis version, too. :)

[2015-03-11 08:57] deepakpol opened #918 "Spring data redis, multi-threading issue with Jedis"
Hi,

I am getting into this issue while using Jedis with spring data redis integration. I am setting the configuration to use pool, testOnBorrow as well as testOnReturn true.

I am using Jedis pool, and have verified that spring ensures the resources are returned to the pool, by calling returnResource() and returnBrokenResource in case of exceptions. Still facing this issue. I have a heavily multi

[2015-03-11 08:58] deepakpol commented on #72
Created a new issue https://github.com/xetorthio/jedis/issues/918

[2015-03-11 09:56] HeartSaVioR commented on #918
Seems like its InputStream was flawed.
Could you provide small code snippet or project that would reproduce current issue?

And I ask you a favor of updating spring-data-redis to latest and try again to confirm it's still an issue for current version(s).

[2015-03-11 10:04] HeartSaVioR commented on #918
Is this error showed alone? Or you received other Exception first?

[2015-03-11 10:40] deepakpol commented on #918
I am using the latest spring-data-redis version, any reason that should matter (has any fix gone related to this)?

I don't get any other errors before or after, this is the full stack trace for two different instances (except my application specific call stack).

I will try and provide some code snippet which doesn't give specifics of the application.

BTW, just to add to the question, I am using

[2015-03-11 13:55] deepakpol commented on #918
Here is a snippet of code that gives this exception quite often. This could be accessed for execution by multiple threads  -

        Cursor<ZSetOperations.TypedTuple<DomainObject>> cursor = null;

        cursor = redisObjectTemplate.opsForZSet().scan(KEY_PREFIX, scanOptions);

        List<DomainObject> objectsToBeDeleted = new ArrayList<>();
        while (cursor != null && cursor.hasNext()){

[2015-03-12 01:46] HeartSaVioR commented on #918
@deepakpol Could you also post this issue to Spring-data-redis?
https://jira.spring.io/browse/DATAREDIS
Actually it seems to be specific issue on Spring-data-redis which I don't have an idea. Sorry!
I will taking a look when I have some times.

[2015-03-12 17:14] hiakashjain commented on #848
@gauravparmar85 I am getting the same error, Can you please help me what exactly you changed/added in pool config to fix this problem.

[2015-03-13 04:18] DerekOverlock opened #919 "JedisCluster connections won't close on Jersey/JAX-RS servlet."
This may not be an issue, rather it could just be my naive ignorance. :)

I am writing a web backend using a Jersey servlet in a Tomcat container. We have a redis cluster set up that this Tomcat is connecting to. We created a utility class (called JedisClient) to read a properties file and create the JedisClusters object with all of our nodes. From there, we just proxy the REDIS commands we need (

[2015-03-13 05:17] HeartSaVioR commented on #919
I don't know Jersey but I believe there should be a way to initialize shared JedisCluster instance first, and use it. It's thread-safe.
If Jersey has shutdown hook, you can close JedisCluster then.

[2015-03-13 05:55] marcosnils commented on #919
Derek,

You definitely don't need to instantiate JedisCluster on each request. You
only need to instantiate it once and then share the same instance along
requests. You can either do this by injecting it into the jersey controller
with the @Service method or either creating a Singleton class which
retrieves the JedisCluster reference.

On Fri, Mar 13, 2015 at 1:17 AM, Jungtaek Lim <notifications@g

[2015-03-13 05:55] #919 closed

[2015-03-15 18:37] marcosnils commented on #443
closed by #920

[2015-03-15 18:37] #443 closed

[2015-03-15 18:37] marcosnils commented on #501
closed by #920

[2015-03-15 18:37] #501 closed

[2015-03-16 16:22] DavidBaddeley opened #921 "Multi-threaded env - Invalidated object not currently part of this pool"
Hi!

I am having some problems with using the PoolManager in multi-threaded environment, this is a possible duplicate of https://github.com/xetorthio/jedis/issues/556 but as the poster never responded I thought I would create a new issue.

I am using a RedisManager class to manage Jedis connections, the config values for initialising the pool are pretty standard

public class RedisManager implemen

[2015-03-17 14:58] DerekOverlock opened #922 "Intermittent "ERR Wrong CLUSTER subcommand..." error on 2.6.2"
I noticed weird behavior with version 2.6.2 that I have not seen at all on 2.4.2. Sometimes when I do a `get` or `set` I receive the following error:

    redis.clients.jedis.exceptions.JedisDataException: ERR Wrong CLUSTER subcommand or number of arguments

I tried adding breakpoints and debugging in Eclipse, and sometimes the issue will resolve itself. I can confirm that the Redis cluster is onl

[2015-03-17 16:35] marcosnils commented on #922
@DerekOverlock is there a way you can share a small use case (some code) where you're observing this issue?. I've used Jedis Cluster extensively and I've never experienced the issue you're seeing.

Thanks

[2015-03-17 18:24] DerekOverlock commented on #922
@marcosnils Sure. I set this up in a unit test:

    JedisClient jc = new JedisClient();
    String test= "[{\"siteId\":-1,\"name\":\"name\",\"latitude\":1,\"longitude\":1}]";
    jc.set("scv-sites", test);

And received the following exception:

    RedisRuntimeException: redis.clients.jedis.exceptions.JedisDataException: ERR Wrong CLUSTER subcommand or number of arguments
        at c.h.i.jedis.

[2015-03-18 00:51] HeartSaVioR commented on #922
CLUSTER SLOTS was introduced from 3.0.0-beta7, and now Redis's latest test version is 3.0.0-rc4.
You should upgrade your Redis version.
If it doesn't resolve your issue, please reopen this issue. Thanks! :)

[2015-03-18 00:51] #922 closed

[2015-03-18 07:15] moqi2011 opened #923 "eval reslut can not is byte[]"
I put a binary file to redis ,like:
[code]
Get the file use lua,like:
[code]
But the result is string ;

Read the source code at [redis.clients.jedis.Jedis]:
[code]
I replace:
[code]
as:
[code]
test:
[code]
result is true

Sorry i english is poor.

Thanks!

[2015-03-18 07:18] zhongzuo opened #924 "When a new release?"
V2.6.2 Missing zrevrangebylex command.
When a new release?

[2015-03-18 07:24] marcosnils commented on #924
2.7.0 will be released shortly (this weekend probably). Branches are frozen so if you really need the functionality you can checkout the branch and build the jar manually.

[2015-03-18 07:24] #924 closed

[2015-03-18 07:58] zhongzuo commented on #924
OK. Thank you!

[2015-03-18 08:00] HeartSaVioR commented on #923
@moqi2011
Jedis doesn't know what result should be treated to binary. Jedis determines binary/string by method signature. Binary version of methods use binary parameters.
You should call BinaryJedis.eval(byte[] script) to receive result by byte[].
Don't worry, Jedis extends BinaryJedis. :)

In other word, byte[] result = jedis.eval(SafeEncoder.encode("return redis.call('get', 'key')"))); works lik

[2015-03-18 09:18] moqi2011 commented on #923
@HeartSaVioR
thanks!

[2015-03-18 09:18] #923 closed

[2015-03-18 14:22] marcosnils commented on #921
@DavidBaddeley I'm wondering where and how the `connect` method get's called. The only thing that comes into my mind is that eventually the pool reference get's lost and you're trying to return a Jedis instance to a pool that doesn't belong.

One thing you can try to do is check the pool instance address when you ask for the resource and then print it again when you're calling returnBrokenResource

[2015-03-19 12:28] DavidBaddeley commented on #921
@marcosnils On further inspection of my code I found that connect() was being called elsewhere which was causing the problem...schoolboy error! Thanks for getting back to me on this, oh and for the jedis.close() tip!

[2015-03-19 12:28] #921 closed

[2015-03-21 12:37] harikrishna553 opened #925 "Jedis bitop is not working"
Hello,
   I am using jedis "2.6.2", bitop method is not giving me proper result.
import redis.clients.jedis.Jedis;
import redis.clients.jedis.BitOP;

public class JedisStringBitOp {
  public static void main(String args[]) {
    Jedis jedis = new Jedis("localhost");

    String srcKey1 = "foobar";
    String srcKey2 = "abcdef";

    String destAndKey = "default";

    jedis.bitop(BitOP.AND, destAn

[2015-03-21 14:00] HeartSaVioR commented on #925
You missed to call jedis.get(destAndKey) to get the result.

[2015-03-21 14:16] #925 closed

[2015-03-25 10:34] mogren commented on #739
I agree, add sensible values for this in JedisPoolConfig.java and update the FAQ.

[2015-03-25 18:26] marcosnils commented on #739
Added here https://github.com/xetorthio/jedis/wiki/FAQ#jedispool-blocks-after-getting-8-connections

Thanks for contributing!.

[2015-03-25 18:26] #739 closed

[2015-03-25 18:30] sodoku commented on #739
Thanks!

[2015-03-25 18:33] pkgoncalves opened #926 "JMX error when running Jedis on JBoss 5.2."
The following exception is thrown when Jedis 2.6.2 on JBoss 5.2:

[code]

The full stack trace is:

[code]

I've tried to upgrade commons-pool2 to the latest version but had no success.

[2015-03-26 08:29] zd987 commented on #602
Is there any update for this issue? JedisCluster need a way to update the timeout parameter. Thanks!

[2015-03-26 17:26] marcosnils commented on #602
@zd987 JedisCluster already provides a way of updating the pool timeout. A constructor which receives a `GenericObjectPoolConfig` is available where you can setup your timeout parameters.

I originally added the commandTimeout but then it became obsolete when we added the PoolConfig to the JedisCluster constructor.
I guess we can safely remove it now. What do you think?

[2015-03-26 17:29] marcosnils commented on #602
btw in case you want to know the parameter was introduced to accomplish the same functionality that the antirez ruby client does (https://github.com/antirez/redis-rb-cluster/blob/master/cluster.rb)

[2015-03-26 21:22] HeartSaVioR commented on #602
Currently we can't set connection timeout / socket timeout to JedisCluster, cause timeout parameter is not passed to JedisClusterConnectionHandler, finally JedisClusterInfoCache, which initializes JedisPool.

[2015-03-26 21:28] marcosnils commented on #602
@HeartSaVioR you're right, I thought we were passing the timeout parameter all the way back to the pool. I'll fix it tonight.

[2015-03-27 06:41] tobegit3hub commented on #562
This issue is closed by won't fix. But notice that https://github.com/xetorthio/jedis/issues/909 and https://github.com/xetorthio/jedis/commit/6701b07904357dd759a11209ce98b71bd398b0fd have merged to use `close()` instead of `returnResource()` or `returnBrokenResource()` after 3.0.0-SNAPSHOT.

The latest usage is following. Make sure everybody know about that :smiley:

[code]

[2015-03-27 14:43] lboue opened #929 "Use commons-pool2"
Hello,

Jedis still depends on commons-pool2 version 2.0. 2.3 was released a year age (24/Feb/14) with many fixes. Could you upgrade it in your pom file ?

Released	2.3	24/Feb/14	30/Dec/14	Feature and fix release
Released	2.2	12/Dec/13	23/Feb/14	Feature and fix release
Released	2.1		12/Dec/13	Bug fixes and new features

		<dependency>
			<groupId>org.apache.commons</groupId>
			<artifactId>commons

[2015-03-27 14:53] lboue commented on #929
Also I don't know where dit it comes from but I have the following errors when I stop Tomcat Server. This seems related to commons-pool.
INFOS: A valid shutdown command was received via the shutdown port. Stopping the Server instance.
mars 26, 2015 9:30:53 AM org.apache.coyote.AbstractProtocol pause
INFOS: Pausing ProtocolHandler ["http-bio-8181"]
mars 26, 2015 9:30:53 AM org.apache.catalina.core.

[2015-03-27 17:26] marcosnils commented on #929
@lboue for the commons pool update I've already submit PR #930 which upgrades it. As soon as some other contributor checks it out we'll merge. Regarding tomcat shutdown I guess that's a commons-pool problem, you should submit an issue in their project to see what they tell you about it.

[2015-03-27 22:45] #602 closed

[2015-03-29 12:34] Climax777 opened #932 "JedisConnectionException: Unexpected end of stream"
Repeatable exception and for the life of me, I cannot find something I'm doing wrong.
[code]
Running redis version `2.8.19` on `Linux 3.16.0-33-generic #44-Ubuntu SMP Thu Mar 12 12:19:35 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux`
Java version:
[code]

Run the redis consumer followed by the producer of the project here: https://github.com/Climax777/message-queue-bench

[2015-03-29 15:27] Climax777 commented on #932
`client-output-buffer-limit` was the cause. `redis-server` closed the connections, leading to the exceptions.

[2015-03-29 15:27] #932 closed

[2015-03-30 09:45] adrianriley opened #933 "Race condition on subscribe"
Looks like there is a race condition in the Jedis publish/subscribe implementation. To set up a subscription, call JedisConnection.subscribe(). That thread reads the responses from subsequent subscribe/unsubscribe commands sent on the same connection using JedisSubscription in order to maintain its view of the current subscription. But before the read on the connection's input stream, that does a

[2015-03-30 15:34] lboue commented on #929
Thanks. I will submit the issue to commons-pool JIRA.

[2015-03-30 15:34] #929 closed

[2015-03-30 20:03] pcchan opened #934 "JedisCluster password support"
JedisPool can be configured to use a password when communicating with Redis nodes, but that isn't exposed in JedisCluster as of Jedis 2.7.

[2015-03-30 20:51] marcosnils commented on #934
@pcchan RedisCluster authentication scheme isn't defined yet (more info here: https://groups.google.com/forum/#!searchin/redis-db/password/redis-db/Z8lMxTfDct8/fQY8slgbkYYJ) that's why we haven't implemented password support so far.

We don't want to include something that might change in the near future so for the moment we won't be adding password support to JedisCluster

[2015-03-30 20:51] #934 closed

[2015-03-31 00:48] #310 closed

[2015-03-31 00:48] #297 closed

[2015-03-31 01:55] marcosnils commented on #926
@pkgoncalves are you still having this issue?. I'm wondering if there's a way I could easily try this without installing the complete jboss stack in my pc. Are you using EAP or wildfly?

[2015-03-31 02:02] marcosnils commented on #915
Fixed in 7196dc6db60a3fccba2dc28a1d2f38cae569a31d

[2015-03-31 02:02] #915 closed

[2015-03-31 04:17] nykolaslima commented on #562
@tobegit3hub You are right. I will open a issue to fix it.

[2015-03-31 04:20] nykolaslima opened #935 "Fix wiki about JedisPool returnResource/returnResource"
We've deprecated `returnResource` and `returnResource` in favor of `Jedis.close()` but in our latest stable versions(2.6 and 2.7) we still need to use it.

We should upgrade the wiki, explaining that users must keep using `returnResource` and `returnResource` in the stable releases.

[2015-03-31 04:20] nykolaslima commented on #562
@tobegit3hub done. You can follow it here: https://github.com/xetorthio/jedis/issues/935

[2015-03-31 04:46] HeartSaVioR commented on #935
It's already valid that we can use Jedis.close() instead of JedisPool.returnResource() / returnBrokenResource(). Relevant PR is #563 and it's released at 2.5.0.

[2015-03-31 04:50] marcosnils commented on #562
@tobegit3hub I don't quite understand your comment. `Jedis.close()` now returns the resource to the pool accordingly (whether the resource is broken or not). This change has been introduced since 2.5.0 to all upcoming Jedis versions.

returnBrokenResource and returnResource will be removed starting from 3.0 as we don't need to maintain them anymore.

[2015-03-31 05:56] tobegit3hub commented on #562
You're right @marcosnils and I misunderstood about the feature of `Jedis.close()`. We can use `Jedis.close()` since 2.5.0 and we can't use `Pool.returnResource()` since 3.0.0.

[2015-03-31 07:35] lboue opened #936 "Pool needs to be closed when it is no longer used - Failed to stop thread named [commons-pool-EvictionTimer]"
Hello,

I tried with v2.7.0 release but I still have the same issue when I stop my tomcat application that uses the Jedis library. This is linked to the thread commons-pool-EvictionTimer. I think a thread is not destoyed.  So I open a case on commons-pool JIRA (https://issues.apache.org/jira/browse/POOL-291). That's what they respond:
[code]
This seems to be related to https://github.com/xetorthio

[2015-03-31 07:54] HeartSaVioR commented on #936
You can close Pool by calling Jedis*Pool.close().
Jedis cannot determine when pool is fully idle, and though it can determine, it shouldn't destroy pool automatically. Pool should be always ready to serve.

[2015-03-31 07:54] #936 closed

[2015-03-31 07:55] lboue commented on #855
Any news for this issue? I have same issue.

[2015-03-31 08:08] marcosnils commented on #936
@lboue as described by @xetorthio and the guys from commons-pool you need to create a (ServletContextListener)[http://docs.oracle.com/javaee/5/api/javax/servlet/ServletContextListener.html] and implement the `contextDestroyed` method. In that method you should get the reference to your `JedisPool` and call the `close` method.

[2015-03-31 08:08] #935 closed

[2015-03-31 13:41] nykolaslima commented on #935
Thank you guys, my bad.
On Tue, Mar 31, 2015 at 5:09 AM Marcos Nils <notifications@github.com>
wrote:

[2015-03-31 16:07] allanwax commented on #855
See the code for a new disconnect() in https://github.com/xetorthio/jedis/issues/847 which makes sure to close the socket even if there are other problems.  As far as I know it has not been incorporated into the code yet.

[2015-03-31 16:51] srini156 opened #937 "JedisPoolConfig default Configuration for minEvictableIdleTimeMillis"
JedisPoolConfig sets the default value for `minEvictableIdleTimeMillis` as 60 seconds.
[code]
While, `BaseObjectPoolConfig` (org.apache.commons.pool2.impl.BaseObjectPoolConfig) sets this value as 30 minutes.
[code]

The issue I faced is that for low traffic applications (where I make call to Redis every 5 minutes, the idle connection was being returned back to the pool after 60 seconds, and hence,

[2015-03-31 17:11] pkgoncalves commented on #926
Hi @marcosnils! Yes, the issue is still present. I'm using the EAP version of JBoss 5.2. After the exception is thrown, I can still get connections from the Jedis pool, but I don't know if I'm getting a pooled connection or just a standalone one.

[2015-03-31 17:23] marcosnils commented on #926
@pkgoncalves. Is there a VM por docker imagen I can use to reproduce this?

[2015-04-03 09:27] MarsYoung opened #940 "Cannot get Jedis connection; nested exception is redis.clients.jedis.exceptions."
Today I got this message from my mail which send by my application.
Finally,I found the reason that the 100% usage of disk.
How could it be?

[2015-04-06 13:38] jsumners commented on #855
I'm also having this issue under Tomcat, and I'm using just a simple `Jedis` object. I'm using it under Spring, so I tell Spring to invoke the `.close()` method on shutdown. Spring claims it is doing so, but the Tomcat instance just hangs waiting for that close to happen and never quits. Clearly I can't go into production with a system that I have to `kill -9` to shutdown or restart.

Can we get a

[2015-04-06 15:35] sparkpool opened #941 "Binary Jedis Return Resource"
As i can see below methods are not present in jedis 2.6.2. Is there any specific reason or there is another way to release binary jedis.

public void returnBrokenResource(final BinaryJedis resource) {

returnBrokenResourceObject(resource);
}

public void returnResource(final BinaryJedis resource) {
returnResourceObject(resource);
}

This bug is resolved in #171  but it is not present in current re

[2015-04-06 22:22] marcosnils commented on #941
@sparkpool this was removed way back from 2.6 in this commit bbb867781deb9e8a0f073694d3ab3434426c7405 when commons-pool was introduced.

As Jedis extends BinaryJedis you should always retrieve a `Jedis` instance from the pool and use the `close()` method finish using it.

Documentation has been updated here: https://github.com/xetorthio/jedis/wiki/Getting-started#using-jedis-in-a-multithreaded-env

[2015-04-06 22:22] #941 closed

[2015-04-06 22:31] HeartSaVioR commented on #941
@sparkpool Hey, I was finding a way to generalize JedisPool to allow BinaryJedis too, but failed cause JedisPool, JedisFactory, Pool, GenericObjectPool are tightly coupled to type and I can't find a way to generalize.
Since you can still use BinaryJedis's method signature from Jedis, I recommend you to use Jedis instead.

[2015-04-06 23:15] darkcrawler01 commented on #241
can't believe this issue is not resolved for 3 years.
alternatives suggested ?

[2015-04-07 06:34] sparkpool commented on #941
Thanks @marcosnils  and @HeartSaVioR

[2015-04-07 08:16] HeartSaVioR commented on #941
@sparkpool You need to call jedis.close() to return your Jedis instance to Pool.

[2015-04-07 11:03] marcosnils commented on #855
@jsumners I'll test it right away and fix the problem. This thing needs to be handled properly for sure.

Thanks for the feedback!.

[2015-04-07 12:00] marcosnils commented on #855
@jsumners are you also getting the error about the commons-pool EvictionTimer when trying to shutdown tomcat? It's weird that you're getting that error if you're not instantiating JedisPool at all because commons-pool the doesn't get involved. I've tried reproducing the problem using a simple tomcat application and I didn't get any errors.

Can you please provide further information about your pro

[2015-04-07 12:14] marcosnils commented on #855
@jsumners @lboue I've tried to reproduce the error by different ways and I couldn't make it.

I've setup a sample project here (https://github.com/marcosnils/jedis-tomcat-issue) to show you what I did in case I'm missing something.

Basically I'm registering a JedisPool in the ServletContext here : https://github.com/marcosnils/jedis-tomcat-issue/blob/master/src/main/java/web/TestListener.java and

[2015-04-07 13:17] jsumners commented on #855
I'm sorry, Jedis is evidently not my problem. I created a small test myself and it's not hanging on shutdown -- https://github.com/jsumners/tomcat-hang-test

[2015-04-07 13:19] marcosnils commented on #855
@jsumners don't worry, stuff happens :smile:. @lboue can you please provide further feedback about your situation?

[2015-04-07 14:03] lboue commented on #855
We will try to destroy JedisPool with contextDestroyed on shutdown and see if I fix it. Actually, we only do that with DriverManager.

[2015-04-07 14:43] adrianriley commented on #933
I found this commit comment:
<pre>
    Allow safe multi-threaded access to JedisPubSub

    If Thread A calls a subscribe method on Jedis it will block on a socket read
    call waiting for messages or subscription notifications.  Thread B is now free
    to call additional methods on JedisPubSub to change the current subscriptions
    that thread A is waiting for.  Essentially Thread A will do re

[2015-04-07 15:15] samhendley commented on #241
This shouldn't be too tricky to do. The hardest part is you need to delegate a thread to consuming the server responses and feeding them into the futures you returned to your clients.

Here is a snippet that uses an underlying Pipeline client that actually has alot of what we need other than a "pump thread". This isn't quite what we want since the subscribe method here will block waiting for each

[2015-04-07 20:14] HeartSaVioR commented on #241
@samhendley Hey, thanks for guiding!
Actually I thought it could help us when only Observable has two or more responses to treat it stream.
Is there any noticeable overheads when we use Observable for each response?
If it isn't I'll apply RxJava to #713 and try to complete this long discussion. :)

[2015-04-07 20:41] nykolaslima opened #942 "Jedis.ttl + cannot be cast to java.lang.Long"
I'm accessing my Redis server through a slow network and I got this error when calling `jedis.ttl(key)`;

[code]

Maybe Redis answered a bad response and we couldn't deal with it.

[2015-04-07 21:17] HeartSaVioR commented on #942
Indeed. It was not broken response since we built a response with byte[], but maybe not Integer reply.

[2015-04-08 01:15] nykolaslima commented on #942
But it still looks as an issue, right?
On Tue, Apr 7, 2015 at 6:17 PM Jungtaek Lim <notifications@github.com>
wrote:

[2015-04-08 02:35] HeartSaVioR commented on #942
Yes, it is. I'm curious how we can solve this issue.
Does throwing JedisException (maybe JedisConnectionException cause it's already mixed up?) instead of ClassCastException make sense?

[2015-04-08 06:51] zhiying8710 opened #943 "JedisCluster throws JedisClusterMaxRedirectionsException: Too many Cluster redirections?"
hi, i tested JedisCluster, it's very very slow and throws an exception,
## here is the code:

        Set<HostAndPort> nodes = new HashSet<HostAndPort>();
        nodes.add(new HostAndPort("192.168.2.65", 6379));
        nodes.add(new HostAndPort("192.168.2.65", 6380));
        nodes.add(new HostAndPort("192.168.2.65", 6381));
        nodes.add(new HostAndPort("192.168.2.65", 6382));
        nodes

[2015-04-08 08:34] zhiying8710 commented on #943
sorry, my bad.
i found the reason, when i create the cluster, use command like this:
<code>
./redis-trib.rb create --replicas 1 127.0.0.1:6379  127.0.0.1:6381 127.0.0.1:6383 127.0.0.1:6380 127.0.0.1:6382 127.0.0.1:6383
</code>
then jedis get the cluster info, the ip of the node is also 127.0.0.1, so can't get connection and retry.
so i recreate the cluster use:
<code>
./redis-trib.rb create --repl

[2015-04-08 08:34] #943 closed

[2015-04-08 10:19] poroto20 commented on #926
I have the same problem. Have you found any fix?

[2015-04-08 14:27] samhendley commented on #241
I personally haven't been sold that Observable<List<T>> should be flattened to Observable<T>. In the vast majority of the jedis cases that that wouldn't make so I think it would be confusing to apply it to the few places where it maps well. I would directly copy the PipelineCommands interface and just change Response<X> to Observable<X>.

I look forward to seeing this applied to that PR.

[2015-04-08 16:07] marcosnils commented on #926
@liriarte @pkgoncalves is there an easy way to try this without installing the complete EAP suite in my pc?. Is there a docker container or a VM I can use to test?

[2015-04-08 16:14] liriarte commented on #926
Probably the easiest way is to install it in a blank CentOS. I can share the rpm

[2015-04-08 16:16] marcosnils commented on #926
@liriarte lol, I see it very unlikely to install another OS to try this. Doesn't Oracle provide a VirtualMachine with EAP installed or somethinf?

[2015-04-08 16:58] liriarte commented on #926
No, they don't. You could 'docker pull centos' to get the OS. I am trying to find another way...

[2015-04-08 18:09] marcosnils commented on #926
@liriarte ok, I'll try to setup the environment some time this week to test this.

[2015-04-09 01:30] nykolaslima commented on #942
I still didn't understand what causes this behaviour. The problem is that we could read some piece of response but not the entire response? This shouldn't throw some IO exception?

[2015-04-09 01:53] HeartSaVioR commented on #942
Since it doesn't have issue parsing result by REDIS protocol, it may receive other response which is not ERR. Seems like connection or Redis is mixed up.

[2015-04-09 02:03] HeartSaVioR commented on #942
Maybe sharing your code is better for finding if you don't mind. :)

[2015-04-09 10:56] liriarte commented on #926
@marcosnils you can use this image: https://registry.hub.docker.com/u/tutum/jboss/
JBoss EAP 5.2 runs JBoss AS 5.2.0.GA, so you can use tutum/jboss:as5

[2015-04-09 11:13] Pratap6 commented on #863
hi @marcosnils ,sorry for the late response.

I have tested upto 800 users with a single redis instance with my jedis client code.

Thanks for your support @HeartSaVioR and @marcosnils .

Very good support...

[2015-04-09 11:35] marcosnils commented on #926
amazing @liriarte I'll give it a try and provide some feedback hopefully later today

[2015-04-09 11:39] Pratap6 opened #944 "Redis Cluster: Exception in thread "main" redis.clients.jedis.exceptions.JedisConnectionException: Could not get a resource from the pool"
Hi,

I have created redis cluster with default scripts from latest stable redis 3.0.0 release and cluster is created successfully.
$redis-3.0.0/utils/create-cluster# ./create-cluster start
Starting 30001(M)
Starting 30002(M)
Starting 30003(M)
Starting 30004(S)
Starting 30005(S)
Starting 30006(S)
$redis-3.0.0/utils/create-cluster# ./create-cluster create

And I'm implemented a small java main metho

[2015-04-09 11:48] marcosnils commented on #944
@Pratap6 for what I see in the logs seems like your cluster becomes unavailable for some time and Jedis tries to reconnect without succeeding. Can you try running a `cluster info` command after the failure to see the status of the cluster?

Thanks.

[2015-04-09 12:07] marcosnils commented on #926
@liriarte I've just deployed [THIS](https://github.com/marcosnils/jedis-tomcat-issue) example application into the container you've provided and It ran without throwing any errors problems. Is there something I should configure in Jboss to get the errors you're seeing?

[2015-04-09 12:16] Pratap6 commented on #944
thanks @marcosnils for quick reply.

This is the status of cluster my cluster,

 $redis-cli -c -p 30001
 $127.0.0.1:30001> cluster info
cluster_state:ok
cluster_slots_assigned:16384
cluster_slots_ok:16384
cluster_slots_pfail:0
cluster_slots_fail:0
cluster_known_nodes:6
cluster_size:3
cluster_current_epoch:6
cluster_my_epoch:1
cluster_stats_messages_sent:65942
cluster_stats_messages_received:65939

[2015-04-09 12:19] marcosnils commented on #944
@Pratap6 can you try removing the slaves and trying again?. I've just made a test without the slave nodes and I ran your code 1000 times and I didn't get any exception.

[2015-04-09 12:27] marcosnils commented on #944
tip of the day: You don't need to specify all the master hosts when you create JedisCluster. As long as your cluster is configured correctly by specifying only one master host JedisCluster would do the discovery automatically

[2015-04-09 12:28] Pratap6 commented on #944
@marcosnils , I have removed my slave nodes with below commands and tested again same problem

root@ub08:/usr/share/Redis-Cluster/redis-3.0.0/utils/create-cluster# ps -aux|grep redis
root      1049  0.3  0.0  36824  7628 ?        Ssl  15:53   0:22 ../../src/redis-server *:30001 [cluster]
root      1053  0.3  0.0  36824  7624 ?        Ssl  15:53   0:22 ../../src/redis-server *:30002 [cluster]
root

[2015-04-09 12:46] liriarte commented on #926
Is version 2.7.0 available in the public repos? I was trying 2.6.2 and it does not have the constructor JedisPool jp = new JedisPool();
I was using new JedisPool(new JedisPoolConfig(), "localhost")
Do you think that this be the problem?

[2015-04-09 12:51] marcosnils commented on #926
@liriarte yes, 2.7.0 is available in the public repos. However, I don't think that upgrading the version will solve the issue. Can you try running your app (or at least some small portion of it) in the container you provided to see if the issue is present there also?

[2015-04-09 12:59] nykolaslima commented on #942
Actually there is nothing different in my code. I'm just calling the `Jedis.ttl` method and it had thrown this exception.

This only happened once, but I think it could be a caused by a slow network connection.

[2015-04-09 13:00] sdeleuze commented on #241
`Observable<List<T>>` is usually a code smell, and indeed using `Observable<T>` is far more better.

Also have a look to this issue (https://github.com/ReactiveX/RxJava/issues/1594) that intend to provide a promise like type in RxJava (a strong need from my POV).

[2015-04-09 15:14] matthieu-ravey commented on #566
Is there any update on this issue ?

[2015-04-09 15:21] marcosnils commented on #566
@matthieu-ravey did you run into this issue?. Which Jedis version are you using?

[2015-04-09 15:33] matthieu-ravey commented on #566
Yes I just had this issue. I'm using Jedis 2.6.2 and Scala 2.11

[2015-04-09 15:38] marcosnils commented on #566
@matthieu-ravey hmm none of the main Jedis contributors actually uses Scala so I'm not sure where the problem might be. For the exception seems like it was nothing to do with Jedis internally but rather a Jedis/Java - Scala binding. Honestly, I have no immediate idea about how to debug this.

[2015-04-09 15:48] marcosnils commented on #944
@Pratap6 can you paste the redis.conf file you're using for your master nodes?

thx!.

[2015-04-09 17:02] liriarte commented on #926
@marcosnils I am afraid it would be that easy. Let me see if I can find a way to help you reproducing the problem. Thanks!

[2015-04-09 17:04] marcosnils commented on #926
@liriarte another thing you can do is deploy the WAR of the project i've posted before and check if that raises the same exception as you're getting with your app. I guess that should be quite easy right?

[2015-04-09 22:06] HeartSaVioR commented on #566
I'm learning Scala now, so seems like I may take care of it for now. :)

[2015-04-09 22:36] HeartSaVioR commented on #944
@Pratap6
AFAIK, Redis Cluster's failover and replication works as same as traditional Redis master-slave.
It's one-by-one so you shouldn't expect failover / replication behavior like Hadoop, HBase, and so on.
(Please correct me if I'm wrong!)

And although you're passing only one master to JedisCluster, JedisCluster will find out all nodes on Cluster at initializing.

[2015-04-09 22:42] HeartSaVioR commented on #944
Before using Redis Cluster you should read http://redis.io/topics/cluster-spec carefully to learn power and limitation.
Since some parts of spec are changing, I should read it, too. :)

[2015-04-10 00:16] HeartSaVioR commented on #944
Regarding to spec, Redis Cluster can failover to other master's slave if current master is down and no slave follows it. Maybe huge things are changed.

[2015-04-10 00:44] HeartSaVioR commented on #566
I found the issue.

RedisPipeline has ```Response<Long> del(String key)```, and MultiKeyCommandsPipeline has
```Response<Long> del(String... keys)```.

It's not just a del method issue. Seems like varargs made a problem.
I think Scala's complaining is not wrong so we should clarify signature.

tl; dr
Overloaded methods which one is one arg and other one is vararg are conflicted.

Easiest way to re

[2015-04-10 05:02] Pratap6 commented on #944
@marcosnils ,I just run the default create-cluster script in latest stable redis 3.0.0 release and passed various commands to create-cluster shell script:
1) To Run 6 redis instances: $redis-3.0.0/utils/create-cluster# ./create-cluster start
2) To create redis cluster with 6 nodes: $redis-3.0.0/utils/create-cluster# ./create-cluster create
3)To Stop redis cluster: $redis-3.0.0/utils/create-cluster

[2015-04-10 07:33] Pratap6 commented on #944
@marcosnils , I have created redis-cluster with manual setup also and still same issue.(redis cluster ports are 8000,8001,8002,8003,8004,8005 )

I have not modified any thing inside redis.conf file,below are the changes made

redis8000.conf
--------------------
pidfile /var/run/redis8000.pid
logfile "/var/log/redis/redis8000.log"
dir /var/lib/redis8000
port 8005
cluster-enabled yes
cluster-config-

[2015-04-10 13:54] lboue commented on #855
We try to add that to the JedisConnectionFactory:
[code]

So I that first this log when we stop application
<pre>2015-04-10_14:57:30.526 [http-bio-8080-exec-13] DEBUG o.s.b.f.s.DisposableBeanAdapter - Invoking destroy() on bean with name 'connectionFactory'
2015-04-10_14:57:30.526 [http-bio-8080-exec-13] DEBUG o.s.b.f.s.DisposableBeanAdapter - Invoking destroy() on bean with name 'jedisConnectionF

[2015-04-10 21:51] marcosnils commented on #855
@lboue can you provide more info about which tomcat version you're using?. Is there a way you can isolate the error as @jsumners did and provide some way to reproduce it?

[2015-04-10 22:52] marcosnils commented on #944
@Pratap6 I've created the cluster using the create-cluster scripts as you did but I still can't reproduce the error. I've recorded my steps so you can can check if there's something that I'm missing or something that you can change to make your code work.

Check out where:  https://asciinema.org/a/18613

Here's the test class I used to run the example:

[code]

[2015-04-11 13:32] marcosnils commented on #940
@MarsYoung can you try reproducing it?

[2015-04-13 00:12] marcosnils commented on #566
@HeartSaVioR what if we create another `del(List<String> keys)` method just to make this work in Scala?, Will that make this case work?

I quickly  checked all the other methods and I believe that this is the only one that's causing problems.

I don't like either the idea of removing the `del (String... keys)` method because as you said it won't work for ShardedJedis or JedisCluster; and replace a

[2015-04-13 06:52] Pratap6 commented on #944
@marcosnils : Thanks for your help.

We were trying remote connectivity from client to Redis Cluster. We executed client code from local machine as per your recording and could able get connections without any errors.

It seems something issue with remote connectivity. Could you please suggest me if any changes are needed in redis conf file and other files for remote connectivity.

Thanks!

[2015-04-13 11:17] Pratap6 commented on #944
@marcosnils : Thanks for your support, we greatly appreciate your help!

we have successfully done remote connectivity from client to Redis Cluster. by replacing Bind IP(127.0.0.1) in redis.conf file with machine IP.

@HeartSaVioR : Thanks for your support, we greatly appreciate your help!

[2015-04-13 11:24] marcosnils commented on #944
@Pratap6 your welcome. Can you please close the issue if you consider it fixed?

Thanks!.

[2015-04-13 11:32] Pratap6 commented on #944
@marcosnils : Ok sure

[2015-04-13 11:32] #944 closed

[2015-04-13 19:24] allanwax commented on #847
The following demonstrates _A_ connection problem but I don't know if it demonstrates the proper problem.  This is without the fixes I suggested.  More work needed.

[code]

[2015-04-14 10:52] liriarte commented on #926
@marcosnils I tried it and I got the same error. It may be a problem with EAP and not AS

[2015-04-14 14:21] marcosnils commented on #926
@liriarte seems like. We need to find a docker image or a VM with EAP so I can debug..

[2015-04-15 17:06] liriarte commented on #926
@marcosnils I think you can this this image https://registry.hub.docker.com/u/enschede/jboss-eap-5.2.0/

[2015-04-15 17:10] marcosnils commented on #926
ok, I'll give it a try with that image!.

On Wed, Apr 15, 2015 at 2:06 PM, Leandro <notifications@github.com> wrote:

[2015-04-16 13:02] marcosnils commented on #926
@liriarte I could reproduce the error that you're getting when deploying the WAR application. However, even though I'm getting the same stacktrace as you, my application still runs without a problem.

Are you seeing errors when your application is running in production or only when you deploy it?

[2015-04-16 23:05] marcosnils commented on #940
@MarsYoung any update?

[2015-04-16 23:20] marcosnils commented on #270
@cifeng101 JedisPool internally uses commons-pool from apache which exposes a lot of information about the pool through JMX. If you attach any JMX client to your JVM you'll be able to see the pool internal status.

JedisPool also provides some methods to get some basic statistics about the pool such as:
`getNumActive`
`getNumIdle`
`getNumWaiters`

[2015-04-16 23:20] #270 closed

[2015-04-16 23:21] marcosnils commented on #918
@deepakpol any updates about this?

[2015-04-17 06:08] chhavigangwal opened #952 "Update compiler level to 1.7"
Currently Jedis is supporting only maven compiler for JDK 1.6 . Any plans to upgrade this to 1.7 ?

Chhavi

[2015-04-17 06:16] HeartSaVioR commented on #952
We're planning to change JDK requirement as 1.7 at 3.0.0 (next major version)

Thanks for concerning!

[2015-04-17 06:16] #952 closed

[2015-04-17 06:53] carlvine500 opened #953 "will JedisClusterInfoCache.java cache READONLY slaves slots ?"

[2015-04-17 07:36] liriarte commented on #926
@marcosnils once I get the error, then JBoss gets unstable, and I need to restart it. Sometimes I can even set/get to Redis, but then I need to restart it.

[2015-04-17 14:54] marcosnils commented on #926
Ok, I'll investigate it during the weekend and see if we can find a way to
make it work with EAP 5.2

On Fri, Apr 17, 2015 at 4:36 AM, Leandro <notifications@github.com> wrote:

[2015-04-17 14:56] liriarte commented on #926
@marcosnils thanks! I posted on JBoss forum as well

[2015-04-17 15:01] marcosnils commented on #926
@liriarte I'd also open a ticket in the apache commons-pool issue tracker https://commons.apache.org/proper/commons-pool/issue-tracking.html as the exception is being generated from commons-pool

[2015-04-19 06:29] HeartSaVioR commented on #566
@marcosnils
Sorry to respond later.

First of all, problem will be not solved when we add del(List<String> keys), and call del("a").
In order to avoid it Scala users should always call del(List("a")) though IDE shows there's del(String key) and del(String... keys). It doesn't make sense.

I've tested some and found a solution which would make us annoying (and may you know already), but I think it

[2015-04-20 07:38] lboue commented on #855
We are using Apache Tomcat Version 7.0.57 with spring-data-redis-1.5.0. This issue may be located at the Spring Data Redis library. I will try to isolate some of the code to reproduce it.

[2015-04-20 07:48] christophstrobl opened #954 "zcount(byte[] key, byte[] min, byte[] max) not available on PipelineBase and Transaction."
would be nice if `PipelineBase` and `Transaction` would expose the binary variant of `zcount` as offered by `BinaryJedis`.

[2015-04-20 11:10] #954 closed

[2015-04-20 22:09] #603 closed

[2015-04-20 22:14] HeartSaVioR opened #956 "Fix or discard tests which make random failure"
There're many kind of random failures which makes us not convinced about Travis CI report.

Please leave comments if found any suspect random failures.

[2015-04-20 22:19] HeartSaVioR commented on #956
[code]

[code]

[code]

[2015-04-20 22:30] marcosnils commented on #956
My guess that those tests depend on how busy is the underlying system that's running those tests. I've tried running the tests 10 consecutive times in my computer and they **rarely** fail so I guess trying to fix this is going to be challenging.

[2015-04-20 23:06] HeartSaVioR commented on #956
Strongly agreed. Feels like Travis build is much slower than our dev environment, so we may have to re-think timeout parameters for unit tests.

Btw, failures I've just attached seem to Socket connection timeout, but they were failed in 1 sec.
Maybe it doesn't mean random failure but random sucess, I'll check conn timeout is set properly.

[2015-04-21 03:49] HeartSaVioR commented on #956
I'm sorry, default timeout is not set properly. (1ms)
Forget about above comment, and let's add new random failures.

[2015-04-21 15:59] vlebedev opened #957 "Cannot instantiate BinaryJedisCluster in jedis-3.0.0"
When I tried to instantiate BinaryJedisCluster via:

`BinaryJedisCluster jcb = new BinaryJedisCluster(jedisClusterNodes);`

I got the following exception:

`Exception in thread "main" java.lang.NoSuchMethodError: redis.clients.jedis.JedisSlotBasedConnectionHandler.<init>(Ljava/util/Set;Lorg/apache/commons/pool2/impl/GenericObjectPoolConfig;I)V
	at redis.clients.jedis.BinaryJedisCluster.<init>(Bina

[2015-04-21 16:02] marcosnils commented on #957
@vlebedev you shouldn't instantiate BinaryJedisCluster. You should instantiate `JedisCluster` (which extends BinaryJedisCluster and use the methods from there.

We can do BinaryJedisCluster protected so we don't encounter these errors.

[2015-04-21 16:08] vlebedev commented on #957
@marcosnils thanks for the comment! Though JedisCluster does not contain Set<byte[]> zrange() signature in spite of the fact that Jedis has it. Are you going to fix it?

[2015-04-21 16:13] marcosnils commented on #957
@vlebedev `JedisCluster` in cluster-revised branch contains both signatures `zrange(String, Long, Long)` and `zrange(byte[], long, long)`

Which method can't you find?

[2015-04-21 16:23] vlebedev commented on #957
I'm getting the following runtime exception:

<pre>
java.lang.NoSuchMethodError: redis.clients.jedis.JedisCluster.zrange([BJJ)Ljava/util/Set;
	at com.cybertonica.pipeline.web.RestApi.lambda$main$0(RestApi.java:55)
	at com.cybertonica.pipeline.web.RestApi$$Lambda$1/474675244.handle(Unknown Source)
	at spark.ResponseTransformerRouteImpl$1.handle(ResponseTransformerRouteImpl.java:47)
	at spark.webser

[2015-04-21 16:25] marcosnils commented on #957
@vlebedev you're using the Jedis Source directly or you've built your own jar?

[2015-04-21 16:26] vlebedev commented on #957
@marcosnils I've built my own jar and put it in local maven repo

[2015-04-21 16:28] marcosnils commented on #957
@vlebedev can you make sure your Jar is well built from the proper branch?. I've just tried the zrange(byte[]) using JedisCluster from the cluster-revised branch and it works without problems

[2015-04-21 16:28] marcosnils commented on #957
@vlebedev also make sure your application is using the custom built jar propertly

[2015-04-21 16:30] vlebedev commented on #957
@marcosnils may be I can use your 3.0.0-SNAPSHOT jar instead? do you have your maven repository which I can use (it is not in global maven repo yet, as I understood).

[2015-04-21 16:32] marcosnils commented on #957
@vlebedev we don't have a 3.0 snapshot yet. I've built the jar locally in my computer form the cluster-revised branch.

Do you necessarily need it to be in a maven repo?

[2015-04-21 16:39] vlebedev commented on #957
@marcosnils sorry, I found the problem - I did not clean target directory and old jedis-2.6.0 jar was on the path. I got rid of ClassNotFound exception. Many thanks for your help!

[2015-04-21 16:39] #957 closed

[2015-04-21 16:41] marcosnils commented on #957
@vlebedev glad to help. We'll be merging cluster-revised branch today probably, keep it in mind so you can use the master branch Jar.

[2015-04-21 19:04] asterp opened #958 "JedisCluster.zscore throws a NPE when the member isn't present in the sorted set"
Hi,
While testing the zscore command with jedis cluster I noticed that if a member whose zscore I am looking up in a sorted key doesn't exist it throws an exception. On the redis cli, it just returns (nil) in this case.

[2015-04-21 22:25] marcosnils commented on #958
@asterp can you please provide a test case to reproduce the problem?

I've just tested the following code against master and 2.7 and it returns null as expected:

[code]

[2015-04-21 22:35] asterp commented on #958
To reproduce it using your sample code, don't add the score using first jc.zadd before doing the jc.zscore
et<HostAndPort> jedisClusterNode = new HashSet<HostAndPort>();
      jedisClusterNode.add(new HostAndPort("127.0.0.1", 7379));
      JedisCluster jc = new JedisCluster(jedisClusterNode);
      Double score = jc.zscore("test", "notexist");
      System.out.println(score);

[2015-04-21 22:45] HeartSaVioR commented on #958
@asterp Could you describe your Jedis version and Redis version?

[2015-04-21 22:47] marcosnils commented on #958
@asterp I've changed my test case per your recommendations and it still works as expected. As @HeartSaVioR said, which version are you running it with?

[2015-04-22 06:43] zhiying8710 commented on #953
@carlvine500 no, it will not.
in JedisClusterInfoCache.java, line 43 and 44:

<code>
ClusterNodeInformation clusterNodeInfo = nodeInfoParser.parse(nodeInfo, new HostAndPort(jedis.getClient().getHost(), jedis.getClient().getPort()));</code>

in <code>nodeInfoParser.parse</code> will parse command <code>cluster nodes</code> result, for example:

<code>
e499ce8577471779d43eb699197c693d9a20de65 192.16

[2015-04-22 07:03] carlvine500 commented on #953
will jedis support READONLY slaves in the future ?

[2015-04-24 03:26] zhiying8710 commented on #953
@carlvine500 in redis cluster, u can't read data from slave, if u do this thing, <code>MOVED</code> error occurred.

[2015-04-24 03:32] HeartSaVioR commented on #953
With READONLY you can read data from slave, but AFAIK Redis Cluster doesn't treat slave down so I don't want to handle slave.
Please correct me if I'm wrong!

[2015-04-25 06:24] Dreampie opened #959 "ShardedJedis how to flushDB and del(String...keys)?"
[code]

[2015-04-25 17:47] Dreampie opened #960 "redis.clients.jedis.exceptions.JedisDataException: ERR Protocol error: expected '$', got ' '"
[code]

[2015-04-25 18:46] marcosnils commented on #960
@Dreampie seems like there was some sort of communication error and then Jedis complained that it couldn't parse the response correctly (possibly because of a malformed stream). I don't understand what's the problem here, in that case you should get a new Jedis instance and retry the operation.

[2015-04-25 19:00] marcosnils commented on #959
@Dreampie you can't perform muti key operations in ShardedJedis because each key may go to a different shard and then error handling becomes hard to handle.

[2015-04-25 19:00] #959 closed

[2015-04-25 19:00] #960 closed

[2015-04-26 00:14] Dreampie commented on #959
can i do  this?
[code]

[2015-04-26 00:17] marcosnils commented on #959
@Dreampie yes, you can do that but take into account that you're not handling errors in your code. What happens if either the `del` or the `flush` flahs for one of the shards?. You need to decide what you will do

[2015-04-26 00:20] Dreampie commented on #959
like this  #960，I must  try it and  new  instance？

[2015-04-26 00:22] marcosnils commented on #958
@asterp any updates about this issue?

[2015-04-27 00:06] asterp commented on #958
I was able to reproduce it:

The code I have is simply runs the following command (in its most simplified version)
Before execution I did the following:

127.0.0.1:6379> zcard to_be_expired
(integer) 0

jedisCluster.zscore("to_be_expired", "1234");

This throws a NPE ..

Redis version I'm running is 3.0.0
Jedis version Jedis-2.6.2

[2015-04-27 00:15] asterp commented on #958
Both to_be_expired and "1234" don't exist

[2015-04-27 00:42] HeartSaVioR commented on #958
I don't reproduce this issue from current master and Jedis 2.6.2.

Could you verify my test met your situation?
[code]

Btw, I didn't test it with Redis 3.0.0 official release. Jedis master branch is relying on current unstable branch of Redis.

[2015-04-27 00:47] HeartSaVioR commented on #958
I also can't reproduce your issue from Redis 3.0.0 official.
Maybe you need to provide additional informations, stack trace, more detailed code, cluster configurations, etc.

[2015-04-27 00:57] asterp commented on #958
Sure, I am using a single node in cluster setup. I've put all the hashslots on the same node.

final Set<HostAndPort> jedisClusterNodes = new HashSet<HostAndPort>();
jedisClusterNodes.add("127.0.0.1", 6379);
GenericObjectPoolConfig poolConfig = new GenericObjectPoolConfig();
        // Number of total connections in our pool
        poolConfig.setMaxTotal(10);
        // Number of connections to R

[2015-04-27 01:25] asterp commented on #958
Actually it works fine. I'm sorry I realized it was my mistake. But you guys are terrific trying to help me debug. Thanks :)

[2015-04-27 01:25] #958 closed

[2015-04-27 01:58] carlvine500 commented on #953
thands @HeartSaVioR . May antirez will support it . We will monitor slave , and skip reading from it after down.

[2015-04-27 22:52] marcosnils opened #962 "Build is failing in travis"
This is because seems like travis upgraded their maven version to 3.3.x which doesn't work with java 1.6. I've already sent them an email to see if it's possible to specify an alternative mvn version. I'll update this issue whenever I get back their answer.

[2015-04-27 23:02] marcosnils commented on #962
Travis also acks it. Let's wait for a resolution
https://github.com/travis-ci/travis-ci/issues/3778

[2015-04-27 23:09] HeartSaVioR commented on #962
Great! Let's wait. :)

[2015-04-28 19:02] allanwax opened #964 "IOUtils.closeQuietly is too specific in catching exceptions"
Only catching `IOException` doesn't handle the strange cases.  It should probably be `Exception`

[2015-04-28 20:31] DerekOverlock commented on #922
Finally upgraded to Redis 3.0.0 (stable), still seeing this error while using Jedis 2.6.2, will try downgrading to Jedis 2.4 again to see if that fixes the issue.

[2015-04-28 20:45] marcosnils commented on #922
@DerekOverlock I'll give it a try with Redis 3.0 stable and let u know my results

[2015-04-28 21:10] FabienHenon opened #965 "Exception [B cannot be cast to java.lang.Long"
Hi,

I'm getting the `[B cannot be cast to java.lang.Long` exception when using Jedis for simple commands.

I don't think it's related to thread management. Here is the way a new resource is obtained from the pool

[code]

I just call the `getRawConnectionInternal()` method each time I need to execute a new command and then I just call the method to execute the command.

I'll show you my code and

[2015-04-28 21:25] DerekOverlock commented on #922
It appears some of the nodes were still using the old redis properties file, and was connecting to the old unstable 3.0b2 cluster, I'll test with 2.6.2 again and see if I find any more 'ERR Wrong Number' messages!

[2015-04-28 21:27] marcosnils commented on #922
amazing @DerekOverlock I've just run 2.6.2 cluster tests against 3.0 stable and everything went fine, you shouldn't experience any problems.

[2015-04-28 21:42] marcosnils commented on #965
@FabienHenon can you share your code of MyRedis?. I'd like to see how/ when you're returning resources to the pool.

[2015-04-28 21:54] HeartSaVioR commented on #965
@FabienHenon
Could you provide Jedis version? Providing Redis version is more appreciated!

Btw, MyRedis has redis interactions via Jedis, I'd like to see it, too. Without MyRedis I can't see issue  anymore.

[2015-04-28 22:14] FabienHenon commented on #965
Oh yes sorry I forgot the versions.

Jedis : 2.7.2
Redis : 2.8.19

And the code in MyRedis looks like this :

[code]

It's not sharded, so the exception here is not thrown

[2015-04-28 22:19] HeartSaVioR commented on #965
You're not handling JedisConnectionException at all.
Jedis itself can throw JedisConnectionException with many situation, and you should discard and re-get instance ASAP cause it doesn't work properly with Redis anymore.

If you don't think retrieve from / return to JedisPool is not slow, I'd like to recommend traditional way of handling Jedis instance with JedisPool.

https://github.com/xetorthio

[2015-04-28 23:16] FabienHenon commented on #965
The Jedis instance is used during the entire request (instantiated when i first need it and returned after the request has returned a result). I think it's a good way of handling the instances and I would prefer keeping it.

You mean that as soon as I catch a JedisConnectionException I have to instantiate a new Jedis? But in my case I'm not getting any exception before the one with the bytes conve

[2015-04-28 23:22] marcosnils commented on #965
@FabienHenon one thing to nice as Heart said is that you __need__ to return the jedis instance to the pool so other threads can make use of it. Looking at your code I see that you allocate one Jedis instance per thread but when the pool reaches it's `max` instances then it will block until new instances are available which never happens because you're not returning them.

Now, regarding the except

[2015-04-28 23:28] HeartSaVioR commented on #965
@FabienHenon That's strange. Could you produce full stack trace?

[2015-04-29 06:41] FabienHenon commented on #965
@marcosnils I return the jedis instance to the pool but I didn't show the code because it's done automatically after the request :

[code]

I'm using the Play framework and this function, from a module, is called when the request is finished (even with an exception thrown).

I will try running my code with only one thread, that was what I was doing before and I never got this error before. I'll tr

[2015-04-29 08:45] FabienHenon commented on #965
So, after fixing my issue with the stacktrace, here are the exceptions I get after a few minutes of execution :

[code]

[code]

[code]

[2015-04-29 12:22] marcosnils commented on #965
@FabienHenon I believe I've found your error. Here's a couple of things you need to take into account:

- Jedis socket timeouts: By default Jedis socket read timeout is 2000ms (2 secs), so if you have a Jedis instance which is not used by this time you'll get a JedisConectionException with a `read timeout` message as you can see in your code

- In your `closeConnection` you're using `returnResourc

[2015-04-29 12:56] FabienHenon commented on #965
Thank you for your answer @marcosnils .

Actually I thought the socket timeout was if **one** command was taking more than 2 seconds, I didn't know it was for the entire "session" from the `getResource()` to the `close()`. However, in the link you provided it is said that the timeout is 300 seconds before the return, which one is the correct timeout? Do I just have to change the timeout in the `Je

[2015-04-29 13:12] marcosnils commented on #965
@FabienHenon the timeout counts since the first command is executed (which is when Jedis actually establishes the connection). You can specify an "infinite" timeout by setting it to a value of 0 in the JedisPool constructor as you mentioned.

Regarding the 300 secs timeout I believe that's an outdated documentation statement. Maybe @HeartSaVioR can give a hint about that but it's not related to th

[2015-04-29 13:19] FabienHenon commented on #965
Ok thank you, I will make the changes and see if it's running well for a few hours

[2015-04-29 13:24] marcosnils commented on #965
@FabienHenon let us know your results!.

[2015-04-29 13:27] FabienHenon commented on #965
Sure I will :)

[2015-04-29 13:27] HeartSaVioR commented on #965
@FabienHenon Maybe it would be outdated, currently JedisPool uses "300 secs" to set "timeBetweenEvictionRunsMillis", eviction means that it cleans up "idle" instances on pool, not active (borrowed) things.

[2015-04-29 13:29] marcosnils commented on #965
@HeartSaVioR looking at the code I believe it's 30 secs instead of 300?.

[2015-04-29 13:29] FabienHenon commented on #965
But that's not the same than the 2 seconds timeout?

[2015-04-29 13:30] HeartSaVioR commented on #965
@marcosnils Oh my, it's 30 secs. ;)

[2015-04-29 13:35] marcosnils commented on #965
@FabienHenon no, it's a different thing. As you may have noticed Jedis uses a `pool` for multi-threading. Pools usually have configurations regarding amount of instances, idle instances, eviction policies, etc.

Please refer to commons-pool config documentation for further details about configuring the pool :

http://commons.apache.org/proper/commons-pool/apidocs/org/apache/commons/pool2/impl/Gene

[2015-04-29 13:37] HeartSaVioR commented on #965
@FabienHenon
Idle connection could be closed via Redis side. You can adjust Redis configuration to do it.
You can configure Pool to let evictor cleans up idle Jedis instances which could be disconnected.
Sure you can also use testOnBorrow and testOnReturn to make borrowing instance safe to use.
AFAIK, read timeout is about Socket configuration while you may see earlier, not related to Pool configu

[2015-04-29 13:40] FabienHenon commented on #965
Alright, thank you!

[2015-04-29 13:44] HeartSaVioR commented on #965
I've modified wiki page to remove outdated content and include GenericObjectPoolConfig javadoc link.

[2015-04-29 13:45] marcosnils commented on #965
thx @HeartSaVioR

[2015-04-29 13:47] HeartSaVioR commented on #965
That's my pleasure. :)

[2015-04-29 16:41] FabienHenon commented on #965
It seems that my last exceptions disappeared but now I have another exception thrown :

[code]

Any idea on what could cause this exception ?
I made the changes you suggested me :
- Changed timeout to 20 sec
- Changed the pool max clients to 500 (the redis maxclients is the default 10 000)
- Changed the pool max idle clients to 250
- I added a try catch to surround redis commands (see the code bel

[2015-04-29 18:05] marcosnils commented on #965
@FabienHenon that's the only exception you get?.

[2015-04-29 18:17] FabienHenon commented on #965
Yes, it's the only exception, it's always in the evalsha statement and it's not always from the same stack, but it's always for the same script.
Maybe it's because of the lua script, but it is pretty simple :

[code]

`KEYS[1]` contains always the same string (which also means this `evalsha` method is always called from the same method in my code (however the full stacktrace is not always the same

[2015-04-29 18:20] marcosnils commented on #965
@FabienHenon have you tried setting the redis loglevel to debug and see if you get any errors there?. Your script seems fine so I guess the problem should be elsewhere..

[2015-04-29 18:23] FabienHenon commented on #965
I'm gonna try with `loglevel debug` and I'll tell you what's happening.

Did you see my PS from last post? : I don't know if it's related but before I added the LRIM command to the script it was running fine (coincidence ?)

[2015-04-29 18:24] marcosnils commented on #965
@FabienHenon just saw your PS. Weird, let's see if redis logs say anything.

[2015-04-29 19:09] veselov opened #968 "How to know when scan() is done?"
Hi.

From implementation, and Redis docs, it looks like that to know if scan() is finished, one needs to compare the latest cursor to literal `0`, right?

If so, may be ScanResult can have a isLast() method that would do that?

[2015-04-29 19:20] FabienHenon commented on #965
I just got an exception at 21:12 and here is the debug log of redis during this minute :

[code]

No error and nothing special I can notice :(

[2015-04-29 20:01] marcosnils commented on #965
@FabienHenon you're saying that if you remove the LTRIM you don't get any errors, right?

[2015-04-29 20:15] FabienHenon commented on #965
@marcosnils I can't affirm this because I also did other changes that may be the cause of the issue but if I remember correctly this error was not happening at all before.
However, in the changes I made I also added 3 threads to execute the user requests, so there may be more concurrency.
But the strange thing is that the issue is always happening at the exact same place and for the same parameter

[2015-04-29 20:21] marcosnils commented on #965
@FabienHenon have you checked this: https://github.com/xetorthio/jedis/issues/932#issue-65056028 ?

[2015-04-29 20:56] FabienHenon commented on #965
@marcosnils I didn't see this issue before but I guess it can't be the problem because by default (and it's the case for my configuration) the `client-output-buffer-limit` of `normal` class has no limit and I can be wrong be I think my `evalsha` command is called in the `normal` class as it's not a `slave` neither or `pub/sub`

[2015-04-29 21:35] marcosnils commented on #965
@FabienHenon is there a chance you can print the `key` and `argument` you send to the evalsha when it fails?.

I've setup a test scenario locally and I ran your script for 30 minutes with the same values and I didn't get any errors.

[2015-04-29 21:50] FabienHenon commented on #965
@marcosnils Here is my full log message, you have everything in it :

`LUA Script (savePageExecStat) (value : null) : Unexpected end of stream., KEYS : common.userConnected, ARGS : 1 (Exception: Unexpected end of stream.) (Thread : jobs-thread-7:31)`

`value` is the returned value from the script (should be 1)
`KEYS` are the keys, here there is only one value
`ARGS` are the arguments, here there i

[2015-04-29 21:53] marcosnils commented on #965
@FabienHenon do you have the ARG value?. I see that it says `ARGS: 1` but I don't see the value.

[2015-04-29 21:53] FabienHenon commented on #965
Actually 1 is the value :)

[2015-04-29 22:18] marcosnils commented on #965
@FabienHenon.

I just ran  a multi-threaded example that calls 2M times using a thread pool executor with your lua script and I didn't get any errors.

I guess the problem is somewhere else.. here's the code just in case..

[code]

[2015-04-29 22:47] FabienHenon commented on #965
Yes, that's what I'm thinking too, but I can't understand where. And the strangest thing is that this LUA script is called a lot but it's only crashing for the `common.userConnected` key when called in a particular function.
Do you think it could be because of an inconsistency in the key stored in redis? (I already had some keys with no type, maybe because of a memory problem).
I'll try to search

[2015-04-29 22:52] marcosnils commented on #965
@FabienHenon last thing I'd suggest is too run `monitor` on your redis server and see if you get something weird when your program crashes. Otherwise you'll have to start tearing apart your code until what's breaking it comes up.

Good like with that and keep us posted!.

[2015-04-29 23:00] FabienHenon commented on #965
Ok I will try that too, thank you!

[2015-04-29 23:09] FabienHenon commented on #965
@marcosnils If that can give you an idea of the problem I just saw that this script (with these parameters) is a script called very often (maybe something like 50 times per second) because it is called from a method that is used almost everywhere in my code. Whereas this script with other values is called is called much less often. I don't know if it's a good hint but I think it may be in a certai

[2015-04-29 23:15] marcosnils commented on #965
@FabienHenon I don't think it has to do with the amount of times it get's called per second. I've changed my test to call redis with the script 2000 / sec and it doesn't fail.. The error must be somewhere else.

[2015-04-30 07:49] FabienHenon commented on #965
@marcosnils I monitored redis but I san nothing strange : no unexpected command, no missing command, ...
However I noticed that each time the exception is thrown, there is a new connection to redis just before (the command just before the `evalsha`). And don't know if it's related to my problem, therefore there are sometimes new connections without any exception thrown (but the inverse is not true

[2015-04-30 09:24] tangfl opened #969 "Is there any chance for jedis to support compress on the fly, like some memcache client ?"
I remember once I saw a memcache client which support compress value on the fly when value size exceed a MAX_VALUE_SIZE, but unfortunately I can not find it on github now.

What I wonder is that, is there anyone else want the feature in jedis too ? if I got a pull request, is there any chance to be merged in master?

For the monment, I will choose [QuickLZ](http://www.quicklz.com/QuickLZ.java) for

[2015-04-30 16:19] marcosnils commented on #969
Thanks for arising the issue. Please let's continue the discussion in the mailing list:
https://groups.google.com/forum/#!topic/jedis_redis/2xJMUNcrPNo

[2015-04-30 16:19] #969 closed

[2015-04-30 18:30] FabienHenon commented on #965
@marcosnils Another weird thing: I changed my code to call this redis script less often (it was called a lot but it was not necessary) and now I still have the same exception but from other places (instead of being for `userConnected` it's for `getMainAvatar` or other parts (but mainly `getMainAvatar`).
The is still a weird bug and I cannot find any clue :(
Crashes come from codes in jobs, so mayb

[2015-04-30 20:58] HeartSaVioR commented on #965
@FabienHenon
Did you remove Jedis instance from ThreadLocal when JedisConnectionException occurs, so next time ConnectionManager.getRawConnectionInternal() gets new instance from JedisPool?

Btw, if you cache instance to ThreadLocal, you can't enjoy with JedisPool (actually Commons Pool 2)'s convenient features. You may have to do whole things by hand. So actually you don't need to use JedisPool w

[2015-04-30 21:04] HeartSaVioR commented on #965
@FabienHenon Oh, I missed a point. It removes instance from ThreadLocal. Sorry about it.

[2015-04-30 21:13] FabienHenon commented on #965
@HeartSaVioR Yes, actually the ThreadLocal is only here to keep my Jedis instance for the whole request which should last something like 30ms to 1000ms for long requests, so I don't think it's the problem :(

[2015-04-30 21:29] HeartSaVioR commented on #965
Please note that handling exception doesn't mean that you no longer meet connection issues. It doesn't prevent it.
If Redis closes connection (via various reasons), Jedis doesn't know connection is closed. Then we will  meet IOException with that Jedis instance at least once, and we would try to handle it.
That's why we use JedisPool with testOnBorrow, testOnReturn, testWhileIdle.

Without Commons

[2015-04-30 21:34] marcosnils commented on #965
@FabienHenon can you send us your redis.conf please?

[2015-04-30 21:42] FabienHenon commented on #965
@marcosnils Here is the redis config :

[code]

@HeartSaVioR Yes, but I'm already catching exceptions and getting a new resource from the pool in this case. And in my case the exception appears after the script has executed, but during the result return. Thus, a "save" script will work as expected, but a "read" script will return `null` :(

Do you think, getting a new resource and closing it immed

[2015-04-30 21:50] marcosnils commented on #965
@FabienHenon I'm seeing that the `maxclients` property is not correctly set. In order for it to work you need to leave a space between the key and the value not a `=` sign. I'm wondering how your redis instance starts as the config file is incorrect....

[2015-04-30 21:54] HeartSaVioR commented on #965
@FabienHenon
Please elavorate your situation. Was "read" script returning "null" instead of throwing Exception?

For now you're using different instances when you save and you read. So read could throw Exception whether save runs properly or not. Do you set one or more of testOnBorrow, testOnReturn, testWhileIdle?

[2015-04-30 21:57] marcosnils commented on #965
@FabienHenon getting a resource and closing it after executing the commands is the standard way of working with Jedis and it's quite performing. You can try that approach to see if it helps with the exception.

Regarding performance pool borrowing takes approximately 10000 ns which is about 0.01ms .. is that fast enough for your needs?

[2015-04-30 22:07] HeartSaVioR commented on #965
Borrowing and returning instance is fast enough. The tuning point is how to validate instance, which means what verifying methods (testOnBorrow, testOnReturn, testWhileIdle) do you use.
With Jedis.close() you may not need to use testOnReturn. If you're in trouble with disconnected IDLE connections, testWhileIdle with proper eviction configuration may help. If you think validating instance is reall

[2015-04-30 22:28] FabienHenon commented on #965
@marcosnils Oh yes I didn't but actually in my real config it is fine, I set it directly with `CONFIG`

@HeartSaVioR The script is throwing an exception (thus my return value is null), but the exception is thrown at the end of the script (in the `MONITOR` command I can see each command from the Lua script is executed)
I don't set `testOnBorrow`, `testOnReturn` and `testWhileIdle`, what are they us

[2015-04-30 22:33] HeartSaVioR commented on #965
@FabienHenon You may want to show full configurations with you set with ```CONFIG set```.

Btw, here it is.
http://commons.apache.org/proper/commons-pool/apidocs/org/apache/commons/pool2/impl/GenericObjectPoolConfig.html

- testOnBorrow : test (verify with PING) before borrowing
- testOnReturn : test before returning instance to Pool
- testWhileIdle : evictor thread tests idle instances periodical

[2015-05-01 10:06] FabienHenon commented on #965
@HeartSaVioR Here is my configuration when I get it from redis commands

[code]

Is there any best practice with these methods? Should I set all of them? What is the trade off? Should I only use one of them? By default none of them is set?

[2015-05-01 10:36] HeartSaVioR commented on #965
@FabienHenon
No, it depends on use case and Redis configuration.
If you really want to get validated instance every time (actually all users may want to) testOnBorrow makes sense, but it could decrease throughput.
I recommend you to at least give it a try, and stick it when throughput seems to be OK.
If you don't want to validate instance every time, you may want to set testWhileIdle with some par

[2015-05-01 11:15] FabienHenon commented on #965
@HeartSaVioR Thank you. I'm testing with the 3 methods set to see if it solves the issue. I'll come back later to tell you if it's working :)

[2015-05-01 14:38] marcosnils commented on #965
@FabienHenon can you set the `timeout` redis parameter to 0 and try again?

[2015-05-01 15:51] FabienHenon commented on #965
@marcosnils Would it change something? The current `timeout` is the same that the one configured in `JedisPool` .

But the good news is that since my last update with the `test...()` methods I don't have any exception anymore :)

[2015-05-02 01:00] HeartSaVioR commented on #965
@FabienHenon Great! Then you may want to remove ConnectionManager and just use JedisPool to simplify your logic, since it proves borrowing / returning every instances from/to JedisPool is not slow. :)

[2015-05-02 21:50] FabienHenon commented on #965
Yes :) I guess my problem is solved. I'm gonna write what I did to solve it for those who would get this issue too:

- call `close()` to return the `Jedis` instance to the pool (do not call `returnResource()`)
- catch `JedisConnectionException` for each `Jedis` command, and retrieve a new `Jedis` instance from the pool for the next `Jedis` commands to work
- Change the timeout (in `JedisPool` cons

[2015-05-02 21:50] #965 closed

[2015-05-02 21:56] marcosnils commented on #965
@FabienHenon can you do just one more test to verify something?. Can you unset al the `testOnxxx` methods and set the redis `timeout` parameter to 0 and try again?. I believe that was the problem that was causing your `end of stream` exception.

Glad to help!.

[2015-05-02 22:28] marcosnils commented on #968
@veselov nice observation. What about renaming the method to something like `next` so the interface can be used like the `Iterator` one.
i.e:

[code]

[2015-05-02 22:54] marcosnils commented on #968
@veselov maybe we can make ScanResult implement `Iterator`? so it can be used in `foreach` loops also.

[2015-05-03 01:35] marcosnils commented on #968
Hmmm thinking about this implementing `Iterator` wouldn't be the best thing because for the `next` method we'd have to call Jedis and do some exception handling, etc. I believe we can just provide a `hasNext()` method as @veselov originally proposed.

@HeartSaVioR @veselov @xetorthio what do u think?

[2015-05-03 15:12] FabienHenon commented on #965
@marcosnils It seems to work, but I'll confirm you tomorrow ;)

[2015-05-03 15:13] FabienHenon commented on #965
But how can you explain that it works with the `timeout` set to 0? It was set to 20 seconds, that seems to be a good value

[2015-05-03 22:14] HeartSaVioR commented on #965
It could work cause Redis will not disconnect idle connection when you set timeout to 0.
But I still suggest previous approach cause connection could be broken with any reasons.

[2015-05-04 07:25] FabienHenon commented on #965
@marcosnils, @HeartSaVioR I can confirm you that it works with a `timeout` of redis set to 0 :)

Thanks again!

[2015-05-04 20:23] HeartSaVioR commented on #968
For supporting various versions of Redis, Jedis didn't evaluate return value to determine sth. .
I'm not 100% sure that antirez never changes representation of "end of scan".
If we're sure, we can just go on. Actually it's better to have it.

[2015-05-05 02:26] veselov commented on #968
I am all for making ScanResult return an iterator, and even stream for 1.8, as a utility mechanism. The caveat will be that the next(), or the stream producer may throw an exception. Which, as long as the implementation is ready for, can be handled. On the low level, just having a hasMore()/scanFinished() method is sufficient to prevent the Jedis user to having to have Redis knowledge on how to do

[2015-05-05 16:06] JensRantil opened #976 "Question regarding "nil""
I am using `Jedis#lindex([]byte)`. Its JavaDoc states that it might return 'nil'. Does that mean need to compare it against `new String("nil").toBytes(CharSets.LATIN1)` to check for existence? Or is it some other way? How about adding a constant to compare against and refer to that in the JavaDoc?

[2015-05-05 16:09] marcosnils commented on #976
@JensRantil `null` java type if returned. The doc references Redis API mainly, I guess it's something we need to change.

Here you have an example:
https://github.com/xetorthio/jedis/blob/master/src/test/java/redis/clients/jedis/tests/commands/ListCommandsTest.java#L234

Let us know if you have further questions.

[2015-05-05 17:22] JensRantil commented on #976
Thanks @marcosnils. Yes, the JavaDoc definitely need to clarify this. Especially the `@return` part of the JavaDocs. I'll leave this issue open until that's done (unless there's a better issue for it)

[2015-05-05 19:11] marcosnils commented on #976
@JensRantil there are some javadoc issues open already. I'll close this one as we have the others

[2015-05-05 19:11] #976 closed

[2015-05-06 08:57] JensRantil commented on #976
:+1:

[2015-05-06 13:45] JensRantil commented on #457
Somewhat related; I am getting
[code]
when executing
[code]

[2015-05-06 13:46] JensRantil commented on #457
Regarding https://github.com/xetorthio/jedis/issues/457#issuecomment-99465016, I'd love to hear if there are any workaround for it.

[2015-05-06 13:54] HeartSaVioR commented on #457
@JensRantil
We deprecated blpop / brpop() with singular parameter (since it doesn't make sense), and it will be removed to 3.0.0.
Please specify timeout when you use brpop(). Thanks!

[2015-05-06 13:54] #457 closed

[2015-05-06 14:03] JensRantil commented on #976
Hi again @marcosnils, sorry for being a pain - could you refer to an issue the would solve this? I think it would be fair to do that for future reference.

[2015-05-06 15:29] marcosnils opened #978 "Improve javadocs"
Javadocs are mainly a copy/paste of the redis documentation. We need to change them to represent proper java types and exception handling.

There are also methods which doesn't have any javadoc at all.

[2015-05-06 15:30] marcosnils commented on #976
Sure, https://github.com/xetorthio/jedis/issues/978

[2015-05-06 16:40] allanwax commented on #968
When the scan returns an index of `0` it is done

[2015-05-06 16:44] allanwax opened #979 "Make deprecated JedisPool code a wrapper for new 3.0 code"
If we're moving to use close() as the release of resources, let's make it do that now

[code]

change to

[code]

etc.

[2015-05-06 16:51] marcosnils commented on #979
@allanwax we already changed `JedisPool.returnResource` to package protected.  Another thing is that `jedis.close()` calls `JedisPool.returnResource` so the change you're proposing will end up in an infinite recursive call.

[2015-05-06 16:54] allanwax commented on #979
Why is new code calling deprecated code?  If it is going to disappear in 3.0 as the comments says, what's it going to call then?  What happens if someone gets a JedisPool resource now and causes close() to close it?

[2015-05-06 17:12] marcosnils commented on #979
@allanwax we flagged deprecated just for 2.6 and 2.7 versions which we couldn't remove due to backwards compatibility. In 3.0 `returnResource and returnBrokenResource` are package protected to JedisPool so users now should close a jedis connection using `jedis.close()` only.

When we said that it was going to disappear in 3.0 we were referring to that those functions will not be public, but we nev

[2015-05-06 17:14] marcosnils commented on #979
Internally we will call `returnResource` or `returnBrokenResource` depending on the resource state which is something we're checking instead of delegating that responsibility to the user.

[2015-05-06 17:41] allanwax commented on #979
Good for now.

[2015-05-06 18:04] marcosnils commented on #979
@allanwax can you close the issue?

[2015-05-06 19:33] #979 closed

[2015-05-06 22:16] HeartSaVioR commented on #968
We know about that, but if Jedis has to know about that, and when antirez changes value for end of scan, next Jedis version couldn't be compatible with previous version. We were trying our best to avoid it.

[2015-05-06 22:28] veselov commented on #968
I agree with @HeartSaVioR point, but wouldn't that be tantamount to changing the protocol? Changing `cursor==0` condition is no different than changing any other contract Redis has, but Jedis does depend on other contracts.

[2015-05-06 22:34] HeartSaVioR commented on #968
http://redis.io/commands/ttl
You can see that return values are changed once. (Added -2)
I don't think it shouldn't be occurred again, but who knows.

[2015-05-08 15:32] marcosnils commented on #907
@nesalc can you check #977 and see if you consider this issue can be closed?

Thanks!.

[2015-05-10 03:55] psydell opened #980 "psubscribe doesn't work when keys include colon"
My goal is to receive key eviction notifications. I'm using keys in the following format: 198:18:key1234

A Jedis client executing jedis.psubscribe(listener, "__keyspace@0__:198:*"); will never get any key eviction notifications because keys include ":". As soon as I replace ":" with "/" everything starts working.

I verified redis-cli works fine (psubscribe __keyspace@0__:198:*):
1) "pmessage"
2)

[2015-05-10 19:59] marcosnils commented on #980
@psydell here's an example using jedis 2.6.x and 2.7.x that works without a problem:

[code]

Is there a change you try with a newest Jedis version?

[2015-05-11 05:37] psydell commented on #980
@marcosnils thank you for your response.
I tried to run your sample with jedis 2.7.2 and got the following exception:
Exception in thread "Thread-1" redis.clients.jedis.exceptions.JedisDataException: ERR unknown command 'PUBLISH'
	at redis.clients.jedis.Protocol.processError(Protocol.java:117)
	at redis.clients.jedis.Protocol.process(Protocol.java:142)
	at redis.clients.jedis.Protocol.read(Protoco

[2015-05-11 06:52] lquterqtd commented on #906
i met the problem the same, moore of 500 thousands of data in hashmat write failed with exception
redis.clients.jedis.exceptions.JedisConnectionException: java.net.SocketException: Connection reset by peer: socket write error
	at redis.clients.jedis.Protocol.sendCommand(Protocol.java:94)
	at redis.clients.jedis.Protocol.sendCommand(Protocol.java:74)
	at redis.clients.jedis.Connection.sendCommand(C

[2015-05-11 11:00] tonivade commented on #918
Hi!

I have the same problem outside Spring.

There are several threads subscribed to differents subjects and when I try to kill those threads, the thread throws this exception:

    Exception in thread "RediListenerThread-localhost:10001-alive" java.lang.ClassCastException: [B cannot be cast to java.util.List
	 	at redis.clients.jedis.Connection.getRawObjectMultiBulkReply(Connection.java:227)

[2015-05-11 14:36] marcosnils commented on #918
@tonivade any chance you can share a snippet or sample code that reproduces the problem?

[2015-05-11 14:37] marcosnils commented on #906
@lquterqtd @welyss any chance you can share a snippet that reproduces the error?

[2015-05-11 14:45] lquterqtd commented on #906
import java.io.UnsupportedEncodingException;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

import redis.clients.jedis.Jedis;

import com.axon.scene.common.RedisPool;
import com.google.gson.Gson;

public class RedisHmsetTest {
    public static class DataModel {
        private int cid = 0;
        private List<TTMap> map = new ArrayList<TTMap>(

[2015-05-11 14:49] marcosnils commented on #980
@psydell are you sure you're using redis 2.8.19 or that your redis instance is listening in the default 6379 port?. The error above indicates that redis doesn't know about the publish command.

I've just tried the same code i've pasted before with redis 2.8.19 and it works fine so I'd recommend you investigate what might be happening on your sidce.

I'll try your code later with the eviction sampl

[2015-05-11 14:52] HeartSaVioR commented on #906
@lquterqtd
Thanks for sharing!
Seems like you doesn't handle connection exception while returning instance to Pool.
Did you set timeout to Redis configuration? It means that Redis will disconnect connections with idle timeout.

[2015-05-11 14:54] marcosnils commented on #906
@lquterqtd by just looking at the code I see that you're not handling exceptions correctly. Instead of calling `returnResource` in the `finally` block you need to use `jedis.close()`. The exception you're getting is due to redis closing the connection (possibly because of it's idle).

Do you have the `timeout` configuration parameter set in redis?

[2015-05-11 15:04] lquterqtd commented on #906
@HeartSaVioR @marcosnils
do you mean the timeout configuration on the server?
i used the default "timeout 0".
in the exception block i should use returnBrokenResource method?
i don't think i need to use jedis.close() in the finally block.  returnResource is just enough.

[2015-05-11 15:05] marcosnils commented on #906
@lquterqtd `returnResource` and `returnBrokenResource` are deprecated in 2.6 and 2.7. You need to use `jedis.close()` in the finally block.

[2015-05-11 15:17] lquterqtd commented on #906
<dependency>
        <groupId>redis.clients</groupId>
        <artifactId>jedis</artifactId>
        <version>2.6.2</version>
        <type>jar</type>
        <scope>compile</scope>
</dependency>
i used 2.6.2 and i mentioned the source code, jedis.close() is implemented:
@Override
  public void close() {
    if (dataSource != null) {
      if (client.isBroken()) {
        this.dataSource.returnBro

[2015-05-11 16:54] tonivade commented on #918
Sure!

We try to interrupt the thread because we don't needed it anymore.
If we call only `listener.unsubscribe()` method, other threads like this were still alive.
If we call `jedis.quit()` also, the thread stops, but this causes the ClassCastException.
We managed to solve the problem calling only `jedis.stop()` instead, this method closed the socket and these threads died gracefully.

[code]

[2015-05-11 16:57] marcosnils commented on #918
@tonivade seems like the issue is solved. Can you close the issue?

[2015-05-11 17:52] DivineTraube commented on #711
Hi,

this is still not fixed resp. released:
https://github.com/xetorthio/jedis/blob/2.7/src/main/java/redis/clients/jedis/BuilderFactory.java
https://github.com/xetorthio/jedis/blob/jedis-2.7.2/src/main/java/redis/clients/jedis/BuilderFactory.java

contains the *old* code that still instantiates a HashMap. Thus, though the fixed code is in the master, using the newest distribution still does not

[2015-05-11 18:05] marcosnils commented on #906
@lquterqtd here are the deprecated methods in 2.6 and 2.7 respectively

https://github.com/xetorthio/jedis/blob/2.7/src/main/java/redis/clients/jedis/JedisPool.java#L104-L119
https://github.com/xetorthio/jedis/blob/2.6/src/main/java/redis/clients/jedis/JedisPool.java#L87-L103

Have you changed your code to use the `close` method? Are you still seeing your issues?

[2015-05-11 18:11] marcosnils commented on #711
@DivineTraube you're correct. @HeartSaVioR do you know why 9f4faf53ffdc87387d84bb9b4d1b1a9de393afed didn't reach 2.6 and 2.7?

Thaks!.

[2015-05-11 18:16] #918 closed

[2015-05-11 18:50] marcosnils commented on #906
@lquterqtd I just run your code locally and after tuning the JVM Heap and GCOvearHeadLimit it passed without problems. I used redis 2.8.19 and Jedis 2.6.3.

It took a while to complete but I didn't get any exception. I used a redis server with the default configuration.

Looking at your stacktrace seems like redis is closing the connections for some reason. I'd recommend setting your redis logs to

[2015-05-11 20:05] psydell commented on #980
I forgot I had a bunch of commands (including PUBLISH) renamed for security reasons.  Your sample does work, but it's not exactly matching my use case. Could the problem be in different clients/pools involved? I'll wait for you to run my test. Thank you.

[2015-05-11 20:32] marcosnils commented on #980
@psydell cool. Then it's not a problem with the pattern. It's about subscribing to the key eviction notifications.  I'll check your code later tonight and provide some feedback

[2015-05-11 20:49] marcosnils commented on #906
@antirez is there a max limit in terms of key - value paris that `hmset` can handle?. @lquterqtd is trying to hmset 5M items (keys + values) in a single redis operation and for some reason as soon as Jedis is starting to write into the socket we get a `Broken pipe` exception which I've confirmed is redis closing the client connection.

I have checked and the query buffer limit (http://redis.io/top

[2015-05-11 21:47] marcosnils commented on #906
@antirez @lquterqtd @HeartSaVioR just reproduced it making a simple python / telnet program.

if you set the `total` variable any number higher than 524287 you'll get the Broken pipe error.

I guess this might be some redis/os limit we're hitting. I've tried looking in the redis documentation but I didn't find anything about it.

[code]

[2015-05-11 21:47] HeartSaVioR commented on #711
@marcosnils
Seems like I did a mistake, it was merged to only master.
I'll cherry-pick that commit into 2.7 branch.

[2015-05-11 21:48] HeartSaVioR commented on #711
FYI, PR was https://github.com/xetorthio/jedis/pull/715

[2015-05-11 21:50] marcosnils commented on #711
@HeartSaVioR good catch. I guess we can reopen the issue so we can close it once we release.

[2015-05-11 21:51] HeartSaVioR commented on #711
Btw, Github points out that 9f4faf5 exists from 2.7.0 tag, while it shouldn't.

[2015-05-11 21:53] marcosnils commented on #711
@HeartSaVioR yeah I saw that.. github is lying to us :D

[2015-05-11 21:59] HeartSaVioR commented on #711
Just cherry-picked 9f4faf5 into 2.7 branch via b309237.

[2015-05-11 22:13] HeartSaVioR commented on #711
@marcosnils OK, I reopened this. Also set milestone to 2.7.3 so that we don't forget again.

[2015-05-12 00:35] itugs commented on #906
@lquterqtd @marcosnils
This is not about connection but about limitation of multibulk size.
Redis restrict maximum size of multibulk as (1024 * 1024).

https://github.com/antirez/redis/blob/unstable/src/networking.c#L1023-1027
I could confirm this by tcpdump.
[code]
So in this case, limitation of max key/value pair if 524288, (1024*1024) / 2.

I thought two action items from this
1. Check multibul

[2015-05-12 00:45] marcosnils commented on #906
@itugs thanks for the investigation, do you know if that is documented somewhere in the redis docs?, I couldn't find it. @HeartSaVioR realized that if you use the "VERBOSE" logevel you can see the error in redis logs (weird that in DEBUG it doesn't show up, @antirez is this possible?).

@itugs regarding to your propositions I believe i'd only do number 2 so if redis limitation changes in the futur

[2015-05-12 00:52] HeartSaVioR commented on #906
I posted strange logging behavior to Redis repo.

[2015-05-12 01:00] itugs commented on #906
@marcosnils No I could not found any docs about that. As you said I check tcpdump because I could not see any log from redis log. And even "VERBOSE" we can not see specific reason of error, like `invalid multibulk length`. I think it's better to print out specific reason to redis log, but I don't know if this is spec.

About propositions, yes I agree with you. If number two is done, number one is

[2015-05-12 01:06] HeartSaVioR commented on #906
I made a patch to fix strange log behavior.
https://github.com/antirez/redis/pull/2573

[2015-05-12 01:36] itugs opened #981 "Attemp read InputStream in connection is closed/reseted case for reasoning"
This is related with #906

When Redis close client connection, it write ERR Resp message to client.
It is worth if we can read it and use as exception message for reasoning.

error case example
[code]

[2015-05-12 02:54] marcosnils commented on #906
@lquterqtd can we close this issue now?

[2015-05-12 05:19] lquterqtd commented on #906
@marcosnils i just read the @itugs investigation, the problem is that in server side multibulk size is limit to 1024*1024, is that right?
I will use pipeline or batch inserts to have a try.

[2015-05-12 06:30] nesalc commented on #907
@marcosnils That would solve some of the problem.
But I ended up doing a custom implementation, where I can iterate the results and avoid allocating huge amount of data.
Much better solution for what I am doing.

[2015-05-12 06:30] #907 closed

[2015-05-12 13:15] marcosnils commented on #980
@psydell just tried your code and script and I'm getting eviction notifications. One thing I've noticed though is that the `if` condition regarding the token size doesn't match any results:

This is the message format I'm getting through the `onPMessage` method:

[code]

As you can see the `split(":")` on the channel length is never less than 3....

[2015-05-12 15:14] psydell commented on #980
Thank you, Marcos, you're correct, everything works as designed.
My bad. Sorry I wasted your time.

[2015-05-12 15:20] marcosnils commented on #980
@psydell np. I'll close the issue

[2015-05-12 15:20] #980 closed

[2015-05-12 20:49] allanwax opened #982 "Protocol.parseTargetHostAndSlot() is IPV4 oriented"
The code which splits the host part from the port part is very IPV4 oriented and thus it just splits on a `:`.  To handle IPV6 cases it should be something like:

[code]

Since IPV6 uses colons to separate the parts and Jedis uses a colon to separate host from port, using the index of the last colon will select the host-port divider whether it's IPV4 or IPV6.

[2015-05-12 21:19] marcosnils commented on #982
@allanwax I believe this should also be fixed here right:

https://github.com/xetorthio/jedis/blob/master/src/main/java/redis/clients/jedis/JedisSentinelPool.java#L123
https://github.com/xetorthio/jedis/blob/master/src/main/java/redis/clients/jedis/JedisSentinelPool.java#L169
https://github.com/xetorthio/jedis/blob/master/src/main/java/redis/clients/jedis/JedisSentinelPool.java#L178-L183
https://g

[2015-05-12 21:53] allanwax commented on #982
Probably in more places than I know.  But yes, fix 'em all

[2015-05-12 22:00] allanwax commented on #982
Sketchy code !!!  Without looking at the current HostAndPort !!!!!!

class HostAndPort {
...
private String host;
private String port;
...
public HostAndPort(String hostAndPort) {
// do proper splitting
host = ...;
port = ...;
}
...
public String getHost() {return host;}
public String getPort() {return port;}
...
}

[2015-05-12 22:23] allanwax opened #983 "class HostAndPort does not handle all forms of localhost"
It only looks for localhost and 127.0.0.1

The following is a little more thorough

[code]

[2015-05-13 17:13] asterp opened #984 "Can't figure out why I am getting a redis.clients.jedis.exceptions.JedisConnectionException: no reachable node in cluster"
I am experimenting with Redis cluster and I wrote a script to create a single master instance hosted by a single host. And I intermittently get the exception above. My Jedis pool config is as below:

final GenericObjectPoolConfig poolConfig = new GenericObjectPoolConfig();
        poolConfig.setMaxTotal(10);
        poolConfig.setMaxIdle(5);
       JedisCluster cluster = new JedisCluster(jedisClus

[2015-05-13 18:15] marcosnils commented on #984
@asterp have you asigned the slots correctly to your cluster and you have a minimum of 3 masters?

Can you run a `cluster nodes` and `cluster status` command in all your masters to check the cluster status?

thx!.