[2019-04-11 03:00] arass commented on #1889
Um, all the good stuff is missing. Like the blocking calls and xadd, etc calls. It's 5.x features.
Check for BZPOPMAX - not there in 3.1m.

[2019-04-11 17:04] kant111 opened #1971 "How to issue Cypher commands along with MULTI EXEC using Jedis API ?"
How can I issue the following commands using Jedis API? After going through the docs I am not seeing a way to issue something like below. Can anyone provide an example?

`MULTI GRAPH.QUERY <graph_id> MERGE (a:person {prop:value1}) GRAPH.QUERY <graph_id> MERGE (b:person {prop:value2}) GRAPH.QUERY <graph_id> MERGE (c:person {prop:value3}) EXEC`

[2019-04-12 01:19] sazzad16 commented on #1971
Jedis is a client for Redis, not RedisGraph.

[2019-04-12 01:19] #1971 closed

[2019-04-12 01:21] sazzad16 commented on #1967
No. There are some backward incompatible changes in 3.x compared to 2.x.

[2019-04-12 01:21] #1967 closed

[2019-04-12 08:23] tjych opened #1973 "Cannot use Jedis when in Pipeline. Please use Pipeline or reset jedis state ."
Cannot use Jedis when in Pipeline. Please use Pipeline or reset jedis state .

#### Jedis version:
2.9.0
#### Redis version:

#### Java version:
jdk8

[2019-04-12 13:47] marcosnils commented on #1973
Provide more info to reproduce.

[2019-04-12 13:47] #1973 closed

[2019-04-12 14:24] adrian-o commented on #1561
Hi guys I don't know if help you, but, im my case, I was trying connect in Redis using SSL in the port 6379 in my localhost. So if possible, verify your connection is using SSL method or not and change de connection parameter to the correct scenario.
In Spring the parameter to that is **[spring.redis.ssl=true]**

[2019-04-17 04:47] sagarsitap596 opened #1974 "Jedis connection in block state"
I have JedisCluster with 3 shards and 1 repilica each with below pool

final JedisPoolConfig poolConfig = new JedisPoolConfig();
        poolConfig.setMaxTotal(200);
        poolConfig.setMaxIdle(200);
        poolConfig.setMinIdle(16);
        return poolConfig;

My application is making around 5-7 lacs of request per minute to redis (insert/update/delete key) over multiple threads (15-20).

Afte

[2019-04-17 10:40] sagarsitap596 opened #1975 "JedisCluster with jedisPoolConfig : Do we need to explicitely return/release jedis connection to pool???"
### Expected behavior

Write here what you're expecting ...

### Actual behavior

Write here what happens instead ...

### Steps to reproduce:

Please create a reproducible case of your problem. Make sure
that case repeats consistently and it's not random
1.
2.
3.

### Redis / Jedis Configuration

#### Jedis version:

#### Redis version:

#### Java version:

[2019-04-18 07:10] sagarsitap596 commented on #1779
JedisCluster with jedisPoolConfig : Do we need to explicitely return/release jedis connection to pool???

[2019-04-18 10:07] andrew-asa opened #1976 "No way to dispatch this command to Redis Cluster"
### i want to del all keys and i can usr in single,but user JedisCluster is no work ,how can i make it work?

the code is
 jedisCluster = new JedisCluster(nodes, 15000, 10000, 5, jedisPoolConfig);
 String script = "local t1=redis.call('KEYS','*')\n" +
                    "for k,v in pairs(t1) do\n" +
                    "redis.call('del',v)\n" + "end";
 jedisCluster.eval(script, 0);

[2019-04-18 10:21] andrew-asa commented on #1082
String script = "local t1=redis.call('KEYS','*')\n" +
                    "for k,v in pairs(t1) do\n" +
                    "redis.call('del',v)\n" + "end";
jedisCluster.eval(script, 0);
any idea i can make it work?
No way to dispatch this command to Redis Cluster.

[2019-04-18 11:26] gkorland commented on #1975
Yes you do, or you can use try-with-resources
https://docs.oracle.com/javase/tutorial/essential/exceptions/tryResourceClose.html

[2019-04-18 11:26] #1975 closed

[2019-04-18 14:36] sagarsitap596 commented on #1975
I am using JedisCluster object and not Jedis object.
Can you please tell me how to do that?

[2019-04-18 17:16] marcosnils commented on #1975
With JedisCluster you don't need to close the connection as the JedisCluster does it for you automatically. If you're running out of connections have you tried getting a thread dump in that situation to see where the program is getting stuck?

[2019-04-18 17:26] marcosnils commented on #1976
why not using flushdb? https://redis.io/commands/flushdb

[2019-04-18 19:27] sagarsitap596 commented on #1975
Yes. It is waiting for connection in pool. I shall show you the exact
method where thread is blocked.

If JedisCluster closes connection or it just returns the connection to the
pool?

Because I have created a pool of 1000 connections and I believe they are
getting used and JedisCluster us not creating new connections apart from
pool

On Thursday, April 18, 2019, Marcos Nils <notifications@github.

[2019-04-18 19:27] sagarsitap596 commented on #1975
Yes. It is waiting for connection in pool. I shall show you the exact
method where thread is blocked.

If JedisCluster closes connection or it just returns the connection to the
pool?

Because I

On Thursday, April 18, 2019, Marcos Nils <notifications@github.com> wrote:

--
Thanks,
Sagar Sitap

[2019-04-19 01:39] andrew-asa commented on #1976
sometime i want to del key start with prefix just like this,and not just clear all
jedisCluster = new JedisCluster(nodes, 15000, 10000, 5, jedisPoolConfig);
String script = "local t1=redis.call('KEYS','__key__prefix')\n" +
"for k,v in pairs(t1) do\n" +
"redis.call('del',v)\n" + "end";
jedisCluster.eval(script, 0);

[2019-04-19 02:34] marcosnils commented on #1976
You can't really do that in jedis cluster because each key might live in a different node.

[2019-04-19 02:34] #1976 closed

[2019-04-19 07:34] sagarsitap596 commented on #1975
Yes. It is waiting for connection in pool.

On Thursday, April 18, 2019, Marcos Nils <notifications@github.com> wrote:

[2019-04-19 14:06] marcosnils commented on #1975
It returns it to the pool.

[2019-04-23 08:18] xuqisheng commented on #1929
hi @jebeaudet can you explain how to get  dumped the bean's stack traces? Thanks

[2019-04-25 01:12] deepshiv126 opened #1977 "redis.clients.jedis.exceptions.JedisConnectionException: java.net.SocketTimeoutException: Read timed out"
Hello

I'm trying to connect to AWS ElastiCache Redis using Spring Data Redis + **Jedis** combination. [Redis Cluster enabled, so it has Cluster Config endpoint, with 3 shard - each shard has 1 primary node + 2 replica nodes ]

I'm getting Read timed out error.

`Caused by: redis.clients.jedis.exceptions.JedisConnectionException: java.net.SocketTimeoutException: Read timed out
`
------------------

[2019-04-25 06:50] a8156268 commented on #426
On a forced outage of redis server, our team also encountered this problem.
Redis server was restarted, while client was blocking infinite.
Is the problem being solved？

[2019-04-25 10:27] abhishekaj commented on #1175
Hi All,

[2019-04-25 10:32] abhishekaj commented on #1175
Hi @fggarcia ,
I am facing the same issue in redis cluster. I am using redlock gem for distributed locking in ruby which executes lua script.

Command which I am executing -
$redis_lock_manager = Redlock::Client.new(["redis://#{Settings.redis_cluster.host}:#{Settings.redis_cluster.port}"])
$redis_lock_manager.lock('test_1', 30*1000)

It is trying to write in slave and I am getting the following er

[2019-04-26 04:32] ThietPhamDinh commented on #1904
HI everyone, I have similar issue.
I clone docker from https://github.com/Grokzen/docker-redis-cluster. and build it on local machine.
when i use redis-cli connect to cluster , everything passed. but when i connect cluster via Jedis Cluster it throw `redis.clients.jedis.exceptions.JedisClusterMaxAttemptsException: No more cluster attempts left.
` . and i don't know how to fix this issue? I'd appre

[2019-04-30 07:57] soloestoy commented on #1460
Just wonder if jedis does support this feature now? @etlweather @marcosnils @sheinbergon

[2019-05-02 05:29] krackoder opened #1978 "Jedis operation time more than socketTime*maxRetries during node overload"
### Expected behavior
I am running redis in cluster mode.  I have created BinaryJedisCluster object as -

[code]
I am calling HGETALL operation with the binaryJedisCluster object and timing it as-

[code]

Because socket timeout is set to 2000ms and maxattempts is 5, the maximum delay in operation that should be measured is  2000ms*5  = 10s

### Actual behavior
When at least one node of the cluste

[2019-05-03 20:34] galsivan commented on #1561
Experiencing same issue. not using spring, but using version 2.9.0. funny thing is that i didn't get this when i was connecting to a redis instance running on a kubernetes cluster.
as soon as we switched to a physical machine - boom. i'll try this ssl thing. maybe it's part of the config of the redis servers that is different between the k8s cluster and the physical ubuntu box.

[2019-05-10 17:28] dylankolson commented on #1367
For those trying this on OSX https://stackoverflow.com/a/56082275/6190803

[2019-05-12 13:57] sau3078 opened #1980 "redis.clients.jedis.exceptions.JedisConnectionException: java.net.SocketException: Connection closed by remote host"
Jedis / Jedis Configuration :

package com.luminous.cdcs.redis;

import java.time.Duration;

import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.beans.factory.annotation.Value;
import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;
import org.spri

[2019-05-12 14:02] sau3078 commented on #1980
I need to save Inverter data frequently in 10 minutes in Redis using jedis client for few IOT Devices.

While saving data in redis getting exception : redis.clients.jedis.exceptions.JedisConnectionException: java.net.SocketException: Connection closed by remote host.

I am using HTTPClient configuration connection pooling . Below is code ;

package com.luminous.cdcs.configuration;

import org.apac

[2019-05-15 11:26] Ramesksasi opened #1982 "NullPointerException - Jedis 2.9.0"
### Actual behavior

We are using Jedis ops for has api methods to fetch values from Redis. Which at times returns the value most of time but sometime gives null exception.

### Stack trace capture when error occurs
[2019-05-15 15:32:39,042] ERROR [C4F7EB0B74BE15F348BF988E421CA76D] [http-nio-8443-exec-6][] com.###.###.###.controller.HomeController.dashboard - Exception in com.###.###.###.controlle

[2019-05-15 11:56] gkorland commented on #1982
@Ramesksasi did you test it with 2.9.3 or 2.10.2?

[2019-05-15 14:04] Ramesksasi commented on #1982
Hi Guy Korland,

Thank you for the response,

We are testing with 2.9.3 currently and will post results here.

Thanks again

Rames K S

________________________________

From: Guy Korland <notifications@github.com>
Date: May 15, 2019 at 5:27:13 PM GMT+5:30
To: xetorthio/jedis <jedis@noreply.github.com>
Cc: Rames K S <Rames.Sasi@in.ey.com>, Mention <mention@noreply.github.com>
Subject: Re: [xetorth

[2019-05-15 19:17] gregbarkerdcsg commented on #1977
Hi @deepshiv126. Have you made any headway solving this issue? I'm experiencing a similar, possibly the same, issue with Azure Redis SSL and Jedis.

[2019-05-20 03:27] hailin84 opened #1984 "Is it possible to support pipeline in Cluster?"
Just as the title, Hope you guys could consider that.
Thanks.

[2019-05-20 09:54] marcosnils commented on #1984
This has been discussed already. Please check the issues before creating a new one.

[2019-05-20 09:54] #1984 closed

[2019-05-29 06:30] stillerrr opened #1985 "Enhancement: JedisCluster should save the seed nodes"
### Expected behavior

JedisCluster save the seed nodes and use the seed nodes to init or refresh the slot first.

### Actual behavior

JedisCluster don't save the seed nodes, if the cluster is not  available when JedisCluster init slots cache, the JedisClusterInfoCache's nodes map would be empty, and the JedisCluster object can not handle any request.

this function in JedisClusterConnectionHandl

[2019-05-30 03:26] marcosnils commented on #1985
Would you like to send a PR about how this would work?

[2019-05-30 09:18] shimshof commented on #1210
Hi.
we built a cluster in AWS with encrypted-in-transition.
when i am trying to connect and auth against a single node in the cluster (Jedis with uri)  i success. but when i am trying to connect the cluster (JedisCluster) i get empty list of nodes (No reachable node in cluster) is JedisCluster already support SSL/TLS properly?
regards

[2019-05-31 13:45] akrivitzky commented on #1977
We've had almost the exact same scenario that @deepshiv126 describes.  Because of deadline pressure, we ended up listing the cluster nodes in the Jedis configuration with SSL disabled, but we'd really like to use the single configuration endpoint.  Did you figure this out?

[2019-05-31 13:59] gregbarkerdcsg commented on #1977
Nah, chalked it up as a deficiency of Jedis, and moved on to alternatives.

[2019-06-02 03:17] marcosnils commented on #1977
This is already fixed int he Jedis master version https://github.com/xetorthio/jedis/blob/ef4ab403f9d8fd88bd05092fea96de2e9db0bede/src/main/java/redis/clients/jedis/JedisClusterConnectionHandler.java#L48. Not sure which version of spring-data-redis is using it. @gkorland probably knows.

[2019-06-02 03:42] #1980 closed

[2019-06-02 09:36] gkorland commented on #1977
Starting from 2.1.6 it's using 2.9.3 (https://mvnrepository.com/artifact/org.springframework.data/spring-data-redis/2.1.6.RELEASE)
The 3.x should be based on jedis 3.x

[2019-06-03 16:49] ae6rt opened #1987 "Support TLS connections in Sentinel mode"
## Feature Request

Redis open source will [support TLS](https://github.com/antirez/redis/pull/4855) in the not distant future.  TLS support in the Sentinel will likely follow soon thereafter.

Please implement TLS support in Jedis to support Sentinel mode.  This would include not only connecting to the Sentinel over TLS, but also connecting to the sentinel-reported master over TLS.

#### Is your

[2019-06-03 21:02] deepshiv126 commented on #1977
hi...
this is my current understanding...

What I was looking out for from Jedis? - AWS ElastiCache Redis - Cluster Mode enabled + Auth + SSL enabled ;

Jedis supported Cluster Mode + Auth  -- except SSL enabled was recently committed and available in https://github.com/xetorthio/jedis/releases/tag/jedis-3.1.0-m1

Spring Data Redis is not yet consumed Jedis 3.x version; I have opened a ticket aski

[2019-06-06 21:48] banker opened #1989 "Error on Streams with Transactions"
### Expected behavior

You should be able to read and write streams inside a transaction.

### Actual behavior

Error. Here's the stack trace:

[code]

### Steps to reproduce:

[code]

### Redis / Jedis Configuration

Connecting to single Redis instance v5.0.4.

#### Jedis version:

3.1.0-m1

#### Redis version:

5.0.4

#### Java version:

1.9

[2019-06-07 12:15] xuben commented on #1920
I use Jedis 2.9.3, it seems like the problem still remains in spite of #1947 . In our case, we set spring.redis.pool.max-active to 4 and ran into the same connection pool leak problem.

`sun.misc.Unsafe.park(Native method)
java.util.concurrent.locks.LockSupport.park(LockSupport.java:175)   java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject.await(AbstractQueuedSynchronizer.java:2

[2019-06-07 12:16] xuben commented on #1920
I use Jedis 2.9.3, it seems like the problem still remains in spite of #1947 . In our case, we set spring.redis.pool.max-active to 4 and ran into the same connection pool leak problem.

`sun.misc.Unsafe.park(Native method)
java.util.concurrent.locks.LockSupport.park(LockSupport.java:175)   java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject.await(AbstractQueuedSynchronizer.java:2

[2019-06-10 09:08] gkorland opened #1990 "Add Stream support for BinaryJedisCluster"

[2019-06-11 07:45] #1990 closed

[2019-06-11 20:58] hradilf commented on #1210
Hi,
please, is there any estimation and plan, if/when whit feature will be available in v2.10.x?

We are currently running on v2.9.0, using spring-data and we have to start to use SSL on Redis Enterprise.

Thanks for update.

[2019-06-17 04:29] BhargaviBP opened #1993 "JedisSentinelPool Exception"
I am using JedisSentinelPool connection pool in spark application.

Getting below exceptions. and frequently getting this exception.

redis.clients.jedis.exceptions.JedisConnectionException: Unexpected end of stream.
 at redis.clients.jedis.util.RedisInputStream.ensureFill(RedisInputStream.java:202)
 at redis.clients.jedis.util.RedisInputStream.readByte(RedisInputStream.java:43)
 at redis.clients.

[2019-06-17 05:13] BhargaviBP opened #1994 "JedisExhaustedPoolException"
### Expected behavior

Write here what you're expecting ...

### Actual behavior

Write here what happens instead ...

### Steps to reproduce:

Please create a reproducible case of your problem. Make sure
that case repeats consistently and it's not random
1.
2.
3.

### Redis / Jedis Configuration

#### Jedis version:

#### Redis version:

#### Java version:

[2019-06-17 05:14] #1994 closed

[2019-06-17 06:36] sazzad16 commented on #1993
@BhargaviBP You are saying there's exception in `JedisSentinelPool` but stacktrace says exception in `BinaryJedis.zremrangeByScore()`. It's difficult to help or trace issue without valid information.

However, did you try Jedis 3.0.1? It contains [2 bug fixes](https://github.com/xetorthio/jedis/releases/tag/jedis-3.0.1) over 3.0.0.

[2019-06-17 09:47] sazzad16 commented on #1989
Resolved by #1992

[2019-06-17 09:47] #1989 closed

[2019-06-17 11:05] gkorland opened #1996 "Tests fails on 3.1.0-m3"
The following tests fail on 3.1.0-m3

[code]

[2019-06-17 11:39] gkorland commented on #1996
@sazzad16 @marcosnils  can you give  a look at
[code]
It seems very strange I don't see how this test has ever pass.

It looks like the following line should always throw NPE
[code]

[2019-06-17 13:45] sazzad16 commented on #1996
@gkorland Well, it's about #1961

FYI, [my comment](https://github.com/xetorthio/jedis/pull/1961#issuecomment-487250856)

What if we use branch 5.0 for the purpose/sake of *release*? WDYT?

[2019-06-17 14:25] gkorland commented on #1996
Why do you think the behavior has change in Redis? I just tried it with 5.0.4 and 5.0.0

[2019-06-18 06:55] sazzad16 commented on #1996
Because, in #1961,  tests were failing with Redis `unstable` branch but passing with `5.0` branch.

[2019-06-18 07:08] sazzad16 commented on #1996
@gkorland To my understanding,

in branch `5.0`:

    CONFIG SET REQUIREPASS ''

command would **unset the password**.

But in branch `unstable`, same command results in **setting `''` as password**.

Related code in MigrateTest:

https://github.com/xetorthio/jedis/blob/5a016925ac2892877276065b505705cf2494905a/src/test/java/redis/clients/jedis/tests/commands/MigrateTest.java#L49

[2019-06-18 08:03] sazzad16 commented on #1996
@gkorland about https://github.com/xetorthio/jedis/issues/1996#issuecomment-502647415:

Previously, SPOP with COUNT option would never return `null` but empty list. But now it's possible that Redis would return null.

PS: same thing is true for LRANGE.

[2019-06-18 13:44] ganeshs opened #1998 "[NEW FEATURE] Support for SRV record"
We use redislabs to manage our redis clusters. They optimize the hardware and run multiple clusters on the same ip with different port. Since the port is different, we could manage the DNS mapping better. Say, I destroy the cluster and recreate a new one, it requires application to be restarted. With SRV record support, this should be a straightforward change without requiring a restart.

[2019-06-19 08:08] yumazhe opened #1999 "Time consuming of ensureFile()"
jedis： 3.1.0， jdk：1.8

When I was doing a stress test, I found that **redis.clients.jedis.util.RedisInputStream.ensureFill()**
was very serious time consuming and that was under larger concurrency.
so why? and what happened?

please anyone can help me， thanks!

the code ：

    private void ensureFill() throws JedisConnectionException {
           if (count >= limit) {
               try {

[2019-06-21 02:44] yangbodong22011 opened #2000 "BinaryJedis.SetFromList transient causes serialization error"
### Description
When I serialized the result returned by jedis.zrevrange(), I lost the key. Because the field `list` of `redis.clients.jedis.BinaryJedis.SetFromList` has a transient attribute.

[code]
I found that the reason for using `transient ` is to fix the code specification problem：#1304，but this will cause serialization errors.

### Steps to reproduce:
[code]

Result：
[code]

[2019-06-22 12:57] sazzad16 commented on #1982
Closed due to inactivity.

[2019-06-22 12:57] #1982 closed

[2019-06-23 13:57] sazzad16 commented on #1996
@gkorland

1. PR #2004 fixes

[code]

2. PR #2005 fixes
[code]

3. PR #2006 fixes
[code]

Hope you'd be able to review those PRs at your earliest convenience. Thanks.

[2019-06-23 14:13] sazzad16 commented on #1993
Closed due to inactivity.

[2019-06-23 14:13] #1993 closed

[2019-06-23 14:24] sazzad16 commented on #1946
Closed due to inactivity.

[2019-06-23 14:24] #1946 closed

[2019-06-23 14:32] sazzad16 commented on #1978
@krackoder You're forgetting about `Pool.getResource()`. (Binary)JedisCluster internally uses Pool and getResource() may consume significant amount of time depending on load and configuration.

[2019-06-23 14:32] #1978 closed

[2019-06-26 08:01] Force-King commented on #91
I also ran into this problem, reporting the following error after setTestOnBorrow(true)：

[code]

[2019-06-26 11:14] hradilf opened #2010 "Define Jedis Roadmap"
Please could you define Roadmap for Jedis?
When and what will be released?

Without Roadmap it is hard to plan and hard to estimate if the new version will be compatible with spring-data-redis.

Would it be possible to have a wiki page and keep it up to date?

[2019-06-28 05:55] Unnamalai57 opened #2011 "Redis keys are missing when creating concurrently"
using jedis client
try (Jedis jedis = RedisConnection.getJedisPool().getResource()) {
				if (!jedis.exists(key)) {
					jedis.hmset(key, map);
					jedis.expireAt(key, time);
				}
		}
creating keys. Per minute I have to create 83 keys concurrently. And read values from redis and push the values to mysql database. After pushing the values the keys will be deleted in redis.

When I checked the cou

[2019-06-28 21:20] marcosnils commented on #2011
Doesn't seem like an issue in Jedis. Please provide a **full example** that shows how Jedis loses keys while inserting concurrently. Maybe the problem is your code that inserts into your mysql database.
I'm closing this as there's nothing we can do about it. Please update a proper example "just" with jedis / redis interaction that demonstrates how concurrency is inconsistent.

[2019-06-28 21:20] #2011 closed

[2019-07-02 17:19] mhp0rtal opened #2013 "Misuses of cryptographic APIs"
Hi
The following lines have cryptographic API misuses. <br> File name => src/main/java/redis/clients/jedis/util/Hashing.java: Line number => 20: API name => MessageDigest:Operation on object of type java.security.MessageDigest object not completed. Expected call to digest, update<BR>

[2019-07-03 09:03] likun007 opened #2014 "jedis can't support redis cell?"
### Expected behavior

Write here what you're expecting ...

### Actual behavior

Write here what happens instead ...

### Steps to reproduce:

Please create a reproducible case of your problem. Make sure
that case repeats consistently and it's not random
1.
2.
3.

### Redis / Jedis Configuration

#### Jedis version:

#### Redis version:

#### Java version:

[2019-07-04 07:00] #1788 closed

[2019-07-06 04:58] #2000 closed

[2019-07-08 12:07] asmburning opened #2016 "[Enhancement] sadd support collection"
### Expected behavior

sadd method support java.util.Collection or java.util.Iterator
for now jedis only support
public void sadd(final String key, final String... members)
but we can't convert a collection to String... members
hope add method
public void sadd(final String key, final java.util.Collection<String> members)  or
public void sadd(final String key, final java.util.Iterator<String> membe

[2019-07-08 14:12] sazzad16 commented on #2016
This a long pending issue for Jedis. You're welcome to submit a PR for all related methods, not only SADD.

And about

feel free to use following piece of code

[code]

Thanks!

[2019-07-08 14:12] #2016 closed

[2019-07-13 05:47] ItsErikSquared opened #2018 "A Jedis object Closing from Consumer"

[2019-07-13 19:43] ItsErikSquared commented on #2018
Sorry, I have realized that the original line it is being executed from is this,
```serverRedis.jedisAction(jedis -> new Thread(() -> jedis.subscribe(this, "servers.request.create")).start());```
 and the original example of it being executed is being executed in the `onMessage` event.

[2019-07-14 02:45] #2018 closed

[2019-07-14 13:45] gkorland commented on #1987
@ae6rt I think the way to support it, without adding new dependencies to Jedis is by adding AddressResolver API

[2019-07-15 06:01] taotao365s opened #2022 "jedis can support `interceptor`?"
### Expected behavior

jedis.get() // send some statistic info to other system.
jedis.close // send some statistic info to other system.

### Actual behavior

no found any feature

### Steps to reproduce:

### Redis / Jedis Configuration

#### Jedis version:

#### Redis version:

#### Java version:

[2019-07-16 14:45] gkorland commented on #1998
@ganeshs adding support for SRV record seems like a too specific feature, but I think we can add a generic "address resolver" (see https://github.com/xetorthio/jedis/tree/address_resolver).
This way you'll be able to easily add srv record resolver based on https://github.com/dnsjava/dnsjava for example.

[2019-07-16 15:17] LucyWengCSS opened #2023 "NOAUTH Exception Cache"
Hi Team,

**Issue Definition:**  NOAUTH Exception Cache

Recurrence: The binary was running without any errors since the past 9 months. However, since 9th Jun the error NOAUTH Exception Cache can be observed. Occurrence of this issue is very less. Most of the time this is working fine.

Client SDK:
<dependency>
                <groupId>redis.clients</groupId>
                <artifactId>jedis</art

[2019-07-16 15:23] ganeshs commented on #1998
@gkorland That should work. Let me try it out.

[2019-07-17 14:46] gkorland commented on #1987
@ae6rt is #2024 is that what you need?

[2019-07-17 15:48] ae6rt commented on #1987
@gkorland Yes, this seems to be the same feature request.

[2019-07-17 15:50] gkorland commented on #1987
@ae6rt so does that PR good enough? can you verify it's working on your environment?

[2019-07-18 00:43] ae6rt commented on #1987
@gkorland I need a few days to study my code and whether the code in #2024 slots into the way I build the connection factory.

[2019-07-18 19:59] ae6rt commented on #1987
I don't have a definitive answer for whether #2024 will work for me.  However, I can say that this is the nexus of how we define our sentinel-based connection factory:

[code]

I don't see obvious support in the #2024 PR for me sticking with this idiom.

[code]

[2019-07-19 03:00] wxisme opened #2026 "Support redis submodule command?"
Whether to add the commands of the redis submodule to Jedis? such as BF.ADD and BF.EXISTS of RedisBloom. I am willing to submit PR if I can.
https://redislabs.com/blog/rebloom-bloom-filter-datatype-redis/

[2019-07-19 13:52] pavel-hp opened #2027 "Why Jedis uses setTimeoutInfinite when it runs eval&evalSha command?"
Could you please explain why Jedis uses setTimeoutInfinite (socket.setSoTimeout(0);) when it runs eval&evalSha command?
https://github.com/xetorthio/jedis/blob/c9c118aa86a1ff473b94dddd7fb28d640837e194/src/main/java/redis/clients/jedis/BinaryJedis.java#L3317

I faced with an issue when thread just stuck here..

[2019-07-20 05:12] sazzad16 commented on #2027
@pavel-hp There could be many Redis operations in one EVAL command. I think, because of this reason, the author thought setting timeout to infinite is a better approach.

[2019-07-20 05:14] sazzad16 commented on #2026
@wxisme NO? Unless it is included in core Redis.

There is a `sendCommand` included in upcoming 3.1.0. May be that will help you.

[2019-07-20 06:28] wxisme commented on #2026
@sazzad16 OK, I get it.

[2019-07-20 06:33] #2026 closed

[2019-07-20 08:07] pavel-hp commented on #2027
Hello @sazzad16 !
Let me explain why it is a problem.
We faced with this issue when we did resilience and failover tests with Redis.
Our application must be able to gracefully shutdown in case of unresolvable problem. But in this case we cannot close Application in proper way, because threads were in RUNNING state.

Yes for sure, there could be many Redis operations in LUA script but what is the p

[2019-07-21 11:17] DvirDukhan opened #2029 "Create an interface for 3rd party commands"
create additional interfaces for 3ed party commands and general commands. this is a discussion following PR #2025

[2019-07-21 15:42] medvedev opened #2030 "ClassCastException when transaction.watch(...) is used"
Jedis code expects a String return value from `transaction.watch(..)` call, while redis server doesn't return one.
This leads to "shift" in [Queuable.java](https://github.com/xetorthio/jedis/blob/jedis-3.0.1/src/main/java/redis/clients/jedis/Queable.java#L14)'s "pipelanedResponse", and then to ClassCastException (see stacktrace below), because Response<String> (crated for "watch") is used to parse

[2019-07-21 17:07] medvedev commented on #2030
Now I realize that in the code above I've misused WATCH and EXEC.
Maybe, Jedis should prevent such misuse by throwing an exception.

[2019-07-22 10:15] sunqb commented on #286
@ivowiblo thank you 。it is ok when i change the version to 2.1

[2019-07-22 19:13] IAmATeaPot418 opened #2035 "Support for ACLs with Redis 6"
**Feature Request:**

Support for ACLs w/ Redis 6:

In worlds where multiple users exist we may want users to do perform different Redis operations. We may also want to restrict them to specific keys. This will help security-conscious users and enterprises restrict clients and users to the least amount of privilege required to perform their function. With the planned implementation of ACLs in Redi

[2019-07-22 23:59] sazzad16 commented on #2035
@IAmATeaPot418 You're welcome to craft a PR.

[2019-07-25 07:30] sushilsingh94 commented on #1086
@fabiangebert I am also facing same time out issue for my redis connections. Could you please let me know what redis timeout parameter you have enabled to 10 minutes? It would help me alot.  Below are my connection snippet.

GenericObjectPoolConfig poolConfig = new GenericObjectPoolConfig();
poolConfig.setMaxTotal(maxTotal);
poolConfig.setMaxIdle(maxIdle);
poolConfig.setMinIdle(minIdle);
poolConfi

[2019-07-25 09:27] seyadali commented on #1210
do we have any update this functionalities

[2019-07-28 10:30] sazzad16 commented on #1747
Resolved by #1923

[2019-07-28 10:30] #1747 closed

[2019-07-29 15:48] kanistha opened #2037 "Unable to connect to Redis cache when running behind a proxy server"
### Expected behavior

I would like to connect to Azure Redis cache through a proxy server. When I try to connect directly without any proxy it works. But when the jedis client is behind a proxy server it fails to connect to redis server. I am using Redis without ssl enable as of now. I would like to know how I can enable the proxy setting?

### Actual behavior

Currently I am getting java.net.Soc

[2019-07-30 06:45] sushilsingh94 opened #2038 "Too many open connections in redis server in ESTABLISHED state"
When we close the Jedis connection, it closes on client side but on server connection is still in ESTABLISHED mode. connections are never getting closed on server for the same client and it keeps growing. And we are getting redis.clients.jedis.exceptions.JedisConnectionException: java.net.SocketTimeoutException:

when we run netstat on client it shows only 4 connections alive (ESTABLISHED ) but wh

[2019-07-30 10:10] mp911de opened #2039 "Upgrade to Commons Pool 2.7.0"
This is a dependency upgrade ticket.

[2019-07-30 12:03] sushilsingh94 commented on #2038
I have observed that most of the open connections are for sentinel which is running on port 6379 on slave host in cluster

[2019-07-30 20:21] cssutaria opened #2041 "Jedis connection exhausted"
hi
i am using the Jedis Pool with the following configurations:
GenericObjectPoolConfig poolConfig = new GenericObjectPoolConfig();
poolConfig.setMaxTotal(120);
poolConfig.setMaxIdle(60);
poolConfig.setMinIdle(20);
poolConfig.setMinEvictableIdleTimeMillis(60*1000);
poolConfig.setTimeBetweenEvictionRunsMillis(5000);
poolConfig.setMaxWaitMillis(1000);

pool = new JedisSentinelPool("myMaster", config

[2019-07-31 13:47] sazzad16 commented on #1863
Switching to JDK1.8 will be required if we want to upgrade Commons Pool to version `2.7.0`.

References:
- #2039
- #2040

[2019-08-05 02:29] yangrubing commented on #1977
@deepshiv126 Have you solved that? I am facing exactly the same problem.

[2019-08-08 03:31] jgchen opened #2042 "jedis.subscribe success then colse netwok , jedis.subscribe cannot throw exception!"
### Expected behavior

jedis.subscribe success,  then  colse netwok , jedis.subscribe() throw exception!

### Actual behavior

Write here what happens instead ...

### Steps to reproduce:
        try {
            Jedis jedis  = new Jedis("xx.xx.166.38", 6379,2000,2000);
            System.out.println("start subscribe");
            jedis.subscribe(new JedisPubSub() {},"channel1","channel2");

[2019-08-08 05:36] #2042 closed

[2019-08-08 09:13] Unnamalai57 opened #2043 "having issue in reading keys from jedis client"
have to create caches concurrently in redis and read the values from the cache. Through jedis client keys have been created concurrently. When I am reading from the cache some keys are missing.

int keyExists = 0;
int keyCreated = 0 ;
Map<Integer, String> keycreate = new HashMap<Integer, String>();
Map<Integer, String> keyexist = new HashMap<Integer, String>();

try (Jedis jedis = RedisConnection.

[2019-08-15 17:25] cowwoc opened #2044 "Automatic-Module-Name"
Please add `Automatic-Module-Name` to MANIFEST.MF to faciliate the usage of this library from Java9+ with Java Modules enabled. The library will remain usable from Java8.

[2019-08-22 06:09] lonnyzhang423 opened #2045 "JedisPool getResource block in multi-thread"
Here is my pool config

[code]

My test code

[code]

Test result
[code]

Why `jedisPool.getResource()` block and never return?

[2019-08-22 10:21] chaijunkun commented on #1518
I can reproduce this problems.
1. you should put a greate numbers of keys in a redis or redis cluster.
2. to execute flushDB via jedis.
3. cuz this method takes a long time to remove all keys from redis, it caused that the socket reading time out.

[2019-08-23 10:06] ravindrabhatt97 opened #2046 "java.net.SocketInputStream.socketRead0(Native Method)"
Hello Team,

I am getting below error stack trace, very intermittently in every 30 to 60 days, I get this stack trace for 10 to 30 mins(its the duration where user faces issue and we don't get any response back from redis) and then issues gets resolved on its own, can you please suggest something

Redis verison: 3.2.7
Jedis version: 2.9.0

["java.net.SocketInputStream.socketRead0(Native Method)",

[2019-08-24 05:02] sazzad16 commented on #2045
@lonnyzhang423 Put a **positive** value in `setMaxWaitMillis`.

[2019-08-24 12:53] NitishBangera commented on #1920
I am also facing the same issue with Jedis 2.9.3. The application runs fine without issues for around 3-4 hours and then all the connections show timed waiting in the thread stack and my application throws the "Could not get resource" exception.

"ForkJoinPool.commonPool-worker-1" #3305 daemon prio=5 os_prio=0 tid=0x00007fa458117800 nid=0x3f1357 runnable [0x00007fa5e8ac9000]
   java.lang.Thread.St

[2019-08-25 07:34] NitishBangera opened #2047 "Jedis 2.9.3 leaking connections causing the Pool to exhaust"
### Expected behavior

No connection leak

### Actual behavior

There's a connection leak with heavy usage. The application runs fine for 3-4 hours and then it all the connections wait infinitely(Thread dump) and the application throws a Timeout on wait exception.

### Steps to reproduce:

Tested with Jmeter calling a rest API which internally does a get to Redis using Jedis 2.9.3. 200 concurrent

[2019-08-25 07:35] NitishBangera commented on #2047
[code]
Is this issue resolved in Jedis 2.10.2?

[2019-08-29 07:10] lionello opened #2049 "JedisPubSub PING doesn't support (optional) message"
https://github.com/xetorthio/jedis/blob/master/src/main/java/redis/clients/jedis/JedisPubSub.java#L94

According to the Redis docs at https://redis.io/commands/ping PING takes an optional message, and indeed the Jedis client does have both overloads with and without the message parameter. The overload with message is missing from `JedisPubSub` and `BinaryJedisPubSub` however.

Also see #1279 and t

[2019-08-29 16:02] venukbh opened #2050 "Jedis not releasing connections and keeping them in active state for ever"
### Expected behavior

The connections should released from active state and returned to the pool or either go to broken connection pool as time out and then cleaned up

### Actual behavior

The connections are staying in active pool for ever. We could see them using the jmx (jconsole) monitor and going to org.apache.commons.pool2 tab.
It clearly shows
number of active as 7
number of idle as 1
But

[2019-08-31 09:29] zhengrenjie opened #2051 "Subscribe method might need throw a InterruptException"
### Expected behavior

As I was confusing about whether I should create a Thread to invoke subscribe method, I thought
subscribe method might need throw a InterruptException as it is blocked but return immediately.

### Actual behavior

It throws a JedisException which extend from RuntimeException.

#### Redis version:
2.9.3

[2019-09-01 17:08] sohailzahid opened #2052 "Getting JedisConnectionException: Could not get a resource from the pool When connecting to remote server"
I am trying to connect from a Java App running on Windows 10 using Jedis client to a remote Redis instance. My program fails with exception JedisConnectionException.

### Environment
- Redis version 5.x running on Ubuntu 19.04 in a VM
- Redis is configured to listen on a specific IP with a password and with protected mode set to on/yes.
- I am running my dev environment on a Windows 10 Pro machine

[2019-09-01 18:59] NitishBangera commented on #2047
Looks like Jedis 2.10.2 solves the issue.

[2019-09-02 20:22] hradilf commented on #2010
Any preliminary info about next release? Thank you

[2019-09-04 01:25] lonnyzhang423 commented on #2045
@sazzad16 Thanks for your reply.
But as for me,I need to block forever when the pool exhausted.
I wonder why jedis instance stay active and not be returned to the pool since pool is thread safe and get("abc") will not block for long time?

[2019-09-05 07:33] vaibhaw- commented on #1936
Ran into a similar issue. Jedis-3.0.0, Redis 5.0.5
Exception trace:

<pre>
redis.clients.jedis.exceptions.JedisConnectionException: Unknown reply: ￪
at redis.clients.jedis.Protocol.process(Protocol.java:168)
at redis.clients.jedis.Protocol.read(Protocol.java:219)
at redis.clients.jedis.Connection.readProtocolWithCheckingBroken(Connection.java:309)
at redis.clients.jedis.Connection.getMany(Connecti

[2019-09-06 02:23] kalthas opened #2055 "Sharding connection eviction"
### Expected behavior

Shard should be evicted when any of its containing connection (Jedis) is idle for the configured time, or eviction should based on connection level instead of Shard level

### Actual behavior

Shard is evicted only when the entire shard is idle for the configured time.

### Justification

Why the expected behavior? Consider a redis cluster comprised of 2 redis instances (R0,

[2019-09-07 21:22] venukbh commented on #2050
I've opened a PR to fix this issue https://github.com/xetorthio/jedis/pull/2054

[2019-09-10 13:39] richard-senior commented on #1545
All, I'd like to second this.
We are a very large corporate. We're using an Amazon provided Redis instance currently which we have essentially maxed. We want to move to a later version (cluster) of the managed Redis instance, but we'll have to prove it first. To help us do this we want to alter our code to work EITHER on a single instance or a cluster.
We have a factory method which currently retu

[2019-09-10 15:10] zupalex opened #2058 "xreadGroup block doesn't work as expected"
### Expected behavior

The value provided as the "block" parameter in xreadGroup should be used to determine how long the program should wait before throwing a connection timout

### Actual behavior

The timeout used to create the client is used instead

### Steps to reproduce:

1. Instantiate a redis clent
```redis = new Jedis( "some-host", 1234, 5000 );```

2. Call xreadGroup
```redis.xreadGroup

[2019-09-10 15:27] zupalex commented on #2058
I notice that xread function is first calling

client.setTimeoutInfinite()

then enclose the rest in a try/catch and finally call client.rollbackTimeout()

This is missing in xreadGroup, which might be what is causing this behaviour? I'm not sure as I did not spend more than 5min looking at the source code but that seems probable.

Cheers,
Alex

[2019-09-11 12:18] OrancyJ commented on #186
哈哈

[2019-09-11 19:33] #2047 closed

[2019-09-12 10:47] mjmanav4 opened #2060 "how to get the list if cluster nodes from a jedisClusterClient?"
[code]

How can i know the list of  nodes available in cluster?

[2019-09-12 19:07] madhushreegc opened #2061 "ERR only (P)SUBSCRIBE / (P)UNSUBSCRIBE / PING / QUIT allowed in this context"
### Redis / Jedis Configuration

#### Jedis version:2.9.0

#### Redis version: 5.0.4

#### Java version: 1.8

When do we get the below error? I have configured jedisPool with JedisPoolConfig
redis.clients.jedis.exceptions.JedisDataException: ERR only (P)SUBSCRIBE / (P)UNSUBSCRIBE / PING / QUIT allowed in this context
               at redis.clients.jedis.Protocol.processError(Protocol.java:127) ~[

[2019-09-16 06:04] mjmanav4 commented on #2060
Getting this error while  `jedis.exceptions.JedisMovedDataException: MOVED ` while using a node connection from jedsiPool
[code]

[2019-09-17 06:05] mjmanav4 commented on #988
Is this implemented ??

[2019-09-18 19:54] sureshkandimalla commented on #2037
@kanistha - have you find any solution for this? we have the same issue

[2019-09-19 13:35] kalthas commented on #2055
any update?

[2019-09-20 14:26] AndreGuima commented on #1970
The same problem here =/

[2019-09-20 16:57] taylorcressy opened #2065 "Could not return the broken resource to the pool due to NullPointerException"
I am currently using JedisCluster in a multithreaded environment (Spark) and executing commands in a ForkJoinPool.

### Expected behavior

I would expect that the internal management of JedisCluster handles maintaining the underlying Object Pool. Without having to manage it from the application.

### Actual behavior

I am non-deterministically getting the following exception

Caused by: redis.clie

[2019-09-21 08:36] msw91103 commented on #1929
I have met the same exception. This exception arises when our program runs for about a dozen hours every time.  Is it related to Jedis version or other causes? I haven't solved this problem yet.

[2019-09-24 10:12] IEnoobong opened #2066 "ERR wrong number of arguments for 'mget' command jedis"
### Expected behavior
Calling `Jedis#mget()` with an empty array for keys i.e `Jedis#mget(new String[0]);` should rather return an empty list or list with single null value (which is more in line with it's documentation) rather than throwing an exception

### Actual behavior
It throws the exception below

[code]

I know that this is what redis returns, but I believe that returning an empty list ra

[2019-09-24 23:47] sazzad16 commented on #2066
@IEnoobong

Which documentation are we talking about?

[2019-09-25 06:18] IEnoobong commented on #2066
@sazzad16 See https://github.com/xetorthio/jedis/blob/master/src/main/java/redis/clients/jedis/Jedis.java#L457

And I quote

**Get the values of all the specified keys. If one or more keys don't exist or is not of type String, a 'nil' value is returned instead of the value of the specified key, but the operation never fails.**

Also

`BinaryJedis#mget(new byte[0])` https://github.com/xetorthio/jed

[2019-09-25 07:02] sazzad16 commented on #2066
You are getting mixed up between `array of bytes` and `array of Strings`.
- An `array of bytes` is equivalent to a `String`.
- An `array of arrays of bytes` is equivalent to an `array of Strings`.

Hints for you to think it through:

- Binary equivalent of **`new String[0]`** IS **`new byte[0][]`** NOT `new byte[0]`.

- String equivalent of **`new byte[0]`** IS **`new String()`**, NOT `new String[

[2019-09-25 07:54] IEnoobong commented on #2066
Aha. I see, Thanks a lot for the clarification!

[2019-09-25 07:54] #2066 closed

[2019-09-27 03:02] JerryChin commented on #2042
@jgchen can you explain a little about why this issue was getting closed so quickly?

[2019-09-27 03:29] JerryChin commented on #426
I bump into this problem today while doing some code reviewing on our codebase.

`JedisPubSub` which is heavily used in our system, seems also suffered from this issue.

It cripples our connection mechanism, if master is hard rebooted, the subscription thread will block forever, we're not able to switch to the newly-elected master by leveraging `JedisSentinelPool`, isn't a very serious problem?

[2019-09-27 16:40] sazzad16 commented on #2065
This is a [Commons Pool issue](https://issues.apache.org/jira/browse/POOL-376). It is caused due to [regression from an earlier fix](https://issues.apache.org/jira/browse/POOL-356) which is present since `2.6.1`. A newer fix is committed by yours truly and expected to be released in version.

[2019-09-27 16:42] sazzad16 commented on #2065
@taylorcressy If you need the solution now, you can use Commons Pool `2.6.0` or earlier versions.

[2019-09-27 16:49] sazzad16 commented on #2043
@Unnamalai57 What is `time` in `jedis.expireAt(key, time);`?

[2019-09-27 16:55] sazzad16 commented on #2014
No. Jedis is a java client of only Redis.

[2019-09-27 16:55] #2014 closed

[2019-09-27 17:00] sazzad16 commented on #2023
`2.8.0` is very old version for us to dig into this issue. Sorry!

Please try a newest version of Jedis. Thanks!

[2019-09-27 17:00] #2023 closed

[2019-09-27 17:16] sazzad16 commented on #1999
@yumazhe Let's see the documentation for [`in.read(buf)`](https://docs.oracle.com/javase/7/docs/api/java/io/InputStream.html#read(byte[])):

Let me remind you, the InputStream (`in`) is actually received from `Socket` object. Time consumption supposed to be very normal for an InputStream reading from a Socket.

[2019-09-27 17:16] #1999 closed

[2019-09-27 17:30] sazzad16 commented on #1996
Resolved by combination of #2004 , #2005 , #2006 .

[2019-09-27 17:30] #1996 closed

[2019-09-27 17:45] sazzad16 commented on #1969
@shreychaturvedi123 Simply speaking, Jedis is a Java client for Redis, not Twemproxy.

If you know, you're using Twemproxy, why would you use `CLIENT`, `MULTI`, etc. commands? Why don't you just stop using those unsupported commands (by Twemproxy)?

[2019-09-27 17:45] #1969 closed

[2019-09-28 05:23] sazzad16 commented on #956
We rarely get into random failures for some time now. I'm closing this issue. Please feel free to reopen if you think it's required.

[2019-09-28 05:23] #956 closed

[2019-09-29 01:55] chang-chao opened #2068 "Threads are blocked forever in getting Jedis cluster connection"
Using Spring-Data-Redis + Jedis to connect to a Redis Cluster, under high concurrency, threads are blocked forever in getting Jedis connection resource, even though all borrowed Jedis connections are supposed to be returned (I just used Spring CacheManager and RedisTemplate, whom I expect to manage the connection well).

This is the the project to reproduce

https://github.com/chang-chao/jedis-clu

[2019-09-29 04:41] sazzad16 commented on #2068
@chang-chao What happens if you use Jedis `2.9.3` or `2.10.2`?

[2019-09-29 05:52] chang-chao commented on #2068
@sazzad16 After upgrading to Spring Boot to `2.1.8.RELEASE`, which uses Jedis `2.9.3`.
And it did not happen again.
So , I think this is the same issue with https://github.com/xetorthio/jedis/issues/1945 , I will close this.

[2019-09-29 05:52] #2068 closed

[2019-10-03 17:08] taylorcressy commented on #2065
@sazzad16 Thank you will give it a shot!

[2019-10-08 08:21] startjava opened #2072 "JEDIS API GEORADIUS support store and storedist option?"
JEDIS API  GEORADIUS support store and storedist option?
thank you very much!

[2019-10-08 08:41] startjava opened #2073 "jedis which version support zpopmax and zpopmin"
i use jedis 3.1 version,but no has 2 api.
Thank you very much!

[2019-10-09 03:27] Eo-x opened #2074 "偶尔出现 java.net.SocketException: Broken pipe (Write failed)"
### Expected behavior

在使用Jedis过程中偶尔会出现的错误 java.net.SocketException: Broken pipe

### Actual behavior

具体错误信息是
在使用reids存取数据过程中偶尔出现如下错误信息
 java.net.SocketException: Broken pipe (Write failed); nested exception is redis.clients.jedis.exceptions.JedisConnectionException: java.net.SocketException: Broken pipe (Write failed)
10:30:00,972 ERROR [stderr] (scheduler_Worker-24)       at org.springframework

[2019-10-10 09:35] zwqlive commented on #2046
I have the similar problem
when I change the System Time, the Thread will be blocked
below is the stack trace
[code]
my code like this:
[code]

[2019-10-10 22:12] krishna81m opened #2075 "Jedis cluster does not use pool config or pooling?"
### Expected behavior

Expected to see pool config also used in Cluster mode

### Actual behavior

No pooling config usage in https://github.com/xetorthio/jedis/blob/master/src/main/java/redis/clients/jedis/JedisClusterConnectionHandler.java#L48

### Steps to reproduce:

Please create a reproducible case of your problem. Make sure
that case repeats consistently and it's not random
1.
2.
3.

### Re

[2019-10-10 22:38] krishna81m commented on #2075
Apologies, I see the cache is already setup in
[code]

[2019-10-10 22:38] #2075 closed

[2019-10-12 10:37] AlbertYou opened #2076 "SlowLog miss client information with redis version 5.0.5."
### Expected behavior

Output client information

### Actual behavior

Output client information

### Steps to reproduce:

1. SlowLog miss client information with redis version 5.0.5.

### Redis / Jedis Configuration

#### Jedis version: 3.1

#### Redis version: 5.0.5

#### Java version: 11

[2019-10-15 09:59] sazzad16 commented on #2076
@AlbertYou Could you please elaborate the issue?

[2019-10-15 19:14] maksymkovalenko commented on #988
Couple thoughts on this thread.
1. It does not make sense to have `master` and `slave` fields because they are dependent on each other. Having them as separate fields looses that relationship. I'd rather have `getClusterSlots()` similar to `JedisCluster.getClusterNodes()` which would have data from `CLUSTER SLOTS` command:
[code]

2. Better yet, `Map<String, JedisPool> getClusterNodes()` should be

[2019-10-15 19:31] allanwax commented on #988
@maksymkovalenko I can see a use for getMasterNodeForKey where you want to know where you're writing to and what its slaves are (at least at the moment in time when you ask).  Some optimizations in Redis access are to read from the slaves and write to the masters so that in a read heavy application you can spread the reads around among the slaves and get some parallelism.

[2019-10-15 20:15] maksymkovalenko commented on #2073
`zpopmin` and `zpopmax` are not currently implemented in Jedis.

[2019-10-15 20:28] maksymkovalenko commented on #2050
I suspect you're using Jedis incorrectly. What's your code that leads eventually runs into the issue?
Jedis pool is `Closeable` and you must close it explicitly just like with any other resource (`InputStream`, `Reader`, JDBC, etc)
I.e. should be for Java 8
[code]
Or pre java 8:
[code]
I believe this issue should be closed.

[2019-10-15 20:38] venukbh commented on #2050
@maksymkovalenko I am already using java 8, and try with resource. If you see the images (first image and 2nd image in the order) I added above, you can see the connections being returned and borrowed, which means the connections are being closed i.e. returned to the pool.

[2019-10-15 21:05] maksymkovalenko commented on #2022
Interceptors are just not in scope for Jedis. If you **really** need this, just subclass `Jedis`. I.e. something like:
[code]

[2019-10-15 21:07] maksymkovalenko commented on #2029
PR #2025 is now merged in, please close this issue.

[2019-10-15 21:50] maksymkovalenko commented on #1959
Yeah, ideally `MEMORY` should be supported just like some other commands.
For now, just use `INFO memory` command. Something like

[code]
https://redis.io/commands/info

[2019-10-15 21:59] maksymkovalenko commented on #2050
I see.
You're using 3.0.0-m1. Is this still an issue in the latest `3.1.0`?
Another issue is that Jedis is using `commons-pool2` `2.6.2` whereas latest is `2.7.0`.
I'd say both need to be upgraded before doing anything else.

[2019-10-15 22:05] maksymkovalenko commented on #2050
In any case @venukbh , you should post your code, just describing the issue is not enough for us to do any kind of troubleshooting.

[2019-10-15 22:15] venukbh commented on #2050
@maksymkovalenko Yes, the issue is still with the latest versions of jedis clients which also brings commons-pool2 - 2.7.0

[2019-10-15 22:21] maksymkovalenko commented on #2050
Need code, otherewise there's nothing to inspect, debug, fix, etc.

[2019-10-15 22:23] venukbh commented on #2050
Here is the code, hope you can see the configuration above

`public byte[] read(String key) {
	byte[] data = null;
	try (Jedis conn = getJedisPool().getResource()) {
		serializedData = conn.get(id.getBytes());
	} catch (JedisException e) {
		// logging the exception
	}
	return data;
}`

[2019-10-15 22:25] venukbh commented on #2050
@maksymkovalenko

 Here is the code, hope you can see the pool configuration above

`public byte[] read(String key) {
	byte[] data = null;
	try (Jedis conn = getJedisPool().getResource()) {
		serializedData = conn.get(id.getBytes());
	} catch (JedisException e) {
		// logging the exception
	}
	return data;
}`

[2019-10-16 05:46] sazzad16 commented on #2029
@maksymkovalenko This idea was generated after mentioned PR.

[2019-10-16 05:52] sazzad16 commented on #2029
Issue details:

We may need interface(s) for the 3rd party commands. Here are reference methods:

1. https://github.com/xetorthio/jedis/blob/c581682bda779f6cfe7e9f1270705e4e1844cb01/src/main/java/redis/clients/jedis/BinaryJedis.java#L4054

1. https://github.com/xetorthio/jedis/blob/c581682bda779f6cfe7e9f1270705e4e1844cb01/src/main/java/redis/clients/jedis/BinaryJedis.java#L4049

1. https://github.

[2019-10-16 06:14] #2058 closed

[2019-10-17 19:26] ptahchiev commented on #1931
Any update here? It blocks me to update to the latest spring-boot :(

[2019-10-20 04:26] startjava opened #2080 "has bug ?? xread method block param is ：Long.MAX_VALUE no block ! use Integer.MAX_VALUE is block !"
has bug ?? xread  method block param is ：Long.MAX_VALUE no block !  use Integer.MAX_VALUE is block !

[2019-10-21 04:27] startjava opened #2081 "no xinfo() method??"
jedis-3.2.0-SNAPSHOT.jar version !

where find it ?

thank you very much!

[2019-10-21 04:40] startjava commented on #2081
Expect zpopmax and xinfo and another to be added as soon as possible, now the update progress is somewhat slow, thank you very much

[2019-10-21 12:17] marcosnils commented on #2081
We don't publish snapshots regularly. @gkorland we can setup a cron task to automatically push a HEAD snapshot everytime something get's merged to master. WDYT?

[2019-10-23 07:52] #2074 closed

[2019-10-24 00:28] spyvip commented on #2022
I know that this can do it, but this should override many methods of super.
It should support this feature in core of Jedis.

[2019-10-24 06:10] AlbertYou commented on #2076
redis 127.0.0.1:6379> slowlog get 2
1) 1) (integer) 14
   2) (integer) 1309448221
   3) (integer) 15
   4) 1) "ping"
2) 1) (integer) 13
   2) (integer) 1309448128
   3) (integer) 30
   4) 1) "slowlog"
      2) "get"
      3) "100"

**There are also optional fields emitted only by Redis 4.0 or greater:**

**5) "127.0.0.1:58217"
6) "worker-123"**

Every entry is composed of four (or six starting wit

[2019-10-24 17:39] maksymkovalenko commented on #2022
alternatively, you could just use aspects
example: https://www.baeldung.com/spring-aop
you can even make it a "jedis-interceptos" lib that others can use.

Alternatively, jedis could make http client to be passed as one of the
constructor params instead of creating it internally, so that people can
configure any interceptors with it.
Unfortunately (or not) Jedis is not using http client, but just

[2019-10-25 11:42] 6westboy9 opened #2082 "JedisConnectionException: java.net.SocketTimeoutException: Read timed out"
### Expected behavior

[code]

### Actual behavior

wang

Write here what happens instead ...

### Steps to reproduce:

[code]
success !!!

[code]
success !!!

but...............

[code]
[code]

### Redis / Jedis Configuration

[code]

#### Jedis version:

2.9.3

#### Redis version:

redis_version:3.2.11

#### Java version:

java version "1.8.0_211"
Java(TM) SE Runtime Environment (build 1.8.0_211

[2019-10-27 14:05] sazzad16 commented on #2061
@madhushreegc You are using a (Binary)Jedis which is currently busy in `subscribe`.

[2019-10-27 14:05] #2061 closed

[2019-10-27 14:25] sazzad16 commented on #2060
@mjmanav4 Github is for bugs and feature requests only. For understanding purpose, head into [Jedis - Google Groups](https://groups.google.com/forum/?fromgroups#!forum/jedis_redis). Please do related research first. Thanks!

Thanks again for reporting about object Encoding.

[2019-10-27 14:25] #2060 closed

[2019-10-27 14:41] sazzad16 opened #2085 "Purpose of Advanced(Binary)JedisCommands interfaces and OBJECT commands"
Currently, AdvancedBinaryJedisCommands and AdvancedBinaryCommands hold mostly non-keyed commands. All of 3 exceptions are all OBJECT commands. The Cluster classes cannot implement respective interfaces, but may be able to support the commands. What can we do in this regard?

[2019-10-27 15:19] sazzad16 commented on #2038
@sushilsingh94 Both Jedis 2.8.0 and Redis 3.0.3 are very old to support.

[2019-10-27 15:19] #2038 closed

[2019-10-27 15:36] sazzad16 commented on #1889
Resolved by #2007 and some later PRs.

[2019-10-27 15:36] #1889 closed

[2019-10-27 15:46] sazzad16 commented on #1614
Resolved by #2031 and #2032

[2019-10-27 15:46] #1614 closed

[2019-10-29 17:07] maksymkovalenko commented on #2050
From what I see in your code, you're closing result of `.getResource()`,
but you're not closing result of `.getJedisPool()`.

On Tue, Oct 15, 2019 at 3:25 PM Venu <notifications@github.com> wrote:

--
*Max Kovalenko*
MileZero <http://www.milezero.com/> | 206.349.0871 <//206.349.0871>
615 2nd Ave, Ste 150, Seattle, WA 98104

[2019-10-29 17:10] venukbh commented on #2050
We should never close pool. Closing pool will close all the connections in the pool. We should only close resource, that way it will return back the connection to the pool.

[2019-10-29 17:13] venukbh commented on #2050
@maksymkovalenko We should never close pool. Closing pool will close all the connections in the pool. We should only close resource, that way it will return back the connection to the pool.

[2019-10-29 17:28] maksymkovalenko commented on #2050
sure

On Tue, Oct 29, 2019 at 10:14 AM Venu <notifications@github.com> wrote:

--
*Max Kovalenko*
MileZero <http://www.milezero.com/> | 206.349.0871 <//206.349.0871>
615 2nd Ave, Ste 150, Seattle, WA 98104

[2019-10-30 01:06] AlbertYou commented on #2076
Thanks!

[2019-10-31 11:48] siphonelee opened #2087 "RedisGraph commands partially supported"
### Expected behavior

I'm using Jedis to send query command to RedisGraph, like this:
graph.query key, "MERGE(:User{dbId: 123})"

it is supposed to create a node labelled as User in RedisGraph.

### Actual behavior

No node created. No failure response. The "MERGE" clause appears not supported yet.

But this can work:
graph.query key, "CREATE(:User{dbId: 123})"

### Steps to reproduce:

Code:
jed

[2019-10-31 12:51] siphonelee commented on #2087
BTW, the command:

graph.query key, "MERGE(:User{dbId: 123})"

can be executed successfully in redis command line tool.

[2019-10-31 19:39] DvirDukhan commented on #2087
Hi @siphonelee
I'm an engineer at RedisLabs and part of the RedisGraph team.
First, I was unable to reproduce the problem based on your description. Can you please provide a valid sample of the code you tried to execute, as well as the RedisGraph version?
Second, I have tested your query with our Java client, JRedisGraph which uses Jedis 3.1.0 as its Redis driver. JRedisGraph is basically doing wh

[2019-11-02 12:16] siphonelee commented on #2087
Hi @DvirDukhan
Sorry for replying late because I changed my code to lettuce and had to revert it back to Jedis. Interestingly I can't reproduce the issue any longer @_@ Guess it's my issue, but thanks for the help!
BTW, hope you guys could support the full cypher syntax soon :)

[2019-11-02 12:16] #2087 closed

[2019-11-04 06:39] JoshShaw commented on #1920
There is a little mistake in the top comment.

It should be:
 Finally Thread **B** will never returnResource because dataSource is null

[2019-11-06 06:15] Force-King commented on #2082
我也遇到这个问题了，最近线上 偶尔报这个错

[2019-11-06 07:32] startjava commented on #2082
你用DOCKER了吧？？

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "CleverApe"<notifications@github.com&gt;;
发送时间: 2019年11月6日(星期三) 下午2:16
收件人: "xetorthio/jedis"<jedis@noreply.github.com&gt;;
抄送: "Subscribed"<subscribed@noreply.github.com&gt;;
主题: Re: [xetorthio/jedis] JedisConnectionException: java.net.SocketTimeoutException: Read timed out (#2082)

我也遇到这个问题了，最近线上 偶尔报这个错

—
You are receiving

[2019-11-07 02:58] chenbinglong opened #2090 "jediscluster不支持批量读写有解决方案么"
### Expected behavior

Write here what you're expecting ...

### Actual behavior

Write here what happens instead ...

### Steps to reproduce:

Please create a reproducible case of your problem. Make sure
that case repeats consistently and it's not random
1.
2.
3.

### Redis / Jedis Configuration

#### Jedis version:

#### Redis version:

#### Java version:

[2019-11-07 02:59] #2090 closed

[2019-11-07 03:01] chenbinglong opened #2091 "jedisCluster不支持批量读写有解决方案么"
### Expected behavior

jediscluster支持批量读写

### Actual behavior

jediscluster目前不支持批量读写 mget满足不了

### Steps to reproduce:

Please create a reproducible case of your problem. Make sure
that case repeats consistently and it's not random
1.
2.
3.

### Redis / Jedis Configuration

#### Jedis version:

#### Redis version:

#### Java version:

[2019-11-08 13:06] startjava opened #2092 "version3.2 ~~ It's been a long time for me to wait."
next version what time release??

thank you very much !

[2019-11-08 13:08] defnull commented on #688
Welcome to the joys of socket programming: The only way to find out if you can send data over a socket, is sending data over a socket. That is true for any network library, not just Jedis.

`isConnected() == false` tells you that the client needs to reconnect (which it does automatically). `isConnected() == true` does not tell you anything. The next command might get through, or it might not. Even

[2019-11-08 14:25] gkorland commented on #2092
It seems like are getting close to have enough to release 3.2

[2019-11-11 03:59] startjava commented on #2092
@gkorland please improve the integrity of every data type api

[2019-11-11 04:51] jeschou opened #2093 "BinaryJedisCluster hvals returns Collection<byte[]>"
### Expected behavior

all  JedisCluster, Jedis, BinaryJedis   hvals(..) method return List type

### Actual behavior

But, BinaryJedisCluster .hvals ... returns  Collection  (actually it is List type)

### Steps to reproduce:

view src  code

### Redis / Jedis Configuration

#### Jedis version:

#### Redis version:

#### Java version:

[2019-11-11 05:23] sazzad16 commented on #2093
@jeschou Thank you for noticing!

[2019-11-11 05:24] sazzad16 commented on #2093
This breaks backwards compatibility. So adding it to 4.0.

@gkorland @marcosnils ping!

[2019-11-12 07:03] gkorland commented on #2092
@startjava can you be more specific?

[2019-11-12 11:24] startjava commented on #2092
@gkorland  Streams Type:xinfo()
zpopmax
and other etc ....

[2019-11-13 14:11] startjava opened #2096 "JedisSentinelPool can get operate Load Balancing？？"
JedisSentinelPool can get operate Load Balancing？？

or Client must Remember Slave Server IP??direct Slave get data??

thank you much !

[2019-11-16 16:08] startjava opened #2097 "why “create-cluster clean” not clean data?"
before: set a aa
middle:create-cluster clean
after:get a
 show aa

why not clean data?

thank you very much !

[2019-11-16 16:57] startjava commented on #2097
clean data ,config file??
it work ok!

[2019-11-16 22:38] ethereal-sandeep commented on #1977
@deepshiv126  Did you found the solution to this? I am facing similar issue.

[2019-11-17 14:45] startjava commented on #2091
i know it ..not support!

[2019-11-19 03:42] vattezhang commented on #1418
PubSub是阻塞式调用的，再调用端关闭前，除非服务端的哨兵down掉，否则永远阻塞在订阅消息处，不会走到close。

[2019-11-19 06:25] mjmanav4 commented on #407
Do we need to return resource after getting it from pool ?

[2019-11-19 06:36] mjmanav4 commented on #2060
Do i need to  return resource to the pool once  after my execution is finished ?

for (Map.Entry<String, JedisPool> entry : jpool.entrySet()) {
Jedis j = entry.getValue().getResource();
...

..
entry.returnResource(j);
}

[2019-11-19 06:42] mjmanav4 opened #2098 "JedisExhausedPoolException : Could not get a resource since the pool is exhausted .."
This is the code i am using

`GenericObjectPoolConfig config = new GenericObjectPoolConfig();
        config.setMaxTotal(30); // // maximum active connections
        config.setMaxWaitMillis(2000);

       // jedis cluster nodes is the list of nodes in cluster
        JedisCluster jedisCluster = new JedisCluster(jedisClusterNodes,config);
 Map<String, JedisPool> jpool = jedisCluster.getClusterNode

[2019-11-19 08:33] sazzad16 commented on #407
@mjmanav4 Yes, but not right after getting it. You should return a resource after completing works with it. Also it is important to note that in current days you don't need to call returnResource anymore. A call to `close()` of the resource (Jedis) is what you need.

[2019-11-19 08:37] sazzad16 commented on #2060
@mjmanav4 Short answer, YES. But if you are using a more recent Jedis (which you should), replace `entry.returnResource(j);` with `j.close();`. It's already answered in https://github.com/xetorthio/jedis/issues/407#issuecomment-555391963

[2019-11-19 08:52] sazzad16 commented on #2098
@mjmanav4

YES. But instead of `entry.returnResource(j)`, use `j.close();`. It'd be even better if you could do it within shorter period of time. I.e. do both `getResource()` and `close()` in your while loop. Also, you can use try-with-resources which will automatically `close()` for you.

[code]

Already commented in https://github.com/xetorthio/jedis/issues/407#issuecomment-555391963 and https:/

[2019-11-20 07:16] mjmanav4 opened #2099 "JedisClusterCommands doesn't implement objectEncoding ?"
There is no support for objectEncoding in JedisCluster  ... can u please add one

[2019-11-20 09:52] Yutenzi commented on #1977
@deepshiv126 Can you share if you have solved this issue?

[2019-11-21 05:15] MichaelScofield opened #2101 "unable to subscribe again after unsubscribed"
### Expected behavior

the following "sub-unsub-sub" works:

[code]

### Actual behavior

[code]

### Steps to reproduce:

reproduce code:

[code]

### Redis / Jedis Configuration

both default configuration

#### Jedis version:

3.2.0

#### Redis version:

5.0.7

#### Java version:

1.8.0_152

[2019-11-22 20:29] hradilf commented on #2010
@sazzad16 Please, any idea when Jedis 3.2.0 will be released? Thanks.

[2019-11-22 20:34] hradilf commented on #2092
@gkorland Please, would it be possible to have this feature in v3.2.0: https://github.com/xetorthio/jedis/pull/2077 Thanks.

[2019-11-23 06:53] sazzad16 commented on #2010
@hradilf

@gkorland would know.

[2019-11-24 08:25] gkorland opened #2103 "Add support for RESP3"
https://gist.github.com/antirez/2bc68a9e9e45395e297d288453d5d54c

[2019-11-24 08:25] gkorland opened #2104 "Add support for localcache (Client-side caching)"
https://redis.io/topics/client-side-caching
depends on #2103

[2019-11-24 15:53] parag90-zz opened #2105 "Exception=redis.clients.jedis.exceptions.JedisConnectionException: java.net.SocketTimeoutException: Read timed out"
Sometimes I am getting these exceptions on my application connecting to Redis.

I am running a service with 40 containers (spring-boot)
Env: AWS
Redis: AWS managed
Jedis version: 3.1.0
connect.timeout: 700
  write.timeout: 1000
  maxIdle: 20
  minIdle: 20
  maxActive: 20
Node type:cache.r4.large
Engine Version: 4.0.10
Java version 1.8
Traffic on the service: 5-7000 Transactions per second.
Issue f

[2019-11-24 15:57] parag90 commented on #2105
<img width="928" alt="Screen Shot 2019-11-24 at 9 26 33 PM" src="https://user-images.githubusercontent.com/5344333/69497283-36620980-0f01-11ea-8e06-ff081d8505de.png">
New connection graph when the issue occurs

[2019-11-24 16:11] Sanshx commented on #2105
<img width="936" alt="Screenshot 2019-11-24 at 9 33 47 PM" src="https://user-images.githubusercontent.com/4943004/69497433-0ca9e200-0f03-11ea-83a3-12348f858095.png">
Current connections graphs during the issue. Our app is supposed to maintain 800 connections at total 40 containers.

[2019-11-25 09:22] gkorland commented on #2010
@sazzad16 we still have a long list of open issues on https://github.com/xetorthio/jedis/milestone/36
Should we move most of them to 3.2?

[2019-11-25 11:58] sazzad16 commented on #2010
@gkorland You have already moved 4. I have moved 6 more. Right now, there are 6 on the list. WDYT about those?

[2019-11-25 21:02] hradilf commented on #2010
@gkorland @sazzad16 Please, why this one (#2035 ) was moved from v3.2.0? It is reviewed already. We are waiting for it quite a long time. Once it is done, we would need also a change in spring-data-redis.

https://github.com/xetorthio/jedis/pull/2077

[2019-11-25 23:15] mircea-pop commented on #2105
We are using a similar stack (jedis 3.0.1, java 11.0.3, spring boot and aws redis 5.0.3)
We also found a similar issue. In our case,  we didnt yet pinpoint it to redis/jedis, but it's a top suspect.

Same symptoms: network in spikes, the clients cannot get resources from the jedis pool, the number of new connections on redis go as high as 1.3k (during normal operation it's in 1 digit area)

What w

[2019-11-26 01:12] mpetricek-corp commented on #676
Pipeline actually can help here. It cannot help with single scan, but now I have a use case where I need to scan many sets (i.e. sscan), in the order of tens of thousands of sets.
Without pipeline, I get latency penalty on each scan ... which is unusably slow. With pipeline I would be able to pipeline for example 1000 scans and then fetch 1000 results. In next pipeline I send up to 1000 cursors (t

[2019-11-26 08:23] gkorland commented on #2010
@hradilf since Redis 6 wasn't released I think releasing ACL support can wait a bit, lets release the long waiting 3.1.0 and then release 3.2.0 short after

[2019-11-26 09:12] sazzad16 commented on #2010
@gkorland You actually mean 3.2.0 and 3.3.0 respectively, right?

[2019-11-26 09:13] startjava commented on #2099
i know ...

There are other apis that are not implemented in Jedis.

[2019-11-26 09:15] startjava commented on #2099
Jedis developers should collaborate to add incomplete APIs

[2019-11-26 15:05] gkorland commented on #2099
which APIs are you missing?

[2019-11-26 15:05] gkorland commented on #2099
You're more than welcome to send a PR for missing APIs

[2019-11-26 17:05] sazzad16 commented on #1487
Resolved by #1943

[2019-11-26 17:05] #1487 closed

[2019-11-26 17:06] sazzad16 commented on #1636
Resolved by #1943

[2019-11-26 17:06] #1636 closed

[2019-11-27 22:40] mircea-pop opened #2108 "Pooled Connections shouldn't be closed if they have socket timeouts"
The following line can throw a SocketTimeoutException and in that case, the connection is marked as broken.
https://github.com/xetorthio/jedis/blob/6126d30efccb8921dcf9a03776299a504e022a3e/src/main/java/redis/clients/jedis/Connection.java#L126

Then when the close() method is called (the intention is to add the connection back to the pool), then the broken client is eventually closed:
https://gith

[2019-11-28 14:18] gkorland commented on #2010
Yes thanks

[2019-11-29 07:54] startjava opened #2109 "what time create xinfo method?"
@gkorland

thank you very much!

[2019-11-29 08:09] hradilf commented on #2010
@gkorland
Make sense. On the other hand, could you please define "short after"?

We are running enterprise application, there is another dependency on spring-data-redis (https://jira.spring.io/browse/DATAREDIS-1046).

It is hard to plan releases on our side without having preliminary info about Jedis releases.

Thank you.

[2019-11-29 08:18] startjava commented on #2010
please&nbsp;@gkorland&nbsp;implements Streams type api。

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Frantisek Hradil"<notifications@github.com&gt;;
发送时间: 2019年11月29日(星期五) 下午4:10
收件人: "xetorthio/jedis"<jedis@noreply.github.com&gt;;
抄送: "Subscribed"<subscribed@noreply.github.com&gt;;
主题: Re: [xetorthio/jedis] Define Jedis Roadmap (#2010)

@gkorland
 Make sense. On the other hand, cou

[2019-11-29 19:33] fokkoru commented on #1800
It is still an issue for the pipeline set method, am I right?

[2019-11-30 06:41] sazzad16 commented on #1800
@fokkoru yes.

[2019-12-02 17:18] startjava opened #2110 "what time create zpopmax method?"
@gkorland

thank you very much!

[2019-12-03 00:49] sazzad16 commented on #2109
Dupe #2081

[2019-12-03 00:49] #2109 closed

[2019-12-03 00:50] sazzad16 commented on #2110
Dupe #2073

[2019-12-03 00:50] #2110 closed

[2019-12-03 01:08] startjava opened #2111 "@sazzad16 why close me issues?"
https://github.com/xetorthio/jedis/issues/2110
https://github.com/xetorthio/jedis/issues/2109

The purpose of the two issues I published was to ask Jedis officially, which version will be implemented in the future, rather than shutting down my issues directly, and no answer, which made me angry, and several of the releases I published were not implemented in future version plans. Our requirements

[2019-12-03 02:18] sazzad16 commented on #2111
@startjava Each of the closed issues has a comment stating the reason. If there is anything to ask about those comments, please ask in respective issues. Thanks!

In case you don't understand, both of the mentioned issues are duplicates of already existing issues created by none other than you.
- #2110 is a duplicate of #2073
- #2109 is a duplicate of #2081

[2019-12-03 02:18] #2111 closed

[2019-12-03 02:29] sazzad16 commented on #2111
@startjava Just to clarify,

1. Whom are you referring exactly by **Our**?

2. What are your contributions towards fulfilling your requirements (other than creating Github issues)?

3. What are you willing to do or provide to complete Redis API implementation in Jedis?

[2019-12-09 02:41] leewcc opened #2112 "When one of the Redis cluster nodes is crashed, its evictionTimer thread is not closed at the same time"
### Expected behavior
I‘m running redis in cluster mode. One of my master nodes’ gone down, after renewSlot, the broken node's evictionTimer thread should be closed otherwise it will cost thread leak.

### Actual behavior
I fork the code and add a log to proof this behavior. In the clients.jedis.Connection.connect()

[code]

When one of my clsuter nodes is down, after recover by cluster renewSlot,

[2019-12-10 23:08] gkorland opened #2113 "GeoCommandsTest fails on CI"
[code]

[2019-12-11 08:50] startjava opened #2114 "please implements ZAddParams.incr() method!"
please implements ZAddParams.incr() method!

[2019-12-11 10:28] a4abhishek commented on #1373
FWIW
If the pool size is zero (`setMaxTotal`) and `setMaxWaitMillis` is not set then `getResource()` will wait indefinitely.

[2019-12-11 12:43] gkorland commented on #2113
@sazzad16 why did you change it? does it look like Redis 6 has a backward issue?

[2019-12-11 12:55] gkorland commented on #2113
It seems like Redis unstable does have a backward issue
  https://github.com/antirez/redis/commit/009862ab7eee394061eeaf1aa187fa339ca50be4

[2019-12-11 16:45] sazzad16 commented on #2113
@gkorland to be exact, I didn't change. I was _experimenting_, in a separate branch of course.

[2019-12-11 23:12] gkorland commented on #2092
@hradilf  Sorry but 3.2.0 is ready to be released we pushed it to 3.3.0.

[2019-12-11 23:14] gkorland commented on #2010
@startjava what do you mean? Streams were part of v3.1.0

[2019-12-11 23:15] gkorland commented on #2092
@marcosnils @sazzad16 I think we are ready to release 3.2.0, any last min objections?

[2019-12-11 23:48] sazzad16 commented on #2092
@gkorland nope

[2019-12-12 07:29] startjava opened #2115 "please implements zpopmax() method!"
please implements zpopmax() method!

i use jedis-3.2.0-SNAPSHOT.jar version.

[2019-12-12 07:40] #2115 closed

[2019-12-12 07:40] startjava commented on #2115
implemented two method !

[2019-12-13 07:29] startjava opened #2116 "please implements objectFREQ() method!"
please implements objectFREQ() method!

[2019-12-13 07:30] startjava opened #2117 "please implements objecthelp() method!"
please implements objecthelp() method!

[2019-12-15 16:19] gkorland commented on #2092
released

[2019-12-15 16:19] #2092 closed

[2019-12-16 06:35] startjava opened #2119 "please implements GeoRadiusParam.withHash() method!"
please implements GeoRadiusParam.withHash() method!

[2019-12-16 06:45] startjava opened #2120 "please implements GeoRadius [STORE key] [STOREDIST key] param!"
please implements GeoRadius [STORE key] [STOREDIST key] param!

[2019-12-16 06:52] startjava commented on #2120
georadius() and georadiusByMember() method use GeoRadiusParam ,"[STORE key] [STOREDIST key]" add GeoRadiusParam.java ?

[2019-12-18 03:01] startjava opened #2121 "please implements xinfo() method!"
please implements xinfo() method!

[2019-12-18 04:00] sazzad16 commented on #2081
Dupe #2121

[2019-12-18 04:00] #2081 closed

[2019-12-18 04:03] sazzad16 commented on #2121
@startjava You're very much welcome to craft a PR. But please stop creating same issues over and over again. One open issue should be enough for one feature. Thanks.

[2019-12-18 12:47] VictorTsonkov opened #2122 "redis.clients.jedis.exceptions.JedisDataException: ERR Command disallowed"
### Expected behavior

Successful increment or get.

### Actual behavior

Thrown exception:
 redis.clients.jedis.exceptions.JedisDataException: ERR Command disallowed

### Steps to reproduce:

I have a code which when connects to local Redis doesn't have this exception thrown (although many others are occasionally). When I connect to AWS Redis this happens very often when running commands.

### Re

[2019-12-18 12:49] VictorTsonkov opened #2123 "redis.clients.jedis.exceptions.JedisDataException: ERR Command disallowed"
### Expected behavior

Successful increment or get.

### Actual behavior

Thrown exception:
 redis.clients.jedis.exceptions.JedisDataException: ERR Command disallowed

### Steps to reproduce:

I have a code which when connects to local Redis doesn't have this exception thrown (although many others are occasionally). When I connect to AWS Redis this happens very often when running commands.

### Re

[2019-12-18 13:43] sazzad16 commented on #2123
Dupe #2122

[2019-12-18 13:43] #2123 closed

[2019-12-18 13:46] sazzad16 commented on #2122
@VictorTsonkov This should be a AWS Redis issue.

[2019-12-21 20:39] yuriyz commented on #1367
Luckily HostAndPost has setter for localhost, so another hack is to set it explicitly to avoid resolving.
[code]

[2019-12-22 08:54] gkorland commented on #2113
Rolled back on https://github.com/antirez/redis/commit/e6e58e455c1adce82592a5dcf276dd8083088e2b

[2019-12-22 08:54] #2113 closed

[2019-12-23 08:35] yuriyz commented on #1367
One of possible workarounds is to set it explicitly
[code]
then jedis will not try to resolve it.

[2019-12-26 07:51] Carry-Kang opened #2125 "java.lang.ClassCastException: [B cannot be cast to java.util.List"
#### Jedis version:3.1

#### Java version:1.8

java.lang.ClassCastException: [B cannot be cast to java.util.List
        at redis.clients.jedis.BuilderFactory$7.build(BuilderFactory.java:111) ~[jedis-3.1.0.jar:na]
        at redis.clients.jedis.BuilderFactory$7.build(BuilderFactory.java:107) ~[jedis-3.1.0.jar:na]
        at redis.clients.jedis.Response.build(Response.java:61) ~[jedis-3.1.0.jar:na]

[2019-12-26 10:00] gkorland commented on #2125
@kangxiaobai can you please add a recreation code?

[2019-12-26 14:14] startjava opened #2126 "please implements clientId() method!"
please implements clientId() method!

thank you very much !

[2019-12-28 03:42] AdityaAnand1 opened #2127 "Is there an automatic way of dynamically creating new instances and managing master/slave promotion?"
![image](https://user-images.githubusercontent.com/13274079/71538486-dc19f580-2951-11ea-9922-c2daedce4929.png)

The docs imply that we should somehow at runtime detect that master has gone down and we should promote a slave.

I'm creating a pretty traditional REST API server with Ktor and using jedis to cache API responses. This means that before every access to jedis, I have to confirm whether th

[2019-12-29 21:14] SElab2019 opened #2128 "Updating from 2.x to 3.x breaks"
When I try to upgrade jedis from 2.X to version 3.X. The following code breaks.
[code]

The code should pass, but it throws an error:
[code]

[2019-12-30 06:09] sazzad16 commented on #2128
@SElab2019 That's not unexpected. You can check following links for better understanding.
- https://semver.org/
- https://en.wikipedia.org/wiki/Software_versioning

[2019-12-30 06:09] #2128 closed

[2019-12-31 18:52] itamarhaber commented on #2127
Hello @AdityaAnand1

If you're looking to run your own highly-available Redis, you should look at [Sentinel](https://redis.io/topics/sentinel) - it basically removes the need to manage failovers yourself (as the docs imply).

[2020-01-06 10:18] magic5650 opened #2129 "please rewrite convertHost method"
### Expected behavior
we have a redis cluster in aws elasticache.it has multi endpoint. our service should be connect different endpoint when service restart.

### Actual behavior
in our service node A, it alway connected redis cluster endpoint B. always.

### Steps to reproduce:
we found jedis getaddress use InetAddress.getByName(hostname),it always return same ip(if dns server return ip list).it

[2020-01-08 07:35] DoverDee opened #2130 "jedis-3.2.0 JedisClusterMaxAttemptsException connect to redis-5.0.7 cluster"
### Expected behavior
when kill 7000 master node , the code will appear exception,
wait a moment, the slave instead of 7000 master node, the exception should be disappear.
but still pose exception .

### Java code
public static void clusterConnJedis() {
        Set<HostAndPort> clusterNodes = new HashSet<HostAndPort>();
        HostAndPort hp7000 = new HostAndPort("172.16.1.41", 7000);
        Hos

[2020-01-08 16:39] dengliming commented on #2121
@sazzad16 I would like to implements xinfo() method.

[2020-01-16 02:30] eddie1788 opened #2132 "minor enhancement of initialize method of Sharded class"
#original code
src/main/java/redis/clients/jedis/util/Sharded.java

  private void initialize(List<S> shards) {
    nodes = new TreeMap<Long, S>();

    for (int i = 0; i != shards.size(); ++i) {
      final S shardInfo = shards.get(i);
      if (shardInfo.getName() == null) for (int n = 0; n < 160 * shardInfo.getWeight(); n++) {
        nodes.put(this.algo.hash("SHARD-" + i + "-NODE-" + n), shard

[2020-01-28 06:44] ganeshkumarganesan commented on #2108
We are also facing the same problem. Any solution?

[2020-01-29 09:50] amitweinblum opened #2133 "ClassCastException exception in getUnflushedObjectMultiBulkReply"
### Expected behavior
started immediately after upgrade from Jedis 2.9.0 to 3.2.0
our code did not change so this exception is unexpected

### Actual behavior
java.lang.ClassCastException: [B cannot be cast to java.util.List
        at redis.clients.jedis.Connection.getUnflushedObjectMultiBulkReply(Connection.java:280)
        at redis.clients.jedis.Connection.getObjectMultiBulkReply(Connection.ja

[2020-01-30 04:13] startjava opened #2134 "https://oss.sonatype.org/ no has 3.3.0-SNAPSHOT version"
only find :
<dependency>
  <groupId>redis.clients</groupId>
  <artifactId>jedis</artifactId>
  <version>3.2.0-SNAPSHOT</version>
</dependency>

where 3.3 snapshot version ?

[2020-01-30 08:10] gkorland commented on #2133
@amitweinblum thanks for reporting the issue, can you please add a simple example that we can use to recreate the issue?

[2020-01-30 08:12] gkorland commented on #2134
Thanks for reporting, you're right we didn't release 3.3.0-SNAPSHOT till today.
I just pushed a snapshot

[2020-01-30 08:14] #2134 closed

[2020-01-30 15:01] amitweinblum commented on #2133
Hi Guy,
I found that the issue happened due to a misuse on our side
thanks

[2020-01-30 16:38] #2133 closed

[2020-02-06 07:34] chandresh-pancholi commented on #1522
@marcosnils How would you handle switchover of a slave to master? Read would still point to slave jedis pool.

[2020-02-10 16:07] akshay12390 commented on #1819
@khemkasudeep we also faced same issue in our application recently. We are using version 2.9.0.  Is the fix for this issue available in later versions now?

[2020-02-10 16:25] khemkasudeep commented on #1819
@akshay12390  This fix is not merged. I didn't received response on this thread.
However I have tested this change and it works perfectly.

[2020-02-10 16:26] khemkasudeep commented on #1819
@akshay12390  can you describe the problem you faced?

[2020-02-10 16:42] akshay12390 commented on #1819
@khemkasudeep So in few cases in our application flow path, we were creating sentinel pool and then immediately closing it and thus the master sentinel listeners still subscribed to messages, thereby leaving open connections which were only getting closed when application shutdown hook was getting called.

[2020-02-10 21:03] JanakiramanChandrasekran commented on #1373
I am also experiencing similar issue. I see Redis lookup is pretty fast but i see some latency when i try to get jedisclient from pool.. Sometimes it takes ~30 ms but occasionally 220 ms..  I am testing with 52 rps with configuration of 20 idle connections & 25 max connections.. Capable to handle ~600rps.. Any idea like what causes latency?

[2020-02-11 03:54] khemkasudeep commented on #1819
@akshay12390 that is the exact problem I faced. You can try using my patch

[2020-02-12 07:48] 13121314 commented on #1747
what milestone solved this problem?
2.9.1?
2.9.2?
thanks.

[2020-02-12 12:55] sazzad16 commented on #2121
Resolved by #2069

[2020-02-12 12:55] #2121 closed

[2020-02-12 13:53] asdxiaoqex opened #2136 "Active connections will not be released"
### Expected behavior

Write here what you're expecting ...

### Actual behavior

Write here what happens instead ...

### Steps to reproduce:

Please create a reproducible case of your problem. Make sure
that case repeats consistently and it's not random
1.jedisPool.getNumActive()
The number of connections that will increase by dozens every day will not be released. I checked the use of all conne

[2020-02-13 02:15] yangbodong22011 commented on #2130
When the Cluster is abnormal, Jedis will provide retries. The default number of retries is 5, see [redis.clients.jedis.BinaryJedisCluster#DEFAULT_MAX_ATTEMPTS](https://github.com/xetorthio/jedis/blob/master/src/main/java/redis/clients/jedis/BinaryJedisCluster.java#L31). You can specify more retries through the following construction method.

[code]

But I don't recommend that you set maxAttempts t

[2020-02-13 09:51] gkorland commented on #2073
https://github.com/xetorthio/jedis/releases/tag/jedis-3.2.0

[2020-02-13 09:52] gkorland commented on #2072
#2120

[2020-02-13 09:52] gkorland commented on #2072
Duplicate #2120

[2020-02-13 09:52] #2072 closed

[2020-02-13 09:55] gkorland commented on #2010
The roadmap defines here https://github.com/xetorthio/jedis/milestones/

[2020-02-13 09:55] #2010 closed

[2020-02-13 09:56] gkorland commented on #1998
https://github.com/xetorthio/jedis/pull/2036

[2020-02-13 09:59] gkorland commented on #2132
@eddie1788 can you please submit a PR

[2020-02-13 10:04] #2122 closed

[2020-02-13 10:04] #2127 closed

[2020-02-13 10:27] #2073 closed

[2020-02-13 10:44] gkorland commented on #2029
@sazzad16 can we close this issue?

[2020-02-13 13:46] sazzad16 commented on #2029
@gkorland I don't think so. Don't you think we should have such separate interface(s)?

[2020-02-13 17:02] MichalCho commented on #2099
I can have a look at it

[2020-02-15 20:24] dengliming commented on #2116
@gkorland Please see [https://github.com/xetorthio/jedis/pull/2141](https://github.com/xetorthio/jedis/pull/2141)

[2020-02-15 20:24] dengliming commented on #2117
@gkorland Please see [https://github.com/xetorthio/jedis/pull/2141](https://github.com/xetorthio/jedis/pull/2141)

[2020-02-17 08:57] MichalCho commented on #2104
That looks like interesting feature to work on. I think I could be interested in crafting a PR. Are you going to work on #2103 @gkorland?

[2020-02-17 09:26] gkorland commented on #2104
You are more than welcome to work on this feature @MichalCho, I didn't plan to work on this till April.

[2020-02-17 16:31] trebonius0 opened #2142 "Jedispool is always opening new connections"
Hey there,

I've been investigating an issue where Jedis is always opening tons of new connections to Redis (5k/s). I've not been able to understand it. I'm not sure if I'm doing something wrong or if this is a bug.

So, I create at the very beginning of my program a JedisPool with a very simple jedisPoolConfig:
[code]

This jedispool is then used everywhere in the program. It's only created once

[2020-02-18 09:38] MichalCho commented on #2104
Sorry @gkorland, just to double check - you meant that you are not going to work on #2103 or #2104? :)

[2020-02-18 13:02] startjava opened #2143 "public String xgroupDelConsumer(final String key, final String groupname, final String consumerName) has bug?"
https://github.com/xetorthio/jedis/blob/master/src/test/java/redis/clients/jedis/tests/commands/StreamsCommandsTest.java

at 236 line only find：
//TODO test xgroupDelConsumer

no xgroupDelConsumer method test demo !

so run bottom code:
jedis.xgroupDelConsumer("mykey1", "mygroup1", "myconsumer1");

result show exception:
java.lang.ClassCastException: java.lang.Long cannot be cast to [B
	at redis.c

[2020-02-18 13:03] startjava commented on #2143
use jedis-3.3.0-SNAPSHOT.jar version

[2020-02-18 13:05] startjava commented on #2143
@gkorland

[2020-02-18 13:10] startjava commented on #2143
Welcome again.

[2020-02-18 14:10] atealxt commented on #2142
@trebonius0
`MONITOR` not log for `QUIT`
https://redis.io/commands/monitor#commands-not-logged-by-monitor

[2020-02-18 14:31] trebonius0 commented on #2142
Ok
But I'm pretty sure i never stop a connection. I'm always using the pattern highlighted before. is there anything wrong with this pattern ?

[2020-02-18 20:30] gkorland commented on #2104
@MichalCho not in the near future

[2020-02-18 21:36] deepshiv126 commented on #1461
Did this issue resolve?
We are using AWS Elasticache Redis with Cluster mode enabled and we are observing this CLUSTERDOWN error alot more times.

Jedis Library Version: 3.1.0
Redis Server : 5.0.4

[2020-02-18 21:46] deepshiv126 opened #2144 "redis.clients.jedis.exceptions.JedisClusterException: CLUSTERDOWN The cluster is down"
We are seeing **CLUSTERDOWN** issue like thousands of times, as a result, we are losing data obtained from Redis Server.

We observed this is not happening to any particular command, we have observed it occurs to String-based, List based commands.

Any help is really appreciated.

Redis Library: 3.1.0
Spring Data Redis: 2.2.3.RELEASE
**Redis Server: 5.0.4**

[code]

[2020-02-19 04:40] startjava commented on #2143
use redis5.0.7

[2020-02-19 06:25] sazzad16 commented on #2144
I can see that you found and #1461 first. Please read and understand everything in that issue, especially following two comments:
- https://github.com/xetorthio/jedis/issues/1461#issuecomment-344038224
- https://github.com/xetorthio/jedis/issues/1461#issuecomment-346553862

The gist is:
- Jedis does not throw that exception on its own. It is Redis that send that error response. So you should conce

[2020-02-19 06:25] #2144 closed

[2020-02-19 10:05] jiandanfeng opened #2145 "Is Jedis 2.5.2 fully compatible with redis 2.8.x, 3.x.x and above*?"
Is Jedis 2.5.2 fully compatible with redis 2.8.x, 3.x.x and above*?

[2020-02-19 14:02] gkorland commented on #2145
Jedis 3.0.0 has some breaking changes

[2020-02-20 06:41] startjava commented on #2143
Jedis.java:

  @Override
  public String xgroupDelConsumer(final String key, final String groupname, final String consumerName) {
    checkIsInMultiOrPipeline();
    client.xgroupDelConsumer(key, groupname, consumerName);
    return ""+client.getIntegerReply();
  }

it run ok !

but return value type is String .  return long better !

[2020-02-20 10:09] christophstrobl opened #2146 "Support JUSTID flag of XCLAIM command."
## Feature Request

The `JUSTID` flags allows to claim the message from the PEL without increasing the retry counter.

[code]

[2020-02-20 10:15] gkorland commented on #2136
@asdxiaoqex can you please try with newer version? couple of leaks were fixed in the last year.
BTW, Jedis implements Closeable so you can just user try-with-resources block

[2020-02-20 13:54] gkorland commented on #2146
[code]

[2020-02-20 14:24] gkorland commented on #2129
@magic5650 can you please submit a PR so can review it?

[2020-02-20 14:29] gkorland commented on #2142
@trebonius0 any chance you can add here a full recreation or add a test?
BTW, did you try with a newer version of jedis?

[2020-02-20 15:29] gkorland commented on #2101
You can't call subscribe this way
[code]

You should call subscribe on Jedis

[2020-02-21 02:29] #2101 closed

[2020-02-21 08:00] chandresh-pancholi opened #2147 "Redis-cluster failures"
### Expected behavior

Expecting it to work as stand-alone redis was working for us.

### Actual behavior
We moved Redis setup to redis-cluster and we started observing failures in below orders
[code]

### Steps to reproduce:

Please create a reproducible case of your problem. Make sure
that case repeats consistently and it's not random
1.
2.
3.

### Redis / Jedis Configuration
[code]
#### Jedis v

[2020-02-21 15:31] vadimPT commented on #2145
I am running Redis server v=3.2.100. Trying to subscribe to a channel with the latest Jedis freezes the system, i.e. no progress after calling jSubscriber.subscribe(jedisPubSub, "channel") although method onSubscribe is called. Is it due to the breaking changes that you have mentioned? Do you know when the update will be available that solves such issues?

[2020-02-21 21:21] gkorland commented on #2145
No, that should work, can you please post a full recreation?

[2020-02-21 22:18] mmanikar commented on #1912
Any advice on compatibility between Jedis 2.9 and Redis 5.0.6?

[2020-02-22 09:20] dengliming commented on #2143
It's a bug(I think).Solved [https://github.com/xetorthio/jedis/pull/2148](https://github.com/xetorthio/jedis/pull/2148)

[2020-02-22 15:05] dengliming commented on #2114
You should use ZIncrByParams.

[2020-02-22 18:16] vadimPT commented on #2145
The structure is the following.

            jSubscriber = new Jedis("redis", 6379);
            JedisPubSub jedisPubSub = new JedisPubSub() {

                @Override
                public void onSubscribe(String channel, int subscribedChannels) {
                    System.out.println("Subscribed to channel " + channel);
                }

                @Override
                public void

[2020-02-24 09:55] #2097 closed

[2020-02-26 15:10] MichalCho commented on #2145
I think you need a separate thread for executing subscribe as the client has to react on coming messages. So you could try to add some code like
[code]

[2020-02-26 15:37] oblum opened #2153 "Jedis MasterListener Sentinel listeners NOAUTH error"
JedisSentinelPool  successfully connects to sentinel servers and expect the listeners to attach to Sentinels.

Once started the Listeners are failing
356 [main] INFO redis.clients.jedis.JedisSentinelPool  - Redis master running at 10.90.69.81:6379, starting Sentinel listeners...
426 [MasterListener-xxx-master-[server:26379]] ERROR redis.clients.jedis.JedisSentinelPool  - Lost connection to Sentine

[2020-02-26 16:55] oblum commented on #2153
Humbly provide a suggestion for possible  fix. Connection is not passing password nor master name.
JedisSentinelPool$MasterListener
Line 304     j = new Jedis(host, port);
add lines
  if (sentinelPassword != null) {
            j.auth(sentinelPassword);
    }
   if (sentinelClientName != null) {
            j.clientSetname(sentinelClientName);
     }

[2020-02-27 01:59] deepshiv126 commented on #2144
Thanks for the response @sazzad16.
Yes! I found #1461 issue and read each comment, but their observations were not at all relatable to our situation; Also their mentioned, Redis command was not used in our scenarios.

And I have to agree to your points - and I too noticed in the [code](https://github.com/xetorthio/jedis/blob/master/src/main/java/redis/clients/jedis/Protocol.java#L125), Jedis is ju

[2020-02-27 09:39] asdxiaoqex commented on #2136
What is the most stable version so far?

[2020-02-27 09:49] asdxiaoqex opened #2155 "How to upgrade from 2.9.0 to the new version"
### Expected behavior

Write here what you're expecting ...

### Actual behavior

Write here what happens instead ...

### Steps to reproduce:

Please create a reproducible case of your problem. Make sure
that case repeats consistently and it's not random
Old code:
 try (Jedis jedis = jedisPool.getResource()) {
            String result = jedis.set(lockKey, requestId, "NX", "PX", expireTime);

[2020-02-27 11:38] cdugga opened #2156 "Jedis cannot get resource from pool during Elasticache scale down event"
### Expected behavior

During a scaling down event the cluster should still be available through the configuration endpoint, even while the migration of slots is taking place. Using the Redis Cli it is still possible fetch key/value pairs.

### Actual behavior

In my Spring client, using Jedis with cluster configuration (pointing at a single endpoint - the cluster configuration endpoint), the appl

[2020-02-28 01:29] sazzad16 commented on #2155
@asdxiaoqex As it seems, you've got it correct.

PS: There is a Jedis mailing list https://groups.google.com/forum/#!forum/jedis_redis and that is well suited for this sort of query.

[2020-02-28 01:29] #2155 closed

[2020-03-02 05:19] yangbodong22011 commented on #2156
@cdugga Can you provide your exception stack?

[2020-03-02 06:04] yangbodong22011 commented on #2147
@chandresh-pancholi Can you provide your full exception stack?

[2020-03-04 23:51] seanstephenson-taulia commented on #1915
I know this is an old issue and you have a workaround, but this is definitely a valid bug in my opinion.  If the Redis cluster is temporarily unavailable as the app starts up it will never recover.

[2020-03-05 03:16] timmixell commented on #2153
I encountered this same issue:

[code]

I've put in a PR, but I could use some direction on writing a supporting test case, since it doesn't look like any of the Sentinel tests work against a password-protected instances.

[2020-03-05 07:26] yangbodong22011 commented on #2142
@trebonius0 Have you ever called `jedis.close()`?

[2020-03-05 08:05] auyang-0626 opened #2160 "resouce cannot be released"
### redis.clients.jedis.exceptions.JedisExhaustedPoolException: Could not get a resource since the pool is exhausted

![image](https://user-images.githubusercontent.com/22674253/75960434-04e2dc00-5efb-11ea-9b01-6bb66306ab21.png)

Concurrent execution，sometimes resources cannot be returned properly here.
version:2.10.0

[2020-03-05 13:37] yangbodong22011 commented on #2160
@auyang-0626 Maybe you need to upgrade jedis version, because it's been fixed，refer：[this](https://github.com/xetorthio/jedis/commit/df1bffa3c77f4ede4c912f2c3e78b5c8857725e7).

[2020-03-05 13:42] boyeggplant110 opened #2161 "get JedisConnectionError:time out when use two jedispools in a same flink addsink function"
### Expected behavior
I use jedispool with flink to read and write data into redis cluster.
I get Jedis time-out exceptions when I use two jedispool with different addresses in same addsink function of flink, which are same IP but different ports.   However, I rarely get time-out exceptions when I only use one jedispool to access one address and the read speed is about 10X faster
The data incoming

[2020-03-05 15:14] #2160 closed

[2020-03-06 14:59] jinitbansod commented on #1662
i am facing the same issue can anyone help on that
Caused by: java.lang.NoSuchMethodError: redis.clients.jedis.ScanParams.count(I)Lredis/clients/jedis/ScanParams;
	at org.springframework.data.redis.connection.jedis.JedisConverters.toScanParams(JedisConverters.java:464) ~[spring-data-redis-1.7.9.RELEASE.jar:na]
	at org.springframework.data.redis.connection.jedis.JedisConnection$5.doScan(JedisConnec

[2020-03-06 15:06] jinitbansod opened #2162 "redis scanoptions is not allowing to set the count"
### Expected behavior

Should return a list with limit count records ,as the count has been set by using below command

**hashOperation.scan(redisKey, ScanOptions.scanOptions().count(2L).match("*"+key+"*").build());**
### Actual behavior

throwing an exception while setting count through scan function as given below :
Caused by: java.lang.NoSuchMethodError: redis.clients.jedis.ScanParams.count(I)L

[2020-03-06 16:37] sazzad16 commented on #2043
Closed due to inactivity.

[2020-03-06 16:37] #2043 closed

[2020-03-06 16:45] sazzad16 commented on #2125
Closed due to inactivity.

[2020-03-06 16:45] #2125 closed

[2020-03-08 22:44] DevJoey opened #2163 "Subscriber Dies after some time. If redis is on a external server"
### Expected behavior

Write here what you're expecting ...

### Actual behavior

Hey, i have the problem that if i use a redis subscriber on a server the subscriber cant listen anymore after some time.

My Struckture
[MAIN REDIS SERVER] <---- [OTHER ROOT SERVER]

Here my code witch i use:
https://hasteb.in/kaqoyale.cs

Can some one help me?

### Steps to reproduce:

Please create a reproducible c

[2020-03-10 14:30] DevJoey commented on #2163
#Closed issue from Servers network card

[2020-03-10 14:30] #2163 closed

[2020-03-14 07:59] #2119 closed

[2020-03-14 08:06] #2093 closed

[2020-03-14 10:23] #2132 closed

[2020-03-14 10:42] sazzad16 commented on #2035
Resolved by #2077

[2020-03-14 10:42] #2035 closed

[2020-03-15 02:48] startjava opened #2166 "What time acl final commit"
Thank you much

[2020-03-15 07:09] tgrall commented on #1013
@gkorland @sazzad16: I think this issue could be closed as the suggestion has been implemented with #292 fix

See https://github.com/xetorthio/jedis/pull/292/files

[2020-03-15 08:19] sazzad16 commented on #1013
@tgrall #292 was NOT merged.
And, actually this idea was generated from that PR.

[2020-03-16 06:27] startjava opened #2168 "can use default user ??"
JedisPool pool = new JedisPool(new JedisPoolConfig(), "192.168.1.108", 6379, 5000, "accp");

Caused by: redis.clients.jedis.exceptions.JedisDataException: ERR AUTH <password> called without any password configured for the default user. Are you sure your configuration is correct?

can use default user ??
Keep code compatible

[2020-03-16 06:28] startjava commented on #2168
version is redis6.0 rc2
jedis-3.3.0-SNAPSHOT.jar new version

[2020-03-16 06:29] startjava commented on #2168
class JedisFactory implements PooledObjectFactory<Jedis> {
  private final AtomicReference<HostAndPort> hostAndPort = new AtomicReference<HostAndPort>();
  private final int connectionTimeout;
  private final int soTimeout;
  private final String user="default";           //this ???

[2020-03-16 07:08] startjava opened #2169 "please implements ACL save and load method !"
please implements ACL save and load method !

[2020-03-16 07:23] startjava opened #2170 "please implements ACL log method !"
please implements ACL log method !

[2020-03-16 10:04] startjava opened #2171 "please implements client side caching"
please implements client side caching

[2020-03-16 10:17] sazzad16 commented on #2171
Dupe of #2104

[2020-03-16 15:43] tgrall commented on #2170
Working on it

[2020-03-16 21:41] chrisjenx commented on #2145
Yeah this isn't really clear, would be great to get this added to the jdoc that is blocks the current thread.

[2020-03-21 08:07] yangbodong22011 opened #2173 "JedisCluster retry caused java.lang.StackOverflowError"
### Steps to reproduce:

1. I use the default configuration of JedisCluster to connect to Redis Cluster, then the Redis Cluster machine is down. After 5 attempts, JedisCluster gives an error `No more cluster attempts left`.

[code]

2. Then I increased `maxAttempts`, but get `java.lang.StackOverflowError` error due to multiple recursions.
[code]

3. I recommend adding `retryWaitTimeMillis` option

[2020-03-28 15:29] sazzad16 commented on #2143
Resolved by #2148

[2020-03-28 15:29] #2143 closed

[2020-04-01 07:08] yangbodong22011 commented on #2173
@sazzad16 @gkorland PING

[2020-04-03 17:14] deepshiv126 commented on #1977
The solution is upgrading your libraries' version.

[2020-04-03 17:14] #1977 closed

[2020-04-03 23:16] jusech5 opened #2175 "Do JedisCluster has SSL/TLS support?"
I'm seeing https://github.com/xetorthio/jedis/issues/1210 and https://github.com/xetorthio/jedis/pull/1550 but I can't understand the exactly version that includes that caracteristic.

Thanks for be clear, I can't see information in readme or any documentation about that.

[2020-04-04 07:32] sazzad16 commented on #2175
JedisCluster supports SSL/TLS from 3.1.0

[2020-04-04 07:32] #2175 closed

[2020-04-06 23:45] aalaran opened #2176 "Unexpected end of stream after connectivity to Redis lost"
### Expected behavior

When connectivity is lost to a Redis database, it is expected that connections recover after the database comes back up.

This is while using RedisTemplate.setEnableTransactionSupport.  While this is Spring, we are exploring to see if there's something on the Jedis side as well.

### Actual behavior

Some connections do not recover

### Steps to reproduce:

Please create a r

[2020-04-07 08:16] gkorland commented on #2176
It seems related to the way the spring-data-redis works, it binds the connection to the specific transaction. Which means you won't get a new connection even when the server is back.
[code]

[2020-04-08 03:04] MiltonLai commented on #1545
I am just checking if this feature had been implemented so that I don't have to do duplicate work.
I have written a little hack in my project to unify JedisCluster and JedisPoolAbstract to avoid client side code changes between different environments.
I really hope this feature will be integrated in official Jedis.

[2020-04-08 23:47] AnujTewari commented on #1512
@Neway6655 I ma facing the issue (using version 3.2.0) and came across this issue which is still open
How did you deal with this issue?
cc @marcosnils

[2020-04-09 01:02] Neway6655 commented on #1512
@AnujTewari I think you can check @kenny319's commit: https://github.com/kenny319/jedis/commit/2b722e0ad05c8b9ee774a3479b8f1aec68a8080c

which we used as a hot fix in our environments.

[2020-04-10 08:29] mendell opened #2177 "Implement support of blocking zpopmax, zpopmin"
Want to be able to use blocking commands for sorted sets like bzpopmin,  bzpopmax.

#### Jedis version:
3.2.0

#### Redis version:
5.0.5
#### Java version:
1.8

[2020-04-10 10:28] wwr commented on #2112
The renewSlotCache method appends the new cluster node rediscovered when topology changed to the nodes map cache, while it does not remove the offline nodes or clear the nodes map cache. See setupNodeIfNotExist for detail. This case, testWhileIdle was true and TimeBetweenEvictionRunsMillis was set 5000ms, the evictor thread will be executed every 5000ms to  evict idle jedis and create jedis connec

[2020-04-12 12:18] anupcoded commented on #1904
@ThietPhamDinh
Where you able to solve the issue? I have a similar problem and since the thread closed before anyone could replay to you.

[2020-04-13 09:51] xueleicug opened #2179 "JedisFactory does not provide an implementation of the passivateObject method, will Jedis also remove idle objects?"
We use jedis 2.9.0 in project to provide a redis connection pool, and enbabled test and evict idle object by setTestWhileIdle(true) and setTimeBetweenEvictionRunMills(30000L).
However, we found that in the production environment jedis will send a lot of ping command, which may cause a sudden increase of redis server cluster ops.

I read the jedis code and found that jedis uses  GenericObjectPool f

[2020-04-14 06:59] sazzad16 commented on #2116
Resolved by #2141

[2020-04-14 06:59] #2116 closed

[2020-04-14 06:59] sazzad16 commented on #2117
Resolved by #2141

[2020-04-14 06:59] #2117 closed

[2020-04-14 07:21] sazzad16 commented on #1998
Resolved by #2151

[2020-04-14 07:21] #1998 closed

[2020-04-14 07:28] #2153 closed

[2020-04-14 07:33] sazzad16 opened #2181 "Need tests for JedisSentinelPool"
Specifically with `sentinelPassword`.

Ref #2159

[2020-04-14 07:34] sazzad16 opened #2182 "Use ACL in JedisSentinelPool"
and other possible cases.

[2020-04-14 07:39] gkorland opened #2183 "Add support for custom socket factories in JedisPool"
ref #2151

[2020-04-14 07:50] sazzad16 commented on #2162
Jedis `ScanParams.count(Integer count)` takes `Integer`, not `Long`.

[2020-04-14 07:50] #2162 closed

[2020-04-14 07:54] sazzad16 commented on #2130
@DoverDee What is the output of `CLUSTER NODES` from redis-cli. I'm guessing node IPs are not with `172.16.1.41`.

[2020-04-14 07:57] sazzad16 commented on #2129
@gkorland FYI #1773

[2020-04-14 08:28] yangbodong22011 commented on #2179
Yes，see`redis.clients.jedis.JedisFactory#destroyObject`.

passivateObject(org.apache.commons.pool2.PooledObject<T>) is invoked on every instance when it is returned to the pool, means uninitialize an instance to be returned to the idle object pool, see [doc](http://commons.apache.org/proper/commons-pool/api-2.2/org/apache/commons/pool2/PooledObjectFactory.html), Jedis doesn't have to implement it,

[2020-04-14 08:46] xueleicug commented on #2179
@yangbodong22011 Thanks for your attention, I found that I misunderstood how the redis connection pool works.

[2020-04-14 08:46] #2179 closed

[2020-04-14 14:15] madhushreegc opened #2184 "Cannot use Jedis when in Pipeline. Please use Pipeline or reset jedis state ."
#### Jedis version: 2.9. 0

pipeline.del(key1);

Map<String, String> gatewayDeviceList = jedis.hgetAll(key2);
if(list.containsKey(id)) {
      	list.remove(id);
        pipeline.del(key3)
}

jedis.hgetAll(key2) is called directly after declaring pipeline .

Please help to resolve this issue

[2020-04-14 14:40] sazzad16 commented on #2184
@madhushreegc Please do what it says. Either use Pipeline or reset Jedis state. Thanks!

[2020-04-14 14:40] #2184 closed

[2020-04-14 18:02] sazzad16 commented on #2182
To track overall changes since 3.2.0, I'd request to take a look at https://github.com/xetorthio/jedis/compare/jedis-3.2.0...sazzad16:user-1

[2020-04-16 04:39] ZaNkss opened #2186 "redis.clients.jedis.Protocol - processError :ERR invalid password"
### Expected behavior

I package my jar and libs.
[code]
When I run the program
[code]
Jedis tell me My password is invalid. I'm sure my password is correct

And I put xxx.jar in lib/ it works.

I want to know witch lib is required.

### Actual behavior

Write here what happens instead ...

### Steps to reproduce:

Please create a reproducible case of your problem. Make sure
that case repeats cons

[2020-04-18 09:10] chanfool21 opened #2187 "Getting JedisConnectionException in one particular operation"
### Expected behavior

Write here what you're expecting ...
keys of a specific pattern should be filtered out and deleted from from redis server locally and in remote server as well

### Actual behavior

Keys are getting deleted in local properly but while executing the jedis.keys() on remote server it is throwing following exception:

redis.clients.jedis.exceptions.JedisConnectionException: Unexp

[2020-04-23 02:52] jack199322zx commented on #1920
I encountered the same situation with jedis 2.9.1.All connections are exhausted, and all threads are blocked waiting for connections

`"Restlight-Biz#99" #217 prio=5 os_prio=0 tid=0x00007fc458028800 nid=0x4f4ab waiting on condition [0x00007fc4e865d000]
   java.lang.Thread.State: TIMED_WAITING (parking)
	at sun.misc.Unsafe.park(Native Method)
	- parking to wait for  <0x00000006d2fea6a8> (a java.uti

[2020-04-27 13:05] cbartram commented on #1545
I second this approach. My program takes options to use an in memory cache or a redis cache and then takes more options to determine if the redis cache should be standalone or clustered. I have a factory that produces the right type of redis cache (standalone vs cluster) however, the logic is duplicated between both redis class types. I.e

[code]

[code]
What I would really like is an interface wh

[2020-04-27 18:57] DevJoey commented on #1171
I have the same error on my Minecraft Server. It has broke my backend. No solve i must close my server.

[2020-04-27 19:00] DevJoey opened #2188 "Cannot initialize poolconfig"
### Expected behavior

### Actual behavior

Write here what happens instead ...

### Steps to reproduce:

Please create a reproducible case of your problem. Make sure
that case repeats consistently and it's not random
1. Make a plugin with maven and the newest Redis version

### Redis / Jedis Configuration

#### Jedis version:
Newest
#### Redis version:
Newest
#### Java version:
1.8.0

I use Redis

[2020-05-01 11:35] assafmlr opened #2189 "keep getting null pointers in logs"
Hi all my logs full of these:

get technicians availability for weeks for 1024 technicians
java.lang.NullPointerException
	at redis.clients.jedis.BinaryJedis.getDB(BinaryJedis.java:3318)
	at redis.clients.jedis.JedisFactory.activateObject(JedisFactory.java:87)
	at org.apache.commons.pool2.impl.GenericObjectPool.borrowObject(GenericObjectPool.java:453)
	at org.apache.commons.pool2.impl.GenericObjec

[2020-05-03 15:04] #2182 closed

[2020-05-04 04:18] #2126 closed

[2020-05-11 08:44] mekingshow commented on #2091
+1

[2020-05-11 12:25] rmalchow opened #2190 "somewhat inexplicable errors with different AWS instance types"
we are running a containerized springboot application using jedis on openjdk 11 in a rancher 1.6 environment. redis is containerized as well, running on the same cluster. recently, we have added another compute node of the type t5a.large (previous are all t4.large). in this setup, the application instances kept losing their connections to redis ("broken pipe" socketexceptions), and it would stay d

[2020-05-17 03:27] vercorro commented on #91
Did you fixed it?
I have the same issue. Please help as I dont find anything related to this problem.

[2020-05-18 16:10] pankajydv commented on #1929
Still facing this issue in version 3.0.0. How can I configure AbandonedConfig related settings for JedisPool, it doesn't exposes GenericObjectPool and neither provides a way to set AbandonedConfig related configs like removeAbandonedOnBorrow or removeAbandonedTimeout.

[2020-05-19 16:13] Shawyeok opened #2191 "Improvement of JedisClusterInfoCache#renewClusterSlots"
Recently I noticed the number of threads of a java application running on production increased significant and then recovered in a short time(~1m), many threads has stacktrace below:
[code]
and thread **thrift-worker-718** stacktrace:
[code]

It's seem many thread wait a write lock which locked by another thread to be unlock, but i/o operation was pretty slow, client may have network issue with on

[2020-05-19 21:53] rajatgoyal247341 opened #2193 "get current master is not working in one scenario with redis-sentinel configuration"
### Expected behavior
      Jedis library should get new master after failover
### Actual behavior
      Library is never able to get current master.

### Steps to reproduce:
My current conf is like :
There are 3 redis-process: M1,R1,R2
There are 3 sentinels : S1, S2, S3 ( all are monitoring M1)

I have configured my java application using RedisSentinelConfiguration as S1, S2 then S3 in order.
PS

[2020-05-20 07:19] lavinj87 opened #2194 "Why is the connection not guaranteed to be valid?"
About this code snippet:

https://github.com/xetorthio/jedis/blob/72e5b1c6184047ba746de0e28de2b788adc898b9/src/main/java/redis/clients/jedis/JedisSlotBasedConnectionHandler.java#L64-L81

- Why is the connection not guaranteed to be valid?
- How to obtain a valid connection?

#### Jedis version:
2.9.3

#### Java version:
1.8.151

[2020-05-20 07:45] gkorland commented on #2194
Cause slots might moved.

You can't since it's a distributed system, you can test the connection after you get and if the server doesn't return "MOVED" you are ok

[2020-05-20 15:21] GovindasOM opened #2196 "Redis and TLSv1.3 connection resume error"
### Expected behavior

I am expecting it to not error using TLSv1.3
### Actual behavior
it sometimes throws a stacktrace and error in redis console, this seems to happen on second connection. (resume of connection) using redis 6.0.3. it works perfectly with TLSv1.2. this error makes the message to not be delivered sometimes

Redis side:
`  Error accepting a client connection: error:140
D9115:SSL r

[2020-05-20 15:22] rajatgoyal247341 commented on #2193
can someone please help to check this.

[2020-05-21 10:05] pankajydv opened #2197 "No way to apply AbandonedConfig in JedisPool"
### Expected behavior
Jedis Pool is built over GenericObjectPool from apache commons-pool2. The GenericObjectPool can be configured to detect and remove "abandoned" objects, i.e. objects that have been checked out of the pool but neither used nor returned before the configured removeAbandonedTimeout.

### Actual behavior

There is no way in JedisPool or JedisPoolConfig to configure org.apache.comm

[2020-05-24 11:09] Sufiyan1997 commented on #1089
Is this issue still accepting PRs?

[2020-05-24 15:07] gudufengE opened #2198 "no xinfoStream()\xinfoGroup\xinfoConsumers in jedis3.2.0.jar,while resource has! this why?"
### Expected behavior

We hope has xinfo api in jedis3.2.0.jar

### Actual behavior

no xinfoStream()\xinfoGroup\xinfoConsumers  api in jedis3.2.0.jar

### Steps to reproduce:
no about xinfo api in the jedis3.2.0 jar
while the resource has these api for xinfoStream()\xinfoGroup\xinfoConsumers

### Redis / Jedis Configuration

#### Jedis version:
3.2.0 jar
#### Redis version:
5.0.5
#### Java versio

[2020-05-24 15:37] gudufengE commented on #2198
Oh,sorry,I'm settle,only update to 3.3.0 version,
please close the issuse.

[2020-05-24 15:37] #2198 closed

[2020-05-25 04:02] forachange opened #2199 "Cannot use Jedis when in Pipeline. Please use Pipeline or reset jedis state ."
In the project, we used both the pipeline and the regular commands of jedis.
However, in the project, when calling the regular command of jedis (not using pipeline or transaction), the following abnormal phenomena occur from time to time:

[code]

redis.clients.jedis.exceptions.JedisDataException: Cannot use Jedis when in Pipeline. Please use Pipeline or reset jedis state .
	at redis.clients.jedis

[2020-05-27 12:00] ankmit15 opened #2200 "Jedis Connection thread is locked after few requests for Spring Boot Application"
### Expected behavior
Threads using the same JedisConnection should not hang.

### Actual behavior

Over 50 threads are sharing JedisCluster hung stopping the entire application and getting 504 Time Out Response

### Steps to reproduce:

1. create an multithread application sharing the same jedisCuster. (maxTotal for GenericObjectPoolConfig was 10).
2. put enough load on Redis cluster which might

[2020-05-29 20:33] nick-benoit14 commented on #1473
Any more word on this?

[2020-06-01 11:25] pankajydv commented on #2197
Any comments on this would be appreciated.

[2020-06-02 10:09] #2171 closed

[2020-06-05 07:26] StillerRen opened #2202 "JedisCluster lock the method "hincrByFloat(String key, String field, double value)""
### Expected behavior

JedisCluster has the method: hincrByFloat(String key, String field, double value)

### Actual behavior

jedisCluster don't have method: hincrByFloat(String key, String field, double value)

just has the method: hincrByFloat(final byte[] key, final byte[] field, final double value)

but Jedis has both methods

### Steps to reproduce:

check the JedisCluster

### Redis / Jedis

[2020-06-08 17:43] moadi opened #2206 "Question: Jedis pub/sub and ping"
Hi folks,

We've been using Jedis at our company for communicating with Redis, and we are currently looking into setting up pub/sub for a certain feature. As part of this, I just wanted to clarify the usage of Jedis wrt pub/sub.

I understand that the call to `subscribe()` on the Jedis client is blocking, but to account for networking issues it is suggested to ping, which is an available method in

[2020-06-12 13:15] workplaylifecycle opened #2208 "Why do we return Set<String> over List<String> for zrangebyscore? this can change what originally returned from redis server"
https://github.com/xetorthio/jedis/blob/5ca75a243e88a25736b7ab4b7e98741b4963c073/src/main/java/redis/clients/jedis/Jedis.java#L2158

[2020-06-12 15:00] #2208 closed

[2020-06-13 13:57] zhangddjs commented on #1904
I have similar issue, too. Can anyone help?

**Jedis version:**
3.0.0

**Redis version:**
5.0

**Java version:**
1.8

**redis.conf:**
port 6379
cluster-enabled  yes
cluster-config-file nodes-6379.conf
appendonly yes
appendfilename "appendonly.aof"
dir /redis

**docker-compose.yml:**
[code]

[2020-06-14 06:13] zhangddjs opened #2209 "Connect to docker redis cluster Failure"
### Expected behavior

after I built redis cluster by docker, I wrote a unit test as follows:

[code]

10.100.13.173 is the ip of the remote host machine of the redis cluster.

### Actual behavior

**Thrown Exception: No more cluster attempts left.**

### root cause:

_redis.clients.jedis.JedisClusterInfoCache.java:105 ==> this.setupNodeIfNotExist(targetNode);_

I found that the **targetNode** is

[2020-06-16 12:07] Shawyeok commented on #2209
It's not a jedis issue. Because redis cluster does not support on NAT network environment. see more: https://redis.io/topics/cluster-tutorial#redis-cluster-and-docker

[2020-06-16 12:20] zhangddjs commented on #2209
soga, I will use host net then, thanks.

[2020-06-16 12:20] #2209 closed

[2020-06-16 14:18] Venorcis commented on #2206
I think the 'ping' is suggested for the flow: new Jedis > ping > subscribe, as the subscribe indeed sets an infinite timeout which will happily make it wait forever when you e.g. put in the wrong IP address.

Using it to reconnect in case upon connection failure is a bit different I guess, you would have to periodically ping in a separate thread and then take some action when a ping fails.

[2020-06-16 16:39] moadi commented on #2206
Thanks for your response @Venorcis !

You're right, subscribe does the change the timeout to infinity so I should probably PING before subscribing to the pub/sub channel as a sanity. Given that an instance of the Jedis client itself is not thread safe (from what I've come across), I can't reuse that to ping periodically in a separate thread to ensure that the pub/sub connection is active. I don't

[2020-06-17 02:26] gudufengE opened #2211 "How do I change Test run env?"
### Expected behavior

I edited the HostAndPortUtil.class,and replaceall localhost to myip.
I hope run Test method at once.

### Actual behavior

Failed connecting to host localhost:6379

### Steps to reproduce:

1. I edited the HostAndPortUtil.class,and replaceall localhost to myip.
2. Run test method

### Redis / Jedis Configuration
all default

#### Jedis version:
In jedis resource
All default

[2020-06-17 03:59] 17hao opened #2212 "Instantite JedisPool in a more concise way"
### Expected behavior
Create `JedisPool` instance in a more concise way:
`JedisPool redisCli = new JedisPool(host, port, password);`

### Actual behavior

`JedisPool redisCli = new JedisPool(GenericObjectPoolConfig, host, port, timeout, password);`

### Steps to reproduce:

Creating a `JedisPool` instance.

### Redis / Jedis Configuration
default configuration
#### Jedis version:
2.9.0
#### Redis

[2020-06-17 10:46] gkorland commented on #2212
@17hao I'm not sure I get the issue do you want another constructor with less arguments?

[2020-06-17 15:43] 17hao commented on #2212
@gkorland  yes I want another constructor with less arguments.
Do you think it is necessary to add a constructor to JedisPool？ Can I create a PR if necessary？

[2020-06-17 16:29] tgrall opened #2213 "Add encode() method to SafeEncoder that encode the full response"
To simplify the development of client API that use the sendCommand()/Binary API of Jedis the Jedis SafeEncoder class should add a generic method that take any object and encode it recursively to deal with any type of Redis response: Simple object (`PING`) , Array (`HGETALL`) , or Array with Arrays (`XINFO`).

Depending of the type of response it will return a simple object or a list.

[2020-06-18 17:06] gkorland commented on #2212
You are welcome to create a PR

[2020-07-02 08:54] jacarrichan commented on #2125
@Carry-Kang
maybe you can find  [Caused by: redis.clients.jedis.exceptions.JedisConnectionException: java.net.SocketTimeoutException: Read timed out]  in log file .

if you find.
you can   reproduce it by    the folllowing  command  :

[sudo iptables -A INPUT   -p tcp --sport 6379 -j DROP]

call  jedis.returnBrokenResource  can solve it.

[2020-07-10 14:59] mouadelfakir opened #2216 "Question: NullPointerException"
My log is full of NullPointerException

### Expected behavior
No NullPointerException

### Actual behavior

[code]

### Redis / Jedis Configuration
Pool configuration and Jedis configuration

[code]

`new JedisCluster(nodes, connectionTimeout, soTimeout, maxAttempts, password, poolConfig);`

#### Jedis version: 3.3.0

#### Redis version: 5.0

#### Java version: 8

[2020-07-13 02:58] Yizuifangxiu opened #2217 "[BUG REPORT] The Command Jedis#blpop may block the thread forever."
### Expected behavior

We should optimize the api Jedis#blpop and the other api with block feature. When we set the timeout parameter with the value 3 seconds for example, we expect it will return in 3 seconds, but in some cases(like network jitter, redis's bug with some version and so on), it will block your thread forever.

We hope the timeout parameter set in the command with block feature will

[2020-07-14 15:48] daviddelucca commented on #2175
How can I use JedisCluster to connect using SSL? Documentation is not clear.

[2020-07-14 17:59] sazzad16 commented on #2175
@daviddelucca Right now, there are no documentation regarding JedisCluster using SSL. Please check the [test codes](https://github.com/xetorthio/jedis/blob/master/src/test/java/redis/clients/jedis/tests/SSLJedisClusterTest.java) https://github.com/xetorthio/jedis/blob/master/src/test/java/redis/clients/jedis/tests/SSLJedisClusterTest.java . Hopefully, those may help you.

And, if are succeeded the

[2020-07-15 06:05] rvkvino commented on #1752
I have tried like bellow,
try {
	jedis = jedisPool.getResource();
	RateRow[] cbaserates = gson.fromJson(jedis.get("WLBaseRates"), RateRow[].class);
} catch (IllegalStateException ex) {
	ex.printStackTrace();
} finally {
	jedis.close();
}
But still I have an issue sometime showing Exception in thread "Timer-0" redis.clients.jedis.exceptions.JedisException: Could not return the resource to the pool

[2020-07-16 10:19] zcgewu commented on #2200
![image](https://user-images.githubusercontent.com/6211911/87659775-a07d3680-c790-11ea-86d9-6b641783cd2b.png)
tomcat-redis-session-tomcat-7  redis version is 2.0.0

[2020-07-17 04:11] CoderLan0668 opened #2218 "Monitor the pool"
Some DataSource,  for example HikariCP, they provide metrics and can be watched well.

Is there any way to acheive this goal in Jedis?

[2020-07-17 14:47] johnrengelman opened #2219 "Redis streams implementations will indefinitely block if Redis server doesn't send a response"
### Expected behavior

The Redis stream commands such as `xread` return an error if the Redis server doesn't send a response of any kind. This can happen due to network or server errors (such as if the return path of a network connection is broken).

### Actual behavior

Command blocks indefinitely.
This is a result of setting the client socket SOTimeout to infinite in this PR - https://github.com

[2020-07-20 09:44] marrafi commented on #2216
It's strange I'm having the exact same problem... again with the same configuration!!
I've spent more than a week trying to figure out the problem.

Maybe it's worth mentionning that I'm running this config on a cluster of 4 client nodes.

[2020-07-23 03:38] Hongda277 opened #2220 "Does jedis support the client side caching which starts with Redis 6.0 ？"
Does jedis support the **client side caching** which starts with Redis 6.0 ？Or whether it will support the client side caching in the future ?

[2020-07-23 13:46] sazzad16 commented on #2220
No, not right now. But we are very eager to get a good enough PR.

[2020-08-10 18:11] robertsabo0 commented on #1936
Same problem. Jedis version: 3.3.0, redis server: 6.0.4
redis.clients.jedis.exceptions.JedisConnectionException: Unknown reply: H
	at redis.clients.jedis.Protocol.process(Protocol.java:169)
	at redis.clients.jedis.Protocol.read(Protocol.java:220)
	at redis.clients.jedis.Connection.readProtocolWithCheckingBroken(Connection.java:278)
	at redis.clients.jedis.Connection.getUnflushedObjectMultiBulkRepl

[2020-08-11 07:59] gkorland opened #2223 "Fix SSL tests - Support Redis 6 SSL"
The following tests are failing on each CI run, the tests should be adapted to use Redis 6 SSL support and stop being based on SSL tunneling. Or we should keep both patterns for Redis >=5.

[code]

[2020-08-11 13:53] #2213 closed

[2020-08-12 07:31] kivn2014 opened #2224 "open jkd13 redis subscribe error, java.lang.NoClassDefFoundError: jdk/nashorn/internal/ir/debug/ObjectSizeCalculator"
open jdk13
redis subscribe error, java.lang.NoClassDefFoundError: jdk/nashorn/internal/ir/debug/ObjectSizeCalculator

#### redis version:
redis 5.0.9
#### Jedis version:
jedis2.9
#### Java version:
openjdk13

[2020-08-14 03:57] bironran opened #2225 "In cluster, if connection was never established correctly it will never be established"
### Expected behavior
In redis cluster, if connection is defined with a set of of HostAndPort, even if it cannot be established during initialization, if it can be established later it will be

### Actual behavior
Connection is never established.

JedisClusterConnectionHandler.renewSlotCache calls JedisClusterInfoCache.renewClusterSlots(null) which in turn makes JedisClusterInfoCache look at its i

[2020-08-18 03:29] vince2000 opened #2226 "in cluster if kill a master redis,then use jediscluster connect cluster while get a MaxAttemptsException"
Expected behavior
In redis cluster, if master was down ,jediscluster can get slave connection

Actual behavior
get a MaxAttemptsException

Steps to reproduce:
use jediscluster connect rediscluster,  shutdown a master node, then still use the jediscluster to connect  rediscluster

[2020-08-20 14:42] bigmarvin opened #2227 "Concrete jedis exceptions are discarded when client falls back and fails to get a random node from slot-based connection handler"
### Expected behavior

When experiencing no-reachable-node-in-cluster exception from getConnection() in JedisSlotBasedConnectionHandler, I'm expecting to get concrete exceptions thrown when individual jedis instance is borrowed, if any.

### Actual behavior

These concrete exceptions are discarded, which complicates the investigation of the no-reachable-node-in-cluster exception mentioned previous

[2020-08-20 19:56] deepshiv126 commented on #2144
Update: This is an issue with AWS Elasticache Redis and nothing to do with Jedis Library or open-source Redis.
Now, this issue is fixed on AWS Elasticache Redis too.

[2020-08-24 04:56] tgrall opened #2230 "Enhancement: Add toString method to redis.clients.jedis.params.Params"
To make it easier to debug Jedis & Application code we should print the `Params` properly.

This is a minor change.

[2020-08-25 21:28] wrover opened #2234 "Support host and port mapping for cluster connections (not only SSL)"
### Expected behavior

When connecting to a cluster which is run inside Docker (e.g. using http://testcontainers.org library, which maps ports dynamically depending on available ones) `JedisCluster` should take a mapping function to properly map discovered nodes host/port to their real ports.

### Actual behavior

Jedis connects to the node(s) using host/port specified in `JedisCluster` constructo

[2020-08-26 03:49] david6522 opened #2235 "JedisClusterMaxRedirectionsException: Too many Cluster redirections?"
### Expected behavior

Write here what you're expecting ...

### Actual behavior

Write here what happens instead ...

### Steps to reproduce:

Please create a reproducible case of your problem. Make sure
that case repeats consistently and it's not random
1.
2.
3.

### Redis / Jedis Configuration

#### Jedis version: 2.10.2

#### Redis version:4.0.14

#### Java version:
![image](https://user-image

[2020-08-26 14:42] maybhi commented on #2144
@deepshiv126 in which version of ElastiCache Redis Cluster(Cluster Mode Enabled) it's resolved?

[2020-08-26 15:56] SkyGrass commented on #1708
same issue

[2020-08-27 04:46] sazzad16 commented on #1708
Please your Redis instance(s). `AUTH` command is disabled there.

[2020-08-28 11:53] literakl opened #2239 "Migration guide"
### Expected behavior

Open Changelog, browse the releases and find out if it is neccessary to migrate my source code when upgrading to that version.

### Actual behavior

Instructions are missing.

### Steps to reproduce:

I am upgrading from 2.9.0 to 3.3.0 and so far I hit:

redis.clients.util.Pool is gone, I replaced it with redis.clients.jedis.JedisPoolAbstract and its ancestors
redis.clients.

[2020-08-31 18:54] momomo commented on #2121
what, i need this too. or maybe not. why is this not in.

[2020-09-03 04:54] momomo opened #2242 "Provide us with the ability to log outgoing and incoming commands in development"
Would be nice in redis.clients.jedis.Protocol sendCommand to see the actual command being sent to ensure it is properly built and for analyzing it.

Doesn't look like it does.

[2020-09-03 22:31] gkorland opened #2243 "NullPointerException on XClaim when StreamEntrey was already deleted"
Calling `Jedis.xclaim` with an ID that was already deleted using XDEL throws a NullPointerException.
Redis returns nil for each deleted Entry that XCLAIM is trying to retrieve.

[code]

[2020-09-12 11:50] momomo opened #2246 "JedisPubSub, why private on process?"
The problem is firstly due to proceed(Client, String ... channels) requiring you to supply a channel when you proceed, which is rarely the case.

client.subscribe(channel) can be called later.

Howerver,

![image](https://user-images.githubusercontent.com/9274346/92994812-e68b1800-f4fd-11ea-98a1-f2d745b79131.png)

Requires you to pass at least a channel. So one would like to override the class, in

[2020-09-12 11:51] momomo commented on #2246
If you look at the method proceed(client, ... channels), the goal in this case would have been to ignore the subscribe call and flush and just call process(client);

[2020-09-13 19:58] #2243 closed

[2020-09-14 03:43] startjava opened #2248 "please support set command keepttl param !"
please support set command keepttl param !

[2020-09-16 02:26] bjj520719 opened #2250 "[QUESTION] JedisConnectionException: java.net.SocketException: Broken pipe"
Hi,

We had an issue about Jedis 2.8.2 API writing。The size of the write data is 100k。

**redis_version**:2.8.19
**redis config**
timeout 0

**jedis config**:
timeout: 30000
pool:
      max-idle: 1000
      min-idle: 200
      max-total: 1000
      max-wait-millis: 30000
      time-between-eviction-runs-millis: 30000
      soft-min-evictable-idle-time-millis: 30000
      test-on-borrow: false

**E

[2020-09-16 03:11] yangbodong22011 commented on #2250
@bjj520719 Hello, Can you describe the background of the problem, or provide the code to reproduce it?

[2020-09-17 03:52] pkgoncalves commented on #926
Hi guys! I know this is an old issue, but I had to do a little maintenance on the legacy system that I got the error a couple of years ago and even after upgrading Jedis to version 3.3.0 the error still happens on JBoss EAP 5.2 but I was able to avoid it setting the property **jxmEnabled** to **false** on **JedisPoolConfig**.

`JedisPoolConfig config = JedisPoolConfig();
config.setJmxEnabled(false

[2020-09-18 05:32] anujpradhaan commented on #1294
Saved me a lot of time :)

[2020-09-22 10:50] nathanfranke commented on #1664
Yeah this is definitely still reproducible. The `Read timed out`s happened after the bug.

[2020-09-23 02:29] chimney-lee opened #2252 "Jedis should close the connection to redis friendly"
### Expected behavior

With the config set socket.setSoLinger(true, 0)；The jedis will close the connection by send RST message but not FIN-ACK FIN-ACK , which is an ungraceful  way to release the connection;

### Actual behavior

we should close the connection  friendly by send FIN-ACK,FIN-ACK

### Steps to reproduce:

tcpdump would catch the RST message

### Redis / Jedis Configuration

#### Jedi

[2020-09-23 02:32] chimney-lee commented on #2252
@sazzad16  Look forward some comments on this issue

[2020-09-23 02:40] finghting-lin opened #2253 "too many"
### Expected behavior

Write here what you're expecting ...

### Actual behavior

Write here what happens instead ...

### Steps to reproduce:

Please create a reproducible case of your problem. Make sure
that case repeats consistently and it's not random
1.
2.
3.

### Redis / Jedis Configuration

#### Jedis version:

#### Redis version:

#### Java version:

[2020-09-23 05:16] #2253 closed

[2020-09-24 05:18] bjj520719 commented on #2250
Hello，We have a scene like this Kafka bulk consumption writes data to redis，Due to the frequent reading and writing of redis by 100000 active users every day, this problem has not recurred in the test environment，We're still looking for ways to reproduce it。

[2020-09-24 06:54] hauter opened #2255 "HGETALL returns unexpected result when the key does not exist"
### Expected behavior
When the key does not exist, HGETALL returns a null/empty value

### Actual behavior

HGETALL returns an unexpected result and an exception occurs in BuilderFactory.STRING_MAP.

### Steps to reproduce:

This is how I use the `exhgetall` operation:

[code]

But I get an exception:

![image](https://user-images.githubusercontent.com/8326287/94108933-c1d65f00-fe72-11ea-8459-1b29

[2020-09-24 08:51] minisancy opened #2256 "BUGS when using eval or evalsha in pipeline"
### Expected behavior

MultiKeyPipelineBase.java

 @Override
  public Response<Object> eval(String script, int keyCount, String... params) {
    getClient(script).eval(script, keyCount, params);
    return getResponse(BuilderFactory.EVAL_RESULT);
  }

i suggest using get(parasm[0]) when keyCount>0 instead getClient(script)
for getClient(script) would not get a corrent client

### Actual behavior

[2020-09-24 09:01] sazzad16 commented on #2255
@hauter

First of all, it's not `HGETALL` you're talking about, but a custom `EXHGETALL` command.

For an empty hash, HGETALL returns a list of size `0`. But, as we can see, EXHGETALL is returning a list of size `2` where the second element is apparently a list of size 0.

Please, check your EXHGETALL command and its output properly.

[2020-09-24 09:01] #2255 closed

[2020-09-24 09:05] sazzad16 commented on #2256
@minisancy Would you like to submit a PR, resolving not only this but preferably including all other similar issues?

[2020-09-24 11:07] minisancy commented on #2256
I hava submited, please check it

[2020-09-24 20:10] deepshiv126 commented on #2144
@maybhi - The issue is resolved on **5.0.6** version and aws not yet released 6.#.# version(hopefully they will release it sooner).

[2020-09-28 06:36] Wlitsoft opened #2258 "Can Protocol processError support rewriting"
There are some custom errors through the RedisModule extension, and you want processError to support override compatibility with custom errors.

[2020-09-28 07:34] minisancy commented on #2256
check failed，but i have just modified eval and evalsha..... seems strange...

[2020-10-01 16:45] Rorschach2033 opened #2259 "java.net.SocketTimeoutException: connect timed out"
### Expected behavior

Can't download any files
Here's the details:
Details:

java.net.SocketTimeoutException: connect timed out
	at java.base/java.net.PlainSocketImpl.waitForConnect(Native Method)
	at java.base/java.net.PlainSocketImpl.socketConnect(Unknown Source)
	at java.base/java.net.AbstractPlainSocketImpl.doConnect(Unknown Source)
	at java.base/java.net.AbstractPlainSocketImpl.connectToAddr

[2020-10-01 16:46] #2259 closed

[2020-10-03 06:30] SevereOverfl0w opened #2261 "xrange make count optional"
### Expected behavior

Able to skip the count parameter to xrange, or otherwise pass it null.  I think this was raised initially on the introducing PR.

### Actual behavior

No such argument

### Steps to reproduce:

Call xrange()

### Redis / Jedis Configuration

JedisPool

#### Jedis version: 3.3.0

#### Redis version: 6.0.1

#### Java version: 11.0.9

[2020-10-04 13:10] SevereOverfl0w opened #2262 "xadd skip maxlen for binary api"
### Expected behavior

xadd is available without requiring maxlen and approximate.

### Actual behavior

https://github.com/xetorthio/jedis/blob/ab36b3638181d20eb9ad971109ffcc9aeef8efb3/src/main/java/redis/clients/jedis/commands/BinaryJedisCommands.java only contains a single arity for xadd, which requires the maxlen to be provided.  Higher level wrapper works around this by hardcoding Long/MAX_VA

[2020-10-08 02:50] dengliming opened #2264 "Add support for SET … GET option"
Redis 6.2 supports a GET option to return the old value stored at key, or nil when key did not exist. See [https://redis.io/commands/set](https://redis.io/commands/set)

[2020-10-08 15:09] gkorland commented on #2104
duplicate #2220

[2020-10-09 01:46] madalion commented on #2226
hi, I also have this problem， have you resolved it?

[2020-10-10 07:59] dengliming opened #2265 "Add support for ZADD GT/LT options"
#### Redis version: 6.2

see：[https://redis.io/commands/zadd](https://redis.io/commands/zadd)

[2020-10-10 08:40] monkeymq commented on #1194
i got this situation several times when master has changed

[2020-10-12 18:21] clintont opened #2266 "Short-lived connections on JedisPool"
### Expected behavior

When using JedisPool and calling close() to release to JedisPool, we expect for our client to respect the minEvictableIdleTimeMillis (600s) and timeBetweenEvictionRunsMillis (300s) setting.

Based on our interpretation, this means that connections will have to be idle between 5 min to 10 min in order to be completely evicted/closed, otherwise it can be picked up again for re

[2020-10-13 22:40] bironran commented on #2225
Workaround: in your own code check if connectionHandler.getNodes().isEmpty(). If it is, call connectionHandler.renewSlotCache(connectionHandler.getConnectionFromNode(hostAndPort)); (where hostAndPort are the initial ones). Do this in a loop, e.g. in a Timer.scheduleAtFixedRate.

[2020-10-14 08:39] rkimsb2 commented on #2145
Hello. I have same question on Redis 4.x.

Should I separate the question for this?

[2020-10-14 14:19] MichaHoffmann commented on #2193
We also hit that issue in production.

After some debugging, it seems that the masterAddress is updated via the "+switch-master" subscription in the `MasterListener` of `JedisSentinelPool`, or on some connection loss. [To quote the sentinel integration documentation](https://redis.io/topics/sentinel-clients): `However update messages received via Pub/Sub should not substitute the above procedure,

[2020-10-15 05:21] rkimsb2 opened #2267 "Document: Version Compatibility Table"
Is there any plans to supply version compatibility table between jedis and redis on document or wiki?

[2020-10-28 22:28] clintont commented on #2266
Closing issue.  We had a faulty test scenario.  The minEvictionTime and timeBetweenEvictionRuns work fine.

[2020-10-28 22:28] #2266 closed

[2020-10-30 20:32] Huan9 opened #2270 "Jedis#eval with the specified timeout"
We observe the same issue as described in a closed thread: https://github.com/redis/jedis/issues/1147

seem like `at redis.clients.jedis.Jedis.getEvalResult(Jedis.java:2642) ` never return after more than 5 mins sometimes(pretty rare, but when it happen cause bad issue). Our redis server had the default `lua-time-limit` set to 5 seconds and our Lua script is pretty light weight and should not take

[2020-10-30 20:33] Huan9 commented on #1147
Not sure how to revive this thread, so I open a new issue link to this one: https://github.com/redis/jedis/issues/2270.

we also hit this issue and it is rarely repo but when it reproed, it cause serious issue. So we'd like to have some timeout in Lua script.

[2020-10-31 01:02] shannonantony opened #2271 "Intermittent connection issue with Redis Sentinel"
My springboot application is running fine for hours. but time to time , I see connection lost exception to sentinel.

There is no network issue.

### Expected behavior

Write here what you're expecting ...

### Actual behavior

Intermittently, connection is getting lost from springboot app to sentinel

2020-10-30 20:59:34.742 [MasterListener-mymaster-[IP:26379]] [ERROR]:  redis.clients.jedis.Jedis

[2020-11-01 14:20] zpsenior commented on #1130
I had the same problem. How did you solved the problem?

[2020-11-04 09:39] prayjourney commented on #1561
just use spring-session-data-redis,
    <dependency>
        <groupId>org.springframework.boot</groupId>
        <artifactId>spring-boot-starter-data-redis</artifactId>
    </dependency>

[2020-11-05 13:52] devil5462 commented on #1819
@khemkasudeep Hi, mate. Thanks for this Issue to solve. I faced that like you. How to use this JedisSentinelPool class? I am using version Jedis 2.9.0. I understand version 2.10.2 is latest. Is it work well or a fixed issue? I'm looking forward to your reply.

[2020-11-05 13:53] devil5462 commented on #1819
@khemkasudeep Hi, mate. Thanks for this Issue to solve. I faced that like you. How to use this JedisSentinelPool class? I am using version Jedis 2.9.0. I understand version 2.10.2 is latest in version 2. Is it work well or a fixed issue? I'm looking forward to your reply.

[2020-11-06 08:27] xbkaishui opened #2272 "Link broken http://xetorthio.github.io/jedis/"
### Expected behavior
The links http://xetorthio.github.io/jedis/ in readme.md is broker,  404 not found error

[2020-11-07 15:49] zouhuajian opened #2273 "More SlowLog Info"
I expect `slowlog` to add client information.

* Client IP address and port (4.0 only).
* Client name if set via the CLIENT SETNAME command (4.0 only).

[2020-11-07 16:48] sazzad16 commented on #2273
Duplicate of #2076
Pending PR #2084

[2020-11-07 16:48] #2273 closed

[2020-11-07 17:50] dengliming opened #2274 "Add support for getting Summary info by XPENDING"
### Expected behavior

XPENDING can be called with just a key name and a consumer group name, and it just outputs a summary about the pending messages in a given consumer group.

like：
[code]
doc [https://redis.io/commands/xpending](https://redis.io/commands/xpending)

### Actual behavior

only return the pending messages list

### Steps to reproduce:

Please create a reproducible case of your pro

[2020-11-18 06:34] tongweitao commented on #1159
I have meet  this error twice，when my application is starting , but there is no log for me to find the place where close this pool , i am sure there is no code in my application closing the pool。 My solution is restart the application, and then run normally

[2020-11-19 10:51] JulyChen728 opened #2276 "A potential NPE bug"
Hi all,
our bug scanner has reported a NPE bug.

The variable [result](https://github.com/redis/jedis/blob/d7aba13a8b65e66dedc01c51b73e3794cbe68a62/src/main/java/redis/clients/jedis/Jedis.java#L3802) may be null since the method [getBulkReply()](https://github.com/redis/jedis/blob/d7aba13a8b65e66dedc01c51b73e3794cbe68a62/src/main/java/redis/clients/jedis/Connection.java#L209) may return null. When

[2020-11-21 14:41] srirama-rayaprolu commented on #661
In production setup, am getting the same error,
[code]

The Jedis version is 3.3.0 and Redis version is 4.0.9

I have increased the connection timeout to 50 sec but still getting the same problem.

Any other pointers here to be checked?

[2020-11-22 05:42] sazzad16 commented on #2276
@JulyChen728 Thank you for your interest in Jedis. Please be informed that a general bug tracking algorithm will not be applicable in this project. It is a Redis client and it strongly depends on how Redis (commands) works. I.e. for your specific case you can check Redis XADD command.

[2020-11-22 05:42] #2276 closed

[2020-11-22 17:56] Ciccios commented on #1356
Any progress on this? I see it was open long time ago and I can't find a way to interrupt an xread call which woudl be very useful
Could anyone help how to interrupt the xread?

[2020-11-23 15:23] awaizman1 opened #2277 "xread with block=0 doesn't block"
### Expected behavior

According to [redis documentation](https://redis.io/topics/streams-intro) when passing block=0 to xread command, the operation should block forever (until has data to read).

From the documentation:

In Jedis, when I pass block=0 it seems like the BLOCK param is omitted at all from the sent command thus the xread command won't block at all.

**BinaryClient.java:**
[code]

I

[2020-11-23 19:51] mudit-saxena opened #2278 "Return List instead of Set from smembers method"
### Expected behavior

Redis `SMEMBERS` returns an array of values for the given set. While in Jedis `smembers` method returns a `SET` of values going by interface signature. So, as a result, the client of the library expects that `smembers` will honor all the `SET` related constraints in terms of time-complexity i.e `contains`, `add`, etc will be O(1).

### Actual behavior

On the contrary, looki

[2020-11-24 15:17] sazzad16 commented on #2277
@awaizman1 Thank you for reporting. Actually when it was implemented, block=0 wasn't supported. So the developer took the chance and used block=0 to represent the absence of block param.

@gkorland PING!

[2020-11-24 15:19] sazzad16 commented on #2278
@gkorland PING!

[2020-11-25 03:41] billoneil commented on #1959
@gkorland what happened to this commit did it never make it? https://github.com/redis/jedis/commit/d1a692c79bca7b8434e8aac4b31f58cd54f972eb

[2020-11-25 11:05] sazzad16 commented on #1959
@billoneil This is weird. Thanks for noticing.

[2020-11-25 14:19] #2264 closed

[2020-11-25 14:21] #2248 closed

[2020-11-26 04:56] sazzad16 commented on #2272
It has now become http://redis.github.io/jedis/ :)

[2020-11-26 04:56] #2272 closed

[2020-11-26 05:34] xbkaishui commented on #2272
great

[2020-11-27 10:20] yyxjcc opened #2290 "About the performance of the transaction after the revision of jedis 3.0.0"
### Expected behavior

Write here what you're expecting ...

### Actual behavior

Write here what happens instead ...

### Steps to reproduce:

Please create a reproducible case of your problem. Make sure
that case repeats consistently and it's not random
1.
2.
3.

### Redis / Jedis Configuration

#### Jedis version:

#### Redis version:

#### Java version:

[2020-11-27 10:20] #2290 closed

[2020-11-27 11:33] yyxjcc opened #2291 "About the performance of the transaction after jedis 3.0.0"
Hello, I found that since jedis version 3.0.0 (precisely from PR #511), the way transactions are handled has changed.

From the perspective of command interaction:

before:

now:

After preliminary testing, the performance comparison is as follows:

Test code:

[code]

In summary, the revised jedis is more worrying in terms of transaction execution performance (especially when the number of comman

[2020-11-29 14:14] awaizman1 opened #2294 "Add support for clientUnblock command"
Hi,

I couldn't find the [clientUnblock](https://redis.io/commands/client-unblock) command in jedis.
This is very useful when working with streams blocking xread commands.

Is there a plan to add this command?

thanks.

[2020-11-30 10:49] UglyBarnacle commented on #2277
yeah, we are "suffering" from the same behaviour. after going back to use jedis (we used an own implementation of the streams when it was not available) - we noticed a spike in CPU usage when using xread, only to find this exact piece of code.
as workaround, we did set the value to Long.MAX_VALUE.

[2020-12-01 03:03] suryavtkt opened #2297 "Attempting to read from a broken connection"
### Should not break the connection
Able to write the data into redis

### Attempting to read from a broken connection

org.springframework.data.redis.RedisConnectionFailureException: Attempting to read from a broken connection; nested exception is redis.clients.jedis.exceptions.JedisConnectionException: Attempting to read from a broken connection
	at org.springframework.data.redis.connection.jedi

[2020-12-01 03:18] #2297 closed

[2020-12-01 03:29] suryavtkt opened #2298 "Attempting to read from a broken connection"
### Expected behavior

Data should read properly without any exception

### Actual behavior

org.springframework.data.redis.RedisConnectionFailureException: Attempting to read from a broken connection; nested exception is redis.clients.jedis.exceptions.JedisConnectionException: Attempting to read from a broken connection
	at org.springframework.data.redis.connection.jedis.JedisExceptionConverter.c

[2020-12-01 08:11] suryavtkt commented on #1747
if we stop reading data from broken connection, who will take care of that request
Do we have any retry mechanism to process the request to complete

[2020-12-01 08:47] sazzad16 commented on #1747
@13121314 3.1.0

apologies for the late reply

[2020-12-03 23:05] #2202 closed

[2020-12-06 14:11] #2076 closed

[2020-12-06 15:29] sazzad16 opened #2303 "Use Keywords in Param classes"
_Originally posted by @gkorland in https://github.com/redis/jedis/pull/2157#discussion_r392667981_

_Originally posted by @sazzad16 in https://github.com/redis/jedis/pull/2157#discussion_r396091103_

[2020-12-06 15:59] #2120 closed

[2020-12-07 11:07] #2170 closed

[2020-12-07 14:17] sazzad16 opened #2306 "xread and xreadGroup should be in MultiKeyJedisClusterCommands"
### Expected behavior

xread and xreadGroup should be in MultiKeyJedisClusterCommands

### Actual behavior

xread and xreadGroup are in JedisClusterCommands

#### Jedis version:

Jedis 3.1.0-m1 and above

[2020-12-08 09:51] #426 closed

[2020-12-08 09:51] #1537 closed

[2020-12-08 09:51] #2027 closed

[2020-12-08 09:51] #2217 closed

[2020-12-08 10:25] #2227 closed

[2020-12-08 10:56] shasmish opened #2308 "Intermittent NPE during application startup"
### Expected behavior
No exception during startup

### Actual behavior

Intermittently application startup fails due to a NPE in redis.clients.jedis.BinaryJedisPubSub.subscribe() method call.

Stacktrace:

`[09-24-2020 07:50:17.170 +0000] [ERROR] [prod] [] [ main] [work.web.context.ContextLoader] Context initialization failed org.springframework.context.ApplicationContextException: Failed to start

[2020-12-08 11:31] #2306 closed

[2020-12-08 18:15] MrFrydae commented on #2303
As I am unfamiliar with this codebase, could you please give me an example of how you would want this to be implemented?

Instead of ``addParam(STORE, key);`` with ``STORE`` being a String, would you want it to be converted to a Keyword?

[2020-12-08 19:27] sazzad16 commented on #2303
@MrFrydae Yes.

[2020-12-09 11:40] sazzad16 commented on #2277
@awaizman1 @UglyBarnacle Please use `block=Long.MAX_VALUE` for the time being.

[2020-12-15 10:32] gkorland commented on #2294
@awaizman1 thanks for the feature request, we'll try to add it. Meanwhile, feel free to submit a PR.

[2020-12-15 12:12] sazzad16 commented on #2308
@shasmish
It seems `BinaryJedisPubSub.subscribe(...)` is being called before or without calling `BinaryJedis.subscribe(BinaryJedisPubSub, ...)`. Please check you code flow. You can also consult spring-data-redis team.

[2020-12-15 12:18] sazzad16 commented on #2298
@suryavtkt
Just `redis.clients.jedis.exceptions.JedisConnectionException: Attempting to read from a broken connection` is really not helpful to solve an apparent issue, if there is any.

Nevertheless, in general, if you have a connection somehow broken, you should start using a new one. If you don't this by yourself, JedisPool does that automatically.

[2020-12-15 12:30] sazzad16 commented on #2291
@yyxjcc #511 was included to bring more stability. What you're trying to achieve is still achievable through `Pipeline`.

[2020-12-15 12:38] sazzad16 commented on #2270
Dupe of #1147

#1147 is reopened

[2020-12-15 12:38] #2270 closed

[2020-12-15 12:43] sazzad16 commented on #2235
@david6522 The way this issue is written is really not helpful to find out the problem, if there is any. Please add stacktrace specific to Jedis in textual format.

[2020-12-15 12:49] sazzad16 commented on #2223
Resolved by #2289

[2020-12-15 12:49] #2223 closed

[2020-12-15 12:52] sazzad16 commented on #2219
Hi @johnrengelman, could you please check if this issue resolved in Jedis 3.4.0 by setting infiniteSocketTimeout?

[2020-12-15 13:39] sazzad16 commented on #2199
@forachange It is not possible to use (and you shouldn't use) a Jedis object while it is being used in Pipeline. You can reuse it after Pipeline is done. In the mean time, you should use another Jedis.

[2020-12-15 13:39] #2199 closed

[2020-12-15 14:04] sazzad16 commented on #2187
@chanfool21 There can be too many keys in your Redis instance. So it could be taking too much time to read all of those and send them back over the network and the whole process could not finish within socket timeout.

[2020-12-15 14:13] sazzad16 commented on #2168
@startjava You are sending password from Jedis (JedisPool) but there is no password set for default user in your Redis instance.

[2020-12-15 14:13] #2168 closed

[2020-12-15 14:18] sazzad16 commented on #2166
@startjava ACL was released with Jedis 3.3.0 in May 3, 2020

[2020-12-15 14:18] #2166 closed

[2020-12-15 14:21] sazzad16 commented on #2147
Closed due to inactivity.

[2020-12-15 14:21] #2147 closed

[2020-12-15 14:36] sazzad16 commented on #2142
Closed due to inactivity.

[2020-12-15 14:36] #2142 closed

[2020-12-15 14:40] sazzad16 commented on #2136
@asdxiaoqex Do you have any update?

[2020-12-15 14:41] sazzad16 commented on #2130
Closed due to inactivity.

[2020-12-15 14:41] #2130 closed

[2020-12-15 15:03] sazzad16 commented on #2080
According to [this comment](https://github.com/redis/jedis/issues/2277#issuecomment-735709282), block works even with Long.MAX_VALUE.

[2020-12-15 15:10] sazzad16 commented on #2096
@startjava JedisSentinelPool uses only master node for data operations. So no load balancing as there is only one master node.

[2020-12-15 15:10] #2096 closed

[2020-12-15 15:35] sazzad16 commented on #2065
@taylorcressy The issue is fixed in commons-pool-2.8.0. Did you try any updated and/or old version?

[2020-12-15 15:39] sazzad16 commented on #2049
Resolved by #2254

[2020-12-15 15:39] #2049 closed

[2020-12-15 15:48] sazzad16 commented on #1964
@msaidireddy Did you have `stunnel` installed?

[2020-12-16 08:55] baitianxia opened #2316 "ClassCastException error while using jediscluster"
### Expected behavior
when I using jedisCluster like this in flink，I got error “java.lang.ClassCastException”
[code]
Write here what you're expecting ...

### Actual behavior
java.lang.ClassCastException: java.util.ArrayList cannot be cast to java.lang.Long
	at redis.clients.jedis.Connection.getIntegerReply(Connection.java:220)
	at redis.clients.jedis.Jedis.rpush(Jedis.java:964)
	at redis.clients.

[2020-12-19 15:37] #2316 closed

[2020-12-19 15:40] baitianxia commented on #2316
sorry，it's an error on my server，not jedis

[2020-12-21 04:18] bhawani021 opened #2317 "redis.clients.jedis.exceptions.JedisDataException: ERR command is not allowed"
###

There should be a connection for Java app to Redis DB

### Actual behavior

Geeting error -> redis.clients.jedis.exceptions.JedisDataException: ERR command is not allowed

### Steps to reproduce:

[code]

[code]

### Redis / Jedis Configuration

#### Jedis version: 3.0.0

#### Redis version: 6.0

#### Java version: 1.8

[2020-12-21 12:33] oridool opened #2318 "JedisDataException when trying to connect with ACL user: null user is mistakenly used"
### Expected behavior

Connection success and Redis command is working

### Actual behavior

I get the following exception:
redis.clients.jedis.exceptions.JedisDataException:
ERR AUTH <password> called without any password configured for the default user. Are you sure your configuration is correct?

### Steps to reproduce:

Please create a reproducible case of your problem. Make sure
that case rep

[2020-12-21 12:51] sazzad16 commented on #2318
@oridool Acknowledged the issue. Thanks for reporting.

[2020-12-21 13:10] sazzad16 commented on #1356
@Ciccios A new param `infiniteSoTimeout` has been introduced since Jedis 3.4.0. Does it work for you? Feel free to let us know your opinion.

[2020-12-21 14:32] sazzad16 opened #2320 "Use user other than default in ACL tests"
We are using the `default` user for ACL tests. Because of that some bugs are getting uncaught even when the user param gets missed.

[2020-12-21 14:32] sazzad16 commented on #2320
#2318

[2020-12-22 12:19] #2318 closed

[2020-12-22 14:26] three-old-coders opened #2323 "JedisFactory hides exceptions"
### Expected behavior

I got the exception

redis.clients.jedis.exceptions.JedisExhaustedPoolException: Could not get a resource since the pool is exhausted
	at redis.clients.jedis.util.Pool.getResource(Pool.java:53)

on first access to the pool using getResource. The underlying problem is missing access rights for the "PING" command, but JedisFactory swallos this error silently and turns it in a

[2020-12-22 15:16] sazzad16 commented on #2323
@three-old-coders I'm not sure whether throwing an exception would break `PooledObjectFactory`'s contract. Would *log* of that exception (by slf4j) help?

[2020-12-22 15:24] three-old-coders commented on #2323
a Log would be helpful, at least to see the root cause. Otherwise, without debugging decompiled classes it is impossible to see the underlying jedis error message.
On the other hand: Because this is a user/ACL issue (user lacks rights to "ping"), the pool will never get up and running, regardless how many objects are validated. So in this case: why not failing fast by re-throwing the original jedi

[2020-12-23 06:48] sazzad16 commented on #2323
@gkorland ping

[2020-12-25 00:51] Ciccios commented on #1356
@sazzad16 - I still cannot interrupt the xReadGroup by interrupting the thread where it is running on. I don't want that thread to recall the xReadGroup again and again at each soTimeout and it is not clear what the infiniteSoTimout purpose is.
Could you please:
- explain **infiniteSoTimeout** purpose
- difference from **soTimout**
Thank you

[2020-12-25 10:17] sazzad16 commented on #1356
@Ciccios In case of blocking commands, Jedis (by default) sets the socket timeout to `0` to wait for all the time it takes (aka infinite time) to get a response from Redis. In such cases, if `infiniteSoTimeout` is set, that value would be used for socket timeout (instead of `0`). Which means, Jedis is expected to wait at most `infiniteSoTimeout` to get response from Redis in case of blocking comma

[2020-12-27 09:10] gkorland commented on #2323
@sazzad16 I agree we should start with error log

[2020-12-28 05:55] sazzad16 commented on #2320
Partially resolved by #2325 in 1a9de794847c6f7bfda51249225ead066f9f4387 . These are mostly Jedis, Jedis with SSL and JedisPool. We still have more tests to cover.

[2020-12-28 05:59] sazzad16 commented on #2317
@bhawani021 `CLUSTER SLOTS` command is disabled in your Redis instances. But Jedis internally uses that command to get cluster configuration. Please check the configuration of your Redis instances.

[2020-12-28 06:22] sazzad16 commented on #2212
@17hao Since jedis-3.4.1, there is a new constructor:

    JedisPool(final String host, int port, String user, final String password)

After introduction of ACL in Redis, we are trying to avoid methods/constructors with only password (without user).

[2020-12-28 06:39] sazzad16 commented on #492
Resolved by #2151

[2020-12-28 06:46] sazzad16 commented on #1147
@Huan9 Jedis-3.4.0 has introduced a new `infiniteSoTimeout` parameter in constructors. Does it help?

[2020-12-28 06:49] sazzad16 commented on #1446
Resolved by #2254

[2020-12-28 06:49] #1446 closed

[2020-12-29 00:20] lokha opened #2330 "subscriptions PubSub continue to work after closing JedisPool"
### Expected behavior

the subscription should close with the connection pool

### Actual behavior

the subscription keeps running forever

### Steps to reproduce:

1. to create JedisPool
2. create a subscription JedisPubSub
3. wait until the subscription is fully operational
4. close JedisPool

here is the code that reproduces the problem:
[code]

### Redis / Jedis Configuration

standard configu

[2020-12-29 12:46] jackie88558 opened #2332 "Why return null while 'nil' in doc ?"
When I call rpoplpush from an empty list, Jedis return null.
While doc tells it should be 'nil' ?
![image](https://user-images.githubusercontent.com/17266285/103284664-c896e400-4a16-11eb-8157-c4eb14f53eba.png)
Is it a doc typo?

[2020-12-29 12:54] sazzad16 commented on #2332
@jackie88558 The command documentation are mostly brought from [Redis documentations](https://redis.io/commands). So the `nil` that you are pointing towards is actually Redis `nil`, equivalent of which is `null` in Java (as in null Object, not `"null"` String).

[2020-12-29 12:54] #2332 closed

[2020-12-29 12:59] jackie88558 commented on #2332
Thanks for ur explanation. But I think it would be better to add these words to the doc.

[2020-12-29 15:46] sazzad16 commented on #2332
@jackie88558 Jedis is a community driven project and you are very much welcome to craft a PR regarding this. Thanks

[2020-12-30 13:21] rohittawde1990 commented on #1210
Any updated on this issue

[2020-12-30 15:53] sazzad16 commented on #1210
@rohittawde1990 JedisCluster supports SSL since jedis-3.1.0. Please use latest a version.

[2020-12-30 16:45] rohittawde1990 commented on #1210
@sazzad16 I had dependency of 3.4.0.

[code]

[2020-12-31 06:44] sazzad16 commented on #1210
@rohittawde1990 You should be able to use JedisCluster with SSL with that. However there is a bugfix in `3.4.1`. Try using that version if, somehow, your code is affected by that bug.

Also, check our test codes to get more idea about how to use JedisCluster with SSL:
- https://github.com/redis/jedis/blob/master/src/test/java/redis/clients/jedis/tests/SSLJedisClusterTest.java
- https://github.com/

[2021-01-07 14:32] YNedderhoff opened #2337 "NoSuchMethodError with Jedis 3.4.1 on Java 8"
I started to see these errors after upgrading a Java 8 (complied and run) application from Jedis 3.3.0 to 3.4.1. Googling the issue yields several sources that say it might be related to `Buffer` and `ByteBuffer` when switching from Java 8 to 11, but I haven't verified that ([Stackoverflow](https://stackoverflow.com/questions/61267495/exception-in-thread-main-java-lang-nosuchmethoderror-java-nio-b

[2021-01-08 13:55] TristanPerry commented on #1931
Another 👍 for this issue/PR - it would be quite useful to have.

[2021-01-14 15:36] narzach opened #2340 "Cannot use `set()` with `.get()` and any other SetParams options"
### Expected behavior

From the [docs](https://redis.io/commands/set), with Redis 6.2 I would expect to be able to use `set` with `nx()` and `get()` SetParams simultaneously (or any other SetParams options such as `keepttl()`). Instead, a syntax error is thrown.
[code]

### Actual behavior

the `set()` call fails with "ERR syntax error"

### Steps to reproduce:

Please create a reproducible case o

[2021-01-14 18:40] sazzad16 commented on #2340
@narzach How did you use Redis 6.2?

[2021-01-14 19:50] narzach commented on #2340
@sazzad16 There is a Docker image available on Docker Hub for Redis 6.2

https://hub.docker.com/_/redis

[2021-01-15 08:25] sazzad16 commented on #2340
@narzach Redis 6.2 is yet to be released, including Docker. The available ones are RCs (release candidate).

From the errors message, it seems that the error is sent by Redis, not generated by Jedis. There is a possibility that `get` option under `set` command is not included in the Docker image.

I'm closing this issue. If you're sure that it is Jedis specific issue, by testing with other clients

[2021-01-15 08:25] #2340 closed

[2021-01-17 01:32] playernodie commented on #1620
2021 still have same issue

[2021-01-17 05:32] sazzad16 commented on #1620
@playernodie Did you try this solution?

[2021-01-17 06:12] sazzad16 commented on #2298
Closed due to inactivity.

[2021-01-17 06:12] #2298 closed

[2021-01-17 06:18] sazzad16 commented on #2317
Closed due to inactivity.

[2021-01-17 06:18] #2317 closed

[2021-01-17 06:35] #492 closed

[2021-01-17 06:58] sazzad16 commented on #1369
It has been sometime that the snapshots are being published.

E.g. at this moment

[code]
and
[code]

[2021-01-17 07:15] #1793 closed

[2021-01-17 07:34] sazzad16 commented on #2039
Closing in favor of #2165

[2021-01-17 07:34] #2039 closed

[2021-01-17 07:37] sazzad16 commented on #2176
Closed due to inactivity.

[2021-01-17 07:37] #2176 closed

[2021-01-17 12:44] sazzad16 commented on #2212
Closing this issue in favor of following constructors:
- `JedisPool(final String host, int port, String user, final String password)` https://github.com/redis/jedis/blob/1a9de794847c6f7bfda51249225ead066f9f4387/src/main/java/redis/clients/jedis/JedisPool.java#L79-L81
- `JedisPool(final GenericObjectPoolConfig poolConfig, final String host, int port, String user, final String password)` https://git

[2021-01-17 12:44] #2212 closed

[2021-01-18 05:54] sazzad16 commented on #2065
Closed due to inactivity.

[2021-01-18 05:54] #2065 closed

[2021-01-18 09:52] yangbodong22011 commented on #2323
+1
IMO, we should log for every hides exceptions.

[2021-01-18 11:42] yangbodong22011 commented on #2330
@lokha Under the current code, you need to call `pubSub.unsubscribe()` command to unsubscribe all channels.

It seems that we need to record the number of Jedis subscribe channels and call unsubscribe() when Jedis.close(), WDYT? @sazzad16

[2021-01-18 11:45] lokha commented on #2330
it would be great if Jedis.close () would call pubSub.unsubscribe () itself on its associated subscriptions

[2021-01-18 12:16] sazzad16 commented on #2330
@yangbodong22011 I'm not sure about this. A POC may help.

[2021-01-18 12:20] yangbodong22011 commented on #2267
Maybe we need to add `@since` tag on java doc? @sazzad16

[2021-01-18 12:28] sazzad16 commented on #2267
@yangbodong22011 The OP is asking about compatibilities between Redis versions and Jedis versions. `@since` tag won't do.

[2021-01-18 12:40] yangbodong22011 commented on #2211
@gudufengE try this:
[code]

[2021-01-18 13:09] yangbodong22011 commented on #2267
@sazzad16 ohh, thanks for your clarification.

[2021-01-20 06:09] sthenusan commented on #1358
how to fix this issue ?

[2021-01-21 09:18] yeahCaesar opened #2345 "redis.clients.jedis.exceptions.JedisConnectionException: java.net.ConnectException: Connection refused"
### Expected behavior

Jedis works normally

### Actual behavior

Throw exception: redis.clients.jedis.exceptions.JedisConnectionException: java.net.ConnectException: Connection refused

### Steps to reproduce:

Please create a reproducible case of your problem. Make sure
that case repeats consistently and it's not random
1.create a redis cluster with two servers , 3 master nodes on one server, 3

[2021-01-21 15:49] jensgreen opened #2347 "JedisCluster keeps reconnecting to the same cluster node when it has gone down"
### Expected behavior

When a cluster node that redis is writing to goes down, JedisCluster recovers by attempting to connect to another node in the cluster, in a user-agnostic manner. A few reconnection attempts occur, with a backoff strategy.

### Actual behavior

When a cluster node that redis is writing to goes down, JedisCluster immediately retries the connection to the same node several time

[2021-01-21 16:49] sazzad16 commented on #2347
@jensgreen You are very much welcome to craft a PR.

[2021-01-21 16:54] jjiema commented on #1561
@adrian-o is this in the app properties?

[2021-01-21 16:55] jjiema commented on #1561
@adrian-o is this for the application.properties?

[2021-01-21 20:18] gkorland commented on #2337
@YNedderhoff can you please try with the following?
https://oss.sonatype.org/content/repositories/snapshots/redis/clients/jedis/3.5.1-SNAPSHOT/jedis-3.5.1-20210121.201726-1.jar

[2021-01-22 10:26] jensgreen commented on #2347
@sazzad16 Great! I will try to put something together.

[2021-01-22 11:50] sazzad16 commented on #2337
@gkorland that jar as well as the maven snapshot of 3.5.1 is working in my testing.

[2021-01-22 11:56] YNedderhoff commented on #2337
It would be much easier if I could test with a maven dependency - How can I use the maven snapshot?

[2021-01-22 13:13] sazzad16 commented on #2337
@YNedderhoff Check https://github.com/redis/jedis#snapshots
The `repositories` is at the same level of the `dependencies`. And put `3.5.1-SNAPSHOT` as version.

[2021-01-22 13:35] sandy0823 commented on #1439
I want to kown How to solve this problem,too.

[2021-01-22 15:09] YNedderhoff commented on #2337
@gkorland I just gave this a spin, my issue seems to be fixed 🙂 Thanks!

[2021-01-23 15:42] sazzad16 commented on #2337
@YNedderhoff Jedis 3.5.1 is released officially. Thank you for your contribution.

[2021-01-23 15:42] #2337 closed

[2021-01-23 23:32] YNedderhoff commented on #2337
Thanks for the quick fix!

[2021-01-26 19:49] venukbh commented on #2197
@pankajydv  THis was already reported here https://github.com/redis/jedis/issues/2050 and also a PR was raised https://github.com/redis/jedis/pull/2054 .. but did not make it to merge...

[2021-01-29 12:01] dataviruset opened #2359 "Idle connection terminations for Sentinel behind load balancer"
### Expected behavior

Jedis sends periodic no-op/keepalive commands to sentinel to keep connection alive when sentinel is behind a proxy.
Similar behavior as using `setTestWhileIdle(true)` for the Redis connection pool, but also for Sentinel.

### Actual behavior

The load balancer terminates the connection ungracefully after its configured idle timeout (300 seconds in our case) causing error mes

[2021-02-01 13:04] walles commented on #1238
PR for backing off while retrying on connection failures: #2358

[2021-02-01 13:07] walles commented on #2173
#2355 removes the recursion from the retries logic and should fix the stack overflow.

[2021-02-01 13:09] walles commented on #1395
Transparent fail-over and resumption: #2358

[2021-02-01 13:11] walles commented on #2347
PR: #2358

[2021-02-01 13:12] walles commented on #1439
PR: #2358

[2021-02-02 09:36] walles commented on #2130
This PR would provide retries with backoff, giving the cluster a chance to come back: #2358

[2021-02-03 20:10] nanreh opened #2365 "Feature Request: Provide String-keyed analogues for Binary API commands with byte[] values"
A common use case for Redis is to store binary values. I regularly deal with Redis values that are BLOBs generated by Thrift, Kryo, or some other serialization scheme.

The Jedis API acknowledges this common case with its Binary API, which is a collection of commands that take `byte[]` keys and values.

Unfortunately, there's some friction when combining the Binary API with other core Jedis featur

[2021-02-04 11:34] BingjieGao opened #2366 "HA configurations between JedisShardedInfo vs Jedis Cluster"
### Expected behavior

While I'm looking into the architecture on Redis cluster it seems like it allows multi-masters and must have multi-masters to take the advantages of HA. However I found really hard to use JedisCluster to set up two different cluster nodes with two different passwords and other configs.

### Actual behavior

Presumably, event without the sentinel setup Redis cluster should su

[2021-02-05 13:44] sazzad16 commented on #2366
@BingjieGao You should submit the feature request to **Redis** project https://github.com/redis/redis/issues . Thanks

[2021-02-05 13:44] #2366 closed

[2021-02-05 14:21] sazzad16 commented on #2365
@nanreh I think there are ways to bypass this.

1. Do a custom implementation of `Hashing` and pass it in `ShardedJedis` constructor.
2. Override `getShard` of binary version to use string version.
[code]

---

No. This would just worsen the current codebase. Thank you for your interest though. We encourage you to craft PRs on other issues.

[2021-02-05 14:33] walles opened #2367 "Flaky tests"
### Expected behavior

Running `JedisTest.timeoutConnectionWithURI` over and over should yield the same result every time.

### Actual behavior

I ran it five times from inside of IntelliJ. Attempts 1 and 2 passed, 3 failed, 4 and five passed.

### Steps to reproduce:

Run `JedisTest.timeoutConnectionWithURI` over and over in your favorite IDE.

### Redis / Jedis Configuration

#### Jedis version:

[2021-02-05 14:36] walles commented on #2367
Same thing with `JedisTest.timeoutConnection()`, but that test I had to run about 15 times before it failed the first time.

[2021-02-05 19:35] nanreh commented on #2365
Clever, thanks for those suggestions. Overriding `getShard()` does indeed work around the main issue for me. Closing this issue.

[2021-02-05 19:35] #2365 closed

[2021-02-07 09:33] #2030 closed

[2021-02-08 14:23] walles commented on #2367
To add some structure I wrote [this script](https://github.com/redis/jedis/files/5944197/mvn-testalot.py.gz) and ran it on aa0158c17f72ca95eecef41173a5d2cb2d8c202f:
[code]

While that is running, you can do...
[code]
... to get an intermediate result, starts being relevant after the two first complete `mvn test` invocations.

Note that the script just does `mvn test` over and over, so the Redis ba

[2021-02-08 14:29] walles opened #2371 "Some tests executed by "mvn test" are slow"
I wrote [this script](https://github.com/walles/mvn-testalot) and ran it on aa0158c:

[code]
While that is running, you can do...

[code]
... to get an intermediate result, starts being relevant after the two first complete mvn test invocations.

Note that the script just does `mvn test` over and over, so the Redis backend isn't restarted between the runs as in the `Makefile` / CI. This may or may

[2021-02-08 14:34] walles commented on #2345
This could potentially be fixed by #2358.

[2021-02-09 23:50] NeutrinoAPI opened #2374 "BUG: restore and restoreReplace not using correct native type for the TTL parameter"
### Expected behavior

The restore* group of functions use int as the TTL parameter, this should actually be long because the redis restore command sets the TTL as milliseconds NOT seconds.

As per the redis docs: https://redis.io/commands/restore
"If ttl is 0 the key is created without any expire, otherwise the specified expire time (in milliseconds) is set".

### Actual behavior

Integer overflo

[2021-02-16 08:31] sazzad16 commented on #2374
@NeutrinoAPI Thank you for reporting it.

[2021-02-16 08:36] sazzad16 commented on #2371
@walles Thank you for putting some time here. Please note that, at least some those tests are slow by design. Otherwise, we may have to skip testing those entirely.

[2021-02-16 08:44] sazzad16 commented on #2359
@dataviruset Do you think this is Jedis specific issue? Did you try tweaking commons-pool2 object pool config params?

[2021-02-16 08:50] sazzad16 commented on #2345
@yeahCaesar I could not regenerate such issue.

I don't think I clearly understand. Could you please elaborate?

Also, did you try later with more updated version of Jedis?

[2021-02-16 08:53] sazzad16 commented on #2145
@rkimsb2 Sure! Please mention which incompatibility you are having. It would be hard to help with a generic question.

[2021-02-16 08:54] #2194 closed

[2021-02-24 12:27] OverDrone opened #2378 "zrangebyscore and similar should have inclusion boolean parameters"
zrangeByScore (and similar operations) must have overload method with 2 additional parameters: boolean minInclusive, boolean maxInclusive.
If false write "(" before value as described in redis ZRANGEBYSCORE official doc.

[2021-02-24 13:18] sazzad16 commented on #2378
@OverDrone Please use `zrangeByScore(String,String,String)` method and set `String min` and `String max` according to your purpose.

[2021-02-24 13:18] #2378 closed

[2021-02-28 12:45] gkorland opened #2381 "Add GETDEL commands (#8327)"

[2021-02-28 12:55] gkorland opened #2383 "Add GETEX commands (#8327)"

[2021-02-28 12:55] gkorland opened #2384 "CH, NX, XX arguments to GEOADD (#8227)"

[2021-02-28 12:56] gkorland opened #2385 "COUNT argument to LPOP and RPOP (#8179)"

[2021-02-28 12:57] gkorland opened #2386 "PXAT/EXAT arguments to SET command (#8327)"

[2021-02-28 12:57] gkorland opened #2387 "XAUTOCLAIM command (#7973)"

[2021-02-28 12:58] gkorland opened #2388 "NOMKSTREAM option to XADD command (#7910)"

[2021-02-28 12:58] gkorland opened #2389 "IDLE argument to XPENDING command (#7972)"

[2021-02-28 12:59] gkorland opened #2390 "GEOSEARCH/GEOSEARCHSTORE commands for bounding box spatial queries (#8094)"

[2021-02-28 16:07] #2381 closed

[2021-02-28 17:14] dengliming commented on #2385
Seems jedis already support this. see `redis.clients.jedis.Jedis#lpop(java.lang.String, int)` and `redis.clients.jedis.Jedis#rpop(java.lang.String, int)`

[2021-02-28 17:55] #2385 closed

[2021-03-02 03:49] dengliming opened #2394 "Should we keep the parameter types of BinaryJedis PipelineBase stay the same?"
e.g.

`BinaryJedis`
public  List<byte[]> xclaim(byte[] key, byte[] groupname, byte[] consumername, long minIdleTime, long newIdleTime, int retries, boolean force, `byte[][] ids`)

`PipelineBase:`
public Response<List<byte[]>> xclaim(byte[] key, byte[] group, byte[] consumername, long minIdleTime, long newIdleTime, int retries, boolean force, `byte[]... ids`)

`BinaryJedis`
public List<byte[]> xran

[2021-03-02 04:56] sazzad16 commented on #2394
@dengliming acknowledged

[2021-03-02 07:20] dengliming opened #2397 "Should we reformat code using hbase-formatter.xml?"
As stated in the [Contribution Guide](https://github.com/redis/jedis/blob/master/.github/CONTRIBUTING.md). we should follow the same code style(`hbase-formatter`). but currently lots of files don't follow this style. Every time I commit, I change a lot of unnecessary line breaks and Spaces. Please consider If that make senses. Thanks.

[2021-03-02 07:51] sazzad16 commented on #2397
I agree that we should reformat our codebase. But the problem is that it could invalidate most of the pending PRs. If we could reduce the number of open PRs, we sure would reformat.

[2021-03-03 03:57] #2374 closed

[2021-03-03 03:57] #2394 closed

[2021-03-03 04:45] sazzad16 commented on #1863
Resolved by #2396

[2021-03-03 04:45] #1863 closed

[2021-03-03 10:53] walles commented on #2374
[`Duration`](https://docs.oracle.com/javase/8/docs/api/java/time/Duration.html) would probably be a better choice than `long` for durations.

[2021-03-05 13:32] #1780 closed

[2021-03-05 13:32] #1824 closed

[2021-03-05 13:32] #2234 closed

[2021-03-08 17:43] sazzad16 commented on #1812
This is a very specific use case. It is highly unlikely to resolve unless there is a general purpose use case and/or no other way to solve.

To resolve the problem, either
- use `maxAttempts = 1`
- extend JedisCluster
- download/clone the project, edit code and use your own version.

[2021-03-08 17:43] #1812 closed

[2021-03-08 19:02] #2145 closed

[2021-03-08 19:04] #2186 closed

[2021-03-08 19:05] #2187 closed

[2021-03-08 19:10] #2206 closed

[2021-03-08 19:12] #2219 closed

[2021-03-08 19:16] sazzad16 commented on #2226
@vince2000 This is how it is. It takes some time to renew the cluster configuration. Feel free to suggest any better approach for cluster renewal. Thanks!

[2021-03-08 19:16] #2226 closed

[2021-03-08 19:16] #2235 closed

[2021-03-08 19:18] #2250 closed

[2021-03-08 19:19] #2345 closed

[2021-03-09 15:49] sazzad16 commented on #2230
Resolved by #2231

[2021-03-09 15:49] #2230 closed

[2021-03-09 16:40] dengliming commented on #2114
@sazzad16 Seems we can close this one. : )

[2021-03-10 07:45] sazzad16 commented on #2114
@dengliming I'm not sure. Redis has INCR option in ZADD command. So we should keep it under consideration.

And it is not possible to pass ZIncrByParams in zadd(...) method. So I may not close this issue without resolution :|

[2021-03-10 08:58] dengliming commented on #2114
Thanks. you were totally right. Redis doesn't have multi parameters for ZINCRBY.

[2021-03-10 09:26] dengliming commented on #2114
@sazzad16 But notice this mention about `INCR`.

_INCR: When this option is specified ZADD acts like ZINCRBY. `Only one score-element pair can be specified in this mode.`_

So  I suggest using `zincrby` can resolve this issue. WDYT?

[2021-03-10 09:54] sazzad16 commented on #2114
@dengliming

This logic applies to Redis as much as it applies to Jedis. There must be reasons that Redis have that option. And as long as Redis has it we shouldn't completely disregard it.

[2021-03-11 05:38] #2114 closed

[2021-03-11 06:22] #2274 closed

[2021-03-11 15:33] #2169 closed

[2021-03-11 15:43] #2383 closed

[2021-03-11 18:08] #2384 closed

[2021-03-12 08:36] dlsscly opened #2423 "BinaryShardedJedis#method:disconnect"
public void disconnect() {
    for (Jedis jedis : getAllShards()) {
      if (jedis.isConnected()) {
        try {
          jedis.quit();
        } catch (JedisConnectionException e) {
          // ignore the exception node, so that all other normal nodes can release all connections.
        }
        try {
          jedis.disconnect();
        } catch (JedisConnectionException e) {
          //

[2021-03-12 10:06] sazzad16 commented on #2423
@dlsscly Please let us know what issue you're facing for not catching Exception instead of JedisConnectionException?

[2021-03-13 04:35] dengliming opened #2426 "Question about Params"
Now it seems that most of  `Param` classes only have optional arguments. Such as `GeoAddParams`, `ZAddParams`. Should we keep all arguments (`include required and optional arguments`) in `Param ` classes? That seems more reasonable. @sazzad16 WDYT?

[2021-03-13 04:37] dengliming commented on #2397
Thanks. Seems already reformat most of codes.

[2021-03-13 04:37] #2397 closed

[2021-03-13 05:53] sazzad16 commented on #2426
@dengliming My short answer is I lean more towards keeping only optional arguments.

[2021-03-13 05:54] sazzad16 commented on #2426
@dengliming My short answer is I lean more towards keeping only optional arguments (at least within near future).

[2021-03-13 06:01] dengliming commented on #2426
yeah. Maybe naming `Options` would be better than `Params`?

[2021-03-13 09:56] sazzad16 commented on #2426
Maybe. But that's unlikely to happen because of backward compatibility issue. My short answer is also effected partly by this issue.

Backward incompatibility could be accepted only for large feature; e.g. RESP3 support.

[2021-03-13 16:38] dengliming opened #2429 "Add support AUTH2 argument to MIGRATE"
see https://redis.io/commands/migrate

[2021-03-14 11:05] seqwait opened #2432 "Could not get a resource from the pool (JedisConnectionException)"
1. jedis(2.9.0)
2. the problem ! exception (every day once)

[code]
3. java stack

[code]
4. jedis exec core code

[code]

[2021-03-14 11:25] sazzad16 commented on #2432
@seqwait Did you try a newer/updated version?

[2021-03-14 12:18] seqwait commented on #2432
ok , i will .

[2021-03-14 12:19] seqwait commented on #2432
thanks , i will try!

[2021-03-14 16:13] #2429 closed

[2021-03-15 01:40] dengliming commented on #2278
Agree with @mudit-saxena . The native `SET` is more suitable for this scenario.

[2021-03-15 03:50] seqwait commented on #2432
the issue still!

[2021-03-15 04:21] dengliming commented on #2432
If it was occasional, you can try to increase the `maxTotal ` of `JedisPoolConfig`. The default value is `8`. If still not working, you also need to check if there are some slow query occupants.

[2021-03-15 05:38] #2177 closed

[2021-03-15 05:44] sazzad16 commented on #2278
@dengliming But @mudit-saxena is asking for native `List`, not Set. And from my _Jedis user_ experience, I agree with returning a List.

[2021-03-15 06:11] sazzad16 commented on #2432
You can also try setting a positive number in `setMaxWaitMillis()`.

[2021-03-15 10:24] seqwait commented on #2432
the config
    JedisPoolConfig jedisPoolConfig = new JedisPoolConfig();
        jedisPoolConfig.setMaxIdle(100);
        jedisPoolConfig.setMaxTotal(3000);
        jedisPoolConfig.setMinIdle(100);
        jedisPoolConfig.setMaxWaitMillis(1000);
        jedisPoolConfig.setJmxEnabled(true);
        JedisPool jedisPool = new JedisPool(jedisPoolConfig, this.hostName, this.port, 10000, this.password);

[2021-03-15 10:26] seqwait commented on #2432
the config
    JedisPoolConfig jedisPoolConfig = new JedisPoolConfig();
        jedisPoolConfig.setMaxIdle(100);
        jedisPoolConfig.setMaxTotal(3000);
        jedisPoolConfig.setMinIdle(100);
        jedisPoolConfig.setMaxWaitMillis(1000);
        jedisPoolConfig.setJmxEnabled(true);
        JedisPool jedisPool = new JedisPool(jedisPoolConfig, this.hostName, this.port, 10000, this.password);

[2021-03-15 10:49] sazzad16 commented on #2432
Try latest version of commons-pool2.

[2021-03-15 10:53] sazzad16 commented on #2432
[code]

Is `jedis` a shared variable? You should not use Jedis objects from multiple threads. Using same reference from multiple methods increases the chance of objects to be used from multiple threads at the same time.

[2021-03-15 10:56] seqwait commented on #2432
not a shared variable ?   i will new Executor .

abstract class Executor<T> {
    Executor();
   abstract T execute();
   getResult();
}

 public long incrBy(String key, int dbIndex, int integer) {
        return new Executor<Long>(jedisPool, dbIndex) {
            @Override
            Long execute() {
                Long rs = jedis.incrBy(key, integer);
                return Optional.ofNullabl

[2021-03-15 13:01] seqwait commented on #2432
mbean

[code]

[2021-03-15 14:34] mp911de opened #2435 "Jedis.xrevrange behaves different from PipelineBase.xrevrange"
### Expected behavior

Both methods behave the same in terms of `start`/`end` arguments

### Actual behavior

`BinaryJedis` calls `xrevrange(key, end, start, count)` while `PipelineBase` calls `xrevrange(key, start, end, count)` (note that `end` and `start` have different parameter ordering.

The pipelined method should be fixed.

#### Jedis version

3.5.1

[2021-03-15 15:30] #2435 closed, assigned to gkorland

[2021-03-16 05:05] #2146 closed

[2021-03-16 09:59] dengliming opened #2441 "Add missing xreadGroup, xread in Pipeline"

[2021-03-17 03:30] dengliming commented on #2239
Thanks for reporting this issue. Sorry for the inconvenience. We may have lost some change logs for historical reasons.
our new release logs
https://github.com/redis/jedis/releases

[2021-03-17 03:42] dengliming commented on #2218
Something like `activeNum`、`IdleNum ` in JedisPool?

[2021-03-17 04:31] dengliming commented on #2188
Can you please provide a code sample for the reproduction?

[2021-03-17 05:09] sazzad16 commented on #2239
@dengliming OP is asking for a migration guide, e.g. how to migrate from Jedis 2.9.0 to 3.0.0 as this migration can be blocked by breaking changes.

[2021-03-17 08:46] dengliming opened #2443 "Add support CLIENT KILL USER"
https://redis.io/commands/client-kill

[2021-03-17 10:14] #2443 closed

[2021-03-17 14:25] #533 closed, assigned to nobody

[2021-03-17 14:25] #1602 closed

[2021-03-17 14:41] #2294 closed

[2021-03-17 17:07] dengliming opened #2447 "Add support for ZRANDMEMBER command"
see https://redis.io/commands/zrandmember

[2021-03-18 02:14] dengliming commented on #2303
Currently, All fields of Params were put into a `HashMap`. e.g.

[code]
Wouldn't it be better if we changed it to the following? no need to call `contains(XX)` and `get(xxx)` from a `Map`

[code]

@sazzad16 @gkorland Can you comment on that? Thanks.

[2021-03-18 03:31] #2432 closed

[2021-03-18 05:42] sazzad16 commented on #2303
@dengliming For the particular Params class that you mentioned, yes, your approach is better. But keeping in a Map allowed all Params class to have a _base_ class.

However, many of the Params classes have their own format of `getByteParams` method. So day-by-day significance of base class is deceasing.

[2021-03-18 06:04] #2277 closed

[2021-03-18 06:09] #2080 closed

[2021-03-18 07:08] dengliming opened #2452 "Avoid NullPointException from SetFromList class"
The following code throws an exception when list is null.
[code]
I suggest the following code instead
[code]
and remove `throw new NullPointerException("list");`

[2021-03-18 07:52] #2447 closed

[2021-03-18 08:55] sazzad16 commented on #2044
Resolved by #2201

[2021-03-18 08:55] #2044 closed

[2021-03-18 09:06] #1987 closed

[2021-03-18 12:53] #2441 closed

[2021-03-18 14:54] #2261 closed

[2021-03-19 02:49] dengliming opened #2463 "Add ASYNC/SYNC arg to FLUSHALL and FLUSHDB (#8258)"

[2021-03-19 03:25] dengliming opened #2465 "Add ASYNC/SYNC arg to SCRIPT FLUSH (#8258)"

[2021-03-19 05:49] #2463 closed

[2021-03-19 05:49] #2465 closed

[2021-03-20 15:42] #2388 closed

[2021-03-21 04:58] dengliming commented on #2262
I think it is resolved by [https://github.com/redis/jedis/pull/2466](https://github.com/redis/jedis/pull/2466) @sazzad16

[2021-03-21 12:07] #2262 closed

[2021-03-21 14:47] dengliming opened #2471 "COPY command that copies keys"
https://redis.io/commands/copy

[2021-03-21 14:58] #2389 closed

[2021-03-22 05:13] dengliming opened #2473 "LMOVE and BLMOVE commands that pop and push arbitrarily (#6929)"

[2021-03-22 07:46] #2473 closed

[2021-03-22 09:40] #2471 closed

[2021-03-22 15:12] dengliming opened #2476 "RESTORE ABSTTL"

[2021-03-23 01:27] dengliming opened #2477 "Add support for local addr in CLIENT KILL."
[https://github.com/redis/redis/pull/7913](https://github.com/redis/redis/pull/7913)

doc
[https://redis.io/commands/client-kill](https://redis.io/commands/client-kill)

[2021-03-23 02:04] dengliming opened #2479 "An java.lang.ClassCastException occurs while QUIT"
### Expected behavior

No Warn Exception

### Actual behavior
[code]

see more detail [https://app.circleci.com/pipelines/github/redis/jedis/615/workflows/132a377c-6072-4ee9-9f5d-9d63e208dc9a/jobs/754](https://app.circleci.com/pipelines/github/redis/jedis/615/workflows/132a377c-6072-4ee9-9f5d-9d63e208dc9a/jobs/754)

[2021-03-23 02:17] #2477 closed

[2021-03-23 17:45] #2476 closed

[2021-03-24 02:48] dengliming opened #2483 "CLIENT INFO and CLIENT LIST for specific ids (#8113)"
https://github.com/redis/redis/pull/8113

https://redis.io/commands/client-info
https://redis.io/commands/client-list

[2021-03-24 02:57] dengliming opened #2484 "GET parameter to SET command, for more powerful GETSET (#7852)"
https://redis.io/commands/set

[2021-03-24 07:33] sazzad16 commented on #2484
#2269

[2021-03-24 07:35] #2484 closed

[2021-03-24 09:50] #2483 closed

[2021-03-24 10:30] mp911de opened #2486 "Typo in DefaultJedisClientConfig.Builder.databse method name"
Should be `database(int)` instead of `databse(int)`.

[2021-03-24 11:34] sazzad16 commented on #2486
@mp911de acknowledged. Thank you.

[2021-03-24 11:42] #2486 closed

[2021-03-24 12:20] sazzad16 opened #2488 "Remove ShardedJedisPipeline class"
**ShardedJedisPipeline** class should be removed. There are several fundamental flaws regarding the idea and implementation of this class.

- It captures the `Client` objects:
    - never to release those
    - never to clean those properly
    - never to flag those as _broken_ when appropriate
- There is a `getResults()` method without any tests.
- That `getResults()` method is based on a private

[2021-03-24 12:20] sazzad16 commented on #2488
An example is #2479. One of the possible resolution could be flagging the Clients as broken. When I tried to work on it, figured out it as deep hole to fill.

[2021-03-24 12:22] sazzad16 commented on #2488
@gkorland @dengliming @mina-asham @yangbodong22011

PING!

[2021-03-29 05:05] loop commented on #1620
@sazzad16 Where does borrowMaxWaitMillis need to be set?

[2021-03-29 05:17] sazzad16 commented on #1620
@loop In the pool config (JedisPoolConfig/GenericObjectPoolConfig)

[2021-03-29 05:38] loop commented on #1620
This way?
[code]

[2021-03-29 05:49] sazzad16 commented on #1620
@loop yes

[2021-03-29 22:26] loop commented on #1920
@sazzad16 Why is this issue closed? This still seems to be happening and causing major issues. Is there a fix for this or some config we should be setting up?

[2021-03-29 23:49] sazzad16 commented on #1920
@loop
1. Which Jedis version are you using?
2. Which commons-pool2 version are you using?

[2021-03-30 00:08] loop commented on #1920
@sazzad16 I just ran mvn dependency:tree and got the following:

[code]

I do not see any other commons-pool2 being used in my project

[2021-03-30 00:12] sazzad16 commented on #1920
@loop Can you try a commons-pool2 version which is neither of 2.5.x, 2.6.x, 2.7.x?

[2021-03-30 00:14] loop commented on #1920
@sazzad16 Will do. Do I need to set any additional config as well? Because I'm just using creating my cluster like this:

 `JedisCluster jedisCluster = new JedisCluster(redisClusterNodes);`

[2021-03-30 00:19] sazzad16 commented on #1920
@loop There's no perfect answer. It really depends on your application.